﻿@import '../mixins/mixins_compiler.scss';



html {
    overflow: hidden;
    overflow-y: auto;
    background-color: $c_grey_pale;
}

html, body {
    color: #000;
    font-size: 14px;
    line-height: 1.7em;
    text-align: left;
    font-weight: $fw_body_light;
    font-family: $f_body;
    margin: 0;
    z-index: 0;
    height: auto;

    @include tablet {
        font-size: 14px;
    }

    @include desktop {
        font-size: 15px;
    }
}

body {
    background-color: $c_grey_pale;
}

section, div, article, ul, li, p, h1, h2, h3, h4, h5, h6, input, label, textarea, select, form {
    float: left;
    width: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    font-family: $f_body;
    font-weight: $fw_body_light;
    text-align: left;
    margin: 0 0 1em 0;
    line-height: 1.7em;
}

b {
    font-weight: normal;
}

i {
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
    padding: 0.3em 0;
    line-height: 1em;
    font-family: $f_heading;
    font-weight: $fw_heading_light;
    text-align: left;
    text-transform: uppercase;
}

h1 {
    margin: 0px auto 30px auto;
    font-size: 1.6em;
    font-weight: $fw_heading_bold;
    text-align: center;

    @include tablet {
        font-size: 3em;
    }
}

h2 {
    font-size: 1em;
    font-family: $f_body;
    text-transform: none;
    line-height: 1.9em;
    /*@include tablet {
        font-size: 1.2em;
    }*/
}

h3 {
    font-size: 1.3em;
    border-bottom: 1px dashed #aaa;

    @include tablet {
        font-size: 1.7em;
    }
}

h4 {
    font-size: 1.3em;

    @include tablet {
        font-size: 1.6em;
    }
}

h5 {
    font-size: 1.2em;
    color: #000;
    border-bottom: 1px dashed #aaa;
}

h6 {
    font-size: 1.1em;
    font-family: $f_body;
    font-weight: $fw_body_bold;
}

ul {
    margin-bottom: 1em;

    li {
        list-style-type: square;
        margin-bottom: 1em;
    }
}

label {
    font-size: 0.9em;
    font-weight: $fw_body_light;
}

article {
    @include clear();
}

a {
    color: $c_main;

    &:hover {
        color: $c_main_dark;
        cursor: pointer;
    }
}

    input[type], textarea, select, button, a.button, input[type=button], input[type=submit] {
        line-height: 40px;
        /*min-height: 50px;*/
        padding: 0 10px;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        margin-bottom: 10px;
    }

    button, a.button, input[type=button], input[type=submit], a:not([href]):not([tabindex]) {
        /*height: 50px;*/
        display: block;
        clear: both;
        text-align: center;
        color: $c_white;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
        @include corner;

        &:active {
            transform: scale(0.98);
        }
    }

input[type]:not([type=button]):not([type=submit]), textarea, select {
    background-color: $c_grey_light;
    border: 1px solid $c_grey_light;
    border-color: darken($c_grey_light, 10%);

    &:focus, &:hover, &:active {
        border: 1px solid $c_head_light;
        border-left-width: 10px;
    }
}

button:disabled {
    cursor: default;
}

textarea {
    line-height: 1.7em;
    padding-top: 10px;
    padding-bottom: 10px;
}

select {
    background-image: url(https://hoch.media/elements/icons/icons_arrow-down-grey.svg);
    background-position: right 10px center;
    background-size: 35px;
    background-repeat: no-repeat;
    padding-right: 50px;
}

button, input:not([type=checkbox]), select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button, a.button, input[type=button], input[type=submit] {
    border: 1px solid $c_main_dark;
    background-color: $c_main;
    color: $c_white;
    text-transform: uppercase;

    &:focus, &:hover, &:active, &:not([tabindex]):hover, &:not([tabindex]):focus {
        background-color: $c_main_dark;
        border: 1px solid $c_main_dark;
        color: $c_white;
    }
}

/*DEFAULT STYLED CHECKBOX*/

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    width: auto;

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        width: calc(100% - 40px);
        margin-left: 40px;
    }
        // Box.
        & + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 28px;
            height: 28px;
            border: 1px solid;
            border-color: darken($c_grey_light, 10%);
            background-color: $c_grey_light;
            margin-left: -40px;
            position: absolute;
        }
    // Box hover
    &:hover + label:before {
        background-color: $c_grey_light;
        color: $c_white;
        border-color: $c_head_light;
        /*background-image: url(https://hoch.media/elements/icons/icons_tick-white.svg) !important;*/
        background-repeat: no-repeat;
    }
    // Box checked
    &:checked + label:before {
        background: $c_main;
        color: $c_white;
        border-color: $c_main_dark;
        background-image: url(https://hoch.media/elements/icons/icons_tick-white.svg) !important;
        background-repeat: no-repeat;
    }
    // Disabled state label.
    &:disabled + label {
        color: $c_grey;
        cursor: auto;
    }
        // Disabled box.
        &:disabled + label:before {
            box-shadow: none;
            background: $c_grey;
        }
    // Checkmark. Could be replaced with an image
    /*&:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
    }*/
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.iframeWrap {
    position: relative;
    padding-bottom: 800px;
    height: 0;
    margin-top: 30px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


iframe {
    border: none;
}

.divider_line {
    border-top: 1px solid $c_base;
    margin: 20px auto 20px auto;
    display: block;
    clear: both;

    &.small {
        width: 50px;
    }
}

footer {
    width: 100%;
    float: left;
}


::selection {
    background: $c_main;
    color: $c_white;
}

/*fix the input fields*/
@include ms {
    input[type]:not([type=button]):not([type=submit]), textarea, select {
        line-height: 42px;
        height: 42px;
        padding: 0;
        text-indent: 10px;
    }
    /*hiding add to basket and basket buttons*/
    .add_to_basket, .add_freedom, .header__main__basket, .feefo_api_wrap a.button {
        display: none !important;
    }
}
