﻿@import '../mixins/mixins_compiler.scss';


/* #region ------- homepage -------*/


/*.homepage {
    .hp_hero {
        .stream {
            width: 100%;
            margin-bottom: 20px;
        }

        #currentlyOnAirController, .ods {
            float: left;
            width: 48%;

            .prod_img_wrap, button.quick_look  {
                float: left;
                width: 40%;
                line-height:42px;
            }

            .details_wrap, a.button {
                width: 58%;
                float:right;
            }

            .add_to_basket .button {
                width:50%;
                float:right;
                max-width:102px;
            }
        }

        .ods {
            float: right;
        }
    }
}*/


/* #endregion ------- :end: homepage -------*/
