﻿
@{
    ViewBag.Title = "ReferAFriend";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<section class="refer_a_friend_wrap" ng-controller="RAFController" ng-cloak>

    <div class="introduce_your_friends">
        <div class="darken">
            <div class="intro_wrap">
                <h1>Share the love and <span style="color: #ed137d;">earn {{youReceiveOffer}}</span> for every friend you introduce!</h1>
                <p class="intro_RAF">WHAT'S MORE,  your friends save too with <strong>{{theyReceiveOffer}}{{theyReceivePercentOrAmount}}</strong> off their first order. One more benefit of friendship!</p>
            </div>
            <div ng-if="IsLoggedIn==1">
                <a data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('rafSharing_template')" class="button" onclick="ShowModal();">Start Sharing</a>
            </div>

            <div class="share_btn" ng-if="IsLoggedIn==0" >
                <button data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('login_favourites',null,null,1)">Start Sharing</button>

            </div>

        </div>
    </div>

    <section class="how_it_works">


        <h4>How It Works</h4>

        <div class="steps_wrap">

            <div class="step step__1">
                <div class="image">
                    <img src="https://hoch.media/elements/refer-a-friend/raf-icons-100x100-how-01.svg" />
                </div>
                <div class="text">
                    <div class="number">1</div>
                    <p class="steps"><strong>Share the love</strong></p>
                    <p>Start sharing your unique lifetime code with friends and family today!</p>
                </div>
            </div>

            <div class="step step__2">

                <div class="image">
                    <img src="https://hoch.media/elements/refer-a-friend/raf-icons-100x100-how-02.svg" />
                </div>
                <div class="text">
                    <div class="number">2</div>
                    <p class="steps"><strong>They Save</strong></p>
                    <p>Your friend saves on their first order using your exclusive code.</p>
                </div>
            </div>

            <div class="step step__3">
                <div class="image">
                    <img src="https://hoch.media/elements/refer-a-friend/raf-icons-100x100-how-03.svg" />
                </div>
                <div class="text">
                    <div class="number">3</div>
                    <p class="steps"><strong>Your Rewarded</strong></p>
                    <p>You receive your thank you credit, which you get for every friend you introduce!</p>
                </div>
            </div>

        </div>

    </section>
    <section class="faqs_wrap">
        <div class="darken">
            <div class="faqs">
                <h4>Faq's</h4>
                <h5>WHEN WILL I GET MY REWARD?</h5>
                <p>Your reward will be credited to your account 30 days following your friend’s first order.</p>
                <h5>HOW MANY PEOPLE CAN I REFER?</h5>
                <p>There is no limit to how many friends you can refer so the more friends you refer, the more credit you can earn.</p>
                <h5>WHAT IS A UNIQUE LIFETIME CODE?</h5>
                <p>A unique lifetime code is your personal referral code. This will never change so you can use this each time you introduce a friend to Hochanda.</p>
                <h5>HOW WILL I KNOW WHEN MY CODE HAS BEEN USED?</h5>
                <p>Once your friend uses your code, it will appear in the ‘Pending’ section of your account. You will need to be logged in to see this.</p>
                <h5>HOW LONG IS MY CREDIT VALID FOR?</h5>
                <p>Your credit will remain available in your account until redeemed on your next order.</p>
                <h5>HOW DO I USE MY CREDIT?</h5>
                <p>Your credit will automatically be applied to your next order.</p>
            </div>
        </div>
    </section>
</section>

@Html.IncludeVersionedJs("/Scripts/Internal/ReferAFriend.js")

