﻿
@{
    ViewBag.Title = "ReferAFriend";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<section class="raf_welcome">
    <div class="content" ng-controller="RAFWelcomeViewCtrl" data-ng-init="init('@ViewBag.VoucherCode')" ng-cloak>

        <div class="hero_message">
            <div class="darken">
                <div class="discount_wrap">
                    <div class="intro">
                        <h1>
                            Friends who craft together, save together!
                        </h1>
                        <div class="info" ng-cloak>
                            <p>
                                <strong>{{ReferName}}</strong> requested we share with you, <strong>an exclusive {{discountVal}}{{fixedorPercent}} off</strong> your first order at Hochanda, the Home of Crafts, Hobbies and Arts.
                            </p>
                        </div>
                    </div>
                    <div class="discount">
                        <div class="info">
                            <div class="reward_title">
                                You Save
                            </div>
                            <div class="data" ng-cloak>
                                {{discountVal}}% @*<span class="type">Off</span>*@
                            </div>
                        </div>
                    </div>

                    <div class="code">
                        <p>
                            <em>
                                Apply the following promotional code at checkout:
                            </em>
                        </p>
                        <div class="wrap" ng-cloak>
                            <span class="info">{{voucherCode}}</span>
                        </div>
                    </div>
                </div>

                @*<div class="animals">
                    <img src="https://www.hoch.media/web-assets/dummy-test-images/Animals2.png" alt="animals">
                </div>*@
            </div>
        </div>

        <div class="details introduction">
            <div class="wrap">
                <h2>
                    Welcome to Hochanda, home of the UK’s leading craft TV channel dedicated to Crafts, Hobbies and Arts.
                </h2>
                <p>
                    Here at Hochanda we offer you over 100 categories filled with thousands of the best and latest creative innovations together with all your everyday essentials in papercrafts, art supplies, sewing kits, die cutting essentials and so much more! So whatever you need, we have you covered!
                </p>
                <a href="/" class="button">
                    Shop Now
                </a>
            </div>
        </div>

        <div class="tv_details">
            <div class="wrap">

                <div class="tv_icon">icon</div>
                <div class="info">
                    <h2>
                        Live Craft Demonstrations
                    </h2>
                    <p>
                        Provide outstanding products and deliver unsurpassed service, developing relationships with customers, suppliers and employees to make a positive difference.
                    </p>
                </div>
                <a href="/" class="button">
                    Watch Live
                </a>
            </div>
        </div>

        <div class="details">
            <div class="wrap">

                <div class="feefo_icon">icon</div>
                <div class="info">
                    <h2>
                        What our customers say...
                    </h2>
                </div>
                <div class="quotes">
                    <div class="box">
                        <blockquote>
                            <p class="msg">
                                "Brilliant product with excellent delivery service"
                            </p>
                            <div class="divider_line"></div>
                            <p>
                                Lesley Strain
                            </p>
                        </blockquote>
                    </div>
                    <div class="box">
                        <blockquote>
                            <p class="msg">
                                "Good, efficient and very satisfactory always and super products."
                            </p>
                            <div class="divider_line"></div>
                            <p>
                                Barbara Vale
                            </p>
                        </blockquote>
                    </div>
                    <div class="box">
                        <blockquote>
                            <p class="msg">
                                "Hochanda is my first port of call for my craft needs"
                            </p>
                            <div class="divider_line"></div>
                            <p>
                                Ann Evans
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="txt">
                    <p>
                        We use an external company called Feefo to source and provide our reviews, as they have an unsurpassed reputation for delivering genuine customer feedback. This is important to us as we want to hear genuine, honest, impartial reviews, from verified customers, so that we can provide better products and service for you.
                    </p>
                </div>
                <a href="/reviews" class="button mw300">
                    Read All Reviews
                </a>

            </div>
        </div>

        <div class="handa_details">
            <div class="wrap">
                <div class="craft_img img">
                    <img src="https://hoch.media/elements/about-us/about-crafts-image.jpg" alt="Craft image" onerror="this.onerror=null;this.src= 'https://www.hoch.media/product-images/thumb/no-image.jpg';">
                </div>
                <div class="craft_info info">
                    <div class="logo_wrap">
                        <img src="https://hoch.media/elements/about-us/about-us-sub-brand-logo-crafts.png" alt="Hochanda Crafts Logo" ;">
                    </div>
                    <p>
                        From card making kits, die cutting machines, scrap booking and quilling, paper craft storage, stencils and stamps – we’ve got it covered.
                    </p>
                    <a href="#" class="button">
                        Shop Crafts
                    </a>
                </div>

                <div class="hobbies_img img">
                    <img src="https://hoch.media/elements/about-us/about-hobbies-image.jpg" alt="Craft image" onerror="this.onerror=null;this.src= 'https://www.hoch.media/product-images/thumb/no-image.jpg';">
                </div>
                <div class="hobbies_info info">
                    <div class="logo_wrap">
                        <img src="https://hoch.media/elements/about-us/about-us-sub-brand-logo-hobbies.png" alt="Hochanda Crafts Logo" ;">
                    </div>
                    <p>
                        From card making kits, die cutting machines, scrap booking and quilling, paper craft storage, stencils and stamps – we’ve got it covered.
                    </p>
                    <a href="#" class="button">
                        Shop Hobbies
                    </a>
                </div>

                <div class="arts_img img">
                    <img src="https://hoch.media/elements/about-us/about-arts-image.jpg" alt="Craft image" onerror="this.onerror=null;this.src= 'https://www.hoch.media/product-images/thumb/no-image.jpg';">
                </div>
                <div class="arts_info info">
                    <div class="logo_wrap">
                        <img src="https://hoch.media/elements/about-us/about-us-sub-brand-logo-arts.png" alt="Hochanda Crafts Logo" ;">
                    </div>
                    <p>
                        From card making kits, die cutting machines, scrap booking and quilling, paper craft storage, stencils and stamps – we’ve got it covered.
                    </p>
                    <a href="#" class="button">
                        Shop Arts
                    </a>
                </div>
            </div>
        </div>


        <div class="details">
            <div class="wrap">
                <h2>
                    From novice to expert...
                </h2>
                <p>
                    Whether you`re a novice or an expert we have made it easy and affordable for you to get started on your next crafting project, covering the latest papercraft material contemporary art supplies and more. We are all self-confessed obsessives when it comes to crafting, so we understand what you need to create your next masterpiece.
                </p>
                <a href="/" class="button mw300">
                    Shop Now
                </a>
            </div>
        </div>

    </div>

</section>

@Html.IncludeVersionedJs("/Scripts/Internal/ReferAFriend.js")