﻿@{
    ViewBag.Title = "PageBuilder";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";

}

@model ModelLayer.Models.PageBuilder.PageBuilderModel

<section id="pageBuilder" ng-controller="PageBuilderController">
    @* original Class = with_header with_breadcrumb about_template*@

	<input type="hidden" id="hdnPageBuilderId" value="@Model.LandingPageId"/>

    <article id="landingPage" class="about_template">
		@Html.Raw(Model.ContentHTML)
	</article>
</section>

@Html.IncludeVersionedJs("/Scripts/Internal/PageBuilder.js")
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55ef15f8e6982fab"></script>
