﻿@import '../mixins/mixins_compiler.scss';

.basket_wrap {
    margin: 30px 0;
    clear: both;
    @include clear();
}


.basket_checkout {
    @include mw_normal();

    @include tablet {
        padding: 0 10px;
    }

    @include desktop {
        padding: 0px;
    }

    .container_wrap, .login_box, .form_register_wrap {
        background-color: $c_white;
        padding: 10px 10px 20px 10px;
        border: 1px solid $c_grey_light;
        @include corner-large();

        @include tablet {
            padding: 20px;
        }

        @include desktop {
            padding: 40px;
        }
    }

    .button_container {
        margin-top: 20px;

        a, .button {
            &.secure_button {
                line-height: 50px;
                height: 52px;
                font-size: 1.2em;
                @include clear;

                .icon, .text {
                    display: inline-block;
                    float: left;
                }

                .icon {
                    height: 50px;
                    width: 50px;
                    background-image: url(https://www.hoch.media/web-assets/icons/padlock.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 40px;
                }
            }
        }
    }

    .delivery_msg {
        p {
            text-align: right;
        }
    }

    .checkout_steps {
        /*background-color: aquamarine;*/
        margin: 20px 0;

        .steps_wrap {
            /*background-color: #0094ff;*/
            @include mw_small();
            @include clear();

            a.step {
                width: 33%;
                display: inline-block;
                margin: 0;
                padding: 0;
                text-align: center;
                position: relative;
                color: $c_grey;
                float: left;
                clear: none;
                background: none;
                border: none;
                cursor: auto;

                &:focus, &:hover {
                    outline: none;
                    text-decoration: none;
                }

                &:before {
                    content: '';
                    border-top: 1px dashed $c_grey_light;
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: -45.9px;
                    width: 99px;
                    z-index: -1;
                }

                .number {
                    background-color: $c_white;
                    border-width: 1px;
                    border-style: solid;
                    border-color: $c_grey;
                    /*background-color: #b200ff;*/
                    @include corner-round();
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 37px;
                    margin: 0 auto 6px auto;
                    font-size: 1.3em;
                    font-weight: $fw_body_bold;
                    z-index: 2;
                }

                &.first {
                    &:before {
                        display: none;
                    }
                }

                &.current {
                    .number {
                        border-color: $c_head;
                        background-color: $c_head;
                        color: $c_white;
                    }

                    .name {
                        color: $c_head;
                    }
                }

                &.complete {
                    .number {
                        border-color: $c_head;
                        background-color: $c_white;
                        color: $c_white;
                        text-indent: -9999px;
                        background-image: url(https://www.hoch.media/web-assets/icons/icons_tick-grey.svg);
                    }
                }

                &.complete, &.current {
                    cursor: pointer;

                    &:before {
                        border-top: 1px solid $c_head;
                    }
                }

                &:hover {
                    &.complete, &.current {
                        .number {
                            @include shadow-large();
                        }
                    }
                }
            }
        }
    }

    .voucher_added {
        width: 100%;
        margin: 0;
        background: transparent;
        color: #000000;
        border: 1px solid $c_grey_light;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 35px auto;

        .icon {
            float: left;
            background-image: url(https://www.hoch.media/web-assets/icons/icons_tick-white.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-color: $c_good;
        }

        .text {
            padding: 5px 10px;
        }
    }
}



.basket_product {
    position: relative;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 75px auto;
    grid-template-areas: "image title" "image price_wrap" "image qty" "image use_flexibuy" "image favourite";
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 10px;
    border-bottom: 1px solid $c_grey_light;

    @include tablet-small {
        grid-template-columns: 130px auto 120px;
        grid-template-areas: "image title price_wrap" "image title qty" "image favourite use_flexibuy";
        grid-column-gap: 20px;
        padding: 24px;
    }

    @include tablet {
        grid-template-columns: 120px auto 120px 120px;
        grid-template-areas: "image title qty price_wrap" "image title qty price_wrap" "image favourite .... use_flexibuy";
        grid-column-gap: 30px;
        padding: 30px;
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    @include desktop-small {
        grid-template-columns: 120px auto 120px 150px;
        margin: auto;
        width: 100%;
        margin-left: 0;
        border-left: 1px solid $c_grey_light;
        border-right: 1px solid $c_grey_light;
    }

    &:nth-of-type(1) {
        border-top: 1px solid $c_grey_light;
    }

    &:nth-of-type(odd) {
        background-color: $c_grey_pale;
    }

    &.is_auction_item {
        grid-template-areas: "is_flexi is_flexi" "image title" "image price_wrap" "image qty" "image use_flexibuy" "image favourite";

        @include tablet-small {
            grid-template-areas: "is_flexi is_flexi is_flexi" "image title price_wrap" "image title qty" "image favourite use_flexibuy";
        }

        @include tablet {
            grid-template-areas: "is_flexi is_flexi is_flexi is_flexi" "image title qty price_wrap" "image favourite .... use_flexibuy";
        }
    }

    .is_flexi {
        grid-column: 1 / -1;
        background-color: $c_flexibuy;
        color: $c_white;
        text-align: center;
        margin-top: 10px;
    }

    .basket_auction_msg_wrap {
        grid-area: is_flexi;
        /*grid-column: 1 / -1;*/
        margin-bottom: 10px;
        @include gradient($c_auction, 0%, $c_auction_dark, 100%, 90deg);
        padding: 10px;
        /*line-height: 1.3em;*/
        text-align: center;

        @include tablet {
            display: grid;
            grid-template-columns: 120px auto;
            grid-gap: 10px;
            padding: 10px;
            align-items: center;
        }

        .logo {
            img.hor {
                display: inline-block;
                height: 1em;
                width: auto;
                max-width: 260px;
                margin-bottom: 10px;

                @include tablet {
                    display: none;
                }
            }

            img.vert {
                display: none;

                @include tablet {
                    display: block;
                }
            }
        }

        .msg {
            color: $c_white;
            float: left;
            display: inline-block;
        }
    }

    .img {
        grid-area: image;
        cursor: pointer;

        img {
            border: 1px solid $c_grey_light;
        }
    }

    .remove {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 20px;
        width: 20px;
        background-image: url(https://www.hoch.media/web-assets/icons/icons_cross-grey.svg);
        background-repeat: no-repeat;
        background-position: center;

        @include tablet-small {
            top: 4px;
            right: 4px;
        }

        @include tablet {
            top: 7px;
            right: 7px;
        }
    }

    .title_wrap {
        grid-area: title;
    }

    h4 {
        cursor: pointer;
        font-size: 1em;
        line-height: 1.4em;
        text-transform: none;
        border: none;
        margin: 0;
        width: calc(100% - 20px);

        @include tablet-small {
            width: 100%;
        }

        &.title {
            padding: 0;
            max-height: 2.8em; /*to limit the lenth of titles*/
            overflow: hidden;
        }
    }

    .sku {
        grid-area: sku;
        text-align: left;

        .variation_name {
            float: left;
            font-weight: $fw_heading_light;
            font-family: $f_heading;
            color: $c_base;
            font-style: italic;
        }

        .sku_name {
            clear: both;
            float: left;
        }
    }

    .favourite {
        grid-area: favourite;
        align-self: end;
        height: 2em;

        a, a:hover {
            text-align: left;
            background-color: transparent;
            color: $c_base;
            padding: 0;
            margin: 0;
            font-size: 1em;
            line-height: 2em;
            display: inline-block;
            border: none;
            border-bottom: 1px solid $c_base;
            text-transform: none;
            position: relative;

            @include corner-none();

            .heart {
                position: absolute;
                top: 3px;
                right: -28px;
                bottom: 0;
                display: inline-block;
                height: 23px;
                width: 23px;
                background-image: url(https://www.hoch.media/web-assets/icons/favourites-lined-grey.svg);
            }

            &:hover {
                border-bottom-style: dashed;

                .heart {
                    background-image: url(https://www.hoch.media/web-assets/icons/favourites-grey.svg);
                }
            }
        }
    }

    .qty {
        grid-area: qty;
        display: grid;
        grid-template-columns: repeat(3,40px);
        width: 120px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 5px;

        @include tablet-small {
            justify-self: end;
        }

        .qty_selected {
            border-top: 1px solid $c_grey;
            border-bottom: 1px solid $c_grey;
            height: 40px;
            text-align: center;
        }

        input[type=button] {
            height: 40px;
            border: 1px solid $c_grey;
            background-color: $c_white;
            color: $c_grey;
            background-image: url(https://www.hoch.media/web-assets/icons/icons_plus-grey.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 31px;
            margin: 0;
            @include corner-none();

            &.minus {
                background-image: url(https://www.hoch.media/web-assets/icons/icons_minus-grey.svg);
            }
        }
    }

    .price_wrap {
        grid-area: price_wrap;

        .price {
            text-align: left;
            margin-bottom: 0px;

            .was {
                text-decoration: none;
                text-transform: uppercase;
                color: #808080;
                margin-left: 5px;
                font-weight: $fw_body_bold;
            }

            @include tablet-small {
                span {
                    float: right;
                    clear: both;
                }
            }

            @include desktop {
                .now {
                    font-size: 1.1em;
                }
            }
        }
    }

    .use_flexibuy {
        grid-area: use_flexibuy;
        margin-bottom: 5px;
        height: 40px;
        width: 120px;

        @include tablet-small {
            justify-self: end;
            margin-bottom: 0;
        }

        .styled-checkbox + label:before {
            background-color: $c_white;
        }

        .styled-checkbox:checked + label:before {
            background-color: $c_flexibuy_dark;
        }

        img {
            display: inline-block;
            width: 100px;
            /*margin-left: 5px;*/
            @include tablet-small {
                width: 110px;
            }
        }
    }
}

.free_product {
    position: relative;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 75px auto;
    grid-template-areas: "heading heading" "image title""image price_wrap";
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 10px;

    @include tablet-small {
        /*grid-template-columns: 130px auto 120px;
        grid-template-areas: "image heading heading" "image title price_wrap";*/
        grid-template-columns: 60px auto 120px;
        grid-template-areas: "image title price_wrap";
        grid-column-gap: 20px;
        padding: 24px;
    }

    @include tablet {
        /*grid-template-columns: 120px auto 120px 120px;
        grid-template-areas: "image heading heading heading" "image title .... price_wrap";*/
        grid-template-columns: 60px auto 120px 120px;
        grid-template-areas: "image title .... price_wrap";
        grid-column-gap: 30px;
        padding: 30px;
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    @include desktop-small {
        /*grid-template-columns: 120px auto 120px 150px;*/
        grid-template-columns: 60px auto 120px 150px;
        margin: auto;
        width: 100%;
        margin-left: 0;
    }
}

.addon_items {
    h1 {
        margin: 0;
    }

    h2 {
        text-align: center;
    }
}

.basket_addon_product.basket_product {
    position: relative;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: 75px auto;
    grid-template-areas: "image message""image title""image price_wrap""image add";
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 10px;

    @include tablet-small {
        grid-template-columns: 100px auto 120px;
        grid-template-areas: "image message message""image title add""image price_wrap add";
        grid-column-gap: 10px;
        padding: 10px;
    }

    @include tablet {
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    @include desktop-small {
        grid-template-columns: 90px auto 120px 120px;
        grid-template-areas: "image message message message""image title price_wrap add";
        grid-column-gap: 20px;
        margin: auto;
        width: 100%;
        margin-left: 0;
    }

    @include desktop {
        grid-template-columns: 90px auto 120px 120px;
    }

    .featured_product_btn_wrap {
        grid-area: add;
        margin: 0;
        /*height: 50px;*/
    }

    .free_delivery_item {
        grid-area: message;
        margin: 0;
        font-family: $f_heading;
        font-weight: $fw_heading_bold;
        text-transform: uppercase;
        color: #4e9d00;

        @include tablet {
            font-size: 1.3em;
        }
    }

    h4 {
        grid-area: title;
    }

    .price_wrap {
        grid-area: price_wrap;

        .price {

            @include tablet-small {
                span {
                    float: left;
                    clear: none;
                }
            }

            @include desktop-small {
                span {
                    float: right;
                    clear: both;
                }
            }

            @include desktop {
                .now {
                    font-size: 1.1em;
                }
            }
        }
    }
}

h3.free {
    width: calc(100% + 20px);
    font-weight: $fw_heading_bold;
    background: $c_head;
    color: $c_white;
    margin: 30px 0 0 -10px;
    padding: 10px 0;
    text-align: center;
    border: none;

    @include tablet-small {
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    @include desktop-small {
        width: 100%;
        margin-left: 0;
    }
}


.basket {
    @include clear();

    h1 {
        margin: 0;
        padding-top: 0;
    }

    .freedom_msg {
        p {
            text-align: center;
        }
    }

    .use_flexibuy {
        background-color: $c_flexibuy;
        color: $c_white;
        padding: 6px;

        label {
            line-height: 28px;
            margin-bottom: 0;
        }
    }



    .styled-checkbox {
        width: 28px;
        height: 28px;
        margin-bottom: 0;
    }
}

.button_inner_wrap, .inner_wrap {
    display: inline-block;
    margin: auto;
    padding: 0;
}



@include nogrid-ms {
    .basket_product {
        .img {
            width: 75px;
        }

        .title_wrap, .qty, .price_wrap {
            width: calc(100% - 80px);
            float: right;
        }

        @include tablet {

            .title_wrap, .qty {
                width: calc(100% - 200px);
                margin-left: 20px;
                float: left;
            }

            .price_wrap {
                width: 100px;
            }
        }

        .qty {
            display: block;

            input[type=button].minus, .qty_selected, input[type=button].plus {
                width: 40px;
                float: left;
                clear: none;
            }
        }
    }

    .basket_addon_product.basket_product {
        .img {
            width: 75px;
        }

        .free_delivery_item, .title, .price_wrap {
            width: calc(100% - 80px);
            float: right;

            @include tablet {
                width: calc(100% - 240px);
                margin-left: 5px;
                float: left;
            }
        }

        .featured_product_btn_wrap {
            @include tablet {
                width: 140px;
                float: right;
            }
        }
    }

    .basket_checkout {
        .voucher_added {
            line-height: 33px;

            .icon {
                height: 33px;
                width: 35px;
            }
        }
    }

    .checkout_summary {
        .title, .qty_sku, .price_wrap {
            width: calc(100% - 80px);
            float: right;
        }
    }

    .checkout .checkout_wrap .checkout_large_pane .payment_cta .button.secure_button.paypal {
        margin-top: 10px;
    }
}
