﻿@import "../mixins/mixins_compiler";



.brands__nav {
    text-align: center;
    /*background-color: $c_white;
    @include shadow();*/
    margin-bottom: 20px;

    .inner {
        display: block;
        /* padding: 10px; */
        float: none;
        width: auto;
        margin: 0 auto;
        @include clear();

        a {
            background-color: $c_white;
            display: inline-block;
            line-height: 40px;
            height: 40px;
            width: 40px;
            text-align: center;
            border: 1px solid $c_grey;

            &:not(:nth-last-child(1)) {
                border-right: none;
            }

            &.current, &:hover {
                background-color: $c_head;
                color: $c_white;
                transform: scale(1.1);
                text-decoration: none;
                @include shadow();
            }

            &.disabled {
                background: $c_grey_light;
                @include corner-none;
                clear: none;
                margin: 0;
                font-size: 1em;
                color: $c_main;


                &:hover {
                    transform: scale(1);
                    @include shadow-none;
                    color: $c_main;
                    cursor: default;
                }
            }
        }
    }
}


a.brand_card {
    padding: 10px;
    border-right: 1px solid $c_grey_light;
    border-bottom: 1px solid $c_grey_light;
    color: $c_base;
    text-align: center;

    @include tablet-small {
        padding: 15px;
    }

    @include tablet {
        padding: 20px;
    }

    @include desktop-small {
        padding: 20px;
    }

    @include desktop-large {
        padding: 30px;
    }

    &:hover {
        background-color: $c_white;
        transform: scale(1.01);
        text-decoration: none;
        @include shadow();
    }

    img {
        width: 100%;
        margin-bottom: 10px;
    }
}


@include nogrid-ms {
    .brands__grid {
        a.brand_card {
            width: 50%;
            float: left;

            @include tablet-small {
                width: 33.33%;
            }

            @include desktop-small {
                width: 250px;
            }

            span {
                line-height: 1.4em;
                height: 2.8em;
                display: block;
            }
        }
    }
}
