﻿@import '../mixins/mixins_compiler.scss';

.checkout {

    .checkout_wrap {

        .checkout_summary {
            @include desktop-small {
                width: 300px;
                float: left;
            }

            @include desktop {
                width: 350px;
                font-size: 0.9em;
            }

            .delivery_msg {
                p {
                    text-align: center;
                }
            }
        }

        .checkout_large_pane, .login_box, .form_register_wrap {
            grid-area: page;

            @include desktop-small {
                width: calc(100% - 310px);
                float: right;
            }

            @include desktop {
                width: calc(100% - 400px);
            }

            .button.secure_button {
                @include tablet {
                    width: 50%;
                    margin: auto;
                }
            }

            .payment_cta {
                margin: auto;
                width: 100%;

                @include tablet-small {
                    width: 100%;
                    display: grid;
                    /*grid-template-columns: 1fr 3fr 3fr 1fr;
                    grid-template-areas: ".... card paypal ....";*/
                    grid-gap: 20px;
                    margin: 0 0 30px 0;
                    grid-template-columns: 1fr 3fr 1fr;
                    grid-template-areas: ".... card ...."".... paypal ....";
                }

                &.card_only {
                    @include tablet-small {
                        grid-template-columns: 1fr 3fr 1fr;
                        grid-template-areas: ".... card ....";
                    }
                }

                .button {
                    &.secure_button {
                        grid-area: card;
                        width: 100%;
                        float: right;
                        display: inline-block;
                        clear: none;
                        margin: 0 0 20px 0;
                        top: 0;

                        @include tablet-small {
                            /*height: 35px;
                            line-height: 35px;*/
                            margin: 0;
                        }
                        /*.icon {
                            @include tablet-small {
                                height: 32px;
                                background-size: 30px;
                            }
                        }*/
                        &.paypal {
                            grid-area: paypal;

                            p {
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .small_print {
                text-align: center;
                margin: 20px 0 0 0;
                font-size: 0.8em;
            }
        }

        .no_paypal_message {
            display: none;

            &.card_only {
                display: block;
            }

            .small {
                text-align: center;
            }
        }

        .container_wrap, .login_box {
            margin-bottom: 20px;
        }

        .delivery_options_wrap {
            h4 {
                text-align: center;
            }


            h6 {
                margin: -8px 0 0 10px;
                padding: 0 10px;
                background-color: white;
                width: auto;
            }
        }

        .delivery_options {
            border-bottom: 1px solid $c_grey_light;
            margin-bottom: 40px;

            .check {
                border: 1px solid $c_grey_light;
                border-bottom: none;
                padding: 0;

                &.address_same {
                    border: none;
                    padding: 0;
                    margin: 10px 0 30px 0;
                    text-align: center;
                }

                ul {
                    margin: 2em 0 1em 0;
                }
            }


            label {
                font-weight: $fw_body_bold;
                line-height: 28px;
                margin: 0;
                padding: 10px 10px 10px 50px;
                width: 100%;
                /*background-color: $c_grey_pale;*/
                max-width: 100%;

                .delivery {
                    &__price {
                        float: right;
                    }
                }
            }

            .delivery_info {
                border-top: 1px solid $c_grey_light;
                padding: 10px;

                @include tablet {
                    padding: 10px 10px 10px 51px;
                }

                p {
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 0.8em;
                }

                ul {
                    margin: 0;
                    font-size: 0.9em;
                    padding-left: 16px;
                    font-style: italic;

                    li {
                        margin-bottom: 0;
                    }
                }
            }
        }


        .tax_wrap {
            margin-bottom: 30px;
            background-color: $c_grey_pale;
            border: 1px solid $c_grey_light;
            border-bottom: none;

            .tax_wrap_total,
            .tax_wrap_part {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
                border-bottom: 1px solid $c_grey_light;
                padding: 20px;

                .subtotal {
                    text-align: right;
                }

                @include nogrid {
                    .label_txt, .subtotal {
                        width: 50%;
                    }
                }
            }

            .tax_wrap_part {
                background-color: $c_white;
                padding: 10px 20px;

                @include tablet {
                    /*padding: 10px 40px;*/
                }
            }
        }



        .login_box, .form_register_wrap {
            @include shadow-none();
            margin-bottom: 30px;

            @include tablet {
                max-width: 100%;
            }

            @include desktop-small {
                display: block;
            }

            .welcome_back_login {
                @include shadow-none();

                .new_acc_msg {
                    background-color: $c_good_light;
                    border-radius: 8px;
                    margin-bottom: 10px;
                    padding: 8px;
                    color: $c_white;
                }
            }

            .new_to_hochanda {
                @include shadow-none();
                @include corner-large();

                h2 {
                    font-size: 1.4em;
                    margin-bottom: 20px;
                }
            }
        }

        .billing_options_wrap {
            p {
                text-align: center;
            }

            ul.selected_address {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    margin: 0;
                }
            }

            .btn_wrap {
            }
        }
    }


    .box_container {
        margin-bottom: 40px;
        display: grid;
        grid-row-gap: 20px;

        @include tablet-small {
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 0px;
            grid-column-gap: 20px;
        }
    }

    .box_wrap {
        border: 1px solid $c_grey_light;

        .inner_wrap {
            padding: 20px;

            span {
                float: left;
                clear: both;
            }

            button {
                background: transparent;
                border: none;
                color: $c_main;
                text-transform: none;
                font-size: 1em;
                padding: 0;
                text-decoration: underline;
                margin: 0;
                line-height: 2em;
                margin-top: 10px;
                float: left;

                &.inner {
                    &__add {
                        clear: none;
                        padding-left: 10px;
                        margin-left: 10px;
                        border-left: 1px solid $c_grey_light;
                        @include corner-none();
                    }
                }
            }
        }
    }
}
