﻿@import '../mixins/mixins_compiler.scss';

.cinema_page {
    background-image: url(https://www.hoch.media/elements/rewind-bg.png);
    background-color: $c_rewind;
    color: $c_white;


    .cinema_wrap {
        background-color: $c_rewind_dark;
        margin-bottom: 10px;
        position: relative;

        @include tablet {
            margin-bottom: 30px;
        }

        @include desktop {
            margin-bottom: 40px;
        }


        .video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            @include clear();

            @include desktop {
                padding: 10px 20px;
            }
        }

        .inner {
            @include mw_normal();
            @include aspect-ratio(16,9);
        }

        .loader__wrap {
            top: calc(50% - 40px);
            height: 80px;
            z-index: 0;

            .loader {
                border: 12px solid $c_rewind_light;
                border-top-color: $c_white;
            }
        }
    }

    .information_wrap {
        border-bottom: 1px solid $c_rewind_light;
    }

    .information {
        width: 100%;
        padding: 0 20px 30px 20px;
        @include mw_normal();
        @include clear();

        .show_name {
            @include tablet {
                width: 48%;
            }

            h1 {
                width: 100%;
                font-size: 2em;
                text-transform: uppercase;
                text-align: left;
                margin: 0;
            }

            .divider_line {
                width: 100px;
                border-top: 2px solid $c_craft;
                margin: 20px 0 0px 0px;
            }
        }

        .bookmark {
            button {
                width: 100%;
                max-width: 200px;
                background-color: transparent;
                border: 1px solid $c_white;
                margin: 0 auto;


                &:hover {
                    background-color: $c_main_dark;
                }
            }

            @include tablet {
                width: 48%;
                float: right;

                button {
                    float: right;
                }
            }
        }

        .synopsis {
            margin-top: 30px;

            .aired {
                text-transform: uppercase;
            }

            .availability {
                color: $c_grey;
                margin-bottom: 30px;


                .days_left {
                    float: left;
                    font-size: 12px;
                    width: 100px;
                }

                .link {
                    float: left;
                    width: 80px;
                    font-style: italic;
                }
            }

            .description {
                margin: 0px 0 20px 0;
            }
        }
    }

    .previous_next {
        max-width: 400px;
        float: left;
        margin-top: 30px;

        button {
            width: 48%;
            background-color: $c_grey_light;
            color: $c_head;
            border: none;


            &:hover {
                border: none;
            }
        }

        .previous {
            .icon {
                background-image: url(https://hoch.media/web-assets/icons/icons_arrow-left-grey.svg);
                height: 39px;
                width: 39px;
                display: block;
                float: left;
                margin-right: 0px;
            }
        }

        .next {
            float: right;
            margin-top: -50px;

            .icon {
                background-image: url(https://hoch.media/web-assets/icons/icons_arrow-right-grey.svg);
                height: 39px;
                width: 39px;
                display: block;
                float: right;
                margin-right: 0px;
            }
        }
    }

    .product_grid_wrap {

        .title {
            /*margin-left: 20px;*/
            .name {
                width: 100%;
                font-weight: $fw_body_bold;
                font-size: 2em;
                text-transform: uppercase;
                float: none;
                line-height: 1em;
                text-align: left;
                margin: 30px 0 30px 0;

                @include desktop {
                    text-align: center;
                }
            }

            .divider_line {
                width: 100px;
                border-top: 2px solid $c_main;
                margin: 0 auto;
                float: left;
                display: block;

                @include desktop {
                    float: none;
                }
            }
        }

        .grid {
            border-color: $c_rewind_light;
            margin-top: 20px;
            padding-bottom: 60px;
        }

        .product_card {
            border-color: $c_rewind_light;

            .details_wrap {
                h3 {
                    color: $c_white;
                }

                .price {
                    .was {
                        color: $c_white;
                    }
                }
            }
        }
    }

    .button_wrap {
        margin-top: 40px;

        .inner {
            @include mw_small;
        }

        a {
            background-position: left center;
            background-repeat: no-repeat;
            clear: none;

            &.schedule {
                width: 100%;
                float: left;
                background-image: url(https://hoch.media/elements/icons/header-icons/tv-schedule.svg);
                background-color: $c_white;
                color: $c_base;

                &:hover {
                    background-color: $c_main_dark;
                    color: $c_white;
                    background-image: url(https://hoch.media/web-assets/icons/tv-schedule-white.svg);
                }
            }

            &.rewind {
                float: right;
                width: 48%;
                margin-bottom: 30px;
                background-image: url(https://hoch.media/web-assets/icons/rewind-white.svg);
                background-color: transparent;

                &:hover {
                    background-color: $c_main_dark;
                }
            }
        }
    }
}
