﻿@import '../mixins/mixins_compiler.scss';

.error_page {
    padding: 30px 10px;

    .content {
        background-color: $c_white;
        border: 1px solid $c_grey_light;
        padding: 8vh 20px 10vh;
        @include mw_medium;
        @include corner-large();

        @include tablet {
            padding: 8vh 40px 10vh;
        }

        .code {
            font-weight: $fw_body_light;
            margin-bottom: 30px;
            /*text-align: left;*/
        }


        p {
            text-align: center;
            margin-bottom: 40px;
        }


        h1 {
            margin-bottom: 5px;
        }

        .message {
            text-align: center;
            margin: -20px 0 40px 0;
        }

        .links {
            @include mw_small;
            clear: both;
            text-align: center;
            height: 50px;

            a.button {
                background-color: $c_white;
                color: $c_base;
                border-color: $c_base;

                &.invert {
                    width: auto;
                    display: inline-block;
                    margin: 0 auto;
                    border: none;
                    border-bottom: 1px solid $c_base;
                    @include corner-none;
                }

                &:hover {
                    border-color: $c_main;
                    color: $c_main;
                }
            }
        }
    }
}
