﻿@import '../mixins/mixins_compiler.scss';

.my_acc {
    .acc_wrap {

        .content_box {
            .freedomarea {

                h1 {
                        margin-bottom: 5px
                }

                h2 {
                    font-size: 1.5em;
                    font-weight: 400;
                    text-transform: initial;
                    line-height: 1.4em;
                    text-align: center;
                    margin-bottom:20px;
                }

                .divider_line {
                    border-top: 2px solid $c_freedom;
                    width: 50px;
                    display: block;
                    margin: 0 auto;
                    float: none;
                    display: table;
                    @include clear();
                }

                button {
                    background-color: $c_freedom_dark;
                    max-width: 300px;
                    width: 100%;
                    border: none;

                    &:hover {
                        background-color: $c_main_dark;
                    }
                }

                .advert_box_one {
                    background-color: #ffffff;
                    margin: -15px 0 30px 0;
                    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
                }

                .freedom_holiday {
                    @include clear();

                    p {
                        text-align: center;
                        margin-bottom: 30px;
                        margin-top: 10px;
                    }

                    .activate_cta {

                        button {
                            margin: 0 auto;
                            float: none;
                        }
                    }

                }

                  .payments {
                        table {
                            margin-top: 30px;
                            width: 100%;

                            th {
                                background-color: $c_freedom_dark;
                                color: $c_white;
                                text-indent: 3px;
                                text-transform: uppercase;
                                font-size: 12px;
                            }

                            tr {
                                border: white;
                                text-indent: 3px;
                            }


                            tr:nth-child(even) {
                                background-color: #f4f4f4;
                            }
                        }
                    }

                .freedom_magazines {
                    margin-top: 30px;
                    padding-top: 30px;

                    p {
                        text-align: center;
                        margin-top:10px;
                        margin-bottom: 30px;
                    }

                    .magazines {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 20px;
                        margin-left: -5px;
                        float: none;

                        @include tablet {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            grid-gap: 30px;
                        }

                        .issue {
                            /*background-color: Highlight;*/
                            /*max-width: 173px;*/
                            margin: 5px 5px 5px 5px;
                            display: block;
                            text-align: center;

                            .magazine_image {
                                float: left;
                                width: 100%;
                                margin-bottom: 15px;
                            }

                            .link {
                                float: none;
                                width: 100%;
                                text-align: center;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                /*.freedom_discounts {
                    border-top: 1px solid #ccc;
                    margin-top: 30px;


                    @include tablet {
                        .offer {
                            width: 48%;
                        }

                        .saving {
                            width: 48%;
                            margin-top: -35px;
                        }
                    }
                }*/
            }
        }
    }
}
