﻿@import '../mixins/mixins_compiler.scss';

.homepage {
    @include desktop {
        padding-top: 30px;
    }

    .hp_hero {

        @include mw_normal();
        @include clear();

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "stream stream" "cioa ods";
            grid-gap: 10px;
            padding: 10px;
        }

        @include desktop-small {
            grid-gap: 20px;
        }

        @include desktop {
            grid-template-columns: auto 340px;
            grid-template-areas: "stream cioa" "stream ods";
        }

        @include desktop-large {
            @include mw_large();
            grid-template-columns: auto 470px;
            grid-gap: 40px;
        }

        .stream {
            grid-area: stream;
            background-color: $c_white;
            border: 1px solid $c_grey_light;
            @include shadow();

            @include desktop-small {
                padding: 10px;
            }

            .video {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                @include clear();
            }

            .inner {
                @include mw_normal();
                @include aspect-ratio(16,9);

                .loader__wrap {
                    top: 0;
                    display: grid;
                    align-items: center;

                    .loader {
                        border-width: 6px;
                        width: 40px;
                        height: 40px;

                        @include tablet {
                            border-width: 12px;
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }
        }

        .hp_hero_prod {
            background-color: $c_white;
            border: 1px solid $c_grey_light;
            @include shadow();
            margin-top: 10px;

            @include tablet {
                margin: 0;
            }

            &.oos {
                @include gradient($c_freedom,0%,#008CC7,100%,50deg);
            }

            h4 {
                background-color: $c_head;
                text-align: center;
                font-weight: $fw_heading_bold;
                color: $c_white;
                line-height: 42px;
                height: 42px;
                font-size: 22px;
                padding: 0;
                margin: 0;
            }

            .ods_logo {
                background-color: $c_base;
                margin-bottom: 0px;
                text-transform: uppercase;
                letter-spacing: 0px;
                color: $c_white;
                font-family: 'Lato', sans-serif;
                font-weight: 900;
                line-height: 35px;
                height: 40px;
                font-size: 22px;

                .ods_logo_wrap {
                    width: 220px;
                    display: block;
                    margin: 0px auto;
                    padding: 0;
                }
            }

            .product_card {
                display: grid;
                grid-template-columns: 100px auto;
                grid-template-areas: "img details";
                grid-gap: 10px;
                padding: 10px;


                @include desktop-large {
                    grid-template-columns: 132px auto;
                }

                .prod_img_wrap {
                    .fav_wrap {
                        margin: 0;
                    }
                }

                &:after {
                    display: none;
                }

                h3 {
                    margin-bottom: 0.3em;
                }

                .button, button {
                    margin: 0;
                }



                .prod_img {
                    grid-area: img;
                    border: none;

                    a {
                        position: relative;
                        display: block;
                        float: left;
                    }

                    img.prod_img_item {
                        border: 1px solid #d9d9d9;
                        position: relative;
                        float: left;
                    }

                    .freedom_sash, .flexi_sash {
                        width: 45%;
                    }
                }

                img.freedom_sash {
                    max-width: 40%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                }

                img.flexi_sash {
                    max-width: 40%;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                .details_wrap {
                    grid-area: details;
                }

                .quick_look {
                    padding: 0;
                    text-align: center;
                    text-indent: 10px;
                }
            }

            .out_of_stock_container {

                .out_of_stock_msg {
                    background-color: $c_white;
                    border: 2px solid $c_head;

                    p {
                        text-align: center;
                        margin: 0;
                    }
                }

                .freedom_oos {
                    padding: 10px;

                    @include desktop-large {
                        margin-top: 10px;
                    }


                    .freedom_offers_logo {
                        width: 160px;
                        display: block;
                        margin: 0px auto;

                        @include desktop-large {
                            width: 190px;
                        }
                    }

                    .offer_txt {
                        p {
                            text-align: center;
                            color: $c_white;
                            font-size: 14px;

                            @include desktop-large {
                                margin: 15px 0 20px 0;
                            }
                        }
                    }

                    .offer_cta {
                        margin-bottom: 10px;

                        a.button {
                            background-color: #ffffff;
                            border-color: $c_freedom_dark;
                            max-width: 300px;
                            color: $c_freedom_dark;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }

        .cioa {
            grid-area: cioa;
        }

        .ods {
            grid-area: ods;
        }
    }

    .tv_now_next {
        @include mw_normal();
        margin: 20px auto;

        @include tablet {
            padding: 0 10px;
        }

        @include desktop-large {
            @include mw_large();
        }

        .now_next_container {
            margin: 20px auto;

            .now_next_item {
                background-color: $c_head;
                margin-bottom: 4px;
                @include shadow();
                display: grid;
                grid-template-columns: 58px auto;

                @include tablet {
                    width: 50%;
                }

                @include desktop-small {
                    grid-template-columns: 90px auto;
                }

                .show_time {
                    color: $c_white;
                    position: relative;
                    z-index: 10;
                    line-height: 53px;
                    text-align: center;

                    .hours {
                        font-weight: $fw_body_bold;
                        font-size: 2em;
                    }

                    .minutes {
                        display: none;

                        @include desktop-small {
                            display: inline-block;
                        }
                    }

                    @include tablet {
                        &:before, &:after {
                            content: '';
                            height: 6px;
                            width: 68px;
                            display: block;
                            position: absolute;
                            z-index: 100;

                            @include desktop-small {
                                width: 100px;
                            }
                        }

                        &:before {
                            @include gradient($c_head_light, 0%, $c_head, 100%, 90deg);
                            -webkit-clip-path: polygon(6px 0, 64px 0, 100% 100%, 0% 100%);
                            clip-path: polygon(6px 0, 64px 0, 100% 100%, 0% 100%);
                            top: -6px;

                            @include desktop-small {
                                -webkit-clip-path: polygon(6px 0, 95px 0, 100% 100%, 0% 100%);
                                clip-path: polygon(6px 0, 95px 0, 100% 100%, 0% 100%);
                            }
                        }

                        &:after {
                            @include gradient($c_head, 0%, $c_head_dark, 100%, 90deg);
                            -webkit-clip-path: polygon(0 0, 100% 0, 64px 100%, 6px 100%);
                            clip-path: polygon(0 0, 100% 0, 64px 100%, 6px 100%);
                            bottom: -6px;

                            @include desktop-small {
                                -webkit-clip-path: polygon(0 0, 100% 0, 95px 100%, 6px 100%);
                                clip-path: polygon(0 0, 100% 0, 95px 100%, 6px 100%);
                            }
                        }
                    }
                }

                .show_info {
                    background-color: $c_white;
                    padding: 4px;
                    display: grid;
                    grid-template-columns: 50px auto;

                    .category_logo {
                        background-image: url(https://www.hoch.media/web-assets/hoch-logos/sub-cat-default-square.svg);
                        height: 50px;
                        width: 50px;
                    }

                    a.show_title {
                        color: $c_base;
                        display: grid;
                        height: auto;

                        span {
                            line-height: 1.2em;
                            float: left;
                            padding: 0 7px;
                            align-self: center;
                        }
                    }
                }
            }
        }

        a.tv_schedule {
            background-color: $c_head;
            @include mw_small();

            .icon {
                height: 40px;
                width: 40px;
                display: inline-block;
            }
        }
    }

    .prod_in_show {
        background-color: $c_white;
        @include shadow();
        padding: 20px 10px;
        margin: 30px 0;

        h4 {
            text-align: center;
            font-weight: $fw_heading_bold;
        }
    }

    .videos {
        &__strip {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .inner {
            @include mw_normal();
            padding: 10px;

            @include tablet {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .videoWrapper {
                    border: 2px solid $c_white;
                    @include shadow-custom(0, 8px, 6px, -6px, $c_base);
                }
            }
        }

        &__left, &__right {
            align-self: center;
        }
    }

    .about_us {
        padding: 10px;
        margin: 50px 0;

        .inner {
            @include mw_normal();
        }

        h1 {
            font-size: 1.5em;
            line-height: 1.4em;
            font-weight: $fw_heading_light;
            text-transform: none;
            margin: 0 0 20px 0;
        }

        h2 {
            text-align: center;
        }
    }

    .about_freedom {
        background-image: url(https://www.hoch.media/elements/sky-freedom.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include shadow();

        .background {
            background-color: rgba(33, 113, 167, 0.5);
        }

        .freedom_spacer {
            /*display: none;*/
            &.bg_white {
                background-color: $c_white;
            }
        }

        .freedom_container {
            @include desktop-small {
                display: grid;
                grid-template-columns: auto 50% 50% auto;
            }

            @include desktop {
                display: grid;
                grid-template-columns: auto 600px 600px auto;
            }

            h4 {
                text-align: center;
                font-weight: $fw_heading_bold;
                color: $c_white;
            }

            .offers_wrap,
            .about_wrap {
                padding: 30px 20px;

                .button {
                    background-color: $c_white;
                    border-color: $c_freedom_dark;
                    @include mw_small();
                    width: 100%;
                }

                @include desktop-small {
                    display: grid;
                    grid-template-rows: auto auto 42px;
                }
            }

            .about_wrap {

                p {
                    color: $c_white;
                    text-align: center;
                }

                .logo_wrap {
                    @include mw_small();
                    margin-bottom: 10px;
                }

                .divider_line {
                    border-color: $c_white;
                }

                .button {
                    color: $c_freedom_dark;
                }
            }

            .offers_wrap {
                background-color: $c_white;
                -webkit-clip-path: polygon(0 30px, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 30px, 100% 0, 100% 100%, 0% 100%);
                padding: 50px 20px 30px 20px;
                border-right: 1px solid #fff;

                @include desktop-small {
                    padding: 30px 20px 30px 50px;
                    -webkit-clip-path: polygon(50px -1%, 101% 0, 101% 100%, 0% 101%);
                    clip-path: polygon(50px -1%, 101% 0, 101% 100%, 0% 101%);
                }

                h4 {
                    color: $c_freedom_dark;
                }

                .button {
                    background-color: $c_freedom;
                }

                .image {
                    @include mw_medium();
                }
            }
        }
    }

    .featured {
        &__wrap {
            margin: 50px auto;


            .inner {
                @include mw_normal();
                padding: 10px;

                @include tablet {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 30px;
                }

                @include desktop-small {
                    grid-gap: 70px;
                }
            }
        }

        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: 1fr;
            grid-gap: 10px;

            @include desktop-small {
                grid-gap: 20px;
            }
        }

        &__item {
            background-color: $c_white;
            @include shadow();
            display: grid;

            &:hover {
                transform: scale(1.02);
                -ms-transform: scale(1.02);
                -webkit-transform: scale(1.02);
            }
        }

        &__cat {
            .image {
                width: 70%;
                margin: auto;
                display: block;
            }

            .title {
                font-size: 10px;
                float: left;
                width: 100%;
                line-height: 2em;
                height: 2em;
                overflow: hidden;
                text-align: center;
                color: $c_base;
            }
        }
    }

    .highlights {
        padding: 10px;
        margin-bottom: 50px;

        &__wrap {
            display: grid;
            /*grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );*/
            grid-template-columns: 1fr;
            grid-gap: 10px;

            @include phablet {
                grid-template-columns: repeat(2, 1fr);
            }

            @include desktop-small {
                grid-template-columns: repeat(3, 1fr);
            }

            @include desktop-large {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}



@include nogrid-ms {
    .homepage {

        .hp_hero {
            @include mw_normal();

            .stream {
                margin-bottom: 20px;
            }

            .hp_hero_prod_wrap {
                @include tablet {
                    width: 48%;
                    float: left;

                    &.ods {
                        float: right;
                    }
                }

                .product_card {
                    .prod_img_wrap, .quick_look {
                        width: 31%;
                        float: left;
                    }

                    .details_wrap, .featured_product_btn_wrap {
                        width: 65%;
                        float: right;
                        clear: none;
                    }

                    img.prod_img_item {
                        width: 100%;
                    }

                    .quick_look {
                        line-height: 40px;
                    }
                }
            }
        }

        .tv_now_next {
            .show_time {
                width: 58px;
            }

            .show_info {
                width: calc(100% - 58px);
            }
        }

        .featured {

            &__section {
                @include tablet {
                    width: 50%;
                }
            }

            &__grid {
                a {
                    width: 31.33%;
                    margin: 1%;
                    height: auto !important;
                    float: left;
                }
            }

            &__cat, &__brand {
                @include tablet {
                    width: 98%;
                }
            }

            &__brand {
                float: right;
            }
        }

        .videos {
            &__left, &__right {
                @include tablet {
                    width: 50%;
                }
            }
        }

        .about_freedom {
            .about_wrap, .offers_wrap {
                @include tablet {
                    width: 50%;
                }
            }
        }

        .highlights {
            &__item {
                @include phablet {
                    width: 50%;
                }

                @include desktop-small {
                    width: 33.33%;
                }

                @include desktop {
                    width: 25%;
                }
            }
        }
    }
}
