﻿@import '../mixins/mixins_compiler.scss';

.ie_cover_wrap {
    display: none;
}

@include ms {
    body {
        main {
            display: none;
        }

        footer {
            display: none;
        }
    }

    .ie_cover_wrap {
        display: block;
        background-color: $c_white;
        position: absolute;
        height: 100%;
        z-index: 2000;
        min-height: 100vh;

        .header_ie_wrap {
            background-color: $c_white;
            width: 100%;

            img.logo {
                width: 150px;
                display: block;
                margin: 30px;
                margin-left: auto;
                margin-right: auto;
            }

            h6 {
                text-align: center;
                font-weight: 100;
            }
        }

        .hero_ie {
            background-color: $c_head;
            width: 100%;
            display: block;
            padding: 60px;

            h1 {
                color: $c_white;
                text-align: center;
                padding: 0;
                margin-bottom: 20px;
            }


            p {
                color: $c_white;
                text-align: center;
                padding-bottom: 20px;
            }

            a.button {
                position: center;
                background-color: $c_white;
                border-color: $c_white;
                width: 250px;
                color:$c_base;
                @include mw_small;
            }

            .chrome_icon {
                width: 30px;
                margin: 5px;
            }
        }

        .loader__wrap {
            display: none;
        }



        .tv_schedule_ie {
            background: $c_white;
           @include mw_large;
        

            .now_next_container {
                @include tablet {
                    padding: 30px;
                }
            }

            .now_next_item {
                @include tablet {
                    width: 50%;
                }


                .show_info {
                    background-color: $c_white;
                    @include shadow-large;
                    display: inline-block;
                    width:80%;
                }

                .show_time {
                    color: $c_white;
                    line-height: 50px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 2em;
                    background-color: $c_head;
                    width: 20%;
                    display:inline-block;
                    

                    @include desktop-small {
                        width: auto;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    .hours {
                        float: left;
                    }

                    .minutes {
                        display: none;
                        font-size: 1rem;
                        float: left;
                       

                        @include desktop-small {
                            line-height: 50px;
                            display: inline-block;
                        }
                    }
                }

                .category_logo {
                    display: inline-block;
                    width: 50px;
                }

                .show_title {
                    color: $c_head;
                    line-height: 3.2em;
                    float: left;
                    padding: 0 7px;
                    align-self: center;
                    width: calc(100% - 108px);
                    display: inline-block;

                    @include desktop-small {
                        width: calc(100% - 150px);
                    }
                }
            }
        }






        .footer_channels_ie {
            background-color: #000000;
            width: 100%;
            display: block;
            padding: 20px;

            p {
                text-align: center;
                color: $c_white;
                padding-top: 10px;
            }

            .tv_streaming_wrap {
                text-align: center;

                a {
                    width: 150px;
                    height: 80px;
                    margin: 10px;
                    display: inline-block;

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }
        }
    }


    .video_ie {
        @include mw_large;

        .video {
            padding-top: 100px;
        }
    }
}
