﻿@import '../mixins/mixins_compiler.scss';

/*HOMEPAGE*/

/* #region ------- COOKIE OVERRIDE -------*/

.cc_banner.cc_container.cc_container--open {
    width: 100%;
    background-color: rgba(0,0,0,.8);

    @include desktop {
        max-width: 700px;
    }
}


.cc_container p.cc_message {
    color: #fff;
    width: 70%;
    font-size: 0.7em;

    @include tablet {
        line-height: 25px;
        font-size: 1em;
    }
}

.cc_container .cc_btn,
.cc_container .cc_btn:visited {
    color: #fff !important;
    background-color: $c_main !important;
    text-transform: uppercase;
}

.cc_container a.cc_btn:hover {
    background-color: $c_main_dark !important;
    border: none;
}

.cc_container .cc_btn {
    float: right;
    width: 25% !important;
    max-width: 100% !important;
    display: inline-block;

    @include tablet {
        margin-top: 13px;
    }
}

/* #endregion ------- :END: COOKIE OVERRIDE -------*/


/* #region ------- SITEMAP -------*/

.sitemap {
    margin-top: 30px;
    padding: 20px;

    a {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        display: block;
        width: 33.3%;
        float: left;
        margin-bottom: 10px;

        border-bottom:1px solid #ccc;
        li {
            /*width: 250px;*/
        }
    }
}

/* #endregion ------- :END: SITEMAP -------*/




/*END HOMEPAGE*/


