﻿@import '../mixins/mixins_compiler.scss';

.acc_wrap {
    margin: 0;
    padding: 10px;
    float: none;
    @include clear();
    @include mw_normal ();

    @include desktop-small {
        padding: 50px 10px;
    }

    .content_box {
        width: 100%;
        min-height: 80vh;
        float: right;
        background-color: $c_white;
        @include corner-large();
        padding: 20px 20px 10px 20px;
        @include shadow-large();

        @include desktop-small {
            width: 70%;
        }
    }



    .button {
        max-width: 300px;
    }

    h3 {
        text-align: left;
    }

    .advert_box_one {
        background-color: #ffffff;
        margin: 10px 0 10px 0;
        -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
}


.acc_nav_wrap {
    width: calc(100% - 40px);
    float: none;
    background-color: $c_head;
    padding: 20px 30px;
    margin: 0 auto;
    clear: both;
    @include shadow-large();
    @include clear();
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;


    @include desktop-small {
        margin: 50px auto 0 auto;
        width: 30%;
        float: left;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }

    .details {
        /*@include tablet-small {
            width: 100%;
            float: left;
        }*/
        .credit_container {
            background-color: $c_white;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            margin: 5px 0 5px 0;

            p {
                color: $c_base;
                font-weight: $fw_body_bold;
            }

            .max_spend_credit {
                color: $c_main;
                font-weight: $fw_body_light;
            }
        }
    }

    .acc_menu_toggle {
        background-color: transparent;
        border-color: $c_white;
        width: 100%;
        margin-top: 20px;
        background-image: url(https://hoch.media/elements/icons/header-icons/menu.svg);
        background-size: 24px;
        background-position: 10px center;
        background-repeat: no-repeat;
        text-indent: 34px;

        @include tablet-small {
            width: 30%;
            float: right;
            clear: none;
            margin: 0;
        }

        @include desktop-small {
            display: none;
            background-image: url(https://www.hoch.media/web-assets/icons/menu.svg);
        }
    }

    h4 {
        color: $c_white;
        margin: 0;
    }

    p {
        color: $c_white;
        margin: 0;
    }

    .add_voucher_modal {
        color: $c_white;
    }

    .logout {
        background-image: url(https://www.hoch.media/web-assets/icons/logout_white.svg);
        background-repeat: no-repeat;
        color: $c_white;
        padding-left: 3.2em;
        background-repeat: no-repeat;
        line-height: 3.5em;
        display: block;
        background-size: 28px;
        text-decoration: none;
        background-position: 0px 0.7em;
        clear: both;
    }

    ul {
        margin: 20px 0 0 0;
        padding: 0;
        border-top: 1px solid $c_white;

        @include desktop-small {
            display: block !important;
        }

        &.acc_nav {
            display: none;

            @include desktop-small {
                display: block;
            }
        }

        li {
            margin: 0;
            padding: 0;
            list-style-type: none;


            a {
                color: $c_white;
                padding-left: 3.2em;
                background-repeat: no-repeat;
                line-height: 3.5em;
                display: block;
                background-size: 28px;
                background-position: 0px 0.7em;
                /* border-bottom: 1px solid rgba(255, 255, 255, 0.23137254901960785); */
                text-decoration: none;

                &:after {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    content: ' ';
                    display: block;
                }

                &:hover {
                    color: $c_grey_light;
                }

                &.account {
                    background-image: url(https://www.hoch.media/web-assets/icons/basic-details-white.svg);
                }

                &.details {
                    background-image: url(https://www.hoch.media/web-assets/icons/my_account_white.svg);
                }

                &.history {
                    background-image: url(https://www.hoch.media/web-assets/icons/order-history-line-white.svg);
                }

                &.address {
                    background-image: url(https://www.hoch.media/web-assets/icons/address-white.svg);
                }

                &.payment {
                    background-image: url(https://www.hoch.media/web-assets/icons/payment-method-white.svg);
                }

                &.favourite {
                    background-image: url(https://www.hoch.media/web-assets/icons/favourites-white.svg);
                }

                &.friend {
                    background-image: url(https://www.hoch.media/web-assets/icons/refer-a-friend-white.svg);
                }

                &.freedom {
                    background-image: url(https://www.hoch.media/web-assets/icons/freedom_white.svg);
                }

                &.settings {
                    background-image: url(https://www.hoch.media/web-assets/icons/settings-white.svg);
                }
            }
        }
    }
}


.favourites_page {
    .fav_prods {
        min-height: 30vh;
    }
}

/*Internet explorer fallbacks*/

@include ms {

    .acc_nav_wrap {
        .details {
            .logout {
                background-image: none !important;
                margin: 0;
            }
        }

        .acc_nav {
            a {
                background-image: none !important;
                margin: 0;
            }
        }
    }

}
