﻿@import '../mixins/mixins_compiler.scss';

.my_details {

    .personal_details, .email_wrap, .update_password {
        border: 1px solid #ccc;
        margin-bottom: 20px;

        h6 {
            margin: -8px 0 0 10px;
            padding: 0 10px;
            background-color: white;
            width: auto;
        }

        .label {
            font-size: 0.8em;
            text-transform: uppercase;
        }

        .detail {
            font-weight: $fw_body_bold;
            margin-bottom: 10px;

            p {
                font-weight: $fw_body_bold;
            }
        }
    }

    .inner_wrap {
        padding: 20px;
    }


    .divider_line {
        border-top: 2px solid $c_grey;
        float: left;
        margin: 15px 0 5px 0px;
    }
}

.warning {
    color: $c_bad;
    font-weight: $fw_body_bold;
}
