﻿@import '../mixins/mixins_compiler.scss';

.my_acc {
    .acc_wrap {

        .content_box {
            .orderhistory, .order_list_account {

                .filter {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 10px;
                    margin-bottom: 30px;
                    font-size: 14px;

                    @include tablet {
                        grid-template-columns: repeat(5, 1fr);
                    }



                    select {
                        margin: 0;
                    }

                    .form-control {
                        line-height: 42px;
                        height: 42px;
                    }

                    .search {
                        grid-column: 1/-1;

                        @include tablet {
                            grid-column: auto;
                        }
                    }
                }



                .order_list {
                    margin-bottom: 30px;

                    .titles {
                        background-color: $c_head;
                        color: $c_white;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-gap: 10px;
                        text-align: center;
                        line-height: 50px;
                    }

                    .rows {
                        background-color: #f1f1f1;
                        color: $c_base;
                        text-align: center;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 1px;
                        padding: 15px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        border: 1px solid $c_grey_light;



                        @include tablet {
                            display: grid;
                            grid-template-columns: 1fr 1fr 0.5fr;
                        }


                        .details_cta {
                            grid-column: span 2 / auto;

                            a.view {
                                background-color: $c_main;
                                color: $c_white;
                                border: 1px solid $c_main_dark;
                                text-decoration: none;
                                text-transform: uppercase;
                                line-height: 42px;
                                display: block;
                                text-align: center;
                                cursor: pointer;
                                font-size: 12px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                border-radius: 4px;
                                margin-top: 8px;

                                &:hover {
                                    background-color: $c_main_dark;
                                    transition: .4s;
                                }
                            }

                            @include tablet {
                                grid-column: span 1 / auto;
                            }
                        }

                        .details {
                            float: none;

                            .number {

                                .download {
                                    font-size: 11px;
                                    font-weight: 900;
                                    border: 1px solid #000000;
                                    width: 50%;
                                    margin: 0 auto;
                                    float: none;
                                    display: inline-block;
                                    background-color: #058ca0;
                                    color: #ffffff;
                                    margin-top: 15px;
                                }

                                .flexibuy {
                                    max-width: 80px;
                                    margin: 0 auto;
                                    margin-top: 10px;
                                    float: none;
                                    display: inline-block;
                                }
                            }

                            @include tablet {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                grid-gap: 10px;
                            }





                            .info {
                                font-weight: $fw_heading_bold;
                                font-size: 1.3em;
                            }
                        }

                        span {
                            text-align: center;
                            line-height: 30px;
                            margin: 0;
                            width: 100%;
                            float: left;
                        }

                        .title {
                            font-size: 0.8em;
                            text-transform: uppercase;
                            text-align: center;
                            width: 100%;
                            font-weight: $fw_body_light;
                            color: #414141;
                        }

                        button {
                            margin: 0;
                            margin-top: 10px;
                        }

                        .cancelled {
                            color: $c_bad;
                            font-weight: $fw_body_bold;
                        }

                        .approved {
                            color: $c_good;
                            font-weight: $fw_body_bold;
                        }

                        .processing {
                            color: $c_grey;
                            font-weight: $fw_body_bold;
                        }
                    }

                    .order_hist_pagination_btns {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        grid-gap: 10px;

                        button {
                            &:disabled {
                                background-color: $c_grey_pale;
                                border-color: $c_grey;
                                color: $c_base;
                            }
                        }
                    }


                    .download, .flexi {
                        display: none;
                        grid-column: 1/-1;
                        text-transform: uppercase;
                    }


                    .downloadable_order {
                        .download {
                            background-color: $c_base;
                            display: block;
                            color: $c_white;
                        }
                    }

                    .flexibuy_order {
                        .flexi {
                            background-color: $c_flexibuy;
                            display: block;
                            color: $c_white;
                        }
                    }


                    .rows:nth-child(odd) {
                        background: $c_white;
                    }
                }

                button {
                    width: 100%;
                }
            }
        }
    }
}


.daterangepicker {
    max-width: 600px;
    padding: 10px;
    @include shadow-large();


    table.table-condensed {
        width: 100%;

        th.month {
            text-align: center;
        }

        th.prev.available, th.next.available {
            height: 50px;
            width: 20px;
            display: inline-block;
            background-image: url(https://hoch.media/elements/icons/icons_arrow-left-black.svg);
            background-position: center;
            background-repeat: no-repeat;
        }

        th.next.available {
            background-image: url(https://hoch.media/elements/icons/icons_arrow-right-black.svg);
        }
    }

    .ranges {
        margin-top: 20px;

        .applyBtn, .cancelBtn {
            line-height: 30px;
            max-width: 150px;
            width: 100%;
        }
    }

    .calendar.left {
        margin-bottom: 20px;

        @include tablet {
            width: 49%;
            margin-right: 1%;
            margin-bottom: 0px;
        }

        .calendar-table {
            width: 100%;
            border: 1px solid $c_grey;
            padding-left: 10px;
        }
    }

    .calendar.right {


        @include tablet {
            width: 49%;
            float: right;
        }


        .calendar-table {
            width: 100%;
            border: 1px solid $c_grey;
            padding-left: 10px;
        }
    }
}



@include nogrid-ms {
    .my_acc .acc_wrap {
        .content_box {
            .order_list_account, .orderhistory {
                .order_list {
                    .order_hist_pagination_btns {
                        button {
                            @include tablet {
                                width: 25%;
                                float: left;
                                clear: none;
                            }
                        }
                    }

                    .rows {
                        .details {
                            width: 50%;
                            float: left;
                            clear: none;

                            @include tablet {
                                .date, .number, .total, .status {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }

            .filter {
                .to, .type, .search {
                    @include tablet {
                        width: 25%;
                    }
                }
            }
        }
    }
}
