﻿@import '../mixins/mixins_compiler.scss';

.my_acc {
    .acc_order_summary_wrap {
        @include mw_normal ();

        .content_box {
            width: 100%;
            float: left;
            background-color: $c_white;
            @include corner-large();
            @include shadow-large();
            padding: 20px 20px 10px 20px;

            @include desktop-small {
                width: 100%;
            }

            .ordersummary {

                .order_title {
                    background-color: $c_head;
                    color: $c_white;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 10px;
                    padding: 10px;
                    border-radius: 5px;

                    p {
                        margin: 0;
                        font-weight: 900;
                    }

                    .date {
                        p {
                            text-align: right;
                        }
                    }
                }

                .wrap {


                    .address {
                        margin-bottom: 40px;
                        display: grid;
                        grid-row-gap: 20px;

                        @include tablet-small {
                            grid-template-columns: 1fr 1fr;
                            grid-row-gap: 0px;
                            grid-column-gap: 20px;
                        }
                    }

                    .box_wrap {
                        border: 1px solid #ccc;
                        margin-top: 20px;

                        h6 {
                            margin: -8px 0 0 10px;
                            padding: 0 10px;
                            background-color: white;
                            width: auto;
                        }

                        .inner_wrap {
                            padding: 20px;

                            span {
                                float: left;
                                clear: both;
                            }

                            button {
                                background: transparent;
                                border: none;
                                color: $c_main;
                                text-transform: none;
                                font-size: 1em;
                                padding: 0;
                                text-decoration: underline;
                                margin: 0;
                                line-height: 2em;
                                margin-top: 10px;
                                float: left;

                                &.inner {
                                    &__add {
                                        clear: none;
                                        padding-left: 10px;
                                        margin-left: 10px;
                                        border-left: 1px solid $c_grey_light;
                                        @include corner-none();
                                    }
                                }
                            }
                        }
                    }
                }

                .summary {


                    .product {
                        margin-top: 20px;

                        .summary_product_wrap {
                            border: 1px solid $c_grey_light;
                            display: grid;
                            grid-template-columns: 50px auto;
                            grid-template-areas: "img name" "img status" "img qty" "img price";
                            grid-column-gap: 20px;
                            padding: 10px;
                            width: 100%;

                            @include tablet {
                                display: grid;
                                grid-template-columns: 75px auto 110px;
                                grid-template-areas: "img name price" "img status qty";
                            }

                            &:nth-of-type(1) {
                                border-top: 1px solid $c_grey_light;
                            }

                            &:nth-of-type(odd) {
                                background-color: $c_grey_pale;
                            }

                            .img {
                                grid-area: img;

                                @include tablet {
                                    width: 100%;
                                }

                                img {
                                    border: 1px solid $c_grey;
                                }
                            }

                            .name {
                                grid-area: name;

                                a {
                                    font-size: 1em;
                                    line-height: 1.4em;
                                    text-align: left;
                                    text-transform: none;
                                    border: none;
                                    margin: 0;
                                    width: calc(100% - 20px);
                                    color: $c_base;

                                    &:hover {
                                        text-decoration: underline;
                                    }

                                    &:active {
                                        transform: scale(1);
                                    }

                                    @include tablet-small {
                                        width: 100%;
                                    }

                                    &.title {
                                        grid-area: title;
                                        padding: 0;
                                        max-height: 2.8em; /*to limit the lenth of titles*/
                                        overflow: hidden;
                                    }
                                }

                                .sku {
                                    grid-area: sku;
                                    text-align: left;
                                }
                            }

                            .download_btn {
                                display: block;

                                a {
                                    display: inline-block;
                                    line-height: 40px;
                                    width: auto;
                                    @include corner();
                                    @include shadow();
                                    background-color: $c_base;
                                    color: $c_white;
                                    padding: 0 20px 0 40px;
                                    background-image: url(https://hoch.media/web-assets/icons/download-white-thick.svg);
                                    background-repeat: no-repeat;
                                    background-size: 25px;
                                    background-position: 8px center;
                                    margin: 10px 0;

                                    &:hover {
                                        background-color: $c_main_dark;
                                        text-decoration: none;
                                    }
                                }
                            }

                            .summary_label {
                                text-transform: uppercase;
                            }

                            .status {
                                grid-area: status;
                                /*display: none;*/
                                .status_text_processing {
                                    font-weight: $fw_heading_bold;
                                    color: $c_main;
                                    font-style: italic;
                                }
                            }

                            .qty {
                                grid-area: qty;
                                text-transform: uppercase;


                                @include tablet {
                                    text-align: right;
                                }

                                .figure {
                                    font-weight: $fw_body_bold;
                                }
                            }

                            .price_wrap {
                                grid-area: price;

                                .price {
                                    text-align: left;
                                    margin-bottom: 5px;

                                    .was {
                                        text-decoration: none;
                                        text-transform: uppercase;
                                        color: #808080;
                                        margin-left: 5px;
                                        font-weight: $fw_body_bold;
                                    }

                                    @include tablet-small {
                                        span {
                                            float: right;
                                            clear: both;
                                        }
                                    }

                                    @include desktop {
                                        .now {
                                            font-size: 1.1em;
                                        }
                                    }
                                }
                            }

                            .use_flexibuy {
                                background-color: $c_flexibuy;
                                color: $c_white;
                                padding: 6px;
                                border-radius: 5px;
                                height: 40px;
                                width: 120px;
                                clear: none;

                                @include desktop {
                                    width: 100%;
                                    height: 40px;
                                }

                                label {
                                    line-height: 28px;
                                    margin-bottom: 0;
                                }
                            }

                            @include nogrid {
                                .img {
                                    width: 50px;
                                }

                                .name, .status, .qty, .price_wrap {
                                    width: calc(100% - 60px);
                                    float: right;
                                }

                                @include tablet {
                                    .name, .status {
                                        width: calc(100% - 210px);
                                        margin-left: 10px;
                                        float: left;
                                    }

                                    .qty, .price_wrap {
                                        width: 150px;
                                    }
                                }
                            }
                        }

                        .flexibuy_info {
                            background-color: $c_flexibuy;
                            color: $c_white;
                            width: 100%;
                            display: block;
                            grid-template-columns: repeat(2, 1fr);
                            grid-gap: 10px;
                            padding: 5px;

                            .paid_at_order {
                                @include tablet {
                                    width: 50%;
                                }
                            }

                            .paid_already {
                                text-align: left;

                                @include tablet {
                                    float: right;
                                    width: 50%;
                                    text-align: right;
                                }
                            }

                            span.date, span.figure {
                                font-weight: $fw_body_bold;
                            }
                        }
                    }
                }

                .information {
                    .est_delivery {
                        /*grid-column: 1 / 3;*/
                        /*border-bottom: 1px solid $c_grey_light;*/
                        margin: 20px 0 0 0;
                        padding: 20px 0;
                        text-transform: none;

                        p {
                            text-align: right;
                            margin: 0;
                        }
                    }

                    .total {
                        background-color: $c_grey_pale;
                        border: 1px solid $c_grey_light;
                        margin: 20px auto;
                        text-transform: capitalize;
                        float: right;

                        @include desktop-small {
                            width: calc(50% - 10px);
                        }

                        .delivery,
                        .tax_wrap .tax_wrap_total,
                        .tax_wrap .tax_wrap_part {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-gap: 10px;
                            border-bottom: 1px solid $c_grey_light;
                            padding: 20px;

                            .subtotal {
                                text-align: right;
                            }

                            @include nogrid {
                                .label_txt, .subtotal {
                                    width: 50%;
                                }
                            }
                        }

                        .tax_wrap .tax_wrap_part {
                            background-color: $c_white;
                            padding: 10px 20px;

                            @include tablet {
                                /*padding: 10px 40px;*/
                            }
                        }


                        .total_figure {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-gap: 10px;
                            margin: 20px 0 20px 0;
                            font-size: 1.4em;
                            font-weight: $fw_body_bold;
                            padding: 0 20px;

                            .fulltotal {
                                text-align: right;
                            }

                            @include nogrid {
                                .label_txt, .fulltotal {
                                    width: 50%;
                                }
                            }
                        }
                    }


                    .flexibuy_history {
                        border-radius: 3px;
                        float: right;
                        margin: 0px 0 20px 0;
                        padding: 10px;
                        background-color: $c_flexibuy;
                        clear: both;

                        @include desktop-small {
                            width: calc(50% - 10px);
                        }

                        a {
                            color: $c_flexibuy;
                        }

                        &__total {
                            color: $c_white;

                            .logo {
                                float: none;
                                width: 150px;
                                margin: 0 auto 10px auto;

                                @include tablet {
                                    float: left;
                                }
                            }

                            .instalments {
                                display: block;
                                text-align: center;
                                clear: both;

                                @include tablet {
                                    float: right;
                                    clear: none;
                                    line-height: 40px;
                                }
                            }
                        }

                        &__total, &__item {
                            text-transform: uppercase;
                        }

                        &__item {
                            color: $c_base;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-gap: 3px;
                            margin-bottom: 3px;
                            text-align: center;

                            div {
                                padding: 10px;
                                background-color: $c_white;
                                font-weight: $fw_body_bold;

                                &.due {
                                    text-align: center;
                                }

                                &.amount {
                                    text-align: center;
                                }

                                &.pending {
                                    /*color: $c_gold;*/
                                }

                                &.failed {
                                    color: $c_bad;
                                }

                                &.paid {
                                    color: $c_good;
                                }

                                button {
                                    width: 100%;

                                    span {
                                        display: none;

                                        @include tablet-small {
                                            display: inline-block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
