﻿@import '../mixins/mixins_compiler.scss';

.darken {
    background-color: rgba(27, 30, 58, 0.5);
    padding: 50px 0 50px 0;
}


.orderstatus_success {

    .thank_you_msg {
        background-color: $c_white;
        @include mw_normal;
        @include clear();
        border-radius: 15px;

        .wrap {
            padding: 20px;

            .divider_line {
                border-top: 2px solid #ed137d;
                width: 50px;
                margin: 0 auto;
                margin-bottom: 20px;
                float: none;
                display: table;
            }

            h1 {
                margin-bottom: 10px;
            }

            p {
                text-align: center;
                margin-bottom: 30px;
            }

            h3 {
                border-bottom: none;
                color: $c_good;
                font-weight: $fw_body_bold;
                text-align: center;
            }

            .button {
                max-width: 300px;
                margin: 0 auto;
            }
        }
    }

    .product {
        margin-top: 20px;

        .product_row {
            border: 1px solid $c_grey_light;
            display: grid;
            grid-template-columns: 75px auto;
            grid-template-areas: "img name" "img status" "img qty" "img price";
            grid-column-gap: 20px;
            padding: 10px;
            width: 100%;

            @include tablet {
                display: grid;
                grid-template-columns: 90px 200px;
                grid-template-areas: "img name price" "img status qty";
            }

            @include desktop {
                grid-template-columns: 100px auto 100px 100px 100px;
                grid-template-rows: 1fr;
                grid-template-areas: "img name status qty price";
                padding: 20px;
                grid-gap: 15px;
            }

            &:nth-of-type(1) {
                border-top: 1px solid $c_grey_light;
            }

            &:nth-of-type(odd) {
                background-color: $c_grey_pale;
            }

            .img {
                grid-area: img;

                @include tablet {
                    width: 100%;
                }

                img {
                    border: 1px solid $c_grey;
                }
            }

            .name {
                grid-area: name;

                h4 {
                    font-size: 1em;
                    line-height: 1.4em;
                    text-transform: none;
                    border: none;
                    margin: 0;
                    width: calc(100% - 20px);

                    @include tablet-small {
                        width: 100%;
                    }

                    &.title {
                        grid-area: title;
                        padding: 0;
                        max-height: 2.8em; /*to limit the lenth of titles*/
                        overflow: hidden;
                    }
                }

                .sku {
                    grid-area: sku;
                    text-align: left;
                }

                .download {
                    display: none;

                    a {
                        font-weight: $fw_body_bold;
                    }
                }
            }

            .summary_label {
                text-transform: uppercase;
            }

            .status {
                grid-area: status;
                display: none;

                .status_text_processing {
                    font-weight: $fw_heading_bold;
                    color: $c_grey;
                }
            }

            .qty {
                grid-area: qty;
                text-transform: uppercase;


                @include tablet {
                    text-align: right;
                }

                .figure {
                    font-weight: $fw_body_bold;
                }
            }

            .price_wrap {
                grid-area: price;

                .price {
                    text-align: left;
                    margin-bottom: 5px;

                    .was {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #808080;
                        margin-left: 5px;
                        font-weight: $fw_body_bold;
                    }

                    @include tablet-small {
                        span {
                            float: right;
                            clear: both;
                        }
                    }

                    @include desktop {
                        .now {
                            font-size: 1.1em;
                        }
                    }
                }
            }

            .use_flexibuy {
                background-color: $c_flexibuy;
                color: $c_white;
                padding: 6px;
                border-radius: 5px;
                height: 40px;
                width: 120px;
                clear: none;

                @include desktop {
                    width: 100%;
                    height: 40px;
                }

                label {
                    line-height: 28px;
                    margin-bottom: 0;
                }
            }
        }

        .flexibuy_info {
            background-color: $c_flexibuy;
            color: $c_white;
            width: 100%;
            display: block;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            padding: 5px;

            .paid_at_order {
                @include tablet {
                    width: 50%;
                }
            }

            .paid_already {
                text-align: left;

                @include tablet {
                    float: right;
                    width: 50%;
                    text-align: right;
                }
            }

            span.date, span.figure {
                font-weight: $fw_body_bold;
            }
        }
    }

    .customer_order {
        background-color: $c_white;
        @include mw_normal;
        @include clear();
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 15px;

        .wrap {
            padding: 20px;

            .address {
                margin-bottom: 40px;
                display: grid;
                grid-row-gap: 20px;

                @include tablet-small {
                    grid-template-columns: 1fr 1fr;
                    grid-row-gap: 0px;
                    grid-column-gap: 20px;
                }
            }

            .box_wrap {
                border: 1px solid #ccc;
                margin-top: 20px;

                h6 {
                    margin: -8px 0 0 10px;
                    padding: 0 10px;
                    background-color: white;
                    width: auto;
                }

                .inner_wrap {
                    padding: 20px;

                    span {
                        float: left;
                        clear: both;
                    }

                    button {
                        background: transparent;
                        border: none;
                        color: $c_main;
                        text-transform: none;
                        font-size: 1em;
                        padding: 0;
                        text-decoration: underline;
                        margin: 0;
                        line-height: 2em;
                        margin-top: 10px;
                        float: left;

                        &.inner {
                            &__add {
                                clear: none;
                                padding-left: 10px;
                                margin-left: 10px;
                                border-left: 1px solid $c_grey_light;
                                @include corner-none();
                            }
                        }
                    }
                }
            }

            .product {

                .summary_product {

                    &:nth-of-type(1) {
                        border-top: 1px solid $c_grey_light;
                    }

                    &:nth-of-type(odd) {
                        background-color: $c_grey_pale;
                    }
                }

                .flexibuy_info {
                    display: none;
                }
            }

            .information {
                .TC_flexi {
                    text-align: right;
                    margin-top: 10px;
                    margin-bottom: -20px;
                }

                .about_flexi {
                    text-align: right;
                    color: $c_base;
                    font-size: 0.8em;
                }

                .flexiorder_wrap {
                    background-color: $c_flexibuy;
                    padding: 10px 10px 4px 10px;
                    max-width: 600px;
                    margin-top: 30px;
                    float: right;

                    .header {
                        .logo {
                            width: 211.16px;
                            margin: 0 auto 5px auto;
                            float: none;

                            @include tablet {
                                float: left;
                            }
                        }

                        .check {
                            margin: auto;
                            line-height: 28px;
                            text-align: center;
                            display: inline-block;
                            float: none;

                            @include tablet {
                                float: right;
                                width: auto;
                                line-height: 40px;
                            }
                        }

                        .styled-checkbox {
                            & + label {
                                margin: 0 40px 6px 0;
                                color: $c_white;
                                float: none;
                                width: auto;
                            }

                            & + label:before {
                                background-color: #ffffff;
                                right: -50px;

                                @include tablet {
                                    margin-top: 6px;
                                }
                            }

                            &:checked + label:before {
                                background-color: $c_flexibuy_dark;
                            }
                        }
                    }

                    .fob_instalment {
                        &__wrap {
                            margin: 0 0 6px 0;
                        }

                        &__row {
                            display: grid;
                            grid-template-columns: auto 90px;
                            grid-gap: 3px;
                            margin-bottom: 3px;

                            &:nth-last-child(1) {
                                margin: 0;
                            }
                        }

                        &__title {
                            background-color: $c_white;
                            padding: 10px;
                        }

                        &__amount {
                            padding: 10px;
                            background-color: $c_white;
                        }
                    }
                }


                .total {
                    text-transform: capitalize;
                    max-width: 600px;
                    float: right;
                    margin: auto;
                    margin-top: 30px;

                    .delivery {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 10px;
                        margin: 20px 0 10px 0;
                        color: $c_grey;
                        border-top: 1px solid $c_grey_light;
                        border-bottom: 1px solid $c_grey_light;
                        padding: 20px 0 20px 0;

                        .subtotal {
                            text-align: right;
                        }
                    }

                    .total_figure {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 10px;
                        margin: 20px 0 20px 0;
                        font-size: 1.4em;
                        font-weight: $fw_body_bold;

                        .fulltotal {
                            text-align: right;
                        }
                    }
                }


                .flexibuy {
                    color: $c_flexibuy;
                    border-radius: 3px;
                    max-width: 400px;
                    float: right;
                    margin: 0px 0 20px 0;

                    a {
                        color: #000;
                    }
                }
            }

            .links {
                float: right;
                max-width: 640px;

                .wrap {
                    max-width: 700px;
                    margin: 0 auto;
                    float: none;

                    @include tablet {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 20px;
                    }

                    .shopping .account {
                        float: none;
                    }

                    .shopping {
                        .button {
                            background-color: $c_grey;
                            color: #000;
                            border: none;

                            &:hover {
                                background-color: $c_main_dark;
                                color: $c_white;
                            }
                        }
                    }

                    .button {
                        float: none;
                    }
                }
            }
        }
    }
}

.orderstatus_failed {

    @include corner-large;
    @include mw_normal;
    @include clear;
    background-color: $c_white;
    padding: 40px;

    .inner {


        .code {
            font-weight: 400;
            line-height: 1em;
            margin: 10px;
        }

        .message {
            text-align: center;
            padding-bottom: 30px;
        }



        .links {
            @include mw_small;


            .button {
                background-color: $c_white;
                color: $c_base;
                border-color: $c_base;
            }
        }
    }
}
