﻿@import '../mixins/mixins_compiler.scss';





.lp_error_msg {
    background-color: #ffd0d0;
    color: $c_bad;
    border: 1px solid $c_bad;
    padding: 5px;
    margin-top: 5px;
}

.error input {
    border: 1px solid red;
    background-color: #fff3f3;
}

.about_template {
    /* #region -- BASE -- */
    padding-bottom: 0;

    * {
        width: 100%;
        float: left;
    }

    figure {
        margin: 0;
    }

    .clear {
        float: none;
    }

    .owl-carousel .owl-dots * {
        width: auto;
        float: none;
    }

    .mw1200 {
        /*float: none;
        max-width: 1200px;*/
        max-width: auto;
        margin: 0 auto;

        .content_type_wrap {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            float: none;
            @include clear();
            /*@include tablet {
                padding: 20px;
            }*/
            &.ct_product_list {
                max-width: 100%;
                padding: 0px 10px;

                @include tablet {
                    padding: 0px 20px;
                }

                img {
                    width: 100%;

                    &.freedom_sash,
                    &.flexi_sash,
                    &.flexibuy_sash {
                        width: 35%;
                    }
                }
            }
        }
    }


    img {
        width: auto;
        float: none;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    section {
        border-top: 1px solid;
        border-bottom: 1px solid;
        background-position: center;
        background-size: cover;

        &.pad_top_none {
            padding-top: 0;
        }

        &.pad_top_normal {
            padding-top: 50px;
        }

        &.pad_top_wide {
            padding-top: 50px;
        }

        &.pad_bot_none {
            padding-bottom: 0;
        }

        &.pad_bot_normal {
            padding-bottom: 50px;
        }

        &.pad_bot_wide {
            padding-bottom: 50px;
        }

        @include tablet {
            &.pad_top_none {
                padding-top: 0;
            }

            &.pad_top_normal {
                padding-top: 100px;
            }

            &.pad_top_wide {
                padding-top: 200px;
            }

            &.pad_bot_none {
                padding-bottom: 0;
            }

            &.pad_bot_normal {
                padding-bottom: 100px;
            }

            &.pad_bot_wide {
                padding-bottom: 200px;
            }
        }
    }
    /* #endregion -- BASE -- */
    /* #region -- TYPOGRAPHY -- */
    h1 {
        margin-bottom: 0em;

        @include desktop-small {
            font-size: 4em;
        }
    }

    h2 {
        font-size: 1.5em;
        line-height: 1em;
        font-weight: $fw_heading_bold;
        font-family: $f_heading;
        text-transform: uppercase;
        margin: 0;
        padding: 0;

        @include tablet {
            font-size: 2.8em;
        }

        @include desktop-small {
        }
    }

    p.intro {
        font-family: $f_body;
        font-size: 1em;
        margin-bottom: 1.5em;

        @include tablet {
            font-size: 1.1em;
        }

        @include desktop-small {
            font-size: 1.2em;
        }
    }

    .ct_intro {
        padding: 0 20px;
    }

    .ct_pagetitle {
        padding: 0 20px;
    }

    .ct_body {
        padding: 0 20px;

        *, .ct_intro * {
            display: inline-block;
            width: auto;
            float: none;
        }


        h1, h2, h3, h4, h5, h6 {
            width: 100%;
            float: left;
            text-align: left;
        }

        p, ul, li, ol {
            width: 100%;
            float: left;
        }

        ul {
            margin-left: 40px;
            margin-bottom: 2em;
            width: calc(100% - 40px);

            li {
                list-style-type: square;
                display: list-item;
            }
        }

        ol {
            margin-left: 40px;
            margin-bottom: 2em;
            padding: 0;

            li {
                text-align: left;
                list-style-type: decimal;
                display: list-item;
            }
        }

        .morecontent {
            margin-bottom: 1.5em;

            span {
                display: none;
            }
        }

        .moreellipses {
            display: none !important;
        }
    }

    .button {
        margin-bottom: 3em;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        float: none;

        &:hover {
            border: 1px solid $c_main_dark;
            background-color: $c_main_dark;
            color: $c_white;
        }
    }

    button.info_button {
        margin: 0 auto 0.8rem auto;
        width: auto;
        background-color: $c_grey_light;
    }

    a:hover {
        border: none;
    }

    figcaption {
        font-size: 12px;
        line-height: 1.2em;
        padding: 6px 0;

        &:empty {
            padding: 0;
        }
    }

    .ct_contents ul {
        margin: 0;

        li {
            list-style-type: none;
            padding: 9px 12px;
            margin: 0 0 -1px 0;
            border-top: 1px solid #ccc;
            float: left;

            &:nth-child(1) {
                border: none;
            }

            @include tablet {
                width: calc(50% - 10px);

                &:nth-child(2) {
                    border: none;
                }

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    border-bottom: 1px solid #ccc;
                }

                &:nth-child(even) {
                    float: right;
                }

                &:nth-child(odd) {
                    clear: both;
                }
            }
        }
    }

    .mar_bot_none {
        margin-bottom: 0;
    }

    .mar_bot_normal {
        margin-bottom: 1em;
    }

    .mar_bot_large {
        margin-bottom: 2em;
    }
    /* #endregion -- TYPOGRAPHY -- */
    /* #region -- IMAGES -- */
    .ct_image_single,
    .ct_image_grid,
    .ct_image_carousel {
        margin-bottom: 3em;
    }

    .ct_image_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        @include tablet {
            grid-gap: 20px;
        }

        @include desktop-small {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }

        .img_wrap {
            width: 31.33%;
            margin: 1%;
        }
    }
    /* #endregion -- IMAGES -- */
    /* #region -- VIDEOS -- */
    .ct_video_single,
    .ct_video_grid,
    .ct_video_carousel {
        margin-bottom: 3em;
    }
    /* #endregion -- VIDEOS -- */
    /* #region -- OWL CAROUSEL -- */
    .ct_carousel {
        width: calc(100% - 80px);
        margin-left: 40px;

        @include tablet {
            width: calc(100% - 110px);
            margin-left: 55px;
        }

        @media (min-width: 1310px) {
            width: 100%;
            margin-left: 0px;
        }

        .owl-theme {

            .owl-nav [class*='owl-'] {
                position: absolute;
                height: calc(100% - 25px) !important;
                width: 34px !important;
                top: -2px;
                display: block !important;
                background-repeat: no-repeat !important;
                background-position: center !important;
                opacity: 0.8;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                background-color: #a9a9a9 !important;
            }

            .owl-nav {
                margin: 0 !important;

                .owl-prev {
                    left: -42px;
                    background-image: url(https://hoch.media/elements/icons/icons_arrow-left-white.svg);

                    @include tablet {
                        left: -54.5px;
                    }
                }

                .owl-next {
                    right: -42px;
                    background-image: url(https://hoch.media/elements/icons/icons_arrow-right-white.svg);

                    @include tablet {
                        right: -54.5px;
                    }
                }

                .disabled {
                    opacity: 0.2;
                }
            }

            .owl-dots {
                line-height: 1em;
                margin-top: 5px;

                .owl-dot span {
                    height: 10px;
                    margin: 5px 5px 3px 5px;
                }
            }
        }
    }
    /* #endregion -- OWL CAROUSEL -- */
    /* #region -- PRODUCT -- */
    .ct_product_grid *,
    .ct_product_carousel * {
        float: none;

        .owl-item {
            float: left;
        }
    }

    .ct_product_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        @include tablet {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
        }

        @include desktop {
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 20px;
        }

        .product_wrap {
            width: 14.6%;
            margin: 1%;
            float: left;
        }
    }

    .product_wrap {
        a {
            position: relative;
        }

        .freedom_sash, .flexi_sash, .flexibuy_sash {
            position: absolute;
            top: 0;
            width: 35%;
            max-width: 140px;
        }

        .freedom_sash {
            left: 0;
        }

        .flexi_sash, .flexibuy_sash {
            right: 0;
        }

        h5 {
            font-size: 1em;
            line-height: 1.5em;
            height: 3em;
            overflow-y: hidden;
            border: none;
            margin: 0.8rem 0 0 0;
            padding: 0;
            text-transform: initial;
            color: #000000;
            text-align: center;
            word-wrap: break-word;
            /*text-overflow: ellipsis;*/
        }

        .product_code {
            text-align: center;
            color: $c_grey;
            font-weight: $fw_body_bold;
            font-size: 0.8em;
            float: left;
            margin: 0;
        }
    }

    .ct_product_list {
        a {
            float: left;

            &.product_title h5 {
                line-height: 1.4em;
                height: 2.8em;
            }
        }


        .small_stars .grey_stars {
            float: right;
        }

        .ct_product_list .price {
            @include tablet {
                font-size: 1.5em;
            }

            span {
                width: auto;
            }
        }
    }

    .ct_product_carousel {
        width: 100%;
        margin-left: 0px;

        @include tablet {
            .ct_product_carousel {
                width: calc(100% - 110px);
                margin-left: 55px;

                .owl-theme .owl-nav {
                    .owl-prev {
                        left: -54.5px;
                    }

                    .owl-next {
                        right: -54.5px;
                    }
                }
            }
        }

        @media (min-width: 1310px) {
            width: 100%;
            margin-left: 0px;
        }

        a.button {
            margin-bottom: 0;
        }
    }
    /* ###### SMALL STARS (PRODUCT LISTING PAGE) ###### */
    .featurOnAirItem .product_image {
        position: relative;
    }

    .ratings_wrap {
        width: 82px;

        .grey_stars {
            margin-right: 0;
        }
    }

    .pagination_btm_position {
        width: 100%;
    }

    .pagination_wrap.filter_item.pag_btm {
        margin: 0 auto;
        text-align: center;
        float: none !important;
    }
    /* ###### :END: SMALL STARS (PRODUCT LISTING PAGE) ###### */
    .quick_look {
        width: auto;
        margin: 0 auto 0.8rem auto;

        &:hover,
        &:focus {
            background-color: $c_grey_light;
        }
    }

    .add_to_basket {
        span {
            display: none;

            &.text {
                display: block;
            }
        }
    }

    p.price span {
        width: auto;
        float: none;
    }

    .grid {
        &.productGrid {
            border-top: 1px solid #d9d9d9;
            border-left: 1px solid #d9d9d9;
            border-bottom: none;
            padding: 0;
        }

        .product_card {
            height: 100%;
        }
    }



    .salesEvent {
    }
    /* #endregion -- PRODUCT -- */
    /* #region -- EXTRAS -- */
    .ct_line {
        border-bottom: 1px;
        margin-bottom: 30px;
    }

    .ct_addthis * {
        width: auto;
        float: none;
    }

    .addthis_toolbox.addthis_default_style {
        display: inline-block;
    }

    .ct_countdown {
        &_timer {
            margin-bottom: 3em;

            #ct_countdown_timer {
                font-size: 2em;
                line-height: 1em;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                text-transform: capitalize;

                @include tablet {
                    font-size: 4em;
                }

                @include desktop-small {
                    font-size: 5em;
                }
            }
        }

        &_item,
        &_sep {
            width: auto;
            float: none;
            display: inline-block;
            text-align: center;
        }

        &_lbl {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
    }

    p#ct_countdown_exp_msg_txt {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: normal;

        &:empty {
            margin: 0;
        }
    }
    /* #endregion -- EXTRAS -- */
    /* #region -- FORM -- */
    .form_section {
        text-align: left;
        margin: 0 auto;
        float: none;
        clear: both;
        padding: 20px;
        border: 1px solid transparent;
        @include clear();

        .content_type_wrap {
            margin-bottom: 20px;

            &.ct_form_button_submit {
                text-align: center;
                margin-bottom: 0;
            }
        }

        input {
            line-height: 44px;
            padding-left: 10px;

            &[type=range] {
                padding-left: 0px;
            }
        }


        label {
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
        }

        fieldset label {
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            text-transform: initial;
        }
    }
    /* #region ########## SLIDER ########## */
    .ratingslider {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        background: #d3d3d3;
        outline: none;
        opacity: 1;
        -webkit-transition: .2s;
        transition: opacity .2s;
        @include corner();
        margin: 20px 0;
    }

        .ratingslider:hover {
            opacity: 1;
        }

        .ratingslider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 40px;
            height: 40px;
            background: #ed137d;
            border: 1px solid #A01D5D;
            cursor: pointer;
            @include corner-round();
            @include shadow-large();
        }

        .ratingslider::-moz-range-thumb {
            width: 40px;
            height: 40px;
            background: #ed137d;
            border: 1px solid #A01D5D;
            cursor: pointer;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        }
    /* #endregion ########## SLIDER ########## */
    .ct_form_slidecontainer {
        span {
            width: auto;
        }

        .ct_rating_wrap {
            float: right;
            font-size: 2em;
        }

        input[type]:not([type=button]):not([type=submit]) {
            &:focus, &:hover, &:active {
                border-left-width: 1px;
            }
        }
    }
    /* #region ########## css-checkbox ########## */
    .content_type_wrap {
        input {
            &[type=checkbox].css-checkbox + label {
                margin: 0;
                line-height: 40px;
                padding-left: 30px;
            }

            &[type=checkbox].css-checkbox,
            &[type=radio].css-checkbox {
                width: 10%;
            }
        }

        .checkbox-custom {
            opacity: 0;
            position: absolute;

            + .checkbox-custom-label:before {
                content: '';
                background: #fff;
                border: 1px solid #b3b3b3;
                display: inline-block;
                vertical-align: middle;
                width: 30px;
                height: 30px;
                padding: 2px;
                margin-right: 10px;
                text-align: center;
                line-height: 20px;
                margin-left: -30px;
            }

            &:checked + .checkbox-custom-label:before {
                background: #ed137d;
                color: #fff;
                border: none;
                background-image: url(https://hoch.media/elements/icons/icons_tick-white.svg) !important;
                background-repeat: no-repeat;
            }
        }
    }
        /* #endregion ########## css-checkbox ########## */
        /* #region ########## css-radio ########## */
        .content_type_wrap input[type=radio].css-checkbox + label {
            margin: 0;
            line-height: 40px;
            padding-left: 30px;
        }

        .content_type_wrap.ct_form_radioinput .checkbox-custom + .checkbox-custom-label:before {
            content: '';
            background: #fff;
            border: 6px solid #fff;
            display: inline-block;
            vertical-align: middle;
            width: 28px;
            height: 28px;
            padding: 2px;
            margin-right: 10px;
            text-align: center;
            line-height: 20px;
            margin-left: -29px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: 0px 0px 0px 1px rgba(179,179,179,1);
            -moz-box-shadow: 0px 0px 0px 1px rgba(179,179,179,1);
            box-shadow: 0px 0px 0px 1px rgba(179,179,179,1);
        }

        .content_type_wrap.ct_form_radioinput .checkbox-custom:checked + .checkbox-custom-label:before {
            background: #ed137d;
            color: #fff;
            /*border: 1px solid #fff;*/
            background-image: none !important;
            background-repeat: no-repeat;
        }
    /* #endregion ########## css-radio ########## */
    a.button.landingPageFormSubmitButton {
        margin-bottom: 0;
    }
    /* #endregion -- FORM -- */
    @supports (display: grid) {
        .ct_product_grid .product_wrap,
        .ct_image_grid .img_wrap {
            width: 100%;
            margin: 0;
        }
    }
    /*fixes*/
    .loader {
        width: 80px;
        float: none;
    }

    .toggle {
        &__label {
            @include tablet {
                width: auto;
            }
        }

        &__switch {
            width: 68px;
        }
    }

    section.product_filter,
    section.product_filter_sub {
        border: none;
    }

    .filter {
        &__toggle {
            width: calc(100% - 20px);
        }

        &__btn {
            span {
                width: auto;
                display: inline-block;
                float: none;
                line-height: 1em;
            }
        }

        &__item {
            @include tablet {
                width: 25%;
            }
        }

        &__clear {
            width: auto;
        }

        &__per_page {
            width: auto;
            float: right;
        }

        &__list {
            @include tablet {
                top: 40px;
            }

            ul {
                li {
                    label.checkbox-custom-label {
                        line-height: 1.4em;

                        .name {
                            line-height: 1.4em;

                            &__parent {
                                line-height: 1.4em;
                            }
                        }
                    }
                }
            }



            input[type=checkbox].css-checkbox + label.checkbox-custom-label {
                padding-left: 38px;
            }

            .checkbox-custom + .checkbox-custom-label:before {
                content: '';
                position: absolute;
                left: 7px;
                top: 8px;
                width: 20px;
                height: 20px;
                background: #fff;
                border: 1px solid #b3b3b3;
                display: inline-block;
                vertical-align: middle;
                line-height: 20px;
                margin: 0 10px 0 0;
                padding: 2px;
                text-align: center;
            }
        }
    }

    .pagination {

        &__container {
            border: none;
        }

        &__wrap {
            float: none;
        }
    }



    .table-container {
        display: block;
        float: left;
        width: 100%;
    }

    table {


        &.delivery-table {
            border-spacing: 0;
            border: 1px solid;
            margin-bottom: 30px;
            display: block;
            float: left;
            width: 100%;

            thead th {
                padding: 3px;
                color: #fff;
                text-align: center;
                border-bottom: none;
            }

            tbody {
                display: block;
                float: left;
                width: 100%;
            }

            tr {
                display: block;
                float: left;
                width: 100%;
            }

            td {
                width: 33%;
                border-right: 1px solid #ccc;
                border-bottom: none;
                padding: 10px 3px;
                text-align: center;
                display: block;
                float: left;

                &:nth-child(3n+3) {
                    border-right: none;
                }

                ul {
                    padding: 0;
                    margin-bottom: 0;

                    li {
                        margin: 0;
                        text-align: left;
                    }
                }
            }

            tr:nth-child(2n+1) {
                background-color: rgba(255,255,255,0.7);
            }
        }

        &.twocol-table {
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid;
            margin-bottom: 30px;

            thead th {
                padding: 3px;
                background-color: #ed137d !important;
                color: #fff;
                text-align: center;
                border-bottom: none;
            }

            td {
                border: 1px solid black;
                width: 33%;
                /*border-right: 1px solid #ccc;*/
                border-bottom: none;
                padding: 10px 3px;
                text-align: center;

                @include clear;

                &:nth-child(3n+3) {
                    border-right: none;
                }

                ul {
                    padding: 0;
                    margin-bottom: 0;

                    li {
                        margin: 0;
                        text-align: left;
                    }
                }
            }

            tr:nth-child(2n+1) {
                background-color: rgba(255,255,255,0.7);
            }
        }
    }
}
