﻿@import '../mixins/mixins_compiler.scss';


@-webkit-keyframes readyPulse {
    from {
        @include shadow-custom(0,0,9px,2px,$c_white);
    }

    50% {
        @include shadow-custom(0, 0, 20px, 10px, transparent);
    }

    to {
        @include shadow-custom(0, 0, 9px, 2px, $c_white);
    }
}

@-webkit-keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.pick_mix_header {
    &.complete {
        .progress_bar {
            .bar {
                background-color: $c_good;
            }

            &_icon {
                .icon {
                    background-color: $c_good;
                    text-indent: -9999px;
                    background-image: url(https://www.hoch.media/web-assets/icons/icons_tick-white.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }

        .instruction {
            a.button {
                border: 1px solid $c_white;
                background-color: $c_main;
                -webkit-animation-name: readyPulse;
                -webkit-animation-duration: 2s;
                -webkit-animation-iteration-count: infinite;

                &:hover {
                    background-color: $c_main_dark;
                    cursor: pointer;
                }
            }
        }
    }

    .hero_wrap {
        background-repeat: no-repeat;
        background-size: cover;

        .hero {
            width: 100%;
            padding: 20px;

            @include desktop {
                padding-top: 80px;
                padding-bottom: 80px;
            }

            .introduction {
                @include mw_large;
                @include clear ();
                @include shadow();
                @include corner-large();
                display: block;
                float: none;
                margin: 0 auto;
                padding: 12px;
                background-color: rgba(255, 255, 255, 0.97);


                .fav_wrap {
                    margin-bottom: 16px;

                    .notfavourite, .favourite {
                        background-image: url(https://www.hoch.media/web-assets/icons/favourites-lined-grey.svg);
                        background-repeat: no-repeat;
                        background-position: left 10px center;
                        background-size: 20px;
                        text-align: center;
                        display: inline-block;
                        background-color: $c_white;
                        color: $c_base;
                        border: 1px solid $c_favourites_dark;
                        padding: 0 20px 0 40px;
                        line-height: 40px;
                        @include corner();

                        &:hover {
                            color: $c_base;
                            background-image: url(https://www.hoch.media/web-assets/icons/favourites-grey.svg);
                            opacity: 0.9;
                        }
                    }

                    .favourite {
                        background-image: url(https://www.hoch.media/web-assets/icons/favourites-pink.svg);
                    }
                }

                .sku {
                    width: 100%;
                    text-align: center;
                    margin: 0px 0 0em 0;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 0.9em;
                    letter-spacing: 1px;
                }

                h1 {
                    margin: 0px auto;
                    padding: 0;
                    text-transform: capitalize;
                }

                .price {
                    margin: 0px 0 10px 0;
                    display: block;
                    font-size: 3em;
                    font-weight: $fw_heading_bold;
                    color: $c_main;
                    padding: 0px 0 0px 0px;
                    text-align: center;
                    clear: both;
                    @include clear();

                    .was {
                        font-weight: $fw_heading_light;
                        font-size: 1.3rem;
                        color: $c_base;
                        text-decoration: line-through;
                    }
                }

                .star_rating_wrap {
                    margin: 0 auto;
                    float: none;
                    display: block;
                    max-width: 150px;

                    .grey_stars {
                        width: 20%;
                        height: 20px;
                        width: 110px;
                        display: inline-block;
                        height: 20px;
                        margin-right: 10px;
                        background-image: url(https://www.hoch.media/elements/icons.png);
                        background-position: -219px -204px;

                        .gold_stars {
                            display: block;
                            float: left;
                            height: 23px;
                            background-image: url('https://www.hoch.media/elements/icons.png');
                            background-position: -219px -228px;
                        }

                        span.number {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }

    .instruction {
        border-top: 1px solid $c_grey_light;
        border-bottom: 1px solid $c_grey_light;
        font-size: 1.3em;
        width: 100%;
        margin: 0 auto;
        @include gradient($c_purple, 0%, $c_light_blue, 100%, 45deg);
        text-align: center;
        color: $c_white;
        float: none;
        padding: 20px 0;
        @include clear();

        .instruction_wrap {
            @include mw_medium ();


            .message {

                @include tablet {
                    padding-top: 5px;
                    width: 48%;
                }
            }

            .add_items {
                margin-top: 10px;

                @include tablet {
                    margin-top: 0px;
                    width: 48%;
                }
            }
        }

        a.button {
            border: 1px solid $c_white;
            background-color: $c_grey;
            width: 300px;
            margin: 0 auto;
            line-height: 37px;
            height: 38px;

            &:hover {
                background-color: $c_grey;
                cursor: default;
            }
        }
    }

    .progress_bar {
        height: 8px;
        background-color: $c_white;
        @include shadow ();

        .bar {
            height: 8px;
            background-color: $c_main;
        }

        &_icon {
            padding: 0 22px;
            width: calc(100% - 22px);
            top: -7px;
            position: relative;

            .icon {
                position: absolute;
                height: 22px;
                width: 22px;
                line-height: 19px;
                background-color: $c_main;
                border-radius: 50%;
                z-index: 5;
                margin-top: -7px;
                color: $c_white;
                text-align: center;
                border: 1px solid $c_white;
                font-size: 11px;
            }
        }
    }
}

.pick_mix {
    padding: 10px;

    .list {
        margin-top: 30px;

        .product_card {
            .details_wrap {

                h3.variation_name {
                    margin-bottom: -8px;
                    margin-top: 10px;
                }

                .picker {
                    display: grid;
                    grid-template-columns: 40px auto 40px;

                    @include tablet {
                        grid-template-columns: 50px auto 50px;
                    }

                    button.minus_btn,
                    button.plus_btn,
                    .number {
                        margin-bottom: 0px;
                        background-color: $c_head;
                        background-position: center;
                        clear: none;
                        line-height: 40px;
                        float: left;
                        text-align: center;

                        @include tablet {
                            line-height: 50px;
                        }

                        &.inactive {
                            background-color: $c_grey_light;
                        }
                    }

                    button.minus_btn {
                        background-image: url(https://hoch.media/web-assets/icons/icons_minus-white.svg);
                    }

                    .number {
                        background-color: $c_white;
                    }

                    button.plus_btn {
                        background-image: url(https://hoch.media/web-assets/icons/icons_plus-white.svg);
                    }
                }
            }
        }
    }
}


#stickyBar.sticky {
    /*position: -webkit-sticky;
    position: sticky;*/
    position: fixed;
    display: block;
    top: 0;
    z-index: 6;
    background-color: yellow;
    -webkit-animation-name: reveal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: reveal;
}

.transparent {
    -webkit-animation-name: fadeOut;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: fadeOut;
    opacity: 0;
}
