﻿@import '../mixins/mixins_compiler.scss';

.product {


    .container {
        background-color: $c_white;
        max-width: 100%;
        padding: 20px;
        margin: 0 0 30px 0;
        @include shadow();
        @include clear();
    }

    .pick_mix_header {
        .breadcrumbs {
            ul.breadcrumb {
                text-align: center;
                display: block;
            }
        }
    }

    .breadcrumbs {
        background-color: transparent;

        ul.breadcrumb {
            padding: 10px;
            list-style: none;
            background-color: transparent;
            margin: 0;
            @include mw_normal();
            @include clear ();

            li {
                display: inline;
                font-size: 12px;
                float: none;
                width: auto;
                text-transform: uppercase;
                margin: 0;

                &:not(:first-child):before {
                    padding: 8px;
                    color: $c_base;
                    content: "/";
                }

                a {
                    color: $c_grey;
                    text-decoration: none;
                    display: inline-block;
                    margin: 0;

                    &:hover {
                        color: $c_base;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .hero {
        @include mw_normal();
        @include clear ();

        .image_wrap {
            height: auto;
            position: relative;
            border: 1px solid $c_grey_light;
            @include clear ();

            @include tablet {
                width: 48%;
                float: left;
            }

            .image {
                position: relative;
                overflow: visible;
            }


            .owl-nav {
                margin: 0;

                .owl-prev,
                .owl-next {
                    margin-top: 50%;
                    margin-left: 2px;
                    margin-right: 2px;
                    height: 80px;
                    width: 40px;
                    background-color: $c_grey;
                    top: calc(50% - 40px);
                    display: block;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    border: none;
                    opacity: 0.8;

                    span {
                        display: none;
                    }

                    &:hover {
                        background-color: $c_white;
                    }

                    &:active {
                        transform: scale(1);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .owl-prev {
                    left: -1px;
                    background-image: url(https://hoch.media/web-assets/icons/icons_arrow-left-black.svg);
                    -webkit-border-top-right-radius: 80px;
                    -webkit-border-bottom-right-radius: 80px;
                    -moz-border-radius-topright: 80px;
                    -moz-border-radius-bottomright: 80px;
                    border-top-right-radius: 80px;
                    border-bottom-right-radius: 80px;
                }

                .owl-next {
                    right: -1px;
                    background-image: url(https://hoch.media/web-assets/icons/icons_arrow-right-black.svg);
                    -webkit-border-top-left-radius: 80px;
                    -webkit-border-bottom-left-radius: 80px;
                    -moz-border-radius-topleft: 80px;
                    -moz-border-radius-bottomleft: 80px;
                    border-top-left-radius: 80px;
                    border-bottom-left-radius: 80px;
                }
            }

            .flexi_sash,
            .freedom_sash {
                width: 30%;
                position: absolute;
                max-width: 90px;
                z-index: 1;
                top: 0px;
            }

            .flexi_sash {
                right: 0px;
            }

            .freedom_sash {
                left: 0px;
            }
        }


        .details {
            @include tablet {
                width: 48%;
                float: right;
            }

            @include desktop {
                padding: 25px 0px 0px 20px;
            }

            .sku {
                width: 100%;
                text-align: center;
                margin: 0px 0 0em 0;
                text-transform: uppercase;
                font-weight: $fw_body_light;
                font-size: 0.9em;
                letter-spacing: 1px;

                @include tablet {
                    text-align: left;
                }
            }

            .name {
                width: 100%;
                text-align: center;
                text-transform: capitalize;
                line-height: 1.5em;
                font-size: 1.4em;
                border-bottom: none;
                font-weight: $fw_heading_light;

                @include tablet {
                    text-align: left;
                }
            }

            .star_rating_wrap {
                .grey_stars {
                    width: 20%;
                    height: 20px;
                    width: 110px;
                    display: inline-block;
                    height: 23px;
                    float: left;
                    margin-right: 10px;
                    background-image: url(https://www.hoch.media/elements/icons.png);
                    background-position: -219px -204px;

                    .gold_stars {
                        display: block;
                        float: left;
                        height: 23px;
                        background-image: url('https://www.hoch.media/elements/icons.png');
                        background-position: -219px -228px;
                    }
                }
            }

            .fav_wrap {
                margin-top: 20px;
                text-align: left;
            }

            .price {
                margin: 25px 0 30px 0;
                display: block;
                font-size: 2.8em;
                font-weight: $fw_heading_bold;
                color: $c_main;
                padding: 28px 0 25px 0px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                text-align: left;


                .was {
                    font-weight: $fw_heading_light;
                    font-size: 1.3rem;
                    color: $c_base;
                    text-decoration: line-through;

                    @include tablet {
                        text-align: left;
                    }
                }
            }

            .offers {
                .freedom {
                    color: $c_freedom;
                }

                .flexibuy {
                    color: $c_flexibuy;
                    float: left;
                }
            }

            .basket_cta {
                margin-top: 20px;
                margin-bottom: 15px;
                max-width: 300px;
            }


            .full_page {

                a {
                    line-height: 2em;
                    color: $c_head_dark;
                    border-bottom: 1px solid #ccc;
                    width: auto;
                    max-width: 300px;
                    display: block;
                    float: left;
                    @include clear ();

                    &:hover {
                        text-decoration: none;
                        border-bottom: 1px solid $c_main;
                    }
                }
            }
        }


        .photoswipe_button {
            position: absolute;
            z-index: 90;
            display: block;
            float: left;
            bottom: 1px;
            right: 1px;
            margin: 0;
            width: 55px;
            height: 55px;
            border-radius: 0px;
            border: none;
            background-image: url(https://hoch.media/web-assets/icons/zoom_black.svg);
            background-repeat: no-repeat;
            background-position: 10px 10px;
            background-size: 45px;
            text-indent: -9999px;
            background-color: $c_grey;
            opacity: 0.8;
            -webkit-border-top-left-radius: 80px;
            -moz-border-radius-topleft: 80px;
            border-top-left-radius: 80px;

            @include tablet {
                width: 65px;
                height: 65px;
                background-size: 60px;
            }

            @include desktop {
                width: 80px;
                height: 80px;
                background-size: 70px;
            }

            &:hover {
                background-color: $c_white;
            }
        }
    }

    .product_demo_videos {
        @include mw_normal();
        @include clear ();

        .videos {
            display: block;
            margin: 0px 0 0px 0px;
            width: 100%;
            color: $c_white;
            text-align: center;
            padding-top: 20px;
            @include clear ();

            @include tablet {
                width: 48%;
            }

            .owl-carousel {
                display: block;
                width: 100%;
                z-index: 1;

                .owl-item {
                    background-image: url(https://www.hoch.media/elements/loader.gif);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }

    .information {
        height: auto;
        @include clear;
        @include mw_normal();

        .tab_content {
            &__body {
                border-top: 5px solid $c_head;
                background-color: $c_white;
                margin: 0px 0 30px 0;
                padding: 20px;

                .freedom_ad {
                    height: auto;
                    background-color: $c_freedom;
                    padding: 10px;
                    text-align: center;
                    grid-gap: 20px;
                    display: grid;

                    @include tablet {
                        grid-template-columns: repeat(5, 1fr);
                        text-align: left;
                    }

                    .logo {

                        @include tablet {
                            grid-column: span 1 / auto;
                            float: left;
                        }

                        img {
                            max-width: 300px;
                        }
                    }

                    .message {
                        color: $c_white;

                        p {
                            text-align: center;
                            margin: 0;
                        }

                        @include tablet {
                            p {
                                text-align: left;
                            }

                            grid-column: span 2 / auto;
                        }

                        @include desktop {
                            margin-top: 8px;
                        }
                    }

                    button, a {
                        width: 100%;
                        margin-bottom: 0px;

                        @include desktop {
                            margin-top: 8px;
                        }
                    }

                        a.more_info {
                            background-color: transparent;
                            border: 1px solid $c_white;
                            height: 40px;

                            &:hover {
                                background-color: $c_freedom_dark;
                            }
                        }

                    .add_freedom {
                        float: right;
                        background-color: $c_white;
                        color: $c_freedom;
                        border: 1px solid $c_white;
                        height: 40px;

                        &:hover {
                            background-color: $c_freedom_dark;
                            color: $c_white;
                        }
                    }
                }

                .delivery_info_wrap {
                    margin-top: 20px;

                    h5 {
                        float: right;
                        width: 85%;

                        @include tablet {
                            width: 91%;
                        }

                        @include desktop {
                            width: 95%;
                        }
                    }

                    .delivery {
                        .truck {
                            height: 36px;
                            display: block;
                            width: 12%;
                            margin-right: 2%;
                            max-width: 40px;
                            background-color: $c_craft;
                            float: left;
                            background: transparent url(https://www.hoch.media/elements/icons/van-grey.svg) no-repeat 0 0px;

                            @include desktop {
                                width: 10%;
                                margin-right: 0%;
                            }
                        }
                    }

                    .returns {
                        .return_icon {
                            height: 36px;
                            display: block;
                            width: 12%;
                            margin-right: 2%;
                            max-width: 43px;
                            background-color: $c_good;
                            float: left;
                            background: transparent url(https://www.hoch.media/elements/icons/returns-grey.svg) no-repeat 0 0px;

                            @include desktop {
                                width: 10%;
                                margin-right: 0%;
                            }
                        }
                    }
                }
            }

            &__head {
                margin-top: 30px;

                .nav-tabs {
                    border-bottom: none;
                }

                ul {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);


                    li {
                        display: flex;
                        flex: 1;

                        @include tablet {
                            width: auto;
                        }

                        a {
                            color: $c_base;
                            background: $c_white;

                            @include tablet {
                                padding: 10px 30px;
                            }

                            &.active {
                                background: $c_head;
                                border-color: $c_head;
                                color: $c_white;
                            }
                        }
                    }
                }
            }
        }
    }

    .review_summary {
        border-bottom: 1px dashed $c_grey_light;
        padding: 3em 0 4em 0;

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .reviews_intro {
            align-self: center;
            margin-bottom: 2em;

            @include tablet {
                margin-bottom: 0;
                /*width: 50%;*/
            }

            p {
                text-align: center;
                margin: 0;
            }

            a {
                display: block;
                width: 250px;
                margin: 0 auto;
            }
        }
    }

    .reviews_feed {

        .graph {
            &__wrap {
                display: block;

                @include tablet {
                    line-height: 2rem;
                    /*width: 50%;*/
                }
            }

            &__star {
                display: grid;
                grid-template-columns: 60px auto 60px;
                grid-gap: 10px;

                &:not(:nth-last-child(1)) {
                    margin-bottom: 10px;
                }
            }


            &__stat {

                .star {
                    width: 50%;
                    display: block;
                    float: left;
                    text-align: right;
                }

                .icon {
                    background-image: url(https://www.hoch.media/web-assets/icons/Star_grey.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 23px;
                    width: 50%;
                    float: left;
                }
            }

            &__barchart {
                &__outer {
                    background-color: $c_grey_pale;
                }

                &__inner {
                    background-color: $c_gold;
                }
            }

            &__total {
                text-indent: 1rem;
            }
        }

        .review_item_wrap {
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "rating date""comment comment";
            grid-gap: 10px;
            @include corner();

            &:nth-child(odd) {
                background: rgb(243, 243, 243);
                border: 1px solid rgba(204,204,204,0.5);
            }

            .date {
                grid-area: date;
                text-align: right;
            }

            .rating {
                grid-area: rating;
            }

            .comment {
                grid-area: comment;

                p {
                    margin: 0;
                }
            }
        }
    }

    .reviews_pagination {
        margin: 2em 0;

        ul {
            width: 280px;
            margin: 0 auto;
            padding: 0;
            float: none;
            height: 40px;
            background-color: $c_grey_pale;

            li {
                list-style-type: none;
                display: inline-block;
                float: left;
                width: 40px;
                height: 40px;

                &:not(:first-child) button {
                    border-left: none;
                }

                &.prev {
                    button {
                        background-image: url(https://www.hoch.media/web-assets/icons/icons_arrow-left-white.svg);
                    }
                }

                &.next {
                    float: right;

                    button {
                        border-left: 1px solid $c_main_dark;
                        background-image: url(https://www.hoch.media/web-assets/icons/icons_arrow-right-white.svg);
                    }
                }

                &.prev, &.next {
                    button.inactive {
                        &:hover {
                            transform: scale(1);
                            @include shadow-none;
                        }
                    }
                }

                &:hover {
                    button {
                        border-left: 1px solid $c_main_dark;
                    }
                }

                button {
                    width: 100%;
                    margin: 0;
                    color: $c_base;
                    background-color: $c_white;
                    @include corner-none();

                    &:hover {
                        transform: scale(1.1);
                        @include shadow();
                    }

                    &.active {
                        background-color: $c_main;
                    }

                    &.inactive {
                        background-color: $c_grey_light;
                    }

                    &.active_number {
                        color: $c_white;
                        background-color: $c_main_dark;
                    }
                }
            }
        }
    }
}

.hoch_zoom {

    .pswp__top-bar {
        float: left;
        width: 100%;
        @include clear ();

        .pswp__counter {
            width: 20%;
            font-weight: $fw_body_bold;
            color: $c_white;
            padding-left: 5px;
        }

        .pswp__button {
            float: right;
            margin-right: 0px;
        }

            .pswp__button.pswp__button--close {
                background-image: url(https://hoch.media/web-assets/icons/icons_cross-white.svg);
                background-size: 30px;
                background-position: center;
                float: right;
                clear: none;
            }

        button.pswp__button.pswp__button--zoom {
            background-image: url(https://hoch.media/web-assets/icons/zoom_white.svg);
            background-size: cover;
            background-position: center;
            float: right;
            clear: none;
        }

        button.pswp__button.pswp__button--fs {
            background-image: url(https://www.hochanda.com/Styles/Css/default-skin/default-skin.png);
            background-size: 235px 78px;
            z-index: 1000;
            float: right;
            clear: none;
        }
    }

    .pswp__button {
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: 1px solid #000;
    }

    .pswp__button--arrow--left,
    .pswp__button--arrow--right {
        background: none;
        top: 50%;
        margin-top: -50px;
        width: 70px;
        height: 100px;
        position: absolute;
    }

        .pswp__button--arrow--left:before,
        .pswp__button--arrow--right:before {
            display: none;
        }


    .pswp__button--arrow--right {
        right: -1px;
    }

    button.pswp__button.pswp__button--arrow--left, button.pswp__button.pswp__button--arrow--right {
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        width: 70px;
        height: 140px;
        margin-top: -50px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }

    button.pswp__button.pswp__button--arrow--left {
        background-image: url(https://hoch.media/web-assets/icons/icons_arrow-left-white.svg);
        -webkit-border-top-right-radius: 80px;
        -webkit-border-bottom-right-radius: 80px;
        -moz-border-radius-topright: 80px;
        -moz-border-radius-bottomright: 80px;
        border-top-right-radius: 140px;
        border-bottom-right-radius: 140px;
    }

    button.pswp__button.pswp__button--arrow--right {
        background-image: url(https://hoch.media/web-assets/icons/icons_arrow-right-white.svg);
        -webkit-border-top-left-radius: 80px;
        -webkit-border-bottom-left-radius: 80px;
        -moz-border-radius-topleft: 80px;
        -moz-border-radius-bottomleft: 80px;
        border-top-left-radius: 140px;
        border-bottom-left-radius: 140px;
    }
}


@include nogrid-ms {
    .review_summary {
        .reviews_intro {
            @include tablet {
                width: 50%;
            }
        }

        .graph {
            &__wrap {
                @include tablet {
                    width: 50%;
                }
            }

            &__star {
            }

            &__stat {
                width: 60px;
            }

            &__barchart__outer {
                width: calc(100% - 120px);
            }

            &__total {
                width: 60px;
            }
        }
    }
}
