﻿@import '../mixins/mixins_compiler.scss';


.raf_welcome {
    .content {

        .hero_message {
            background-color: #ffffff;
            background-image: url(https://www.hoch.media/web-assets/dummy-test-images/RAF_bg.jpg);
            background-size: contain;

            .darken {
                background-color: rgba(27, 30, 58, 0.7);

                .animals {
                    margin-bottom: -50px;
                }
            }

            .discount_wrap {
                background-color: transparent;
                @include mw_large;
                max-width: 1000px;
                @include clear ();
                margin-top: 40px;
                margin-bottom: 50px;
                padding: 10px;

                .intro {

                    h1 {
                        text-align: center;
                        font-size: 2.5em;
                        color: $c_white;
                    }

                    .info {
                        p {
                            text-align: center;
                            margin-bottom: 40px;
                            color: $c_white;
                        }
                    }

                    @include tablet {
                        width: 60%;

                        h1 {
                            text-align: left;
                            font-size: 3.5em;
                        }


                        .info {
                            p {
                                text-align: left;
                            }
                        }
                    }
                }

                .discount {
                    height: 220px;
                    width: 220px;
                    margin: 0 auto;
                    display: flex;
                    float: none;
                    border-radius: 50%;
                    padding: 9px;
                    background-color: $c_white;
                    border: 1px solid #ccc;
                    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
                    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
                    @include clear();


                    @include tablet {
                        margin-top: 0px;
                        float: right;
                        height: 260px;
                        width: 260px;
                    }

                    .info {
                        margin: 0 auto;
                        display: block;
                        float: none;
                        background-color: #ffffff;
                        border-radius: 50%;
                        line-height: 50px;
                        padding-top: 40px;
                        height: 200px;
                        width: 200px;
                        border: 2px solid #ed137d;
                        @include clear();

                        @include tablet {
                            height: 240px;
                            width: 240px;
                            padding-top: 50px;
                        }



                        .reward_title {
                            font-size: 2em;
                            float: none;
                            text-align: center;
                        }

                        .data {
                            text-align: center;
                            font-size: 5em;
                            font-weight: $fw_body_bold;
                            float: none;
                        }

                        @include tablet {
                            float: right;
                        }
                    }
                }


                .code {
                    text-align: center;
                    color: $c_white;
                    background-color: $c_main;
                    border: 1px solid #ccc;
                    padding: 20px;
                    margin-top: 30px;

                    @include tablet {
                        margin-top: 20px;
                    }

                    p {
                        text-align: center;
                    }

                    .wrap {
                        background-color: $c_white;
                        padding: 20px;
                        font-weight: $fw_body_bold;
                        font-size: 3em;
                        color: #000;

                        @include tablet {
                            font-size: 4em;
                        }
                    }
                }
            }
        }

        .details {
            background-image: url(https://www.hoch.media/elements/strip_texture10.png);
            background-color: $c_head;

            .wrap {
                max-width: 1200px;
                margin: 0 auto;
                width: 100%;
                float: none;
                padding: 70px 10px 70px 10px;
                color: #fff;

                .feefo_icon {
                    height: 150px;
                    width: 150px;
                    margin: 0 auto;
                    float: none;
                    display: block;
                    text-indent: -9999px;
                    background-image: url(https://hoch.media/elements/refer-a-friend/raf-icons-reviews.svg);
                }

                h2 {
                    font-size: 2.2em;
                    font-weight: $fw_body_light;
                    text-align: center;
                    line-height: 40px;
                }

                .quotes {
                    padding: 10px;

                    @include tablet {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 25px;
                    }


                    .box {
                        position: relative;
                        background: transparent;
                        border-radius: .4em;
                        margin-bottom: 40px;
                        border: 2px solid #fff;
                        width: 100%;
                        max-width: 500px;
                        float: none;
                        padding: 7px;

                        .divider_line {
                            border-top: 2px solid #ed137d;
                            width: 50px;
                            display: block;
                            margin: 0 auto;
                            float: none;
                            margin-top: -20px;
                            margin-bottom: 20px;
                            display: table;
                        }
                    }

                    .box:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 0;
                        height: 0;
                        border: 20px solid transparent;
                        border-top-color: #fff;
                        border-bottom: 0;
                        border-left: 0;
                        margin-left: -10px;
                        margin-bottom: -20px;
                    }
                }

                p {
                    text-align: center;
                    margin-bottom: 40px;
                    float: none;
                }

                p.msg {
                    font-size: 1.2em;
                    line-height: 30px;
                    padding-top: 30px;

                    @include tablet {
                        font-size: 1em;
                    }
                }



                .button {
                    max-width: 300px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    display: block;
                    border: 1px solid $c_white;
                }
            }
        }

        .introduction {
            background-color: $c_white;
            background-image: none;

            h2 {
                color: #000;
            }

            p {
                color: #000;
            }
        }

        .tv_details {
            background-image: url(https://hoch.media/elements/about_masterclass_bg-3.jpg) !important;
            background-size: cover;
            background-position: center;
            -webkit-box-shadow: inset 0px 11px 8px -10px rgba(0,0,0,1), inset 0px -11px 8px -10px rgba(0,0,0,1);
            -moz-box-shadow: inset 0px 11px 8px -10px rgba(0,0,0,1),inset 0px -11px 8px -10px rgba(0,0,0,1);
            box-shadow: inset 0px 11px 8px -10px rgba(0,0,0,1), inset 0px -11px 8px -10px rgba(0,0,0,1);

            .wrap {
                @include mw_large;
                margin: 0 auto;
                color: $c_white;
                width: 100%;
                float: none;
                padding: 70px 10px 70px 10px;

                .tv_icon {
                    height: 150px;
                    width: 150px;
                    margin: 0 auto;
                    float: none;
                    display: block;
                    text-indent: -9999px;
                    background-image: url(https://hoch.media/elements/refer-a-friend/raf-icons-watch.svg);
                }

                h2 {
                    font-size: 2.5em;
                    font-weight: $fw_body_light;
                    text-align: center;
                }

                p {
                    text-align: center;
                    margin-bottom: 40px;
                }

                .button {
                    max-width: 300px;
                    margin: 0 auto;
                    display: block;
                    border: 1px solid $c_white;
                }
            }
        }

        .handa_details {
            background-color: $c_white;
            padding-bottom: 50px;

            .wrap {
                @include mw_large;
                margin: 0 auto;
                width: 100%;
                float: none;
                padding: 70px 10px 70px 10px;

                @include tablet {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    grid-template-areas: "craft_img craft_info" "hobbies_info hobbies_img" "arts_img arts_info";
                    align-items: center;
                }

                .craft_img {
                    grid-area: craft_img;

                    @include tablet {
                        padding-bottom: 90px;
                    }


                    @include desktop {
                        padding-bottom: 20px;
                    }
                }

                .craft_info {
                    grid-area: craft_info;
                    max-width: 550px;
                    padding-bottom: 90px;


                    @include desktop {
                        padding-bottom: 20px;
                    }
                }

                .hobbies_img {
                    grid-area: hobbies_img;


                    @include tablet {
                        padding-bottom: 90px;
                    }


                    @include desktop {
                        padding-bottom: 20px;
                    }
                }

                .hobbies_info {
                    grid-area: hobbies_info;
                    max-width: 550px;
                    padding-bottom: 90px;


                    @include desktop {
                        padding-bottom: 20px;
                    }

                    .button {
                        background-color: $c_hobby;

                        &:hover {
                            background-color: $c_main_dark;
                        }
                    }
                }

                .arts_img {
                    grid-area: arts_img;


                    @include tablet {
                        padding-bottom: 90px;
                    }

                    @include desktop {
                        padding-bottom: 20px;
                    }
                }

                .arts_info {
                    grid-area: arts_info;
                    max-width: 550px;
                    padding-bottom: 90px;


                    @include desktop {
                        padding-bottom: 20px;
                    }

                    .button {
                        background-color: $c_art;

                        &:hover {
                            background-color: $c_main_dark;
                        }
                    }
                }



                .img {
                    margin: 0 auto;
                    float: none;
                    display: block;
                }

                .info {
                    .logo_wrap {
                        margin: 20px 0 20px 0;

                        img {
                            margin: 0 auto;
                            float: none;
                            display: block;
                        }
                    }

                    p {
                        text-align: center;
                        margin: 20px 0 20px 0;
                    }

                    .button {
                        max-width: 300px;
                        margin: 0 auto;
                        float: none;
                        display: block;
                    }
                }
            }
        }
    }
}
