﻿@import '../mixins/mixins_compiler.scss';

.refer_a_friend_wrap {
    .introduce_your_friends {
        background-image: url(https://www.hoch.media/web-assets/dummy-test-images/RAF_bg.jpg);
        background-size: contain;

        .share_btn {
            button {
                margin:0 auto;
                float:none;
                border:1px solid;
                width:300px;
            }
        }
    }

    .darken {
        padding: 10px;
        background-color: rgba(27, 30, 58, 0.7);

        @include desktop-small {
            padding: 30px;
        }

        @include desktop {
            padding: 50px;
        }
    }

    .intro_wrap {
        @include mw_normal();
    }

    h1 {
        font-size: 2.5em;
        margin: 0;
        margin-top: 30px;
        color: $c_white;

        @include tablet {
            font-size: 4.0em;
        }

        @include desktop {
            font-size: 4.0em;
        }
    }

    p {
        text-align: center;
    }

    h3 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    h4 {
        text-align: center;
        padding: 0 20px 0 20px;
    }



    .steps {
        text-transform: uppercase;
        font-size: 1.3em;
    }



    .reward_wrap {
        max-width: 320px;
        margin: 0 auto 30px auto;
        float: none;
        @include clear();

        @include tablet {
            max-width: 450px;
        }

        .credit_wrap {
            text-transform: uppercase;
        }

        .circle_wrap {
            background: $c_white;
            @include corner-round();
            margin: 0;
            display: flex;
            width: 150px;
            height: 150px;
            @include shadow-large();

            @include tablet {
                width: 200px;
                height: 200px;
            }

            &.their_discount_wrap {
                float: right;
            }

            .inner_circle_wrap {
                border: 3px solid $c_craft;
                @include corner-round();
                margin: 10px;
                float: none;
                display: grid;
                width: 130px;
                height: 130px;

                @include tablet {
                    width: 180px;
                    height: 180px;
                }

                .credit_wrap {
                    align-self: center;

                    p {
                        margin: 0;
                    }

                    .reward_amount {
                        line-height: 1em;
                        font-size: 2em;

                        @include tablet {
                            font-size: 5.0em;
                        }
                    }
                }
            }
        }
    }

    .intro_RAF {
        padding: 20px 30px 20px 30px;
        color: $c_white;
    }


    .button {
        border: 1px solid $c_white;
        background-color: #ed137d;
        color: #ffffff;
        text-transform: uppercase;
        @include mw_small();
        margin-bottom: 30px;
    }



    .how_it_works {
        background-color: $c_white;
        @include clear();
        padding: 50px 10px;

        @include tablet {
            padding: 80px 10px 100px 10px;
        }

        .steps_wrap {
            @include mw_normal();

            @include tablet {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 10px;
            }


            .step {
                background: $c_white;
                float: left;
                text-align: center;
                margin-bottom: 10px;
                display: grid;
                grid-template-rows: 1fr 1fr;
                @include shadow();

                .image {
                    border: solid 1px $c_grey;
                    display: grid;
                    grid-template-columns: auto 100px auto;
                    grid-template-areas: ".... image ....";
                    align-content: center;

                    img {
                        max-width: 100px;
                        grid-area: image;
                    }
                }

                .text {
                    position: relative;
                    border: solid 1px $c_grey;
                    border-top: none;
                    padding: 30px 10px 10px 10px;

                    .number {
                        color: $c_white;
                        background-color: $c_craft;
                        position: absolute;
                        height: 50px;
                        width: 50px;
                        top: -25px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        line-height: 50px;
                        @include corner-round();
                    }
                }
            }
        }
    }


    .faqs_wrap {
        @include clear();
        background-image: url(https://www.hoch.media/web-assets/dummy-test-images/RAF_bg.jpg);
        background-size: 50% 50%;
        /*background-color:$c_head;*/
        .darken {
            padding: 50px 10px;
            background-color: rgba(27, 30, 58, 0.7);

            @include tablet {
                padding: 80px 10px 100px 10px;
            }
        }

        .faqs {
            @include mw_normal();

            p {
                text-align: left;
                /*padding: 0 20px 0 20px;*/
                color: $c_white;
            }

            h4 {
                color: $c_white;
            }

            h5 {
                color: $c_white;
            }
        }
    }
}
