﻿@import '../mixins/mixins_compiler.scss';


.reviews_feefo_page {

    .review_header_wrap, .content_wrap_reviews {
        float: none;
        margin: 0 auto;
        text-align: center;
        @include mw_normal();
    }

    .feefo_header {
        background-color: #480048;
        background-image: url(https://www.hoch.media/elements/stars-bokeh.jpg);
        background-size: cover;
        background-position: bottom;
        padding: 30px 10px 40px 10px;
        margin-bottom: 30px;
    }


    .feefo_logo_container {
        height: auto;
        display: inline-block;
        width: 30%;
        float: none;
        margin-bottom: 20px;

        @include desktop-small {
            width: 25%;
            float: left;
        }
    }


    .feefo_reviews_header_text {
        float: left;
        color: $c_white;

        @include desktop-small {
            padding: 0px 10px 10px 40px;
            width: calc(75% - 30px);
        }

        h1 {
            text-align: center;
            margin: 0 auto;

            @include desktop-small {
                font-size: 4em;
                text-align: left;
            }
        }

        h4 {
            text-align: center;
            padding: 0;
            margin-bottom: 10px;

            @include desktop-small {
                text-align: left;
            }
        }
    }


    .review_total {
        color: $c_craft;
        font-weight: 900;
    }

    .intro p {
        text-align: center;
        padding: 10px;
        font-weight: 300;
        font-size: 1em;
    }

    .reviews_service_wrap {
        padding: 0 20px;
        margin-bottom: 20px;

        @include tablet-small {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }

        .rating_box {
            float: left;
            border: 1px solid $c_grey_light;
            background-color: $c_white;
            padding: 20px;
            width: 100%;
            display: block;
            margin-bottom: 20px;
            @include shadow();
            @include shadow-large();
        }

        .customer_experience_wrap {
        }

        .product_rating_wrap {
        }


        .customer_experience_title {
            margin-bottom: 30px;
            text-align: center;
        }


        .review_rating_percentage {
            font-size: 5em;
        }


        .customer_eperience_rating {
            max-width: 130px;
            margin: 0 auto;
            float: none;
        }
    }

    .gold_stars {
        width: 94%;
        display: block;
        float: left;
        height: 23px;
        background-image: url(https://www.hoch.media/elements/icons.png);
        background-position: -219px -228px;
    }

    .grey_stars {
        width: 110px;
        display: inline-block;
        height: 23px;
        float: left;
        margin-right: 10px;
        background-image: url(https://www.hoch.media/elements/icons.png);
        background-position: -219px -204px;
    }

    .review_ov_star_row_wrap {
        margin-bottom: 5px;
        float: left;
        width: 100%;
    }

    .review_ov_stat {
        float: left;
        width: 12%;
    }

    span.ov_rating_number {
        float: left;
        display: inline-block;
    }


    .review_ov_barchart_inner {
        background: #FFCC2D;
    }

    .review_ov_graph_wrap {
        font-size: 12px;
        line-height: 18px;
    }

    .review_ov_number {
        width: 15%;
        float: right;
        font-size: 10px;
        text-align: right;
    }

    .review_ov_barchart_outer {
        width: 70%;
        background: $c_grey_light;
    }

    .ov_star_img {
        width: 15px;
        float: left;
        height: 18px;
        background-image: url(https://www.hoch.media/elements/star-ratings/4.png);
        background-position: 92px 0px;
        margin-left: 4px;
    }

    .button {
        max-width: 300px;
        margin: auto;
        float: none;
        margin-bottom: 30px;
    }

    .reviews_feed_wrap {
        padding: 20px;

        .customer_content_reviews {
            display: block;
            border: 1px solid $c_grey_light;
            background-color: $c_white;
            margin-bottom: 50px;
            @include shadow-large();
        }

        .customer_review_header {
            display: block;
            position: relative;
            background: $c_grey_pale;
            overflow: hidden;
            border-bottom: 1px solid #ebebeb;
            padding: 20px 0 0 20px;
            margin: 0;

            span.customer_name {
                text-align: left;
                float: left;
            }
        }

        .review_date_time {
            text-align: right;
            width: 20%;
            padding-right: 20px;
        }

        .review_comments {
            padding: 30px;
            margin: 0;
        }

        .header_title {
            float: left;
            max-width: 80%;
            padding: 0;
            margin: 0;
        }


        .review_rating_stars {
            padding: 10px 0 20px 0;
        }
    }
}
