﻿@import '../mixins/mixins_compiler.scss';


.tab_content {

    &__head {
        margin-top: 30px;

        ul {
            margin: 0;
            padding: 0;
            display: flex;

            li {
                list-style-type: none;
                margin: 0;
                border-bottom: none;
                display: flex;
                flex: 1;

                @include tablet {
                    width: auto;
                }

                a {
                    color: $c_base;
                    text-align: center;
                    padding: 15px 0px;
                    width: 100%;
                    border: 1px solid $c_grey;
                    border-bottom: none;

                    @include tablet {
                        padding: 10px 30px;
                    }

                    &.active {
                        background: $c_white;
                        color: $c_base;
                    }


                    &:focus, &:hover {
                        text-decoration: none;
                        outline: none;
                    }
                }

                &:not(:nth-last-child(1)) a {
                    border-right: none;
                }
            }
        }
    }

    &__body {
        ul {
            margin: 0;

            li {
                margin: 0;

                &:nth-child(even) {
                    a:not([href]):not([tabindex]), a {
                        background-color: rgba(255, 255, 255, 0.8);
                    }
                }

                a:not([href]):not([tabindex]), a {
                    border: 1px solid #ccc;
                    border-top: none;
                    width: 100%;
                    padding: 12px 10px;
                    color: $c_base;
                    background-color: $c_white;

                    &:hover {
                    }

                    .sku {
                        padding: 0 10px 0 3px;
                        line-height: 1rem;
                    }
                }
            }
        }
    }
}

.search_results .tab_content__head ul li a.active {
    background: $c_head;
    color: $c_white;
}

.fullscreen_search {
    &__container {
        background-color: rgba(8, 2, 85, 0.95);
        position: absolute;
        z-index: 600;
        padding: 20px;
        top: 74px;
        height: calc(100vh - 74px);
        overflow: auto;

        @include tablet {
            top: 94px;
            height: calc(100vh - 94px);
        }

        .inner {
            @include mw_normal();
        }

        h3 {
            color: $c_white;
        }

        a:not([href]):not([tabindex]), a {
            cursor: pointer;
            text-align: left;
            color: $c_white;
            background-color: transparent;
            font-family: $f_body;
            font-weight: $fw_body_light;
            font-size: 1em;
            border-bottom: 1px solid transparent;
            float: left;
            @include corner-none();

            &:hover {
                border-bottom: 1px solid $c_white;
                text-decoration: none;
            }
        }

        ul {
            li {
                list-style-type: none;
            }
        }
    }

    &__find {
        @include tablet {
            @include corner();
            overflow: hidden;
            border: 1px solid $c_grey;
        }

        select {
            background-color: $c_white;

            @include tablet {
                width: 140px;
                margin: 0;
                border-color: $c_white;
            }

            &:hover, &:focus {
                border-left-width: 1px;
                outline: none;
            }
        }

        .fullscreen_search {
            &__form {
                @include tablet {
                    width: calc(100% - 140px);
                }

                input[type=submit] {
                    margin: 0;
                    background-color: $c_main;

                    @include tablet {
                        width: 140px;
                        clear: none;
                        border: 1px solid $c_main;
                        @include corner-none();
                    }

                    &:hover {
                        background-color: $c_main_dark;
                    }
                }

                input[type]:not([type=button]):not([type=submit]) {
                    @include tablet {
                        width: calc(100% - 140px);
                        margin: 0;
                        border-top-color: $c_grey_light;
                        border-bottom-color: $c_grey_light;
                    }
                }
            }
        }
    }

    &__autocomplete {
        margin-top: 30px;

        ul {
            padding: 0;

            li {
                color: $c_white;

                a:not([href]):not([tabindex]):hover, a:hover {
                    transform: scale(1.01);
                    @include shadow();
                }
            }
        }

        &__head {
            ul {
                margin: 0;

                li {
                    width: 33.33%;
                    border: 1px solid $c_grey;
                    text-align: center;
                    padding: 15px 0px;
                    margin: 0;
                    border-bottom: none;

                    @include tablet {
                        width: auto;
                        padding: 10px 30px;
                    }

                    &.active {
                        background: $c_white;
                        color: $c_base;
                    }

                    &:not(:nth-last-child(1)) {
                        border-right: none;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        &__body {
            ul {
                margin: 0;

                li {
                    margin: 0;

                    &:nth-child(even) {
                        a:not([href]):not([tabindex]), a {
                            background-color: rgba(255, 255, 255, 0.8);
                        }
                    }

                    a:not([href]):not([tabindex]), a {
                        border: 1px solid #ccc;
                        border-top: none;
                        width: 100%;
                        padding: 12px 10px;
                        color: $c_base;
                        background-color: $c_white;

                        &:hover {
                        }

                        .sku {
                            /*color: $c_white;*/
                            padding: 0 10px 0 3px;
                            line-height: 1rem;
                        }
                    }
                }
            }
        }
    }

    &__res_col_wrap {
        margin-top: 30px;
    }

    &__res_col {
        @include tablet {
            width: 48%;
            float: left;
        }

        &.right {
            float: right;
        }

        ul {
            padding: 0;
        }
    }

    &__result {
        margin-top: 30px;
    }
}

a.fullscreen_search__close {
    color: $c_white;
    text-transform: initial;
    font-size: 1.4em;
    line-height: 50px;
    width: auto;
    border: none;
    float: right;
    padding: 0 50px 0 0;
    background-image: url(https://hoch.media/elements/icons/icons_cross-white.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;

    &:hover {
        border: none;
    }
}

.search_results {
}

.search_categories {
    ul {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );

        li {
            width: 100%;
            list-style-type: none;

            @include nogrid {
                width: 250px;
            }

            a {
                width: 100%;
                display: block;
            }
        }
    }
}
