﻿@import '../mixins/mixins_compiler.scss';

.acc_content_my_settings {

    h1{
        margin-bottom:10px;
    }

    .currency_drop_down{
        max-width:50%;

    }
    .marketing_prefernce_wrap {
        margin-top: 50px;
    }

    .marketing_preference_button {
        margin-top: 30px;
    }


    .small_print {
        font-size: 0.8em;
    }
  .marketing_checkbox{
      margin-top:10px;

  }
   
}
