﻿@import '../mixins/mixins_compiler.scss';

.tv_schedule_page {

    .header_image {
        background-image: url(https://hoch.media/header-images/category/tv_schedule_header_bg.jpg);
    }

    .background_header_color {
        background-color: rgba(43, 0, 21, 0.19);
        padding: 50px 10px;
    }

    .show_wrap {

        .day_selector {
            background-color: $c_white;
            border-top: 1px solid $c_grey_light;
            border-bottom: 1px solid $c_grey_light;
            padding: 0px;
            height: 52px;
        }

        .day_selector_controls_wrap {
            width: 300px;
            float: none;
            margin: auto;
            height: 50px;
            position: relative;
        }

        .arrow {
            height: 50px;
            width: 50px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px;
            text-indent: -9999px;
            cursor: pointer;
            margin-top: 0px;
            position: absolute;
            z-index: 10;
        }

        .left {
            left: 0;
            background-image: url(https://hoch.media/elements/icons/icons_arrow-left-black.svg);
        }

        .right {
            right: 0;
            background-image: url(https://hoch.media/elements/icons/icons_arrow-right-black.svg);
        }

        .day_selector_controls {
            position: relative;
            margin: 0 auto;
            width: 300px;
            float: none;
            @include clear ();

            .date_picker_wrap {
                height: 50px;
                line-height: 1.2em;
                text-align: right;
                text-transform: uppercase;
                width: 100%;
                height: 50px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;

                .inner {
                    width: 200px;
                    padding: 0 20px;
                    float: none;
                    margin: 0 auto;
                    display: block;
                    height: 50px;
                    display: flex;

                    .text {
                        padding-top: 8px;
                        width: auto;
                        display: block;
                        float: left;
                        flex: 1;

                        span {
                            display: block;

                            &.label {
                                font-size: 0.9em;
                                margin: 0;
                                padding: 0;
                                text-align: center;
                            }

                            &.datey {
                                font-size: 1.2em;
                                font-weight: $fw_body_bold;
                                text-align: center;
                            }
                        }
                    }

                    img {
                        width: 50px;
                        float: right;
                        display: block;
                    }
                }
            }
        }

        .shows {
            position: relative;

            .show_details {
                width: 100%;
                min-height: 300px;
                padding: 20px;
                text-align: center;
                margin-bottom: -10px;
                margin-top: 10px;
                background-color: $c_head;
                color: $c_white;
                position: relative;

                .price {
                    .was {
                        color: $c_white;
                    }
                }


                &:after {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(51, 51, 51, 0);
                    border-bottom-color: $c_head;
                    border-width: 15px;
                    margin-left: -15px;
                }


                .owl-prev, .owl-next {
                    display: inline-block;
                    width: 40px;
                    cursor: pointer;
                    height: 40px;
                    background-color: #ed137d;
                    margin: 2px;
                    background-image: url(https://www.hoch.media/web-assets/icons/icons_arrow-left-white.svg);
                    text-indent: -9999px;

                    &.disabled {
                        background-color: $c_grey_light;
                    }
                }

                .owl-next {
                    background-image: url(https://www.hoch.media/web-assets/icons/icons_arrow-right-white.svg);
                }


                h3 {
                    color: $c_white;
                }

                .carousel {
                    padding-top: 20px;
                }

                p {
                    text-align: center;
                }

                .show_description {
                    padding-bottom: 20px;
                }
            }

            .tv_row {
                border-bottom: 1px solid $c_grey_light;
                border-top: 1px solid $c_white;
                padding: 10px 0px 10px 0px;

                &.updating {
                    opacity: 0.4;

                    .row_content .btn_wrap .watch_now {
                        opacity: 0.4;
                    }

                    .show_type {
                        opacity: 0.4;
                    }
                }

                .row_content {
                    @include mw_normal ();

                    @include tablet {
                        display: grid;
                        grid-template-columns: repeat(8, 1fr);
                        grid-gap: 10px;
                    }

                    .category_icon {
                        width: 10%;
                        max-width: 77px;
                        margin-top: 10px;
                    }

                    .details {
                        grid-column: span 4 / auto;
                    }

                    .btn_wrap {
                        grid-column: span 3 / auto;

                        button {
                            width: 49%;
                            /*margin-left: 5%;*/
                            border-radius: 4px;
                            clear: none;

                            @include tablet {
                                width: 48%;
                            }
                        }

                        .products_in_show {
                            background-color: $c_white;
                            border: 1px solid #ccc;
                            color: #000;
                            float: left;
                        }

                            .products_in_show:hover {
                                background-color: $c_grey_light;
                            }

                        .watch_now {
                            background-color: $c_head;
                            float: right;
                            width: 49%;
                            clear: none;
                        }


                            .watch_now:hover {
                                background-color: $c_main_dark;
                            }

                        button.live_show {
                            float: right;
                        }
                    }

                    .show_time_wrap {
                        text-align: center;
                        font-weight: 300;
                        font-size: 15px;
                        padding-top: 20px;
                    }

                    .btn_wrap {
                        padding-top: 8px;
                    }

                    .show_name {
                        display: grid;
                        grid-template-columns: 50px auto;
                        margin-top: 4px;
                        margin: 10px 0 10px 0px;

                        @include tablet {
                            margin: 5px 0 5px 0px;
                        }

                        img {
                            margin-top: 5px;
                        }

                        .show_title {
                            margin-left: 10px;
                            margin-top: 3px;

                            h5 {
                                text-transform: capitalize;
                                border-bottom: none;
                                font-size: 16px;

                                @include tablet {
                                    font-size: 1.2em;
                                }
                            }

                            p {
                                margin-top: -15px;
                                margin-bottom: 0px;
                                text-transform: uppercase;
                                color: #aaa;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

html body #ui-datepicker-div {
    width: 300px;
    margin-top: 50px;

    .ui-datepicker-title {
        width: 100%;
        margin: 0;
    }
}




@include nogrid-ms {
    .tv_schedule_page {
        .show_wrap {
            .shows {
                .tv_row .row_content {
                    .show_time_wrap {
                        @include tablet {
                            width: 80px;
                        }
                    }

                    .details {
                        @include tablet {
                            width: calc(65% - 80px);
                        }

                        .show_name {

                            .show_type {
                                width: 50px;
                            }

                            .show_title {
                                width: calc(100% - 60px);
                                margin: 0;
                                float: right;
                            }
                        }
                    }

                    .btn_wrap {
                        @include tablet {
                            width: 35%;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
