﻿
@{
	ViewBag.Title = "SearchResult";
	Layout = "~/Views/Shared/Master/_Layout.cshtml";

	string keyword = ViewBag.Keyword;
	int type = ViewBag.Type;
}

<input type="hidden" id="search-keyword" value="@keyword">
<input type="hidden" id="search-type" value="@type">

<div id="SearchResultController" ng-controller="SearchResultController" class="search_results">

	<section class="section_header section_header_search">
		<div class="background_header_color">
			<div class="logo_favourite_wrap">
			</div>
			<div class="header_titles">
				<h1>YOUR SEARCH RESULTS</h1>
				<h2 ng-cloak><strong>{{ProductListing.ProductCount}}</strong> Results for <strong>@keyword</strong> </h2>
				
			</div>
		</div>


	</section>

	<div class="tab_content__head">
		<ul class="nav nav-tabs">
			<li><a data-toggle="tab" href="#ProductsTab" onclick="return false" ng-class="{'active': type == 1 || type == 4}">Products</a></li>
			<li><a data-toggle="tab" href="#CategoriesTab" onclick="return false" ng-class="{'active': type == 3}">Categories</a></li>
			<li><a data-toggle="tab" href="#BrandsTab" onclick="return false" ng-class="{'active': type == 2}">Brands</a></li>
		</ul>
	</div>
	<div class="tab-content tab_content__body">

		<div id="ProductsTab" class="tab-pane in" ng-class="{'active show': type == 1 || type == 4}">
			@Html.Partial("~/Views/Shared/Partials/_prodFilter.cshtml")


			@{
				var viewData = new ViewDataDictionary()
				{
					new KeyValuePair<string, object>("AngularProductScopeVariable", "ProductListing.Products"),
					new KeyValuePair<string, object>("AngularProducts", true)
				};
			}

			@Html.Partial("~/Views/shared/Partials/_prodGrid.cshtml", viewData)

			@Html.Partial("~/Views/shared/Partials/_prodGrid_prev_next.cshtml")

			@* the hidden input below is needed to load the product grid, please do not delete it*@
			<input type="hidden" id="searchProductGridId" value="" />
		</div>
		<div id="CategoriesTab" class="tab-pane" ng-class="{'active show': type == 3}">
			<div class="search_categories" ng-cloak>
				<ul>
					<li ng-repeat="category in ProductListing.Filter.Categories"><a ng-href="{{getCategoryUrl(category.CategoryId, category.CategoryName)}}">{{category.CategoryName}}</a></li>
				</ul>
			</div>
		</div>

		<div id="BrandsTab" class="tab-pane" ng-class="{'active show': type == 2}">
			@Html.Partial("~/Views/Shared/Partials/_brands_grid.cshtml")
		</div>

	</div>
</div>


