﻿@* Controller is default. Can be changed if needed. Current URL is /reviews *@

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}
<article class="reviews_feefo_page">
    <section class="reviews_feefo" ng-controller="ReviewsController">
        <div class="feefo_header">
            <div class="review_header_wrap">
                <div class="feefo_logo_container">
                    <img src="https://hoch.media/elements/feefo_gold_trusted_service_reverse.png" />
                </div>
                <div class="feefo_reviews_header_text">
                    <h1 class="reviews_heading_content">Independent Trusted Reviews Provided By Feefo</h1>
                    <h4>
                        <span>Our independent feedback for Hochanda has been compiled from </span>
                        <span ng-cloak class="review_total">{{summary.meta.count}}</span>
                        <span> Verified Customer Reviews</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="content_wrap_reviews">
            <div class="intro">
                <p>We use an external company called Feefo to source and provide our reviews, as they have an unsurpassed reputation for delivering genuine customer feedback. This is important to us as we want to hear genuine, honest, impartial reviews, from verified customers, so that we can provide better products and service for you.</p>
            </div>

            <a href="http://ww2.feefo.com/en-gb/reviews/hochanda" target="_blank" class="button"> Read More reviews on Feefo</a>

            <div class="reviews_service_wrap">
                <div class="customer_experience_wrap rating_box">
                    <h3 class="customer_experience_title">Customer Experience</h3>

                    <div class="customer_eperience_rating">
                        <span class="review_rating_percentage" ng-cloak>{{serviceRating}}</span>
                        <span class="rating_out_of_5">/5</span>

                        <div class="review_rating_stars">
                            <span class="grey_stars">
                                <span ng-cloak class="gold_stars" style="width:{{servicePercentage}}%;">&nbsp;</span>
                            </span>
                        </div>

                    </div>

                    <div class="review_ov_graph_wrap">
                        <div class="review_ov_star_row_wrap">
                            <div class="review_ov_stat">
                                <span class="ov_rating_number">5</span>
                                <span class="ov_star_img"></span>
                            </div>
                            <div class="review_ov_barchart_outer">
                                <div class="review_ov_barchart_inner" style="width:{{fiveStarPercService}}%;">&nbsp;</div>
                            </div>
                            <div class="review_ov_number" ng-cloak>{{fiveStarService}}</div>
                        </div>
                        <div class="review_ov_star_row_wrap">
                            <div class="review_ov_stat">
                                <span class="ov_rating_number">4</span>
                                <span class="ov_star_img"></span>
                            </div>
                            <div class="review_ov_barchart_outer">
                                <div class="review_ov_barchart_inner" style="width:{{fourStarPercService}}%;">&nbsp;</div>
                            </div>
                            <div class="review_ov_number" ng-cloak>{{fourStarService}}</div>
                        </div>
                        <div class="review_ov_star_row_wrap">
                            <div class="review_ov_stat">
                                <span class="ov_rating_number">3</span>
                                <span class="ov_star_img"></span>
                            </div>
                            <div class="review_ov_barchart_outer">
                                <div class="review_ov_barchart_inner" style="width:{{threeStarPercService}}%;">&nbsp;</div>
                            </div>
                            <div class="review_ov_number" ng-cloak>{{threeStarService}}</div>
                        </div>

                        <div class="review_ov_star_row_wrap">
                            <div class="review_ov_stat">
                                <span class="ov_rating_number">2</span>
                                <span class="ov_star_img"></span>
                            </div>
                            <div class="review_ov_barchart_outer">
                                <div class="review_ov_barchart_inner" style="width:{{twoStarPercService}}%;">&nbsp;</div>
                            </div>
                            <div class="review_ov_number" ng-cloak>{{twoStarService}}</div>
                        </div>
                        <div class="review_ov_star_row_wrap">
                            <div class="review_ov_stat">
                                <span class="ov_rating_number">1</span>
                                <span class="ov_star_img"></span>
                            </div>
                            <div class="review_ov_barchart_outer">
                                <div class="review_ov_barchart_inner" style="width:{{oneStarPercService}}%;">&nbsp;</div>
                            </div>
                            <div class="review_ov_number" ng-cloak>{{oneStarService}}</div>
                        </div>
                    </div>
                </div>


                <div ng-cloak class="product_rating_wrap rating_box">
                    <h3 class="customer_experience_title">Product Rating</h3>

                    <div class="customer_eperience_rating">
                        <span class="review_rating_percentage">{{productRating}}</span>
                        <span class="rating_out_of_5">/5</span>

                        <div class="review_rating_stars">
                            <span class="grey_stars">
                                <span class="gold_stars" style="width:{{productPercentage}}%;">&nbsp;</span>
                            </span>
                        </div>

                    </div>

                    <div class="review_ov_graph_wrap">
                        <div class="review_ov_star_row_wrap">
                            <div class="review_ov_stat">
                                <span class="ov_rating_number">5</span>
                                <span class="ov_star_img"></span>
                            </div>
                            <div class="review_ov_barchart_outer">
                                <div class="review_ov_barchart_inner" style="width:{{fiveStarPerc}}%;">&nbsp;</div>
                            </div>
                            <div class="review_ov_number" ng-cloak>{{fiveStar}}</div>
                        </div>
                        <div class="review_ov_star_row_wrap">
                            <div class="review_ov_stat">
                                <span class="ov_rating_number">4</span>
                                <span class="ov_star_img"></span>
                            </div>
                            <div class="review_ov_barchart_outer">
                                <div class="review_ov_barchart_inner" style="width:{{fourStarPerc}}%;">&nbsp;</div>
                            </div>
                            <div class="review_ov_number" ng-cloak>{{fourStar}}</div>
                        </div>
                        <div class="review_ov_star_row_wrap">
                            <div class="review_ov_stat">
                                <span class="ov_rating_number">3</span>
                                <span class="ov_star_img"></span>
                            </div>
                            <div class="review_ov_barchart_outer">
                                <div class="review_ov_barchart_inner" style="width:{{threeStarPerc}}%;">&nbsp;</div>
                            </div>
                            <div class="review_ov_number" ng-cloak>{{threeStar}}</div>
                        </div>

                        <div class="review_ov_star_row_wrap">
                            <div class="review_ov_stat">
                                <span class="ov_rating_number">2</span>
                                <span class="ov_star_img"></span>
                            </div>
                            <div class="review_ov_barchart_outer">
                                <div class="review_ov_barchart_inner" style="width:{{twoStarPerc}}%;">&nbsp;</div>
                            </div>
                            <div class="review_ov_number" ng-cloak>{{twoStar}}</div>
                        </div>
                        <div class="review_ov_star_row_wrap">
                            <div class="review_ov_stat">
                                <span class="ov_rating_number">1</span>
                                <span class="ov_star_img"></span>
                            </div>
                            <div class="review_ov_barchart_outer">
                                <div class="review_ov_barchart_inner" style="width:{{oneStarPerc}}%;">&nbsp;</div>
                            </div>
                            <div class="review_ov_number" ng-cloak>{{oneStar}}</div>
                        </div>
                    </div>
                </div>
            </div>


            <h1>Latest Service Reviews</h1>

            <section class="reviews_feed_wrap">
                <div class="customer_content_reviews" ng-repeat="review in reviews">
                    <div class="customer_review_header">
                        <div class="header_title">
                            <h4><strong ng-cloak>{{review.service.title == null ? "Review" :  review.service.title}}</strong></h4>
                            <span class="customer_name" ng-cloak>
                                {{review.customer.display_name == null ? "Trusted Customer" :  review.customer.display_name}}
                            </span>


                            <div class="review_rating_stars">
                                <span class="grey_stars">
                                    <span class="gold_stars" style="width:{{(100 * review.service.rating.rating) / 5}}%;">&nbsp;</span>
                                </span>
                            </div>
                        </div>
                        <div class="review_date_time">
                            <span ng-cloak>{{review.service.created_at | date: 'dd'}}<sup>{{getNth(review.service.created_at)}}</sup>&nbsp;{{review.service.created_at | date: 'MMMM yyyy'}}</span>
                        </div>

                    </div>
                    <p class="review_comments" ng-cloak>{{review.service.review}}</p>
                </div>

            </section>



        </div>
    </section>
</article>
@Html.IncludeVersionedJs("/Scripts/Internal/Reviews.js")