﻿@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/Master/_Layout.cshtml";
}


<section class="homepage">
	<section class="hp_hero">


		<section class="stream">
			<div class="inner">
				<div class="video" ng-controller="LiveStreamController" ng-init="init(true, true)" ng-bind-html="LiveStream" ng-class="{video_loading : Loading == true}">

					@* This has been moved to home.js to as there was issues structure is still the same. *@

					@*<div id="ssmp" data-client="hochanda" data-stream="{{defaultStreamingId}}" data-type="live"></div>
						<script src="https://dbxm993i42r09.cloudfront.net/ss.js"></script>*@
				</div>
				@Html.Partial("~/Views/Shared/Partials/_loader.cshtml")
			</div>
		</section>


		<section class="hp_hero_prod_wrap" ng-controller="CurrentlyOnairController" id="currentlyOnAirController">

			<div class="cioa hp_hero_prod ng-hide" ng-show="!IsAuctionHour" ng-if="!IsAuctionHour">
				<h4>Currently On Air</h4>
				@Html.Partial("~/Views/Shared/Partials/_currently_item_on_air.cshtml")

			</div>

			<div class="cioa hp_hero_prod hp_hero_cpd ng-hide" ng-show="IsAuctionHour" ng-if="IsAuctionHour">
				@Html.Partial("~/Views/Shared/Partials/_cpd_craft_price_drop_auction.cshtml")
			</div>

		</section>

		<section class="ods hp_hero_prod hp_hero_prod_wrap" ng-controller="OneDaySpecialController" ng-class="{oos : !ODSInStock}">
			<div class="ods_logo">
				<span class="ods_logo_wrap"><img src="https://hoch.media/elements/one-day-special-hor.svg" alt="Buy todays one day special"></span>
			</div>

			<section ng-show="ODSInStock">
				@Html.Partial("~/Views/Shared/Partials/_currently_item_on_air.cshtml")
			</section>

			<section ng-show="!ODSInStock" class="out_of_stock_container ng-hide">
				@Html.Partial("~/Views/Shared/Partials/_ods_out_of_stock.cshtml")
			</section>


		</section>

	</section>

	<section class="tv_now_next">
		@Html.Partial("~/Views/Shared/Partials/_now_and_next_shows.cshtml")
		<a class="button tv_schedule" href="tv-schedule">
			<span class="icon"><img src="https://www.hoch.media/web-assets/icons/tv-schedule-white.svg" alt="TV Schedule Icon" /></span>
			<span class="text">View TV Schedule</span>
		</a>
	</section>

	<section class="prod_in_show">

		<h4>PRODUCTS IN THE SHOW</h4>

		<div ng-controller="ProductsInShowController" id="ProductsInShowController">
			<div ng-show="(IsBusy != null && IsBusy) || IsBusy == null" class="spinner ng-hide">
				@Html.Partial("~/Views/shared/partials/_loader.cshtml")
			</div>
			<div id="HomeProductsInTheShow">
				@Html.Partial("~/Views/Shared/Partials/_carousel_LOADER.cshtml")
			</div>

		</div>

	</section>



	<section class="videos" ng-controller="HomepageVideoHeroes">
		<div ng-if="Hero != null" ng-bind-html="GetHeroHtml()"></div>
	</section>


	<section class="about_us">
		<div class="inner">
			<h1>
				Hochanda is the home of the UK`s leading TV channel dedicated to Crafts, Hobbies and Arts.
			</h1>
			<span class="divider_line small"></span>
			<h2>
				Hochanda offers the latest and best in craft and art supplies from leading brands including Claritystamp, Katy Sue Designs, Crafts Too, Heartfelt Creations and so many more. With our 14-day money back guarantee and Gold Trusted Service award from Feefo you can rest assured that with Hochanda you will find all you need to create your next masterpiece thanks to our endless creative options.
			</h2>
		</div>
	</section>


	<section class="about_freedom">
		<div class="background">

			<div class="freedom_container">

				<div class="freedom_spacer"></div>

				<div class="about_wrap">
					<div class="hp_freedom_intro_wrap">
						<h4>Get Your</h4>
						<div class="logo_wrap"><img alt="freedom logo" src="https://www.hoch.media/web-assets/hoch-logos/freedom.svg" /></div>
						<span class="divider_line small"></span>
					</div>
					<p>Hochanda freedom is our exclusive club that gives you your freedom and access to some great benefits including UNLIMITED STANDARD DELIVERY and EXCLUSIVE MEMBER ONLY DISCOUNTS!</p>
					<a class="button" href="/about/freedom">Learn More</a>
				</div>

				<div class="offers_wrap">
					<h4>Freedom member offers</h4>
					<div class="promo image"><img src="https://hoch.media/elements/freedom-members-offers.jpg" alt="freedom offers image" /></div>
					<a href="/sale/freedom-offers" class="button">Shop freedom offers</a>
				</div>
				<div class="freedom_spacer bg_white"></div>

			</div>


		</div>
	</section>

	<section class="featured__wrap">
		<div class="inner">
			<section class="featured__section">
				<h4>Featured Categories</h4>
				<div class="featured__cat featured__grid">
					<a href="/category/48/Papercraft" class="featured__item"><span class="image"><img src="https://hoch.media/elements/icons/category-icons/cat_icons_48.svg" alt="title"></span><span class="title">Papercraft</span></a>
					<a href="/category/461/Sewing---Needlecraft" class="featured__item"><span class="image"><img src="https://hoch.media/elements/icons/category-icons/cat_icons_51.svg" alt="title"></span><span class="title">Sewing</span></a>
					<a href="/category/506/Jewellery-Making" class="featured__item"><span class="image"><img src="https://hoch.media/elements/icons/category-icons/cat_icons_50.svg" alt="title"></span><span class="title">Jewellery</span></a>
					<a href="/category/462/Knitting" class="featured__item"><span class="image"><img src="https://hoch.media/elements/icons/category-icons/cat_icons_52.svg" alt="title"></span><span class="title">Knitting &amp; Needlecraft </span></a>
					<a href="/category/39/Arts" class="featured__item"><span class="image"><img src="https://hoch.media/elements/icons/category-icons/cat_icons_39.svg" alt="title"></span><span class="title">Art Supplies</span></a>
					<a href="/category/38/Hobbies" class="featured__item"><span class="image"><img src="https://hoch.media/elements/icons/category-icons/cat_icons_38.svg" alt="title"></span><span class="title">Hobbies</span></a>
					<a href="/category/252/Home-Crafts" class="featured__item"><span class="image"><img src="https://hoch.media/elements/icons/category-icons/cat_icons_252.svg" alt="title"></span><span class="title">Home Crafts</span></a>
					<a href="/category/443/Event-Tickets" class="featured__item"><span class="image"><img src="https://hoch.media/elements/icons/category-icons/cat_icons_443.svg" alt="title"></span><span class="title">Event Tickets</span></a>
					<a href="/sale/freedom-offers" class="featured__item"><span class="image"><img src="https://hoch.media/elements/icons/category-icons/cat_icons_1000.svg" alt="title"></span><span class="title">Freedom Offers</span></a>
				</div>
			</section>

			<section class="featured__section" ng-controller="FeaturedBrandsController">
				<h4>Popular Brands</h4>
				<div class="featured__brand featured__grid">
					<a ng-repeat="brand in featuredBrands" ng-href="{{getBrandUrl(brand.BrandId, brand.BrandName, brand.IsBrandAmbassador)}}" class="featured__item"><span class="image"><img ng-src="{{brand.BrandImage}}" alt="{{BrandImage.BrandName}}"></span></a>
					@*<a ng-repeat="brand in featuredBrands" ng-href="/brand/{{brand.BrandId}}/{{GetWebSafeURL(brand.BrandName)}}" class="featured__item"><span class="image"><img ng-src="{{brand.BrandImage}}" alt="{{BrandImage.BrandName}}"></span></a>*@
				</div>
			</section>
		</div>
	</section>

	<section class="highlights" ng-controller="HomepageFeaturedAreas">
		<div ng-if="Hero != null" ng-bind-html="GetHeroHtml()" class="highlights__wrap">

			@*TEMPLATE*@
			@*<div class="highlights__item"><a href="/sale/essentials" target="_self"><img src="https://www.hoch.media/elements/HP-AD-Essentials.png" alt="Essentials"></a></div>*@

		</div>
	</section>

</section>

@Html.IncludeVersionedJs("/Scripts/Internal/Home.js")
