﻿
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<article>

    <section class="DEMO_CONTAINER" style="height: 300px;">

        @*TODO: - Sam - only use the "loader__wrap" and contents *@
        @*the section is for demo height testing *@
        @Html.Partial("~/Views/Shared/Partials/_loader.cshtml")

    </section>


    <div class="row_container">
        <h3>Product Carousel</h3>
        @Html.Partial("~/Views/Shared/Partials/_carousel_DEMO.cshtml")
    </div>

    <h3>Product Grid</h3>
    @Html.Partial("~/Views/Shared/Partials/_prodGrid_DEMO.cshtml")

    <h3>Text Carousel</h3>
    @Html.Partial("~/Views/Shared/Partials/_carousel_text.cshtml")

    <div ng-controller="TestController">
        <!-- Trigger the modal with a button -->
        <button type="button" class="modal_btn" data-toggle="modal" data-target="#DynamicModal">Modal</button>
        <button type="button" class="modal_btn" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('exp_basket')">Basket</button>
        <button type="button" class="modal_btn" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('raf')">RAF</button>
    </div>

    @Html.Partial("~/Views/Shared/Partials/_error_page.cshtml")

    @*typography demo*@
    <section>
        <h1>Papercraft</h1>
        <h2>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </h2>
        <form action="#" method="post">
            <fieldset>
                <label for="name">Name:</label>
                <input type="text" id="name" placeholder="Enter your full name" />

                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Enter your email address" />

                <label for="select">Select:</label>
                <select id="select">
                    <option>oijgoaier</option>
                    <option>DGHUJDTYJDTYJ</option>
                    <option>oijgoaier</option>
                    <option>oijgoaier</option>
                </select>
                <label for="message">Message:</label>
                <textarea id="message" placeholder="What's on your mind?"></textarea>


                <input type="submit" value="Send message" />

            </fieldset>
        </form>
        <p class="intro">One of the iconic representations of the digital age is an image of the ubiquitous digital screen, stereotypically represented as a grid of brightly-lit pixels.</p>
        <h3>Aenean commodo ligula eget dolor aenean massa</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </p>
        <h4>Aenean commodo ligula eget dolor aenean massa</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis <a href="#">natoque penatibus et magnis dis parturient</a>
            montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </p>
        <ul>
            <li>
                Lorem ipsum dolor sit amet consectetuer.Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit. <a href="#">
                    Aenean commodo ligula eget dolor. Aenean massa Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis
                </a>, ultricies nec, pellentesque eu, pretium quis, sem
            </li>
            <li>
                Aenean commodo ligula eget dolor.Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit. <a href="#">natoque penatibus et magnis dis parturient</a> Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem
            </li>
            <li>
                Aenean massa cum sociis natoque penatibus.Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem
            </li>
        </ul>
        <h5>Aenean commodo ligula eget dolor aenean massa</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </p>
        <h6>Aenean commodo ligula eget dolor aenean massa</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetuer.</li>
            <li>Aenean commodo ligula eget dolor.</li>
            <li>Aenean massa cum sociis natoque penatibus.</li>
        </ul>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </p>
    </section>
</article>
