﻿
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<section class="product" ng-controller="ProductController">

    @* Pick and Mix *@
    <section ng-cloak id="pickAndMixInformation" ng-show="ShowPickAndMix" class="ng-hide">
        <div class="pick_mix_header" ng-class="{complete : SelectedPickAndMixPercent() == 100}">
            <section class="hero_wrap" style="background-image:url({{productInformation.DefaultImageFilename}})">
                <div class="hero">
                    <div class="introduction">
                        <p class="sku">product code: {{productInformation.ParentProductSKU}}</p>
                        <h1>{{productInformation.TVDescription}}</h1>

                        <section class="breadcrumbs ng-hide" ng-show="ShowPickAndMix">
                            <ul class="breadcrumb">
                                <li ng-if="productInformation.CategoryLevel1Id != 20"><a ng-href="{{GetBreadcrumbURL('category', productInformation.CategoryLevel1Id, productInformation.CategoryLevel1Name)}}">{{productInformation.CategoryLevel1Name}}</a></li>
                                <li ng-if="productInformation.CategoryLevel2Id != 20"><a ng-href="{{GetBreadcrumbURL('category', productInformation.CategoryLevel2Id, productInformation.CategoryLevel2Name)}}">{{productInformation.CategoryLevel2Name}}</a></li>
                                <li ng-if="productInformation.CategoryLevel3Id != 20"><a ng-href="{{GetBreadcrumbURL('category', productInformation.CategoryLevel3Id, productInformation.CategoryLevel3Name)}}">{{productInformation.CategoryLevel3Name}}</a></li>
                                <li ng-if="productInformation.CategoryLevel4Id != 20"><a ng-href="{{GetBreadcrumbURL('category', productInformation.CategoryLevel4Id, productInformation.CategoryLevel4Name)}}">{{productInformation.CategoryLevel4Name}}</a></li>
                                <li ng-if="productInformation.CategoryLevel5Id != 20"><a ng-href="{{GetBreadcrumbURL('category', productInformation.CategoryLevel5Id, productInformation.CategoryLevel5Name)}}">{{productInformation.CategoryLevel5Name}}</a></li>
                                <li ng-if="productInformation.BrandId != 1"><a ng-href="{{GetBreadcrumbURL('brand', productInformation.BrandId, productInformation.BrandName)}}">{{productInformation.BrandName}}</a></li>
                            </ul>
                        </section>

                        <div class="fav_wrap" ng-show="IsLoggedIn==1">
                            <div class="notfavourite" ng-show="productInformation.IsFav==0" onclick="AddToFav('@Request.Path', this)">Add To Favourites</div>
                            <div class="favourite" ng-show="productInformation.IsFav==1" onclick="RemoveFromFav('@Request.Path',this)">Remove From Favourites</div>                            
                        </div>
                        <div class="fav_wrap" ng-if="IsLoggedIn==0">
                            <div class="notfavourite" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('login_favourites',null,null,1)">Add To Favourites</div>
                        </div>
                        <div class="price">
                            <span class="was ng-hide" ng-show="ShowPreviousPrice()">{{productInformation.UsualPriceString}}</span>
                            <span class="now ">{{productInformation.PriceString}}</span>
                        </div>

                        <div class="star_rating_wrap ng-hide" ng-show="productInformation.FeefoAveragePercentage != null">
                            <a href="#ReviewsTab" ng-click="setReviewTab()">
                                <span class="grey_stars">
                                    <span class="gold_stars" style="width: {{productInformation.FeefoAveragePercentage}}%;">&nbsp;</span>
                                </span>
                                <span class="number">{{productInformation.FeefoTotalReviews}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            @* Pick and Mix add to basket? Ensure everything is correct etc. *@
            <section id="stickyHide" class="progress_wrap">
                <div class="instruction">
                    <div class="instruction_wrap">
                        <div class="message">You have picked <strong>{{SelectedPickAndMix()}}</strong> of <strong>{{productInformation.PickAndMixQuantity}}</strong> items</div>

                        <div class="add_items">@Html.Partial("~/Views/Shared/partials/_add_to_basket_pick_and_mix.cshtml")</div>
                    </div>
                </div>
                <div class="progress_bar">
                    <div class="bar" style="width: {{SelectedPickAndMixPercent()}}%;"></div>
                </div>
                <div class="progress_bar_icon">
                    <div class="icon" style="left: {{SelectedPickAndMixPercent()}}%;"><span class="number">{{SelectedPickAndMix()}}</span></div>
                </div>
            </section>

            @*this div displays on scroll*@
            <section id="stickyBar" class="progress_wrap hide">
                <div class="instruction">
                    <div class="instruction_wrap">
                        <div class="message">You have picked <strong>{{SelectedPickAndMix()}}</strong> of <strong>{{productInformation.PickAndMixQuantity}}</strong> items</div>
                        <div class="add_items">@Html.Partial("~/Views/Shared/partials/_add_to_basket_pick_and_mix.cshtml")</div>
                    </div>
                </div>
                <div class="progress_bar">
                    <div class="bar" style="width: {{SelectedPickAndMixPercent()}}%;"></div>
                </div>
                <div class="progress_bar_icon">
                    <div class="icon" style="left: {{SelectedPickAndMixPercent()}}%;"><span class="number">{{SelectedPickAndMix()}}</span></div>
                </div>
            </section>

        </div>


        <div class="pick_mix">

            <section>
                <div id="pickAndMixVariations" class="list">

                </div>
            </section>

        </div>
    </section>

    @* Standard Product *@

    <section ng-cloak class="breadcrumbs ng-hide" ng-show="ShowProduct">
        <ul class="breadcrumb">
            <li ng-if="productInformation.CategoryLevel1Id != 20"><a ng-href="{{GetBreadcrumbURL('category', productInformation.CategoryLevel1Id, productInformation.CategoryLevel1Name)}}">{{productInformation.CategoryLevel1Name}}</a></li>
            <li ng-if="productInformation.CategoryLevel2Id != 20"><a ng-href="{{GetBreadcrumbURL('category', productInformation.CategoryLevel2Id, productInformation.CategoryLevel2Name)}}">{{productInformation.CategoryLevel2Name}}</a></li>
            <li ng-if="productInformation.CategoryLevel3Id != 20"><a ng-href="{{GetBreadcrumbURL('category', productInformation.CategoryLevel3Id, productInformation.CategoryLevel3Name)}}">{{productInformation.CategoryLevel3Name}}</a></li>
            <li ng-if="productInformation.CategoryLevel4Id != 20"><a ng-href="{{GetBreadcrumbURL('category', productInformation.CategoryLevel4Id, productInformation.CategoryLevel4Name)}}">{{productInformation.CategoryLevel4Name}}</a></li>
            <li ng-if="productInformation.CategoryLevel5Id != 20"><a ng-href="{{GetBreadcrumbURL('category', productInformation.CategoryLevel5Id, productInformation.CategoryLevel5Name)}}">{{productInformation.CategoryLevel5Name}}</a></li>
            <li ng-if="productInformation.BrandId != 1"><a ng-href="{{GetBreadcrumbURL('brand', productInformation.BrandId, productInformation.BrandName)}}">{{productInformation.BrandName}}</a></li>
        </ul>
    </section>
    <section ng-cloak class="container ng-hide" ng-show="ShowProduct">

        <div class="hero product">

            <div class="image_wrap">

                <div id="productImages">
                    @* Cannot use the partial directly yet due to the carousel messing up. *@
                </div>
                <div class="photo_zoom">
                    <button onclick="openPhotoSwipe();" class="zoom_btn photoswipe_button">Zoom</button>
                </div>
            </div>

            <div class="details">

                <p class="sku">Item Code: {{productInformation.ParentProductSKU}} </p>

                <h1 class="name">{{productInformation.TVDescription}}</h1>

                <div class="star_rating_wrap ng-hide" ng-show="productInformation.FeefoAveragePercentage != null">
                    <a href="#ReviewsTab" ng-click="setReviewTab()">
                        <span class="grey_stars">
                            <span class="gold_stars" style="width: {{productInformation.FeefoAveragePercentage}}%;">&nbsp;</span>
                        </span>
                        <span class="number">{{productInformation.FeefoTotalReviews}}</span>
                    </a>
                </div>

                <div class="fav_wrap" ng-show="IsLoggedIn==1">
                    <div class="notfavourite" ng-show="productInformation.IsFav==0" onclick="AddToFav('@Request.Path',this)">Add To Favourites</div>
                    <div class="favourite" ng-show="productInformation.IsFav==1" onclick="RemoveFromFav('@Request.Path',this)">Remove From Favourites</div>
                </div>
                <div class="fav_wrap" ng-if="IsLoggedIn==0">
                    <div class="notfavourite" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('login_favourites',null,null,1)">Add To Favourites</div>
                </div>

                <div class="price">
                    <span class="was ng-hide" ng-show="ShowPreviousPrice()">{{productInformation.UsualPriceString}}</span>
                    <span class="now ">{{productInformation.PriceString}}</span>
                </div>

                <div class="offers">
                    <span class="freedom ng-hide" ng-show="productInformation.FreedomPrice != null">Freedom price: <strong>{{productInformation.FreedomPriceString}}</strong></span>
                    <span class="flexibuy ng-hide" ng-show="productInformation.IsFlexibuy">Use flexi-buy to spread the cost over <stong>{{productInformation.FlexibuyInstallments}}</stong> instalments of <strong>{{productInformation.FlexibuyPriceString}}</strong> <span class="ng-hide" ng-show="productInformation.FreedomFlexibuyPrice != null">(freedom {{productInformation.FreedomFlexibuyPriceString}})</span></span>
                </div>

                @* TODO: Check over HTML code for drop down (wasn't done by front end)  *@
                <select name="variationSelector" class="ng-hide"
                        ng-options="item.VariationId as item.VariationName for item in productInformation.ProductVariations"
                        ng-model="ProductImageVariationId" ng-change="VariationSelectorImages();"
                        onchange="VariationSelectorChanged(this, false);"
                        ng-show="productInformation.ProductVariations != null && productInformation.ProductVariations.length > 1"></select>

                <div class="basket_cta" id="addToBasketContainer">
                    @* Loads in the partial from controller in angular*@
                </div>
                <div class="full_page"><a href="#product_details">Full Product Details</a></div>
            </div>

        </div>

        <div class="product_demo_videos">

            <div class="videos">

                @Html.Partial("~/Views/Shared/partials/_carousel_small.cshtml")
            </div>
        </div>


    </section>

    @* Both product stuff *@
    <section class="container" ng-show="productsAlsoBought.length > 0">
        <div class="customers_also_bought">
            <h3>Customers Also Bought</h3>
            <div id="ProductsAlsoBought"></div>
        </div>
    </section>


    <section id="product_details" class="ng-hide" ng-show="ShowProductInformation">
        <div class="information">

            <div class="tab_content__head">
                <ul class="nav nav-tabs">
                    <li>
                        <a data-toggle="tab" id="DescTitle" href="#DescriptionTab" onclick="return false" class="active show product-tab-nav">
                            Description
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="DeliveryTitle" href="#DeliveryTab" onclick="return false" class="product-tab-nav">
                            Delivery
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="ReviewsTitle" href="#ReviewsTab" onclick="return false" class="ng-hide product-tab-nav" ng-show="ShowReviewTab()">
                            Reviews
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content tab_content__body">

                <div id="DescriptionTab" class="tab-pane in active show">
                    <p ng-bind-html="productInformation.WebText"></p>
                </div>


                <div id="DeliveryTab" class="tab-pane in">
                    <div class="freedom_ad">
                        <div class="logo">
                            <img src="https://www.hoch.media/elements/freedom.svg" ;">
                        </div>
                        <div class="message">
                            <p>Enjoy <strong>Unlimited Standard Delivery </strong>on all your orders! Call for details on: <strong>01733 60 2000</strong></p>
                        </div>
                        <a href="/about/freedom" class="more_info button">More Info</a>
                        <button class="add_freedom" onclick="AddToBasket(26, 29, this);">Add Freedom</button>
                    </div>

                    <div class="delivery_info_wrap">
                        <div class="delivery">
                            <span class="truck"></span><h5>Delivery</h5>
                            <p>Various delivery options are available in the checkout.</p>
                        </div>
                        <div class="returns">
                            <span class="return_icon"></span><h5>Returns</h5>
                            <p>14 day approval guarantee on all products</p>
                        </div>
                    </div>
                </div>


                <div id="ReviewsTab" class="tab-pane ng-hide" ng-show="ShowReviewTab()">
                    <div class="reviews_feed" id="dvfeefowrap">
                        <div id="page">

                            <div class="comments">

                                @* summary *@
                                <section ng-cloak class="review_summary">
                                    <div class="reviews_intro">
                                        <div class="inner">
                                            <p>Independent Trusted Reviews Provided By:</p>
                                            <a href="/reviews"><img src="https://www.hoch.media/web-assets/logos-3rd-party/Feefo_logo.png" alt="feefo logo" /></a>
                                            <p>Feedback for Hochanda has been compiled from <strong>{{FeefoSummaryResultData.meta.count}}</strong> reviews.</p>
                                        </div>
                                    </div>

                                    <div class="graph__wrap">

                                        <div class="graph__star">
                                            <div class="graph__stat">
                                                <span class="star">5</span>
                                                <span class="icon">&nbsp;</span>
                                            </div>
                                            <div class="graph__barchart__outer">
                                                <div class="graph__barchart__inner" style="width:{{FeefoSummaryResultData != null && FeefoSummaryResultData.rating.product['5_star'] != 0 ? (FeefoSummaryResultData.rating.product['5_star'] / FeefoSummaryResultData.rating.product.count) * 100 : 0}}%;">&nbsp;</div>
                                            </div>
                                            <div class="graph__total">{{FeefoSummaryResultData.rating.product['5_star']}}</div>
                                        </div>

                                        <div class="graph__star">
                                            <div class="graph__stat">
                                                <span class="star">4</span>
                                                <span class="icon">&nbsp;</span>
                                            </div>
                                            <div class="graph__barchart__outer">
                                                <div class="graph__barchart__inner" style="width:{{FeefoSummaryResultData.rating.product['4_star'] != 0 ? (FeefoSummaryResultData.rating.product['4_star'] / FeefoSummaryResultData.rating.product.count) * 100 : 0}}%;">&nbsp;</div>
                                            </div>
                                            <div class="graph__total">{{FeefoSummaryResultData.rating.product['4_star']}}</div>
                                        </div>

                                        <div class="graph__star">
                                            <div class="graph__stat">
                                                <span class="star">3</span>
                                                <span class="icon">&nbsp;</span>
                                            </div>
                                            <div class="graph__barchart__outer">
                                                <div class="graph__barchart__inner" style="width:{{FeefoSummaryResultData.rating.product['3_star'] != 0 ? (FeefoSummaryResultData.rating.product['3_star'] / FeefoSummaryResultData.rating.product.count) * 100 : 0}}%;">&nbsp;</div>
                                            </div>
                                            <div class="graph__total">{{FeefoSummaryResultData.rating.product['3_star']}}</div>
                                        </div>

                                        <div class="graph__star">
                                            <div class="graph__stat">
                                                <span class="star">2</span>
                                                <span class="icon">&nbsp;</span>
                                            </div>
                                            <div class="graph__barchart__outer">
                                                <div class="graph__barchart__inner" style="width:{{FeefoSummaryResultData.rating.product['2_star'] != 0 ? (FeefoSummaryResultData.rating.product['2_star'] / FeefoSummaryResultData.rating.product.count) * 100 : 0}}%;">&nbsp;</div>
                                            </div>
                                            <div class="graph__total">{{FeefoSummaryResultData.rating.product['2_star']}}</div>
                                        </div>

                                        <div class="graph__star">
                                            <div class="graph__stat">
                                                <span class="star">1</span>
                                                <span class="icon">&nbsp;</span>
                                            </div>
                                            <div class="graph__barchart__outer">
                                                <div class="graph__barchart__inner" style="width:{{FeefoSummaryResultData.rating.product['1_star'] != 0 ? (FeefoSummaryResultData.rating.product['1_star'] / FeefoSummaryResultData.rating.product.count) * 100 : 0}}%;">&nbsp;</div>
                                            </div>
                                            <div class="graph__total">{{FeefoSummaryResultData.rating.product['1_star']}}</div>
                                        </div>

                                    </div>
                                </section>

                                @* pagination *@
                                <div id="reviews_anchortop" class="reviews_pagination" ng-cloak>
                                    <ul class="bootpag">
                                        <li class="prev">
                                            <button ng-class="{inactive : FeefoPageNumber == 1}" type="button" ng-click="GetFeefoPageNumber(false)">&nbsp;</button>
                                        </li>
                                        <li class="active ng-hide" ng-show="PaginationShow(i)" ng-repeat="i in PaginationNumbers">
                                            <button type="button" ng-class="{active_number : FeefoPageNumber == i}" ng-click="GetFeefoPageNumber(null, i)">{{i}}</button>
                                        </li>

                                        <li class="next">
                                            <button ng-class="{inactive : FeefoPageNumber == FeefoProductResultData.summary.meta.pages}" type="button" ng-click="GetFeefoPageNumber(true)">&nbsp;</button>
                                        </li>
                                    </ul>
                                </div>


                                <div ng-cloak itemtype="http://schema.org/AggregateRating" itemscope="itemscope" itemprop="aggregateRating">
                                    <span itemprop="ratingValue" content="{{FeefoSummaryResultData.rating.rating}}"></span>
                                    <span itemprop="bestRating" content="5"></span>
                                    <span itemprop="worstRating" content="1"></span>
                                    <span itemprop="reviewCount" content="{{FeefoSummaryResultData.rating.product.count}}"></span>
                                    <span itemprop="itemReviewed" content="{{productInformation.TVDescription}}"></span>
                                </div>


                                @* comments loop *@
                                <div ng-cloak class="comm-table">
                                    <div class="review_item_wrap" ng-repeat="item in FeefoProductResultData.reviews">
                                        <div class="date" href="{{item.url}}">
                                            <time datetime="{{item.products[0].created_at}}">{{item.products[0].created_at | date : 'dd/MM/yyyy'}}</time>
                                        </div>
                                        <div class="rating">
                                            <div class="comm-rating">
                                                <img ng-src="https://www.hoch.media/elements/star-ratings/{{item.products[0].rating.rating}}.png" alt="+" />
                                            </div>
                                        </div>
                                        <div class="comment">
                                            <p>{{item.products[0].review}}</p>
                                        </div>
                                    </div>
                                </div>


                                @* pagination *@
                                <div ng-cloak id="reviews_anchorbottom" class="reviews_pagination">
                                    <ul class="bootpag">
                                        <li class="prev">
                                            <button ng-class="{inactive : FeefoPageNumber == 1}" type="button" ng-click="GetFeefoPageNumber(false)">&nbsp;</button>
                                        </li>
                                        <li class="active ng-hide" ng-show="PaginationShow(i)" ng-repeat="i in PaginationNumbers">
                                            <button type="button" ng-class="{active_number : FeefoPageNumber == i}" ng-click="GetFeefoPageNumber(null, i)">{{i}}</button>
                                        </li>
                                        <li class="next">
                                            <button ng-class="{inactive : FeefoPageNumber == FeefoProductResultData.summary.meta.pages}" type="button" ng-click="GetFeefoPageNumber(true)">&nbsp;</button>
                                        </li>
                                    </ul>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="container ng-hide" ng-show="relatedItems.length > 0">
        <div class="you_may_also_like">
            <h3>You May Also Like</h3>
            @*@Html.Partial("~/Views/Shared/Partials/_carousel.cshtml")*@
            <div id="RelatedItems"></div>
            @*<data-owl-carousel class="owl-carousel" data-options="">
                    <div owl-carousel-item="" ng-repeat="item in relatedItems" class="item">
                        <img ng-src="{{item.DefaultImageFilename}}" alt="image" width="250">
                    </div>
                </data-owl-carousel>*@
        </div>
    </section>
    <google-schema></google-schema>
</section>

@Html.IncludeVersionedJs("/Scripts/Internal/Product.js")


<script>

    $(document).ready(function () {
        // get the tab from url
        var hash = window.location.hash;
        // if a hash is present (when you come to this page)
        if (hash != '') {
            $('a[href="' + hash + '"].product-tab-nav').tab('show');
        }
    });
</script>