﻿html {
    width: 96%;
}

.container_12 {
    padding: 0;
    margin: 0;
    width: 100%;
}

.dataBox {
    padding: 0;
    margin: 0;
    width: 100%;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_7_5, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    padding-left: 0;
    padding-right: 0;
}

form#ExecutePay div#customerDetails {
    display: none;
}

div#brandSelectionSlider {
    width: 100%;
    float: left;
    clear: both;
}

div#paySelectionControl {
    width: 100%;
    float: left;
    clear: both;
    margin: 20px 0 0 0;
    padding: 0;
}

.custom_labelColumn {
    width: 100%;
}

.custom_label {
    font-size: 12px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    margin: 16px 0 3px 0;
}

.custom_input input {
    width: 98%;
    padding: 0;
    text-indent: 6px;
    border: 1px solid #ccc;
    max-width: 500px;
    height: 40px;
    line-height: 40px;
}

.custom_input {
    width: 100%;
}

    .custom_input select {
        padding: 6px 6px;
    }

input.cvv {
    width: 70px;
}

.visaContainer {
    background: none;
}

.masterContainer {
    background: none;
}

.amexContainer {
    background: none;
}

.maestroContainer {
    background: none;
}

.soloContainer {
    background: none;
}

.jcbContainer {
    background: none;
}

.euddContainer {
    background: none;
}


input#submitButton {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
    float: left;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    line-height: 50px;
    height: 50px;
    margin: 30px 0 5px 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: #ed137d;
    text-align: center;
    cursor: pointer;
    border: 1px solid #A01D5D;
}

    input#submitButton:hover {
        background-color: #A01D5D;
    }





body.content.custom_body {
    /* max-width: 600px; */
    margin: 0 auto;
}

span#orderAmount {
    font-size: 30px;
    display: none;
}

    span#orderAmount span {
        display: none;
    }

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.custom_ui-dialog {
    background-color: darkred;
    color: #fff;
    width: 290px !important;
}

    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.custom_ui-dialog p {
        color: #fff;
        text-align: center;
        margin: 0 0 16px 0;
        padding: 0px 25px;
        font-size: 13px;
        line-height: 17px;
        text-transform: uppercase;
    }

span#submitDialog {
    background-color: darkred;
    display: block !important;
    padding: 0;
}

select {
    height: 40px !important;
}

h2.custom_paymentHeader {
    visibility: hidden;
    margin: 20px 0 0 0;
    width: 100%;
    padding: 0;
}

    h2.custom_paymentHeader:after {
        visibility: visible;
        content: 'Please add a new card';
        font-size: 30px;
        letter-spacing: -1px;
        margin-bottom: 0px;
        display: block;
        text-transform: uppercase;
        padding: 0;
        font-weight: bold;
    }

div#brandSelectionSlider:before {
    content: 'Please select your card type below:';
    float: left;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 25px;
}

.activeBrand {
    background-color: #ffffff;
    border: 6px solid #ed137d;
    top: -3px;
}

p {
    margin: 0 !important;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.waitingDialog.custom_waitingDialog.custom_ui-dialog .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.custom_ui-dialog-titlebar {
    display: none;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.waitingDialog.custom_waitingDialog.custom_ui-dialog div#waitingDialog {
    font-size: 16px;
    line-height: 24px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #ffffff !important;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.waitingDialog.custom_waitingDialog.custom_ui-dialog {
    background-color: #458B00;
    padding: 11px;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}




.irRadio {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding-left: 40px;
    padding-top: 5px;
}

#selectionSliderLine {
    display: none;
}

.dataBox {
    background: none;
}

.brandSelectionSliderLine {
    border: none;
}

.imgBrand, .imgBrand em {
    border: 1px solid #DBDCDD;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #DBDCDD;
}

.activeBrand {
    border: 6px solid #ed137d;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #DBDCDD;
}

.masterImg, .masterImg em {
    background-position: 6px -176px;
}

.maestroImg, .maestroImg em {
    background-position: 5px -86px;
}

.amexImg, .amexImg em {
    background-position: 7px 4px;
}
