﻿
@{
    ViewBag.Title = "Cinema";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<div class="cinema_page" ng-controller="CinemaCtrl" ng-cloak>
    <input type="hidden" value="@Request["tvscheduleid"]" id="tvscheduleid" />

    <section class="cinema_wrap">
        <div class="inner">
            <div class="video" ng-bind-html="RewindVideoStream">
                @* This has been moved to the TvSchedule.js. It matches the below format. *@
                @*<div id="WatchVideo" data-client="hochanda" data-type="vod" data-stream="{{simpleStreamRewindDataStream}}" data-date="{{TvScheduleInfo.TVShowDateUKToUse | date: 'yyyy-MM-dd' : 'UTC'}}" data-start="{{TvScheduleInfo.TVShowDateUKToUse | date: 'HH:mm:ss' : 'UTC'}}">
                    <script ng-if="TvScheduleInfo != null" src="https://dbxm993i42r09.cloudfront.net/ss.js"></script>
                </div>*@
            </div>
            @Html.Partial("~/Views/Shared/Partials/_loader.cshtml")
        </div>
    </section>

    <section class="information_wrap">
        <div class="information">
            <div class="show_name">
                <h1>{{TvScheduleInfo.ShowName}}</h1>
                <div class="aired">Aired: {{TvScheduleInfo.ShowDateTime | date: 'dd-MM-yyyy' }}</div>
                <div class="divider_line"></div>
            </div>

            <div class="synopsis">
                <div class="description">
                    {{TvScheduleInfo.DefaultEPGText}}
                </div>
            </div>

        </div>

    </section>

    <section class="product_grid_wrap">



        <div class="title">
            <h2 class="name">Products in this show</h2>
            <div class="divider_line"></div>
        </div>

        <div id="featured_products" >

        </div>


    </section>

    <section class="button_wrap">
        <div class="inner">
            <a href="~/tv-schedule" class="button schedule">
                tv schedule
            </a>
        </div>
    </section>

</div>
@Html.IncludeVersionedJs("/Scripts/Internal/TvSchedule.js")