﻿
@{
    ViewBag.Title = "TV Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TvSchedule</h1>

@*<section>
        header
            - title
            - intro
    </section>*@

@*<section>
        day selector
    </section>*@

@*<section>
        shows list
            - for each
                - about show
                - Products in this show - product carousel (_carousel)
                - watch
    </section>*@
