﻿
@{
    ViewBag.Title = "AddressBook";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}
@Html.IncludeVersionedJs("/Scripts/Internal/Checkout.js")

<section class="my_acc section_background_img" style="background-image: url(https://www.hoch.media/web-assets/backgrounds/4.jpg)">

    <div class="acc_wrap">
        @Html.Partial("~/Views/Shared/Partials/_account_navigation.cshtml")

        <div class="content_box">
            <section class="address_book_wrap">
                <h1>Address Book</h1>

                @Html.Partial("~/Views/Shared/Partials/_address_book.cshtml")

            </section>
        </div>
    </div>
</section>
