﻿
@{
    ViewBag.Title = "Favourites";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<section ng-controller="FavouritesCtrl" class="favourites_page">
    <section class="section_header section_header_favourites">
        <div class="background_header_color">
            <div class="logo_favourite_wrap">
                <img id="img_favourite_logo"
                     src="https://www.hoch.media/web-assets/icons/favourites-pink.svg" />
            </div>
            <div class="header_titles">
                <h1>My favourites</h1>
                <h2>You can save products, categories and brands here to find them easily on your next visit. These products are not reserved and may go out of stock. </h2>
            </div>


            <data-owl-carousel class="text_carousel owl-carousel" data-auto-run="true" data-options="{
                                    responsive: {
                                                0: { items: 1, margin: 0, loop: false, autoWidth: true, center: true, stagePadding: 0, nav: true, dots: false },
                                                600: { margin: 0, loop: false, autoWidth: true, center: false, stagePadding: 0, nav: true, dots: false },
                                                768: { margin: 0, loop: false, autoWidth: true, center: false, stagePadding: 0, nav: true, dots: false },
                                                1000: { margin: 0, loop: false, autoWidth: true, center: false, stagePadding: 0, nav: true, dots: false },
                                                1200: { margin: 0, loop: false, autoWidth: true, center: false, stagePadding: 0, nav: true, dots: false },
                                                1280: { margin: 0, loop: false, autoWidth: true, center: false, stagePadding: 0, nav: true, dots: false },
                                                1500: { margin: 0, loop: false, autoWidth: true, center: false, stagePadding: 0, nav: true, dots: false }
                                    }
                               }">
                <a owl-carousel-item href="{{item.pageurl}}" ng-repeat="item in Pages">
                    {{item.pagename}}
                </a>
            </data-owl-carousel>

        </div>
    </section>

    <section class="fav_prods">

        <span id="Prodcarousel"></span>

        <a href="~/Views/Shared/Partials/_carousel_text.cshtml"></a>
        <a href="~/Views/Shared/Partials/_prodFilter.cshtml"></a>
        <a href="~/Views/Shared/Partials/_prodGrid.cshtml"></a>


        @*<button role="button" class="button" data-toggle="modal" data-target="#DynamicModal" ng-click="ShowModal('login_favourites')">login_favourites</button>*@

    </section>

</section>



@Html.IncludeVersionedJs("/Scripts/Internal/Favourite.js")