﻿
@{
    ViewBag.Title = "FreedomMembersArea";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<section class="my_acc section_background_img" ng-controller="FreedomMemberCtrl" style="background-image: url(https://www.hoch.media/elements/sky-freedom.jpg);">

    <div class="acc_wrap">

        @Html.Partial("~/Views/Shared/Partials/_account_navigation.cshtml")

        <div class="content_box">
            <div class="freedomarea">
                <h1>Membership Area</h1>


                <div class="freedom_holiday">

                    <h2>Freedom Holiday?</h2>

                    <div class="divider_line"></div>

                    <p>
                        If you are going on holiday, you can pause your freedom membership so that you can make the most of your membership when you need it.
                    </p>
                    <div class="activate_cta" ng-if="isFreedomHoliday != null && !isFreedomHoliday" ng-cloak>
                        <button role="button" class="button" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('freedomActivateHoliday_template')">Activate Holiday</button>
                    </div>
                    <p ng-if="isFreedomHoliday" ng-cloak>
                        You can only activate a holiday from freedom payment once every 30 days
                    </p>
                </div>

                <div ng-cloak class="payments" ng-if="SchedLength>0">
                    <table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;">
                        <tbody>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                            </tr>
                            <tr ng-repeat="schedule in ScheduleList">
                                <td>{{schedule.Date | date: 'dd/MM/yyyy'}}</td>
                                <td>{{schedule.AmountString}}</td>
                                <td>{{schedule.Status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <div class="freedom_magazines">

                    @*<div class="advert_box_one"><img src="https://www.hoch.media/web-assets/dummy-test-images/Freedomadvert.PNG" /></div>*@

                    <h2>Membership Newsletter</h2>

                    <div class="divider_line"></div>
                    <p>
                        Read all the past issues of the exclusive Freedom Magazine! New issues will appear here when they are released.
                    </p>

                    <div ng-cloak class="magazines">
                        <div class="issue" ng-repeat="magazine in magazines">
                            <a target="_blank" href="{{magazine.url}}">
                                <span class="magazine_image">
                                    <img src="{{magazine.cover}}" alt="{{magazine.title}}-{{magazine.volume}}">
                                </span>
                                <span class="link">{{magazine.volume}}</span>
                            </a>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>


</section>

@Html.IncludeVersionedJs("/Scripts/Internal/Account.js")
<script>
    $(document).ready(function () {
        $(".magazine_image img").css("height", $(".issue").width() * 1.35 + "px");
    });
</script>
