﻿
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";

}

<section class="my_acc section_background_img" style="background-image: url(https://www.hoch.media/web-assets/backgrounds/2.jpg)">

    <div class="acc_wrap">


        @Html.Partial("~/Views/Shared/Partials/_account_navigation.cshtml")

        <div class="content_box">

            <h1>Welcome to Hochanda</h1>

            @* TODO: Future flexi payments *@
            @*@Html.Partial("~/Views/Shared/Partials/_flexi_payments.cshtml")*@


            <h6>Recent Orders</h6>

            <div class="order_list_account" ng-controller="RecentOrdersController" ng-cloak>
                <div class="order_list">
                    <div class="rows" ng-class="{flexibuy_order : order.FlexiItems == 'y', downloadable_order : order.DownloadItems == '1'}" ng-repeat="order in orders">

                        <div class="flexi">Contains flexi-buy item(s)</div>
                        <div class="download">Contains download(s)</div>


                        <div class="details">
                            <div class="date">
                                <span class="title">order date</span>
                                <span class="info ng-binding">{{order.OrderDate | date: "dd/MM/yyyy"}}</span>
                            </div>
                            <div class="number">
                                <span class="title">order number</span>
                                <span class="info ng-binding">{{order.OrderId}}</span>
                            </div>
                        </div>

                        <div class="details">
                            <div class="total">
                                <span class="title">order total</span>
								<span class="info" ng-if="order.FlexiItems == 'y'">{{order.orderCurrency}}{{order.OrderValueString}}*</span>
								<span class="info" ng-if="order.FlexiItems != 'y'">{{order.orderCurrency}}{{order.OrderValueString}}</span>
                            </div>
                            <div class="status">
                                <span class="title">dispatch status</span>
                                <span class="ng-binding">{{order.OrderStatus}}</span>
                            </div>
                        </div>

                        <div class="details_cta">
                            <a data-toggle="modal" data-target="#DynamicModal" ng-click="ShowOrderModal(order.OrderId)" class="view">View Order</a>
                        </div>

                    </div>

					<p class="note">* This price is the final price when all flexi payments have been made.</p>
                </div>
            </div>
            <div class="details_cta">
                <a href="/account/orderhistory" class="button">View All Orders</a>
            </div>


            <section class="advert_wrap">
                @*TODO: pull in adverts from Hope.tools*@
                @*<div class="advert_box_one"><img src="https://www.hoch.media/web-assets/dummy-test-images/Christmasadvert.PNG" /></div>
                    <div class="advert_box_one"><img src="https://www.hoch.media/web-assets/dummy-test-images/Freedomadvert.PNG" /></div>
                    <div class="advert_box_one"><img src="https://www.hoch.media/web-assets/dummy-test-images/refera%20friend%20advert.PNG" /></div>*@
            </section>


        </div>
    </div>


    <div class="clear"></div>

    @*below div moved to _account_navigation.cshtml*@
    @*<div class="form" ng-controller="accOverViewCtrl" data-ng-init="init()">
            <div>
                <p>Customer Ref:- {{customerid}}</p>
                <p>freedommember :- {{freedommember}}</p>
                <p>freedomholiday :- {{freedomholiday}}</p>
                <p>hascustomercredit :- {{hascustomercredit}}</p>

            </div>
        </div>*@

</section>


@Html.IncludeVersionedJs("/Scripts/Internal/Account.js")

