﻿
@{
	ViewBag.Title = "MyDetails";
	Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<section class="my_details section_background_img" style="background-image: url(https://www.hoch.media/web-assets/backgrounds/7.jpg)">

	<div class="acc_wrap">

		@Html.Partial("~/Views/Shared/Partials/_account_navigation.cshtml")

		<div class="content_box" ng-controller="accDetailsCtrl" data-ng-init="init()" ng-cloak>
			<h1>Your Details</h1>
			<div class="personal_details">
				<h6>Basic Details</h6>
				<div class="inner_wrap">

					<div class="label">Customer Number:</div>
					<div class="detail"><span>{{customerid}}</span></div>

					<div class="label">Name:</div>
					<div class="detail">
						<span>{{title}}</span>
						<span>{{firstname}}</span>
						<span>{{lastname}}</span>
					</div>

					<div class="label">Birthday:</div>
					<div class="detail">
						<span>{{dob}}</span>
					</div>

					<div class="label">Phone Number:</div>
					<div class="detail">
						<span>{{phonenumber1}}</span>
					</div>

					<div class="label">Alternative Phone Number:</div>
					<div class="detail">
						<span>{{phonenumber2}}</span>
					</div>

					<div class="label">Email:</div>
					<p class="small">This is the email address you will login with and where we will send your order confirmation emails.</p>
					<div class="detail">
						<p>{{emailaddress}}</p>
					</div>

					<button role="button" class="button" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('mydetailsUpdate_template')">Update Personal details</button>
					<p class="warning">If you change your email address, you will be logged out and prompted to log in again.</p>
				</div>
			</div>

			@*<div class="email_wrap">
					<h6>Email:</h6>
					<div class="inner_wrap">
					</div>
				</div>*@



			<div class="update_password">
				<h6>Password</h6>
				<div class="inner_wrap">
					<p>To update your password you will need to enter your current password. Please keep these safe and do not share your password with anyone.</p>
					<button role="button" class="button" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('mydetailsUpdatePassword_template')">Update Password</button>
					<p class="warning">If you change your password, you will be logged out and prompted to log in again.</p>
				</div>
			</div>



		</div>

	</div>


</section>
@Html.IncludeVersionedJs("/Scripts/Internal/Account.js")