﻿@{
    ViewBag.Title = "OrderSummary";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<section ng-controller="OrderSummaryCtrl" ng-init="init('@ViewBag.OrderId')" class="my_acc section_background_img" 
         style="background-image: url(https://www.hoch.media/web-assets/backgrounds/3.jpg)">

    <div ng-show="OrderSummary.orderId==null" class="spinner ng-hide" ng-cloak>
        @Html.Partial("~/Views/shared/partials/_loader.cshtml")
    </div>
    <div ng-show="OrderSummary.orderId!=null" class="acc_wrap" ng-cloak>

        @Html.Partial("~/Views/Shared/Partials/_account_navigation.cshtml")

        <div class="content_box">
            <div class="ordersummary">
                <h1>Order Summary</h1>
                <div class="order_title">
                    <!-- DUMMY ORDER INFO REMOVED-->
                    <div class="number" ng-cloak><p>Order Number: {{OrderSummary.orderId}}</p></div>
                    <div class="date" ng-cloak><p>date: {{OrderSummary.orderDate | date:'dd/MM/yyyy'}}</p></div>
                </div>

                <div class="wrap">
                    <div class="address">

                        <div class="box_wrap delivery">
                            <h6>Delivery Address</h6>
                            <div class="inner_wrap">
                                <!-- DUMMY ADDRESS DATA REMOVED-->
                                @*<span>{{OrderSummary.shippingAddress.customername}}</span>*@
                                <span ng-cloak>{{OrderSummary.shippingAddress.street1}}</span>
                                <span ng-cloak>{{OrderSummary.shippingAddress.street2}}</span>
                                <span ng-cloak>{{OrderSummary.shippingAddress.town}}</span>
                                <span ng-cloak>{{OrderSummary.shippingAddress.city}}</span>
                                <span ng-cloak>{{OrderSummary.shippingAddress.postcode}}</span>
                            </div>
                        </div>

                        <div class="box_wrap billing">
                            <h6>Billing Address</h6>
                            <div class="inner_wrap">
                                <!-- DUMMY ADDRESS DATA REMOVED-->
                                @*<span>{{OrderSummary.billingAddress.customername}}</span>*@
                                <span ng-cloak>{{OrderSummary.billingAddress.street1}}</span>
                                <span ng-cloak>{{OrderSummary.billingAddress.street2}}</span>
                                <span ng-cloak>{{OrderSummary.billingAddress.town}}</span>
                                <span ng-cloak>{{OrderSummary.billingAddress.city}}</span>
                                <span ng-cloak>{{OrderSummary.billingAddress.postcode}}</span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="summary">
                    <div class="product" ng-repeat="item in OrderSummary.orderItems" ng-cloak>
                        @Html.Partial("~/Views/Shared/Partials/_order_summary_product.cshtml")
                    </div>
                </div>

                <div class="information">
                    <div class="total">
                        <div class="delivery">
                            <div class="label_txt">delivery:</div>
                            <div class="subtotal"><span ng-cloak>{{OrderSummary.deliveryCost}}</span></div>
                        </div>
                        <div class="total_figure">
                            <div class="label_txt">total:</div>
                            <div class="fulltotal"><span ng-cloak>{{OrderSummary.orderTotalCost}}</span></div>
                        </div>
                    </div>

                    <div class="flexibuy" ng-if="OrderSummary.containsFlexi==1" ng-cloak>
                        <strong>Payment Instalments:</strong> <strong>{{totalPending}}</strong> in total to pay in instalments. Please see our <a href="/about/terms-conditions">Terms & Conditions.</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="clear"></div>

</section>

@Html.IncludeVersionedJs("/Scripts/Internal/Account.js")