﻿
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}




<!--http://www.daterangepicker.com/ - Date Range Picker for searching order history-->

<section class="my_acc section_background_img" style="background-image: url(https://www.hoch.media/web-assets/backgrounds/9.jpg)">

    <div class="acc_wrap">

        @Html.Partial("~/Views/Shared/Partials/_account_navigation.cshtml")

        <div class="content_box">
            <div ng-controller="OrderHistoryController" class="orderhistory" ng-cloak>
                <h1>Order history</h1>

                <div class="filter">
                    <div class="number">
                        <input placeholder="Order Number" ng-model="orderNoSelected" type="text">
                    </div>
                    <div class="to">
                        @*<input type="text"  ng-model="dateSelected" name="daterange" />*@
                        <input date-range-picker="t1"
                               start-date="startDate"
                               end-date="endDate"
                               placeholder=""
                               data-ng-required="true"
                               date-range-picker-options="options"
                               clear-on-cancel="true"
                               class="form-control">
                        <!--http://www.daterangepicker.com/ - Date Range Picker for searching order history-->
                    </div>
                    <div class="type">
                        <select ng-model="orderTypeSelected" ng-init="orderTypeSelected=orderTypeSelect[0]" ng-options="o as o.text for o in orderTypeSelect"></select>
                    </div>
                    <div class="type">
                        <select ng-model="orderStatusSelected" ng-init="orderStatusSelected=orderStatusSelect[0]" ng-options="o as o.text for o in orderStatusSelect"></select>
                    </div>
                    <div class="search"><button ng-click="orderSearchButton()">order search</button></div>
                </div>


                <div class="order_list">
                    <p ng-cloak>Orders on page: {{orders.length}}<span ng-show="numberOfPages > 0"> - Page {{currentPage}} of {{numberOfPages}}</span></p>

                    <div class="order_hist_pagination_btns" ng-show="numberOfPages > 0">
                        <button ng-disabled="disableBackwardButtons()" ng-click="first()">First</button>
                        <button ng-disabled="disableBackwardButtons()" ng-click="prev()">Prev</button>
                        <button ng-disabled="disableForwardButtons()" ng-click="next()">Next</button>
                        <button ng-disabled="disableForwardButtons()" ng-click="last()">Last</button>
                    </div>


                    <div ng-cloak ng-repeat="order in orders" class="rows" ng-class="{flexibuy_order : order.FlexiItems == 'y', downloadable_order : order.DownloadItems == '1'}">

                        <div class="flexi">Contains flexi-buy item(s)</div>
                        <div class="download">Contains download(s)</div>

                        <div class="details">
                            <div class="date">
                                <span class="title">order date</span>
                                <span class="info">{{order.OrderDate | date: "dd/MM/yyyy"}}</span>
                            </div>
                            <div class="number">
                                <span class="title">order number</span>
                                <span class="info">{{order.OrderId}}</span>
                            </div>
                        </div>
                        <div class="details">
                            <div class="total">
                                <span class="title">order total</span>
								<span class="info" ng-if="order.FlexiItems == 'y'">{{order.orderCurrency}}{{order.OrderValueString}}*</span>
                                <span class="info" ng-if="order.FlexiItems != 'y'">{{order.orderCurrency}}{{order.OrderValueString}}</span>
                            </div>
                            <div class="status">
                                <span class="title">dispatch status</span>
                                <span>{{order.OrderStatus}}</span>
                            </div>
                        </div>
                        <div class="details_cta">
                            <a data-toggle="modal" data-target="#DynamicModal" ng-click="ShowOrderModal(order.OrderId)" class="view">View Order</a>
                        </div>
                    </div>

					<p class="note">* This price is the final price when all flexi payments have been made.</p>

                </div>

            </div>
        </div>
    </div>

</section>
@Html.IncludeVersionedJs("/Scripts/Internal/Account.js")

<script>
    /* $(function () {
         $('input[name="daterange"]').daterangepicker({
             opens: 'left'
         }, function (start, end, label) {
             console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
         });
     });*/
</script>

