﻿
@{
    ViewBag.Title = "PaymentMethods";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}
<section class="my_details section_background_img" style="background-image: url(https://www.hoch.media/web-assets/backgrounds/8.jpg)">

    <div class="acc_content_my_payments">
        <div class="acc_wrap">

            @Html.Partial("~/Views/Shared/Partials/_account_navigation.cshtml")

            <div class="content_box">
                <div class="my_details_wrap_personal">
                    <h1>My Payment Details</h1>

                    @Html.Partial("~/Views/Shared/Partials/_manage_payment_methods.cshtml")

                </div>
            </div>

        </div>
    </div>
</section>
@Html.IncludeVersionedJs("/Scripts/Internal/Checkout.js")
@Html.IncludeVersionedJs("/Scripts/Internal/LookupPostcode.js")