﻿
<section class="reset_password_wrap" ng-cloak ng-controller="resetPasswordCtrl" ng-init="TokenValidation()" style="background-image: url(https://www.hoch.media/web-assets/backgrounds/10.jpg)">
    <input type="hidden" id="hid_rp" value="@ViewBag.Token" />
    <div ng-if="validlink==1" class="reset_password">
        <h1>Reset Password</h1>
        <input type="password" placeholder="New Password" ng-model="newPassword" ng-keydown="$event.keyCode === 13 && ResetPassword(newPassword,confirmPassword)" />
        <input type="password" placeholder="Confirm Password" ng-model="confirmPassword" ng-keydown="$event.keyCode === 13 && ResetPassword(newPassword,confirmPassword)" />
        <input type="button" value="submit" ng-click="ResetPassword(newPassword,confirmPassword)" />
        <div class="validationSuccess" id="validationSuccessDiv">

        </div>
        <div class="validationError " id="validationErrorDiv">

        </div>
    </div>
    <div class="reset_password" ng-if="validlink==0" ng-cloak>
        <h1>Link Expired</h1>
        <p>Sorry, password resset link has now expired.</p>
        <a class="button" href="/account/forgotpassword">Resset Password</a>

    </div>
</section>
@Html.IncludeVersionedJs("/Scripts/Internal/ResetPassword.js")
