﻿
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}
<section class="my_details section_background_img" style="background-image: url(https://www.hoch.media/web-assets/backgrounds/5.jpg)">

    <div class="acc_content_my_settings" ng-controller="accSettingsCtrl" data-ng-init="init()">
        <div class="acc_wrap">

            @Html.Partial("~/Views/Shared/Partials/_account_navigation.cshtml")

            <div class="content_box">


                <h1>MY Settings</h1>

                <div class="setting_wrap">

                    <h3>Account Credit Currency</h3>
                    <p>This is your preferred currency to receive account credit in ONLY. <strong>To change the currency you view the website in, please use the options in the side menu.</strong></p>
                    <select ng-model="defaultCurrency" ng-options="oCurr.currencyid as oCurr.CurrencyDisplayName for oCurr in currenices"></select>
                    <p class="small"><strong>NOTE:</strong> Credit is only added to the currency wallet you have selected, and is only available for spending in that currecncy.</p>

                    <div class="marketing_prefernce_wrap">
                        <h3>Marketing Preferences</h3>
                        <div class="marketingoptin">
                            <input type="checkbox" id="emailMarketingUs" class="styled-checkbox" ng-model="receiveEmail" ng-true-value="true" ng-false-value="false" />
                            <label class="marketing_checkbox" for="emailMarketingUs">Yes, I want to be the first to hear about new shows, special offers, promotions and news from Hochanda right to my email inbox. (You can unsubscribe at any time)</label>

                            <input type="checkbox" id="emailMarketing3rd" class="styled-checkbox" ng-model="receiveEmail3rdParty" ng-true-value="true" ng-false-value="false" />
                            <label class="marketing_checkbox" for="emailMarketing3rd">Yes, I would like to receive emails of special offers, promotions and news from Hochanda’s appropriate and carefully selected partners. (You can unsubscribe in any email)</label>

                            <input type="checkbox" id="postMarketing" class="styled-checkbox" ng-model="receivePost" ng-true-value="true" ng-false-value="false" />
                            <label class="marketing_checkbox" for="postMarketing">Yes, I want to be the first to hear about new shows, special offers, promotions and news from Hochanda. (Via Postal)</label>

                            <input type="checkbox" id="smsMarketing" class="styled-checkbox" ng-model="receiveSms" ng-true-value="true" ng-false-value="false" />
                            <label class="marketing_checkbox" for="smsMarketing">Yes, I want to be the first to hear about new shows, special offers, promotions and news from Hochanda. (Via Sms)</label>
                        </div>

                        <div class="marketing_preference_button"><a href="#" class="button" ng-click="SaveAccountPrefs()">Save Preferences</a></div>
                        <p class="small_print">We treat your personal data with care; to learn more, please view our <a href="/about/privacy-policy">privacy policy</a>.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
@Html.IncludeVersionedJs("/Scripts/Internal/Account.js")