﻿
@{
	ViewBag.Title = "Payment";
	Layout = "~/Views/Shared/Master/_CallCenter_layout.cshtml";
	@model ModelLayer.Models.Reservation.CallCentreBasketModel
}

@if (Model == null)
{
	@Html.Partial("~/views/shared/partials/_expired_basket.cshtml")
}
else if (Model.AddressDetails == null)
{
	<div class="error_wrap">
		<p class="error">Address Not Found</p>
	</div>
	<div class="error_wrap">
		<p class="error">Cannot continue</p>
	</div>
}
else if (Request.Url.Query.ToLower().Contains("addedcard=false"))
{
	@Html.Partial("~/views/shared/partials/_card_error.cshtml")
}
else
{

	<section class="call_centre" id="callCentre">
		<h1>Payment</h1>
		@if (Request.Url.Query.ToLower().Contains("addedcard=true"))
		{
			<div class="success_wrap"><span class="success">Card added successfully</span></div>
		}
		<div class="inner">

			<section class="card_wrap">
				<div class="inner">
					<div class="intro">
						<h4 class="subtitle">Select an existing card or add a new card below</h4>
						<p>Only cards added via the call centre are available for selection.</p>
					</div>


					@if (Model.CardDetails == null || Model.CardDetails.Count == 0)
					{
						@Html.DropDownListFor(i => i.SelectedCardIBLookup, new List<SelectListItem>(), "No cards found", null)

						<a href="#" class="button add_card" onclick="AddNewCard(); return false;">Add New Card</a>
						<a href="#" class="button pay disabled" onclick="return false;">Pay Now</a>
					}
					else
					{
						@Html.DropDownListFor(i => i.SelectedCardIBLookup, new SelectList(Model.CardDetails, "iBLookUP", "Last4DigitsToDisplay"), new { @id = "selectedCardLookupDropDown" })

						<a href="#" class="button add_card" onclick="AddNewCard(); return false;">Add New Card</a>
						<a href="#" class="button pay" onclick="PayNow(); return false;">Pay Now</a>
					}

				</div>
			</section>


			<section class="summary">

				<div class="order_summary__row sub_total">
					<div class="order_summary__label">Product Sub Total Today</div>
					<div class="order_summary__value" ng-cloak>@Model.SubTotalWithCurrency</div>
				</div>

				<div class="order_summary__row delivery">
					<div class="order_summary__label">Delivery</div>
					<div ng-cloak class="order_summary__value">@Model.DeliveryWithCurrency</div>
				</div>

				@*START TAX TOTAL*@
				@if (!string.IsNullOrEmpty(Model.TotalTaxWithCurrency))
				{
					<div class="order_summary__row tax_wrap_total">
						<div class="label_txt"><strong>Total Tax</strong></div>
						<div class="order_summary__value"><strong>@Model.TotalTaxWithCurrency</strong></div>
					</div>
				}

				@*START TAX TOTAL*@

				@if (Model.TaxDetails != null && Model.TaxDetails.Count != 0)
				{
					foreach (var tax in Model.TaxDetails)
					{
						<div class="order_summary__row tax_wrap_part">
							<div class="label_txt">@tax.Key</div>
							<div class="order_summary__value"><span>@tax.Value</span></div>
						</div>
					}

				}
				@*END TAX SUMMARY*@



				<div class="order_summary__row total">
					<div class="order_summary__label total">
						<strong>Total Today</strong>
					</div>
					<div ng-cloak class="order_summary__value total"><strong>@Model.TotalToPayWithCurrency</strong></div>
				</div>

			</section>
		</div>
	</section>


	<section class="payment_wrap" id="addCard" style="display:none;">
		<div class="iframeWrap">
			<iframe id="addCardiFrame" height="800" width="320" scrolling="yes" frameborder="0"></iframe>
		</div>
	</section>
}

<div id="loaderDiv" style="display:none;">
	@Html.Partial("~/views/shared/partials/_loader.cshtml")
</div>

@if (Model != null)
{
	<script>

		$(document).ready(function () {
			if (location.href.toLowerCase().indexOf("addedcard=true") != -1) {

				var newURL = RemoveURLParameter("addedCard");

				if (history.pushState) {
					window.history.pushState({ path: newURL }, '', newURL);
				}
			}
		});

		//Taken from https://stackoverflow.com/questions/1634748/how-can-i-delete-a-query-string-parameter-in-javascript
		function RemoveURLParameter(parameter) {
			//prefer to use l.search if you have a location/link object
			var urlparts = document.location.href.split('?');
			if (urlparts.length >= 2) {

				var prefix = encodeURIComponent(parameter) + '=';
				var pars = urlparts[1].split(/[&;]/g);

				//reverse iteration as may be destructive
				for (var i = pars.length; i-- > 0;) {
					//idiom for string.startsWith
					if (pars[i].lastIndexOf(prefix, 0) !== -1) {
						pars.splice(i, 1);
					}
				}

				return urlparts[0] + (pars.length > 0 ? '?' + pars.join('&') : '');
			}
			return url;
		}

		var customerBillingAddress = @Html.Raw(Json.Encode(Model.AddressDetails));
		var customer = @Html.Raw(Json.Encode(Model.CustomerAccountDetails));
		var basketId = "@Model.BasketId";
		var cardDetails = @Html.Raw(Json.Encode(Model.CardDetails));

		function PayNow() {

			$("#loaderDiv").show();

			var selectedCardId = $("#selectedCardLookupDropDown").val();

			var selectedCard = cardDetails.find(function (card) {
				return card.iBLookUP == selectedCardId;
			});

			if (selectedCard != null) {

				var dataToSend = {
					"BasketId": basketId,
					"AddressId": customerBillingAddress.AddressId,
					"CustomerData": customer,
					"CustomerBillingAddress": customerBillingAddress,
					"CardLast4Digits": selectedCard.Last4Digits,
					"ChaseCustomerRefNum": selectedCard.ChaseCustomerReferenceNumber,
				}

				$.ajax({
					type: "POST",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({ "info": dataToSend, "isCallCentre": true }),
					url: "/checkout/submitorder",
					dataType: "json",
					success: function (data) {
						$("#loaderDiv").hide();
						location.href = "/checkout/CallCentreOrderStatus?result=" + data;
					},
					error: function (jqXHR, textStatus, errorThrown) {
						$("#loaderDiv").hide();
						alert("Something has gone wrong. Unable to create order. If this keeps happening speak to IT.");
					}
				});
			}
			else {
				alert("Something has gone wrong. Cannot selected card. If this keeps happening speak to IT.");
			}

		}


		var iframeUrl = '@Model.NewCardUrl';

		function AddNewCard() {
			$("#callCentre").hide();
			$("#addCard").show();
			$("#addCardiFrame").attr("src", iframeUrl);
		}


	</script>
}