﻿@import '../mixins/mixins_compiler.scss';


.call_centre {
    padding-top: 50px;
    /*.summary {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-bottom: 50px;
        background-color: $c_white;
        border: 1px solid $c_grey_light;
        padding: 10px;

        .order_summary {
            &__row {
                text-align: center;

                &.sub_total {
                }

                &.delivery {
                }

                &.tax_wrap_part {
                    color: $c_grey;
                }

                &.tax_wrap_total {
                }

                &.total {
                }
            }
        }
    }*/
    .inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include mw_normal();
        grid-gap: 20px;
    }

    .success_wrap {
        margin-bottom: 30px;

        .success {
            text-align: center;
            float: left;
            padding: 10px;
            font-weight: $fw_body_light;
            background-color: $c_good;
            border: 2px solid $c_good;
            color: white;
            text-transform: uppercase;

            @include mw_normal();
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .card_wrap {
        background-color: $c_white;
        border: 1px solid $c_grey_light;
        padding: 30px;

        .card_wrap .inner {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }

        select, .subtitle, p, .intro {
            grid-column: 1/ -1;
            margin: 0;
        }

        .subtitle, p {
            text-align: center;
            padding: 0;
        }

        .subtitle {
            padding: 0 0 2px 0;
            text-transform: none;
        }

        select, .button {
            height: 60px;
            line-height: 60px;
        }

        .button {
            margin: 0;
            display: grid;
            align-content: center;

            &.pay {
                background-color: $c_good;
                border-color: $c_good_dark;

                &:hover {
                    background-color: $c_good_dark;
                }
            }
        }
    }

    .summary {
        background-color: $c_white;
        border: 1px solid $c_grey_light;
        padding: 10px 30px;

        .order_summary {

            &__row {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                border-bottom: 1px solid $c_grey_light;
                line-height: 2.4em;

                &.sub_total {
                }

                &.delivery {
                }

                &.tax_wrap_part {
                    color: $c_grey;
                    background-color: $c_grey_pale;
                    border-left: 1px solid $c_grey_light;
                    border-right: 1px solid $c_grey_light;
                    padding: 0 5px;
                }

                &.tax_wrap_total {
                }

                &.total {
                    border: none;
                    font-size: 1.5em;
                }
            }

            &__value {
                text-align: right;
            }
        }
    }
}


.call_centre_expired_basket {
    padding-top: 30vh;

    h1 {
        margin: 0;
    }

    p {
        text-align: center;
    }
}

.payment_wrap {
    background-color: $c_white;

    .iframeWrap {
        position: relative;
        margin-left: 250px;
        max-width: 50%;
    }
}


.error_page {
    padding: 30px 10px;

    .content {
        background-color: $c_white;
        border: 1px solid $c_grey_light;
        padding: 8vh 20px 10vh;
        @include mw_medium;
        @include corner-large();

        @include tablet {
            padding: 8vh 40px 10vh;
        }

        .code {
            font-weight: $fw_body_light;
            margin-bottom: 30px;
            /*text-align: left;*/
        }


        p {
            text-align: center;
            margin-bottom: 40px;
        }


        h1 {
            margin-bottom: 5px;
        }

        .message {
            text-align: center;
            margin: -20px 0 40px 0;
        }

        .links {
            @include mw_small;
            clear: both;
            text-align: center;
            height: 50px;

            a.button {
                background-color: $c_white;
                color: $c_base;
                border-color: $c_base;

                &.invert {
                    width: auto;
                    display: inline-block;
                    margin: 0 auto;
                    border: none;
                    border-bottom: 1px solid $c_base;
                    @include corner-none;
                }

                &:hover {
                    border-color: $c_main;
                    color: $c_main;
                }
            }
        }
    }
}

.expired_basket_modal {
    max-width: 600px;
    background-color: $c_white;
    border-radius: 20px;
    margin: auto;
    float: none;
    @include clear();
    margin-top: 30px;


    .divider_line {
        border-top: 2px solid #ed137d;
        width: 50px;
        margin: 0 auto;
        float: none;
        display: table;
    }

    .icon {
        width: 100%;
        max-width: 100px;
        margin: 0 auto;
        float: none;
        margin-top: 20px;
    }

    h1 {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

.error_wrap {
    background-color: $c_bad;
    width: 100%;
    color: $c_white;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    max-width: 600px;
    float: none;
    @include clear();
    margin-top: 30px;
    margin-bottom: 0;

    p {
        text-align: center;
        text-transform: uppercase;
        font-weight: $fw_body_bold;
        margin-bottom: 0;
    }
}

.loader__wrap {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $c_grey_opacity;

    .loader {
        border-width: 12px;
        width: 80px;
        height: 80px;
        border: 12px solid rgb(255, 255, 255);
        border-radius: 50%;
        border-top-color: #030123;
        animation: spin 2s linear infinite;
        margin: 0 auto;
        float: none;
        margin-top: 250px;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error_page {
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 20px;
margin:30px;
margin-left:600px;
    .message{

        text-align:center;
        margin-bottom:20px;
    }
}


.thank_you_msg {
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 30px;
    margin-left: 600px;

    .divider_line {
        border-top: 2px solid #ed137d;
        width: 50px;
        margin: 0 auto;
        float: none;
        display: table;
    }

    h3 {
        text-align: center;
        margin-top: 30px;
    }

    p {
        text-align: center;
        margin-bottom: 30px;
    }
}