﻿
@{
    ViewBag.Title = "Basket";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

@{
    var isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);
}

<script>
    function SetExternalBasket(basketId) {
        if (basketId != null) {
            localStorage.setItem("basketId", basketId);
        }
    }

    var isExternalVariable = false;

</script>

@if (ViewBag.ExternalBasketId != null)
{
    <script>SetExternalBasket('@ViewBag.ExternalBasketId')</script>

}

@if (isExternal)
{
    <script>isExternalVariable = true;</script>
}

    @* TO DO's
         Add voucher to be finished wiating for marco on popup , wiki update voucher functionality is ready
        making aggree to t&c as mandatory
    *@

    <section class="basket_wrap" ng-cloak>
        <div class="basket basket_checkout" ng-controller="BasketController">

            @Html.Partial("~/Views/Shared/Partials/_basket_checkout_pagination.cshtml")


            <section class="container_wrap" ng-if="errorMessage == null && filterReservationITemData != 0 && reservationData != undefined">
                @* ng-show="basketDataLength>0" *@

                <h1>Basket</h1>
                <div class="freedom_msg"  ng-hide="IsLoggedIn==1">
                    <p>If you are a freedom member, your applicable discount(s) will be applied once you login</p>
                </div>

                @Html.Partial("~/Views/Shared/Partials/_basket_product.cshtml")

                @* this is the free gifts - only show when avaiable *@
                <section class="free_gift_wrap" ng-repeat="freeitem in reservationItemData" ng-if="freeitem.ParentProductID!=22&&freeitem.ParentProductID!=23&&freeitem.FreeItem!=0&&errorMessage==null">
                    <h3 class="free">Free Item(s) with this order</h3>
                    <div>
                        <section class="free_product basket_product">
                            <div class="img" ng-click="ShowProductModal(freeitem.ParentProductID)">
                                <img src="{{freeitem.ImageName}}" alt="{{freeitem.TvDescription}}" onerror="if (this.src.indexOf('freeitem.ImageName') == -1) { this.src = 'https://www.hoch.media/product-images/thumb/no-image.jpg' };" />
                            </div>
                            <h4 class="title" ng-click="ShowProductModal(freeitem.ParentProductID)">{{freeitem.TvDescription}}</h4>
                            <div class="price_wrap">
                                <p class="price"><span class="now">FREE</span><span class="was">Worth {{freeitem.WasPriceWithCurrency}}</span></p>


                            </div>
                        </section>

                    </div>
                </section>


                <section class="order_summary" ng-if="errorMessage==null">



                    <section ng-cloak ng-if="flexiBasketAvailable == true">
                        <a href="#" onclick="FlexiOrderTCToggle(); return false;" class="about_flexi">What is flexi-order? Learn More</a>

                        <div id="flexiOrderTC" class="flexiorder_tc" style="display:none;">
                            <ul>
                                <li>Flexi-order gives you the option to spread the cost of your entire basket into equal payments of 2,3 or 4 payments (P&amp;P included in first payment)</li>
                                <li>To qualify for flexi-order, customers must add products totalling {{baseCurrency}}{{flexiMinAmount}} or more to their basket after all other discounts have been applied and excluding P&amp;P</li>
                                <li>Flexi-order is optional and is only applied as a payment method if requested by the customer</li>
                                <li>If you order multiple flexi-buy products at the same time as non flexi-buy products, with different payment schedules, you will be given the option of paying for all products over the longest period</li>
                                <li>Flexi-order applies after all other discounts and excluding P&amp;P</li>
                            </ul>
                        </div>

                        <div id="useFlexiOrder" class="flexiorder_wrap">
                            <!--for now its false make it to true-->
                            <div class="header">
                                <div class="logo"><img src="https://www.hoch.media/web-assets/hoch-logos/flexi-order-basket.svg" alt="Flexi-order-basket logo" /></div>
                                <div class="check">
                                    <input type="checkbox" id="useFlexiOrderToggle" class="styled-checkbox" ng-click="flexiChecked($event)" ng-checked="{{checkboxChecked}}" />
                                    <label for="useFlexiOrderToggle">Use for this entire order</label>
                                </div>
                            </div>

                            <div id="FlexiTable" class="fob_instalment__wrap" ng-if="checkboxChecked==true">
                                <div class="fob_instalment__row">
                                    <div class="fob_instalment__title">Number of instalments</div>
                                    <div class="fob_instalment__amount">{{numberofInstalments}}</div>
                                </div>

                                <div class="fob_instalment__row" ng-repeat="record in FlexiOrderData">
                                    <div class="fob_instalment__title">{{record.FlexiDate | date:'dd/MM/yyyy'}}</div>
                                    <div class="fob_instalment__amount">{{record.CurrentInstallment}}</div>
                                </div>
                            </div>
                        </div>
                    </section>




                    @Html.Partial("~/Views/Shared/Partials/_order_summary_totals.cshtml")


                    <div class="agree_tc">
                        <input type="checkbox" id="agreeTC" class="styled-checkbox" ng-click="updateTc($event)" />
                        @if (!isExternal)
                        {
                            <label for="agreeTC">I agree to <a href="/about/terms-conditions" target="_blank">Terms and Conditions</a></label>
                        }
                        else
                        {
                            <label for="agreeTC">I agree to Terms and Conditions**</label>
                        }
                        @*LINK TO THE TCs PAGE*@
                    </div>

                    <div class="button_container">
                        <button class="button secure_button" ng-click="ProceedtoCheckout()">
                            @* check if persisitent id is present and update customer hardlogin (3hours) , get delivery options *@

                            <span class="button_inner_wrap">
                                <span class="icon"></span>
                                <span class="text">Checkout Securely</span>
                            </span>
                        </button>
                        <span class="error_msg" ng-if="buttonCheck=='0'">Please agree to terms and conditions to proceed</span>
                    </div>

                </section>

                @if (isExternal)
                {
                    <div>
                        <p class="small" style="text-align:right;">**For full terms and conditions please visit www.hochanda.com/about/terms-conditions</p>
                    </div>
                }



            </section>
            <section ng-cloak ng-if="(errorMessage != null || filterReservationITemData == 0) && !ShowExpired()">
                @Html.Partial("~/Views/Shared/Partials/_empty_basket.cshtml")

            </section>
            <section ng-cloak ng-if="(errorMessage != null || filterReservationITemData == 0 ) && ShowExpired()">
                @Html.Partial("~/Views/Shared/Partials/_expired_basket.cshtml")

            </section>
            @Html.IncludeVersionedJs("/Scripts/Internal/Basket.js")
        </div>
    </section>