﻿
@{
	ViewBag.Title = "AddCardStatus";
	ViewBag.IsExternal = true;
	Layout = "~/Views/Shared/Master/_Layout_checkout.cshtml";
	string result = ViewBag.Result;

	//Call Centre
	if (ViewBag.PageId == 2)
	{
		var queryString = "reservationId=" + Session["callCentreReservationId"].ToString() + "&shippingAddressId=" + Session["callCentreShippingAddressId"].ToString() + "&billingAddressId=" + Session["callCentreBillingAddressId"].ToString();
		if (!String.IsNullOrEmpty(result))
		{
			queryString += "&addedCard=true";

			Response.Write(@"<Script Language=JavaScript>self.parent.location.href='/checkout/callcentre?" + queryString + "';</script>");
		}
		else
		{
			queryString += "&addedCard=false";

			Response.Write(@"<Script Language=JavaScript>self.parent.location.href='/checkout/callcentre?" + queryString + "';</script>");
		}
	}
	else if (ViewBag.PageId != 1)
	{
		if (!String.IsNullOrEmpty(result))
		{
			//Response.Redirect("~/Checkout/Checkout");
			Response.Write(@"<Script Language=JavaScript>self.parent.location.href='/checkout?AddedCard=" + result + "';</script>");
			//Response.Write(@"<Script Language=JavaScript>self.parent.location.href='/checkout/addcardfailed';</script>");
		}
		else
		{
			//Response.Write(@"<Script Language=JavaScript>self.parent.location.href='/checkout?AddedCard=fail';</script>");
			Response.Write(@"<Script Language=JavaScript>self.parent.location.href='/checkout/addcardfailed';</script>");
		}
	}

	else
	{
		if (!String.IsNullOrEmpty(result))
		{
			Response.Write(@"<Script Language=JavaScript>self.parent.location.href='/account/paymentmethods?card=" + result + "';</script>");
			//Response.Write(@"<Script Language=JavaScript>self.parent.location.href='/checkout/addcardfailed';</script>");
		}
		else
		{
			Response.Write(@"<Script Language=JavaScript>self.parent.MyAccountCardError();</script>");
		}
	}

}
<div style="display:none;">
	<h2>inserted: @result.ToString()</h2>
</div>
@*<div ng-controller="PaymentStatusController">
		<h2>{{test}}</h2>
	</div>

	<script src="~/Scripts/Internal/PaymentStatus.js"></script>*@