﻿@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/Master/_Layout_checkout.cshtml";

    var isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);


    bool isPaypal = Session["isPaypal"] != null ? (bool)Session["isPaypal"] : false;

	<script>
		var isExternalVariable = false;
	</script>

	if (isExternal)
	{
		<script>isExternalVariable = true;</script>
    }

    if (isPaypal == true)
    {
        Session["isPaypal"] = false;
        <script>

            var externalToAdd = "";

            if (isExternalVariable) {
                externalToAdd = "?isexternal=true";
            }

            top.window.opener.location = '/checkout' + externalToAdd;
		</script>
	}
}


@* TO DO's
	restrict checkout page to open directly, check with scott about welcome back div
	Global variable or local storage for customer info for persisitant login, payment bits for marco, Delivery details, update customer
*@
@* DO NOT CHANGE THE ID *@
<div class="checkout basket_checkout" id="checkoutTemplate" ng-controller="CheckoutController" ng-cloak>

	@Html.Partial("~/Views/Shared/Partials/_basket_checkout_pagination.cshtml")

	<section class="checkout_wrap">
		@Html.Partial("~/Views/Shared/Partials/_checkout_addon_upsell_products.cshtml")

		@Html.Partial("~/Views/Shared/Partials/_login.cshtml", null, new ViewDataDictionary { { "pagename", "fromPurchase" } })


		@Html.Partial("~/Views/Shared/Partials/_checkout_delivery_options.cshtml")

		@Html.Partial("~/Views/Shared/Partials/_checkout_payment_options.cshtml")


		@Html.Partial("~/Views/Shared/Partials/_checkout_summary.cshtml")

	</section>
</div>
@Html.IncludeVersionedJs("/Scripts/Internal/Checkout.js")