﻿@{
    ViewBag.Title = "OrderStatus";

	if (Request.Path.ToLower().Contains("checkout/callcentre"))
	{
		Layout = "~/Views/Shared/Master/_CallCenter_layout.cshtml";
	}
	else
	{
		Layout = "~/Views/Shared/Master/_Layout_checkout.cshtml";
	}

    @model Hoch.Website.Models.NewOrderResponseModel
    bool isPaypal = Session["isPaypal"] != null ? (bool)Session["isPaypal"] : false;
    if (isPaypal == true)
    {
        Session["isPaypal"] = false;

        bool isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);

        var externalToAdd = "";

        if (isExternal)
        {
            externalToAdd = "?isexternal=true";
        }


        <script>
            top.window.opener.location = '/checkout/orderstatus' + @externalToAdd;
        </script>
    }
}

<section class="orderstatus_page" style="background-image: url(https://www.hoch.media/web-assets/dummy-test-images/card_making_bg.jpg); background-position:center center; background-repeat: no-repeat; background-size: cover;">
    <div class="darken">
        @{
            if (Model != null)
            {
                if (Model.Result == true)
                {
                    @Html.Partial("~/Views/Shared/Partials/_orderstatus_success.cshtml", Model)
                }
                else
                {
                    string errCode = Request.QueryString["errorcode"] != null ? Request.QueryString["errorcode"] : Model.ErrorCode ?? string.Empty;
                    @Html.Partial("~/Views/Shared/Partials/_orderstatus_failed.cshtml", new { errorCode = errCode })
                }
            }
            else
            {
                <p>Go to home page!</p>}
        }
    </div>

</section>

@*<script>
        function GetRandomImage(control, initalLocation, fileExtension) {
            debugger;
            var randomNumber = Math.floor((Math.random() * 10) + 1);
            var file = "url('" + initalLocation + randomNumber + fileExtension + "')";
            $(control).css("background-image", file);
        }
    </script>*@