﻿
<div class="acc_nav_wrap" ng-controller="AccountNavMenuController" data-ng-init="init()">
    <div class="details">
        <h4 ng-cloak>Hello {{firstname}},</h4>
        <div class="credit_container" ng-if="hascustomercredit='y' && creditamount > 0">
            <p ng-cloak>Total {{creditamountwithcurrency}} credit</p>
            <p ng-repeat="data in CreditAmountData" class="max_spend_credit" ng-cloak>
                <label ng-if="data.MinSpend == 1">You have  {{data.CreditAmountWithCurrency}} credit, when you spend {{data.MinSpendAmountWithCurrency}} or more.</label>
                <label ng-if="data.MinSpend == 0">You have  {{data.CreditAmountWithCurrency}} free credit.</label>
            </p> @*repeat for other credits*@
        </div>
        @*<div class="form" data-ng-init="init()">
                <div>
                    <p>Customer Ref:- {{customerid}}</p>
                    <p>freedommember :- {{freedommember}}</p>
                    <p>freedomholiday :- {{freedomholiday}}</p>
                    <p>hascustomercredit :- {{hascustomercredit}}</p>

                </div>
            </div>*@

        <a href="#" class="logout" onclick="logout()">Log Out</a>
    </div>
    @*<a href="#" class="add_voucher_modal">Add Gift Card</a>*@
    <button class="acc_menu_toggle" onclick="$('#accountMenu').slideToggle();">Account Menu</button>

    <ul id="accountMenu" class="acc_nav">
        <li><a href="@Url.Action("MyAccount","Account")" class="account">My Account</a></li>
        <li><a href="@Url.Action("MyDetails","Account")" class="details">My Details</a></li>
        <li><a href="@Url.Action("OrderHistory","Account")" class="history">Order History</a></li>
        <li><a href="@Url.Action("AddressBook","Account")" class="address">Address Book</a></li>
        <li><a href="@Url.Action("PaymentMethods","Account")" class="payment">Payment Methods</a></li>
        <li><a href="@Url.Action("Favourites","Account")" class="favourite">My Favourites</a></li>
        <li><a href="@Url.Action("ReferAFriend","ReferAFriend")" class="friend">Refer A Friend</a></li>
        @* if freedom *@
        <li ng-if="freedommember=='y'"><a href="@Url.Action("FreedomArea","Account")" class="freedom">Freedom</a></li>
        @* end if *@
        <li><a href="@Url.Action("Settings","Account")" class="settings">My Settings</a></li>
    </ul>

</div>
@Html.IncludeVersionedJs("/Scripts/Internal/AccountNavMenu.js")