﻿<div class="add_to_basket_wrap">
    <a class="add_to_basket button addToBasketPickAndMixButton" ng-class="{added: IsAdded, adding: IsAdding, failed: IsFailed}" href="#" onclick="return false;" ng-click="AddPickAndMixToBasket();">
        <span class="icon">&nbsp;</span>
        <span class="text">Add to basket</span>
        <span class="adding_text">Adding</span>
        <span class="added_text">Added</span>
    </a>
</div>

