﻿@{
	bool isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);
}



@* THIS SHOULD ONLY BE USED IN THE ONE PLACE (LAYOUT PAGES ONLY) *@
<div class="pop" style="display:none;">
	<div class="message" id="inStockPop">
		<div class="title"><h6><span class="tick"></span>Added to basket</h6></div>
		@Html.Partial("~/views/shared/partials/_countdown_timer.cshtml")
		@if (!isExternal)
		{
			<a href="/basket" class="button checkout_btn">View basket &amp;&nbsp;checkout</a>
		}
	</div>
	<div class="message out_of_stock" id="outOfStockPop" style="display:none;">
		<p>Product is currently out of stock!</p>
	</div>
	<div class="message error_message" id="errorMessagePop" style="display:none;">
	</div>
</div>