﻿<div class="add_voucher" ng-if="partialCheck == 1">

    <div class="add_voucher">
        <h4>Add Voucher Code</h4>
        <p>Please note that if you have a flexi-buy product in your basket the discount values would be split across each instalment.</p>
        <form>
            <fieldset>
                <input type="text" ng-model="voucherModel" placeholder="Enter Code" />
                <input type="submit" ng-click="ApplyVoucherCode(voucherModel)" value="Apply Code" data-dismiss="modal" />
            </fieldset>
        </form>
        <p>How do I get these? Join our email list to receive our latest deals!</p>
    </div>

  
</div>

