﻿


<div class="address_container" id="addressBookTemp" ng-controller="AddressController">
	@* only on account page *@
	@* make ng-controller as dynamic value *@

	<div class="add_address address" ng-click="setPartialName('add_address_template','1')" data-toggle="modal" data-target="#DynamicModal" ng-cloak>
		<div class="add_new_address_icon_wrap">
			<span class="plus_icon"></span>
			<span class="add_new_address">Add New Address</span>
		</div>
	</div>


	<div class="address" ng-repeat="address in addresses" ng-if="addresses.length>0" ng-cloak>

		<a href="#" class="button address_delete_button" ng-if="address.IsLinkedToCard == 'y'" ng-click="deleteAddress(address.AddressId)">Delete</a>
		<a href="#" class="button address_delete_button" ng-if="address.IsLinkedToCard == 'n'" ng-click="deleteAddress(address.AddressId)">Delete</a>

		<div class="inner">
			<div class="customer_address" ng-cloak ng-bind-html="FormatAddress(address)">
			</div>
			<div class="make_default">
				<div class="text_wrap" ng-if="address.IsDefaultDevlivery=='y'">
					<div class="inner"><span class="icon"></span><span class="text">default address</span></div>
				</div>
				<a class="button" ng-if="address.IsDefaultDevlivery=='n'" ng-click="updateDefaultShipping(address.AddressId)" data-dismiss="modal">Set as default address</a>
			</div>
		</div>

	</div>
	@* only on account page *@

</div>

@Html.IncludeVersionedJs("/Scripts/Internal/LookupPostcode.js")



