﻿@{
    var parentProductId = ViewBag.ParentProductId != null ? ViewBag.ParentProductId : 0;
    var variationId = ViewBag.VariationId != null ? ViewBag.VariationId : 0;
}


<div class="add_to_basket_wrap">
    <a class="add_to_basket button" href="#" onclick="AddToBasket($(this).parent().find('[name=\'parentProductId\']').val(), $(this).parent().find('[name=\'variationId\']').val(), this); return false;">
        <span class="icon">&nbsp;</span>
        <span class="text">Add to basket</span>
        <span class="adding_text">Adding</span>
        <span class="added_text">Added</span>
    </a>
    <input type="hidden" name="parentProductId" value="@parentProductId" />
    <input type="hidden" name="variationId" value="@variationId" />
    <input type="hidden" name="upsellItem" value="0" />
</div>

