﻿
<section class="add_address_form">
    <div class="modal-content add_address_form_box">
        <h3>Address Finder</h3>
        <div class="quick_find_container">
            <input type="text" id="cntPlContent_myModalAddress_txtSearchAddressModal" class="form_field_quick_find ui-autocomplete-input" autocomplete="off" />
            <input type="submit" name="ctl00$cntPlContent$myModalAddress$btnAddressModal" value="Search" id="cntPlContent_myModalAddress_btnAddressModal" class="button small_btn">
            <div class="cant_find_address">If you can not find your address, please select your closest address in the address finder, press confirm, and then edit the House Name or Number as required.</div>
        </div>

        <a href="#" onclick="AddAddressToggle(); return false;">Enter my address manually</a>

        <div id="AddAddressToggle" class="add_address_toggle" style="display:none;">
            <h3>Add Address</h3>
            <div class="form_wrap">
                
                <form>
                    <fieldset>
                        <input type="hidden" id="custRef" ng-model="newAddressData.customerRef" />
                        <input type="hidden" id="cusEmail" ng-model="newAddressData.CustomerEmail" />
                        <label class="company_name" >Company</label>
                        <input type="text" id="companyname"  ng-model="newAddressData.companyname" />
                        <label class="house_name">House Name</label>
                        <input type="text" id="housename" ng-model="newAddressData.buildingname" />
                        <label class="house_number required">House Number</label>
                        <input type="text" id="housenumber" ng-model="newAddressData.buildingnumber" />
                        <label class="address_line_one required">Address Line 1</label>
                        <input type="text" id="addresslineone" ng-model="newAddressData.streetaddress1" />
                        <label class="address_line_two">Address Line 2</label>
                        <input type="text" id="addresslinetwo" ng-model="newAddressData.streetaddress2" />
                        <label class="town_city required">Town/City</label>
                        <input type="text" id="towncity" ng-model="newAddressData.town" />
                        <label class="county">County</label>
                        <input type="text" id="county" ng-model="newAddressData.county" />
                        <label class="country required">Country</label>
                        <input type="text" id="country" ng-model="newAddressData.country" />
                        <label class="post_code required">Post Code</label>
                        <input type="text" id="postcode" ng-model="newAddressData.postcode" />
                        <input type="button" value="add address" id="addaddress"  confirmed-click="saveAddress(newAddressData);" />
                       
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</section>