﻿
@* Angular *@
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/angular-animate.min.js"></script>
<script src="~/Scripts/angular-aria.min.js"></script>
<script src="~/Scripts/angular-material.min.js"></script>
<script src="~/Scripts/angular-cookies.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>

<!--Google recaptcha-->
<script src="~/Scripts/angular-recaptcha.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>


@{ 
	var versionNumber = System.Configuration.ConfigurationManager.AppSettings["VersionNo"] != null ? System.Configuration.ConfigurationManager.AppSettings["VersionNo"].ToString() : "1";
}

@* Internal *@
@Html.IncludeVersionedJs("/Scripts/Internal/Layout.js")
@Html.IncludeVersionedJs("/Scripts/Internal/Search.js")


<!-- Paypal -->
<script src="~/Scripts/Internal/PaypalCheckout.js?v=@versionNumber"></script>