﻿@* shows on all basket / checkout pages *@

@*

	- the class "complete" needs adding to pages that have been completed.
	- the class "current" added to the most appropriate step the user is on.
	- "disabled" added to future steps that cannot be skipped to.
	- if you go back to a "completed" step, user has to go through all future steps again, with the class "completed" removed.

*@

@*TODO: show hide the correct pagination for the basket and checkout pages / steps*@

@{
	bool isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);
}



@*basket*@
<section class="checkout_steps" ng-if="basketPaginationCheck==1 && errorMessage == null && filterReservationITemData != 0 && reservationData != undefined">
	<div class="steps_wrap">
		<a ng-href="{{GetBasketURL()}}" class="step first current">
			<span class="number">1</span><span class="name">Basket</span>
		</a>
		<a href="/" onclick="return false" disabled class="step ">
			<span class="number">2</span><span class="name">Delivery</span>
		</a>
		<a href="/" onclick="return false" disabled class="step last">
			<span class="number">3</span><span class="name">Payment</span>
		</a>
	</div>
</section>

@*Delivery*@
<section class="checkout_steps" ng-if="checkoutPaginationCheck==1&&payPaginationCheck==0">
	<div class="steps_wrap">
		<a ng-href="{{GetBasketURL()}}" class="step first complete">
			<span class="number">1</span><span class="name">Basket</span>
		</a>
		<a href="/" onclick="return false" class="step current">
			<span class="number">2</span><span class="name">Delivery</span>
		</a>
		<a href="/" onclick="return false" disabled class="step last">
			<span class="number">3</span><span class="name">Payment</span>
		</a>
	</div>
</section>

@*Payment*@
<section class="checkout_steps" ng-if="payPaginationCheck==1">
	<div class="steps_wrap">
		<a ng-href="{{GetBasketURL()}}"  class="step first complete">
			<span class="number">1</span><span class="name">Basket</span>
		</a>
		<a ng-href="{{GetCheckoutDeliveryURL()}}" class="step complete">
			<span class="number">2</span><span class="name">Delivery</span>
		</a>   @*onclick="return false;" ng-click="payNavClick()"*@
		<a href="/" onclick="return false" class="step last current">
			<span class="number">3</span><span class="name">Payment</span>
		</a>
	</div>
</section>
