﻿
<section ng-class="{is_auction_item : reservItem.AuctionItem == 1}" class="basket_product" ng-repeat="reservItem in reservationItemData" ng-if="reservItem.ParentProductID!=22&&reservItem.ParentProductID!=23&&reservItem.ParentProductID!=19&&reservItem.FreeItem!=1&&reservItem.Quantity!=0">
    @*ng-class="{is_flexi_item : reservItem.FlexiBuyItem == 1}"*@



    <div class="basket_auction_msg_wrap" ng-if="reservItem.AuctionItem == 1">
        <div class="logo">
            <img class="hor" src="https://hoch.media/elements/craft-price-drop-horizontal.svg" alt="Auction Hour Logo" onerror="this.onerror=null;this.src= 'https://www.hoch.media/product-images/thumb/no-image.jpg';">
            <img class="vert" src="https://hoch.media/elements/craft-price-drop.svg" alt="Auction Hour Logo" onerror="this.onerror=null;this.src= 'https://www.hoch.media/product-images/thumb/no-image.jpg';">
        </div>
        <div class="msg">
            It is <strong>safe to checkout before the final auction price is reached</strong>. We will <strong>only</strong> take payment once the <strong>final price</strong> is known.
        </div>
    </div>

    <div class="img" ng-click="ShowProductModal(reservItem.ParentProductID)">
        <img src="{{reservItem.ImageName}}" alt="{{reservItem.TvDescription}}" onerror="if (this.src.indexOf('reservItem.ImageName') == -1) { this.src = 'https://www.hoch.media/product-images/thumb/no-image.jpg' };" />
    </div>

    <div class="title_wrap">
        <h4 class="title" ng-click="ShowProductModal(reservItem.ParentProductID)">{{reservItem.TvDescription}}</h4>
        <div class="sku" ng-cloak>
            <span class="variation_name">{{reservItem.VariationName!=null&&reservItem.VariationName!=undefined? '(' +reservItem.VariationName+')':''}}</span>
            <span class="sku_name">{{reservItem.ParentProductSKU}}</span>
        </div>
    </div>

    <div class="qty" ng-if="reservItem.PickNMixItem==0 && reservItem.ParentProductID != 26">
        <input type="button" class="minus" ng-click="UpdateItem(reservItem.ParentProductID,reservItem.VariationID,reservItem.Quantity,0, reservItem.ReservationItemId)" />
        <span class="qty_selected" ng-cloak>{{reservItem.Quantity}}</span>
        <input type="button" class="plus" ng-click="UpdateItem(reservItem.ParentProductID,reservItem.VariationID,reservItem.Quantity,1, reservItem.ReservationItemId)" />
    </div>

    <div class="price_wrap">
        <p class="price">
            <span class="now" ng-cloak>{{reservItem.ItemPriceWithCurrency}}</span>
            <span class="was" ng-show="reservItem.WasPriceWithCurrency!=0" ng-cloak>Was {{reservItem.WasPriceWithCurrency}}</span> @*TODO: hide if == 0*@
        </p>
    </div>

    <div class="use_flexibuy" ng-if="reservItem.FlexiBuy==1&&checkboxChecked==false" ng-cloak>
        @* &&reservItem.FlexiBuyItem==0 *@
        <input type="checkbox" id="UseFlexibuy_{{reservItem.ReservationItemId}}" class="styled-checkbox" ng-click="FlexiItemChecked($event)" ng-checked="{{reservItem.FlexiBuyItem==1?true:false}}" />
        <label for="UseFlexibuy_{{reservItem.ReservationItemId}}"><img src="https://hoch.media/web-assets/hoch-logos/flexi-buy-web-small.svg" alt="flexi-buy" /></label>
    </div>

    <div class="use_flexibuy" ng-if="checkboxChecked==true">

        <label><img src="https://hoch.media/web-assets/hoch-logos/flexi-order-basket.svg" alt="flexi-buy" /></label>


    </div>

    @*<div class="favourite"><a class="move_fav button">Move to favourites <span class="heart"></span></a></div>*@

    <a class="remove" ng-click="UpdateItem(reservItem.ParentProductID,reservItem.VariationID,reservItem.Quantity,-1, reservItem.ReservationItemId)"></a>

    <p ng-cloak>{{Product(reservItem.TvDescription,reservItem.ParentProductSKU)}}</p>


    <span ng-if="reservItem.FlexiBuyItem==1&&checkboxChecked==false" class="is_flexi">{{reservItem.FlexiBuyInstallments}} Instalments with a total of {{reservItem.FlexiLeftToPayWithCurrency}} left to pay.</span>

</section>




