﻿@*base GRID EG: show list of brands *@
@{
    Layout = null;
}

<section class="grid brands__grid">


    @*THIS IS FOR DEMO PURPOSE*@
    @{
        for (var i = 0; i < 14; i++)
        {
            <a href="/Brand/4/Barbara-Gray" id="brandData" class="brand_card">
                <img src="https://www.hoch.media/brand-logos/thumb/4b.jpg" alt="Barbara Gray">
                <span class="">Barbara Gray</span>
            </a>
        }
    }
    @*THIS IS FOR DEMO PURPOSE*@


</section>
