﻿@*base GRID EG: show a-z nav for brands *@
@{
    Layout = null;
}

<section search-list="letter" class="brands__nav">
    <div class="inner">
        <a ng-repeat="letter in alphabets" ng-class="{'disabled': isBrandActive(letter[0]) == false && letter[0] != '$', 'current': letter[0] == selectedVal }" 
		   ng-href="{{GetBrandLetterLink(letter[0])}}" 
		   ng-click="filteredBrands(letter[0])">
            @* ng-class is missin brandDisabledClass not working*@
        <span ng-if="letter[0]=='$'">[0-9]</span>
        <span ng-if="letter[0]!='$'" ng-cloak>{{letter[0]}}</span>
    </a>
</div>
</section>