﻿@*base GRID EG: show list of brands *@
@{
    Layout = null;
}

<section class="grid brands__grid" ng-cloak>
	<a ng-href="{{getBrandUrl(brand.BrandId, brand.BrandName, brand.IsBrandAmbassador)}}" class="brand_card" ng-repeat="brand in filteredBrandsData">
		<img src="{{brand.BrandImgURL != null ? brand.BrandImgURL : 'https://www.hoch.media/product-images/thumb/no-image.jpg'}}" alt="{{brand.BrandName}}" onerror="if (this.src.indexOf('brand.BrandImgURL') == -1) { this.src = 'https://www.hoch.media/product-images/thumb/no-image.jpg' };">
		<span ng-cloak>{{brand.BrandName}}</span>
	</a>
</section>