﻿


<div class="text_carousel owl-carousel owl-theme">

    @*THIS IS FOR DEMO PURPOSE*@

    <a href="#">Category Name</a>
    <a href="#">Category Name</a>
    <a href="#">CategCategoryory Name</a>
    <a href="#">Category Name</a>
    <a href="#">Category Name</a>
    <a href="#">Category CategoryName</a>
    <a href="#">CateCategorygory Name</a>
    <a href="#">CateCategorygory Name</a>
    <a href="#">CatCategoryegory NCategoryame</a>
    <a href="#">Category Name</a>
    <a href="#">Category Name</a>
    <a href="#">CateCategorygory Name</a>
    <a href="#">Category Name</a>
    <a href="#">Category Name</a>
    <a href="#">CategoCategoryry Name</a>
    <a href="#">Category Name</a>
    <a href="#">Category Name</a>
    <a href="#">CategoCategoryry Name</a>

    @*THIS IS FOR DEMO PURPOSE*@
</div>
