﻿@* product carousel - for when they are loading and have no data yet *@
@{
	Layout = null;
}

<div class="owl-carousel owl-carousel-demo owl-theme">

	@{
		for (var i = 0; i < 7; i++)
		{
			@Html.Partial("~/Views/Shared/Partials/_product_snippet_LOADER.cshtml")
		}
	}

</div>


<script>
	$(document).ready(function () {

		$('.owl-carousel-demo').owlCarousel({
			loop: false,
			margin: 10,
			responsiveClass: true,
			dots: true,
			responsive: {
				0: {
					items: 2,
					nav: false
				},
				600: {
					items: 3,
					nav: false
				},
				768: {
					margin: 20,
					nav: false
				},
				1000: {
					items: 4,
					margin: 30,
					nav: true
				},
				1200: {
					items: 5,
					margin: 30
				},
				1280: {
					items: 6,
					margin: 30
				},
				1500: {
					items: 7,
					margin: 30
				}
			},
			onDrag: function (event) {
				HidePop();
			}
		});
	});
</script>