﻿@* carousels EG: videos on product page *@


<div class="product_video_carousel owl-carousel">
    <div class="videoWrapper" ng-if="RewindStream != null" load-rewind-stream-carousel ng-stream-html="RewindStream">
		@* Moved to Product.JS as this was getting  *@

        @*<div id="ssmpc3d84d5d" data-client="hochanda" data-type="vod" data-stream="578" ng-repeat="video in videos" data-date="{{video.DataDate}}" data-start="{{video.DataTime}}">
            <script src='https://dbxm993i42r09.cloudfront.net/ss.js'></script>
        </div>*@
    </div>

    <div class="videoWrapper" ng-if="productInformation.YoutubeVideo != null && productInformation.YoutubeVideo != ''">
        <iframe ng-src="{{getYoutubeVideo(productInformation.YoutubeVideo)}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>