﻿@*base carousels EG: products etc *@
@{
	Layout = null;

	var autorun = ViewBag.Autorun == null ? true.ToString().ToLower() : ViewBag.Autorun;
}

<data-owl-carousel class="owl-carousel" data-auto-run="@autorun">
	<div owl-carousel-item class="product_carousel" ng-repeat="item in @ViewBag.ProductScopeName track by $index">
		@Html.Partial("~/Views/Shared/Partials/_product_snippet.cshtml")
	</div>
</data-owl-carousel>
