﻿@* single item carousel EG: product images *@

@{ 
	string scopeVariable = "ProductImages";
	if (ViewBag.ScopeVariable != null)
	{
		scopeVariable = ViewBag.ScopeVariable;
	}

	string productScopeVariable = "product";
	if (ViewBag.ProductScopeVariable != null)
	{
		productScopeVariable = ViewBag.ProductScopeVariable;
	}

	string isFreedom = productScopeVariable + ".IsFreedom";
	string isFlexi = productScopeVariable + ".IsFlexibuy";

}

@*
    This needs an object in angular controller called ProductImages.
    The structure should be:
    {
        [{
            VariationId: 123,
            DisplayOrder: 1,
            Filename: "HochMedia link",
            ImageAltText: The alt text for the images
        }],
        [...]
    }
*@
<data-owl-carousel class="owl-carousel" data-options="{
                            responsive: {
                                0: {loop: false,dots: false,nav: true,autoplay: false,autoplayTimeout: 5000,autoplaySpeed: 5000,speed: 3000,margin: 0,items: 1},
                                600: {loop: false,dots: false,nav: true,autoplay: false,autoplayTimeout: 5000,autoplaySpeed: 5000,speed: 3000,margin: 0,items: 1},
                                768: {loop: false,dots: false,nav: true,autoplay: false,autoplayTimeout: 5000,autoplaySpeed: 5000,speed: 3000,margin: 0,items: 1},
                                1000: {loop: false,dots: false,nav: true,autoplay: false,autoplayTimeout: 5000,autoplaySpeed: 5000,speed: 3000,margin: 0,items: 1},
                                1200: {loop: false,dots: false,nav: true,autoplay: false,autoplayTimeout: 5000,autoplaySpeed: 5000,speed: 3000,margin: 0,items: 1},
                                1280: {loop: false,dots: false,nav: true,autoplay: false,autoplayTimeout: 5000,autoplaySpeed: 5000,speed: 3000,margin: 0,items: 1},
                                1500: {loop: false,dots: false,nav: true,autoplay: false,autoplayTimeout: 5000,autoplaySpeed: 5000,speed: 3000,margin: 0,items: 1}
                            }
                        }" data-auto-run="true">
    <div owl-carousel-item="" class="image" ng-repeat="item in @scopeVariable | orderBy: [VariationId, DisplayOrder]">
		<img ng-show="@isFreedom" src="https://hoch.media/web-assets/sashes/sash_freedom-l.svg" class="freedom_sash ng-hide" alt="Freedom Logo">
		<img class="productImage" src="{{item.Filename}}" alt="{{item.ImageAltText}}" onerror="if (this.src.indexOf('item.Filename') == -1) { this.onerror=null;this.src='https://www.hoch.media/product-images/thumb/no-image.jpg';}">
		<img ng-show="@isFlexi" src="https://hoch.media/web-assets/sashes/sash_flexibuy-l.svg" class="flexi_sash ng-hide" alt="Flexibuy Logo">
    </div>
</data-owl-carousel>