﻿<section class="error_page">
	<div class="content">

		<p class="code">Error code: <strong>123</strong></p>

		@*TODO: MAKE DYNAMIC*@
		<h1>Failed to Add Card</h1>

		<p class="intro">Please check card expiry date and try the transaction again or use a different card. </p>

		<div class="links">
			@if (Request.Url.AbsolutePath.Contains("callcentre"))
			{
				<input type="button" onclick="document.location.href = RemoveURLParameter('addedCard');" value="try again" />
			}
			else if (Request.Url.AbsolutePath.Contains("checkout"))
			{

				<input type="button" onclick="goBack()" value="try again" />
			}
			else if (Request.Url.AbsolutePath.Contains("paymentmethods"))
			{
				<input type="button" onclick="location.reload();" value="try again" />
			}
		</div>
	</div>
</section>

<script>
	//Should change to actualy go back to the correct place
	function goBack() {
		window.history.back();
	}

</script>