﻿@* carousels EG: recently viewed *@
<div class="product_card item" owl-carousel-item="" ng-repeat="item in products track by $index">
    <a ng-href="{{getProductUrl(item.ParentProductId, item.ParentProductSKU, item.TVDescription)}}" class="product_card_link">
        <div href="#" class="prod_img">
            <img src="{{item.DefaultThumbnailFilename}}" alt="{{item.DefaultImageAltText}}"  onerror="if (this.src.indexOf('item.DefaultThumbnailFilename') == -1) {this.src = 'https://www.hoch.media/product-images/thumb/no-image.jpg' };" />
        </div>
    </a>
</div>