﻿<div class="address_container" ng-controller="EmptyController">
    <div class="address" ng-repeat="address in addressList" ng-if="IsDeliveryArea" ng-cloak>
        <div class="inner">
            <div class="customer_address" ng-cloak ng-bind-html="FormatAddress(address)"></div>
            <div class="address_delete_button">
                <a class="button" ng-click="PopulateSelectedData(0,address.AddressId,0)" data-dismiss="modal">Select</a>
            </div>
        </div>
    </div>
</div>

