﻿
<section ng-if="billingDiv==true" class="container_wrap billing_options_wrap checkout_large_pane">

    <h1>Billing Address</h1>

    <p>Your BILLING ADDRESS must be the registered address of your payment card.</p>

    <div class="box_wrap">
        <div class="inner_wrap">
			<div class="selected_address address_wrap"  ng-repeat="billingAddress in selectedBillingAddress">
				<div ng-bind-html="FormatAddress(billingAddress)"></div>
			</div>

            @* remove the ng-if condition on the line below once the functionality is ready*@
            <div class="btn_wrap">
                <button type="button" ng-if="billingAddressLength!=0" class="inner__change inner__btn modal_btn" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('checkout_address_template')">Change Address</button>
                <button type="button" class="inner__add inner__btn modal_btn" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('add_address_template')">Add Address</button>
            </div>
        </div>
    </div>


    <div class="button_container" ng-if="billingAddressLength!=0 && page!=3">
        <a href="#" class="button secure_button" onclick="return false;" ng-click="payByCard(1)">
            <span class="button_inner_wrap">
                <span class="text">Use this address</span>
            </span>
        </a>
    </div>

    <div class="button_container" ng-if="billingAddressLength!=0 && page==3">
        <a href="#" class="button secure_button" onclick="return false;" ng-click="MyAccountAddCardChooseAddress(selectedBillingAddress[0].AddressId)">
            <span class="button_inner_wrap">
                <span class="text">Use this address</span>
            </span>
        </a>
    </div>
</section>