﻿<section ng-if="paymentPage != null" class="container_wrap add_card_wrap checkout_large_pane">

	<h1>Add Card</h1>

	<h6>Selected Billing Address</h6>

	<div class="inner_wrap" ng-repeat="billingAddress in selectedBillingAddress">
		<div class="address_wrap" ng-bind-html="FormatAddress(billingAddress)"></div>
	</div>


	<div class="iframeWrap">
		<iframe ng-src="{{paymentPage}}" height="800" width="320" scrolling="yes" frameborder="0"></iframe>
	</div>

</section>