﻿@* --start -- DELIVERY page*@
<script>
    if (top.window.opener != null) {
        top.window.opener.location = '/';
    }
</script>

<section id="checkoutDeliveryWrap" class="container_wrap delivery_options_wrap checkout_large_pane" ng-if="CanShowDeliveryOptions()">
    @* may be consider country id *@
    <h1>Delivery</h1>

    <section class="box_container" id="shippingAddressContainer">

        <div class="box_wrap delivery" ng-repeat="shippingadd in selectedShippingAddress">
            <h6>Delivery Address</h6>
            <div class="inner_wrap">

                <div class="address_wrap" ng-bind-html="FormatAddress(shippingadd)"></div>

                <button type="button" class="inner__change inner__btn" onclick="return false;" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('checkout_address_template','1'); ">Change Address</button>
                <button type="button" class="inner__add inner__btn" onclick="return false;" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('add_address_template','1');">Add Address</button>
            </div>
        </div>

    </section>


    <section class="delivery_options" ng-if="reservationData[0].ReservationLocked == false">
        <h4>Delivery Options</h4>

        <div class="check" ng-repeat="deliveryOption in resDeliveryData">
            <input type="radio" id="Delivery_{{deliveryOption.CourierID}}" name="delivery" class="styled-checkbox" ng-click="UpdateDelivery(deliveryOption.ServiceID)" ng-checked="{{deliveryOption.SelectedService==1}}">


            <label for="Delivery_{{deliveryOption.CourierID}}" class="container">
                <span class="delivery__name" ng-cloak>{{deliveryOption.CourierName}}</span>
                <span class="delivery__price" ng-cloak>{{deliveryOption.FullPriceWithCurrency}}</span>
            </label>

            <div ng-if="deliveryOption.SelectedService==1">
                <ul ng-bind-html="deliveryOption.SalesPoints"></ul>
            </div>
        </div>

    </section>

    @* TODO: Tax framework *@
    @*<section class="tax_overview">
            <h4>Tax Overview</h4>

            <div class="tax_wrap">
                <div class="tax_wrap_total">
                    <div class="label_txt"><strong>Total Tax:</strong></div>
                    <div class="subtotal"><strong>TBC</strong></div>
                </div>

                <div class="tax_wrap_part">
                    <div class="label_txt">State Tax:</div>
                    <div class="subtotal"><span>TBC</span></div>
                </div>
                <div class="tax_wrap_part">
                    <div class="label_txt">Country Tax:</div>
                    <div class="subtotal"><span>TBC</span></div>
                </div>
                <div class="tax_wrap_part">
                    <div class="label_txt">Special Taxing Districts:</div>
                    <div class="subtotal"><span>TBC</span></div>
                </div>
            </div>

        </section>*@


    <section class="payment_cta_wrap">
        @* if no cards available dont display this section *@

        <h4>Payment Method</h4>

        @* add the class 'card_only' to the div below when PayPal is unavailable *@
        <div class="button_container payment_cta" ng-class="{'card_only': payPalEnable != true}">

            <button class="button secure_button" type="button" ng-click="payByCard()">
                <span class="button_inner_wrap">
                    <span class="icon"></span>
                    <span class="text">Pay By Card</span>
                </span>
            </button>

            <div ng-show="payPalEnable == true" class="button secure_button paypal">
                @*<paypal-checkout info="info"></paypal-checkout>*@
                <p>- or -</p>
                <div id="paypal-button-container"></div>
            </div>
        </div>
        <script>
            function getScope() {
                var sel = 'div[ng-controller="CheckoutController"]';
                return angular.element(sel).scope();
            }
            var scope = getScope();
            // Render the PayPal button into #paypal-button-container

            paypal.Buttons({
                style: {
                    layout: 'vertical',
                    color: 'gold',
                    shape: 'rect',
                    label: 'paypal'
                },
                // Set up the transaction
                createOrder: function (data, actions) {
                    return fetch('/checkout/PaypalCreateOrderV2', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ basketId: localStorage.getItem("basketId"), customerFirstname: scope.customerFirstname })
                    }).then(function (res) {
                        return res.json();
                    }).then(function (data) {
                        localStorage.setItem("tempBasketId", localStorage.getItem("basketId"));
                        return data;
                    });
                },

                // Finalize the transaction
                onApprove: function (data, actions) {
                    return fetch('/checkout/PaypalApproveOrderV2', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ paypalOrderId: data.orderID, basketId: scope.BasketId })
                    }).then(function (res) {
                        console.log('res', res);
                        return res.json();
                    }).then(function (details) {
                        // Show a success message to the buyer
                        console.log('details', details);
                        window.location.href = '/checkout/OrderStatusTemp?result=' + details.Result + '&paypal=true';
                    });
                },

                onCancel: function (data, actions) {
                    return fetch('/checkout/PaypalCancelOrderV2', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                        //body: JSON.stringify({ paypalOrderId: data.orderID, basketId: scope.BasketId })
                    }).then(function (res) {
                        console.log('res', res);
                        return res.json();
                    }).then(function (details) {
                        // Show a success message to the buyer
                        console.log('details', details);
                        window.location.href = '/checkout';
                    });
                }
            }).render('#paypal-button-container');
        </script>
        <div class="no_paypal_message" ng-class="{card_only: payPalEnable != true}">
            <p class="small">Freedom membership, flexi-buy and flexi-order cannot be purchased via PayPal</p>
        </div>



    </section>

</section>
<section id="emptyShippingAddress" class="container_wrap delivery_options_wrap checkout_large_pane" ng-init="partialShippingCheck=1" ng-if="NeedsNewAddress()">
    <input type="hidden" ng-model="partialCheckTemplate" />
    @Html.Partial("~/Views/Shared/Partials/_postcode_lookup.cshtml")
</section>


@Html.IncludeVersionedJs("/Scripts/Internal/PaypalCheckout.js")
@Html.IncludeVersionedJs("/Scripts/Internal/LookupPostcode.js")

@* --end-- DELIVERY page*@