﻿@* --start -- PAYMENT page*@
<section id="checkoutPaymentsWrap" class="container_wrap delivery_options_wrap checkout_large_pane" ng-if="paymentWrapDiv==true">

    <h1>Secure Payment</h1>

    <section class="box_container">
        @* if no bid or cards skip this pannel  *@

        <div class="box_wrap delivery">
            <h6>Selected Card</h6>
            <div class="inner_wrap">
 
                <span ng-if="selectedCardData!=null" class="card_last4" ng-cloak>**** **** **** {{selectedCardData}}</span>
                @*<span ng-if="selectedCardData!=null && selectedCard == null" class="card_last4" ng-cloak>**** **** **** {{selectedCardData}}</span>
                <span ng-if="selectedCard != null" class="card_last4" ng-cloak>**** **** **** {{selectedCard}}</span>*@

                <button ng-if="selectedCardData!=null" type="button" class="inner__change inner__btn" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('paymentMethod_template')">Change Card</button>
                <button type="button" class="inner__add inner__btn" ng-click="AddCardWithBilling()">Add Card</button>

            </div>
        </div>

        <div class="box_wrap billing">
            <h6>Billing Address</h6>
			@* Needs to be rewritten as this is a loop which is supposed to be a single item *@
            <div class="inner_wrap address_wrap" ng-repeat="billingAddress in selectedBillingAddress">
				<div ng-bind-html="FormatAddress(billingAddress)" ng-cloak></div>
            </div>

        </div>

    </section>
    <span ng-show="displaySpinner == true" class="spinner" ng-cloak>
        @Html.Partial("~/Views/shared/partials/_loader.cshtml")
    </span>

    <div class="button_container" ng-if="billingAddressLength!=0">
        <a href="#" class="button secure_button" onclick="return false;" ng-click="submitOrder()">
            <span class="button_inner_wrap">
                <span class="icon"></span>
                <span class="text">Submit Order</span>
            </span>
        </a>
    </div>
    <p class="small_print" ng-if="CardErrorMessage!=null" ng-cloak>{{CardErrorMessage}}</p>
    <p class="small_print">Your order is with: Hochanda LTD, Nene House, Nene Valley Business Park, Oundle, Peterborough, PE8 4HN, UK</p>

</section>



@Html.Partial("~/Views/Shared/Partials/_checkout_billing_options.cshtml")

@Html.Partial("~/Views/Shared/Partials/_checkout_add_card.cshtml")

