﻿@* --start -- ADDON page*@
<section class="container_wrap addon_items checkout_large_pane" id="checkoutUpsellcontainer">

    <h1>How About...</h1>
    <h2>These add-on products are only available with your current selection of items in your basket. They do not increase your delivery charge.</h2>


    <section class="basket_addon_product basket_product" ng-repeat="upsellitem in UpsellResults">
        <div class="img" data-toggle="modal" data-target="#DynamicModal" ng-click="ShowProductModal(upsellitem.ParentProductId, true)">
            <img src="{{upsellitem.DefaultThumbnailFilename}}" alt="product title" onerror="if (this.src.indexOf('upsellitem.DefaultThumbnailFilename') == -1) { this.src = 'https://www.hoch.media/product-images/thumb/no-image.jpg' };" />

        </div>
        <p class="free_delivery_item">Free delivery add-on</p>
        <h4 class="title" ng-cloak>{{upsellitem.TVDescription}}</h4>
        <div class="price_wrap">
            <p class="price"><span class="now" ng-cloak>{{upsellitem.PriceString}}</span><span class="was" ng-if="upsellitem.Price>upsellitem.UsualPrice">Was {{upsellitem.UsualPriceString}}</span></p>
        </div>
        <div change-Basket-Values parentproductid="{{upsellitem.ParentProductId}}" upsellCheckout="1" class="featured_product_btn_wrap" ng-cloak>

            @Html.Partial("~/Views/Shared/Partials/_add_to_basket.cshtml")

            <input type="hidden" ng-model="upsellitem.ParentProductId" name="selectedParentProductId" value="{{upsellitem.ParentProductId}}" />
            <input type="hidden" name="selectedVariationId" ng-repeat="variation in upsellitem.ProductVariations" value="{{variation.VariationId}}" />
        </div>

    </section>
    <div class="button_container">
        <a onclick="return false;" class="button secure_button" ng-click="UpsellSecurely()">
            <span class="button_inner_wrap">
                <span class="icon"></span>
                <span class="text">Continue Securely</span>
            </span>
        </a>
    </div>
</section>
@* --end-- ADDON page*@