﻿
<section class="checkout_summary" ng-if="messageCode==null">
    <div class="container_wrap">
        <h5>Basket summary</h5>

        <div>
            <section class="basket_product_wrap" ng-repeat="reservItem in reservationItemData" ng-if="reservItem.ParentProductID!=22&&reservItem.ParentProductID!=23&&reservItem.ParentProductID!=19&&freeitem.FreeItem!=1&&reservItem.Quantity!=0">

                <div class="basket_product">
                    <div class="img" ng-click="ShowProductModal(reservItem.ParentProductID, reservItem.IsUpsellOnly)">
                        <img src="{{reservItem.ImageName}}" alt="{{reservItem.TvDescription}}" onerror="if (this.src.indexOf('reservItem.ImageName') == -1) { this.src = 'https://www.hoch.media/product-images/thumb/no-image.jpg' };" />
                    </div>
                    <h4 class="title" ng-click="ShowProductModal(reservItem.ParentProductID, reservItem.IsUpsellOnly)" ng-cloak>{{reservItem.TvDescription}}</h4>
                    <div class="qty_sku">
                        <div class="sku" ng-cloak>
                            <span class="variation_name">{{reservItem.VariationName!=null&&reservItem.VariationName!=undefined? '(' +reservItem.VariationName+')':''}}</span>
                            <span class="sku_name">{{reservItem.ParentProductSKU}}</span>
                        </div>
                        <span class="qty_text"> Qty: <span class="qty_selected" ng-cloak>{{reservItem.Quantity}}</span></span>
                    </div>
                    <div class="price_wrap">
                        <p class="price"><span class="now" ng-cloak>{{reservItem.ItemPriceWithCurrency}}</span><span class="was"  ng-show="reservItem.WasPriceWithCurrency!=0">Was {{reservItem.WasPriceWithCurrency}}</span></p>
                       
                    </div>
                </div>
                <div class="has_flexibuy" ng-if="reservItem.FlexiBuyItem==1">
                    <span class="inner_wrap">
                        <span class="text">This product is using</span>
                        <span class="image">
                            <img src="https://hoch.media/web-assets/hoch-logos/flexi-buy-web-small.svg" alt="flexi-buy" />
                        </span>
                    </span>
                </div>

            </section>

        </div>


    </div>

    <section class="summary_totals">


        @Html.Partial("~/Views/Shared/Partials/_order_summary_totals.cshtml")


    </section>

</section>