﻿<section ng-cloak>
	<div class="new_card_container" ng-controller="EmptyController" ng-cloak>
        <h1>Select Card</h1>
		@* On Checkout Page *@
		<div class="payment_box" ng-repeat="cards in billingCardResults" ng-class="{default_card_wrap:cards.CustomersDefaultCard==true}">
			<div class="payment_method_content">
				<div class="default_card_box">
					<p class="card_last4" ng-cloak><strong>**** **** **** {{cards.Last4Digits}}</strong></p>

					<div class="small_print" ng-repeat="address in allAddressList" ng-if="cards.AddressId==address.AddressId">
						<p class="title">Billing Address</p>
						<div ng-bind-html="FormatAddress(address)" ng-cloak></div>
						@*<p ng-cloak>{{FormatAddress(address)}}</p>*@
					</div>

					<p>
						<a class="button" ng-click="PopulateSelectedData(cards.AddressId,shippingAddressId,cards.Last4Digits)" data-dismiss="modal">Use This Card</a>
					</p>

				</div>

			</div>
		</div>
	</div>
</section>