﻿@*<div class="has_timer" style="display:none;">
            <div class="timer_text">
                <p>Your basket has been reserved for <span class="timer"></span></p>
            </div>
    </div>*@


<span class="has_timer" style="display:none;">
    <span class="timer_text">
        Your basket has been reserved for
        <span class="timer"></span>
        <span class="timer_checkout_btn">Checkout Now</span>
    </span>
</span>
