﻿

<div class="wrap">
	<article class="product_card ng-hide" ng-show="CurrentItemDetails.AuctionStatus != 2" ng-if="CurrentItemDetails.AuctionStatus != 2">

		<div class="prod_img">
			<div class="auction__logo">
				<img src="https://www.hoch.media/elements/craft-price-drop.svg" alt="Craft Price Drop Logo" />
			</div>
			<a href="{{ProductPath}}">
				<img class="prod_img_item" src="{{product.DefaultThumbnailFilename !== undefined ? product.DefaultThumbnailFilename : product.DefaultThumbnailFileName}}" alt="{{product.DefaultImageAltText}}">
				<img ng-show="product.IsMembersDiscount == 1" ng-src="https://hoch.media/web-assets/sashes/sash_freedom-b.svg" class="freedom_sash" alt="Product has a Freedom discount" />
				<img ng-show="product.IsFlexibuy == 1 && product.FlexibuyInstallments != 0" ng-src="https://hoch.media/web-assets/sashes/sash_flexibuy-b.svg" class="flexi_sash" alt="Product is available for Flexibuy" />
				<span ng-show="product.FeefoAveragePercentage != null" class="ratings_wrap small_stars">
					<span class="grey_stars">
						<span class="gold_stars" style="width:{{product.FeefoAveragePercentage}}%;">&nbsp;</span>
					</span>
				</span>
			</a>
		</div>
		<div class="details_wrap">
			<div class="sku" ng-cloak>{{product.ParentProductSKU}}</div>
			<a class="product_title" href="{{ProductPath}}">
				<h3 ng-cloak>{{product.TVDescription}}</h3>
			</a>

			<div class="auction__price_container">
				<div class="auction__price_wrap">
					<span class="auction__price__label">Start Price</span>
					<span class="auction__price zoom" ng-cloak>{{CurrentItemDetails.AuctionStartPriceString}}</span>
				</div>
				<div class="auction__price_wrap now">
					<span class="auction__price__label">Now At</span>
					<span class="auction__price" id="currentPrice" ng-cloak>{{CurrentItemDetails.AuctionNowPriceString}}</span>
				</div>

				<div class="auction__qty_wrap" >
					<div class="auction__qty__wrap" ng-if="CurrentItemDetails.AuctionStatus == 1 && CurrentItemDetails.AuctionQuantity != null">
						<span class="auction__qty__label">Quantity</span>
						<span class="auction__qty" id="quantityNo" ng-cloak>{{CurrentItemDetails.AuctionQuantity}}</span>
					</div>
				</div>
			</div>

		</div>

		<button class="quick_look" role="button" data-toggle="modal" data-target="#DynamicModal" ng-click="ShowProductModal(product.ParentProductId)">Quick Look</button>

		<div change-Basket-Values parentproductid="{{product.ParentProductId}}" class="featured_product_btn_wrap">
			
			@Html.Partial("~/Views/Shared/Partials/_add_to_basket_auction.cshtml")

			<input type="hidden" name="selectedParentProductId" value="{{product.ParentProductId}}" />
			<input type="hidden" name="selectedVariationId" value="{{product.AuctionHour != undefined ? product.DefaultVariationId : product.ProductVariations != null && product.ProductVariations.length == 1 ? product.DefaultVariationId : 0 }}" />

		</div>
	</article>

	<section class="auction__end" ng-if="CurrentItemDetails.AuctionStatus == 2 && ShowAuctionEnd">
		<div class="logo">
			<img src="https://hoch.media/elements/craft-price-lock.svg" alt="Craft Price Lock Logo" />
		</div>
		<div class="auction__end__price" ng-if="CurrentItemDetails.AuctionNowPriceString != null && CurrentItemDetails.AuctionNowPriceString != ''">
			Everyone Pays: <strong id="everyPay" ng-cloak>{{CurrentItemDetails.AuctionNowPriceString}}</strong>
		</div>
		<div class="cheverons">
			<img alt="cheverons" src="https://hoch.media/elements/auction-tv-graphics-chevrons/10pc-chevrons-W.png" />
		</div>
	</section>

	<section class="auction__wait" id="" ng-if="(CurrentItemDetails.AuctionStatus == 2 && ShowAuctionWait) || CurrentItemDetails == null">
		<div class="inner">
			<div class="logo">
				<img src="https://hoch.media/elements/craft-price-drop.svg" alt="Craft Price Drop Logo" />
			</div>
			<div class="message">The next auction will begin shortly...</div>
		</div>
	</section>
</div>