﻿
@{
	string valuePassedIn = this.ViewData.ContainsKey("pagename") ? this.ViewData["pagename"].ToString() : string.Empty;
}

<div class="new_to_hochanda">
	<div class="text_wrap">
		<img class="login_icon"
			 src="https://hoch.media/elements/icons/header-icons/account-2.svg" />
		<h2>New to Hochanda...</h2>
		<p>Welcome to the Home of Crafts Hobbies And Arts!</p>
		<a href="/register?pagename=@valuePassedIn" class="button">create account</a>

	</div>
</div>
