﻿@* CSS FUNCTIONAL *@
<link href="~/Styles/Css/ThirdParty/normalize.css" rel="stylesheet" />
<link href="~/Styles/Css/ThirdParty/bootstrap.min.css" rel="stylesheet" />
<link href="~/Styles/Css/ThirdParty/addtohomescreen.css" rel="stylesheet" />
<link href="~/Styles/Css/ThirdParty/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Styles/Css/ThirdParty/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/Styles/Css/ThirdParty/angular-material.min.css" rel="stylesheet" />
<link href="~/Styles/Css/ThirdParty/default-skin/default-skin.css" rel="stylesheet" />
<link href="~/Styles/Css/ThirdParty/photoswipe.css" rel="stylesheet" />

@{
    int randomNumber = new Random().Next(999999);
}

@* CSS LOCAL *@
@*<link href="~/Styles/Css/compiled/base.css?v=@randomNumber" rel="stylesheet" />
<link href="~/Styles/Css/compiled/layout.css?v=@randomNumber" rel="stylesheet" />
<link href="~/Styles/Css/compiled/checkout_layout.css?v=@randomNumber" rel="stylesheet" />
<link href="~/Styles/Css/compiled/modules.css?v=@randomNumber" rel="stylesheet" />
<link href="~/Styles/Css/compiled/areas.css?v=@randomNumber" rel="stylesheet" />
<link href="~/Styles/Css/temp_styles.css?v=@randomNumber" rel="stylesheet" />*@

@Html.IncludeVersionedCss("/Styles/Css/compiled/base.css")
@Html.IncludeVersionedCss("/Styles/Css/compiled/layout.css")
@Html.IncludeVersionedCss("/Styles/Css/compiled/checkout_layout.css")
@Html.IncludeVersionedCss("/Styles/Css/compiled/modules.css")
@Html.IncludeVersionedCss("/Styles/Css/compiled/areas.css")
@Html.IncludeVersionedCss("/Styles/Css/temp_styles.css")

@* CSS THIRD PARTY *@
<link href="~/Styles/Css/ThirdParty/jquery-ui.css" rel="stylesheet" />
<link href="~/Styles/Css/ThirdParty/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/Styles/Css/ThirdParty/jquery-ui.theme.css" rel="stylesheet" />