﻿

<article class="product_card ng-hide" ng-show="product != null" ng-if="IsBusy == null || !IsBusy">

    <div class="prod_img_wrap">
        <div class="fav_wrap" ng-if="IsLoggedIn==1">
            <div class="notfavourite" ng-if="product.IsFav!=1" onclick="AddToFav(this.parentElement.parentElement.children.prodPath.pathname, this)">Add To Favourites</div>
            <div class="favourite" ng-if="product.IsFav==1" onclick="RemoveFromFav(this.parentElement.parentElement.children.prodPath.pathname, this)">Remove From Favourites</div>
        </div>
        <div class="fav_wrap" ng-if="IsLoggedIn==0">
            <div class="notfavourite" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('login_favourites')">Add To Favourites</div>
        </div>
        <a id="prodPath" href="{{ProductPath}}">
            <img class="prod_img_item" src="{{product.DefaultThumbnailFilename !== undefined ? product.DefaultThumbnailFilename : product.DefaultThumbnailFileName}}" alt="{{product.DefaultImageAltText}}">
            <img ng-show="product.IsMembersDiscount == 1" ng-src="https://hoch.media/web-assets/sashes/sash_freedom-b.svg" class="freedom_sash" alt="Product has a Freedom discount" />
            <img ng-show="product.IsFlexibuy == 1 && product.FlexibuyInstallments != 0" ng-src="https://hoch.media/web-assets/sashes/sash_flexibuy-b.svg" class="flexi_sash" alt="Product is available for Flexibuy" />
            <span ng-show="product.FeefoAveragePercentage != null" class="ratings_wrap small_stars">
                <span class="grey_stars">
                    <span class="gold_stars" style="width:{{product.FeefoAveragePercentage}}%;">&nbsp;</span>
                    @*<span class="review_text"><span>{{product.FeefoTotalReviews}}</span> reviews</span>*@
                </span>
            </span>
        </a>
    </div>

    <div class="details_wrap">
        <div class="sku" ng-cloak>{{product.ParentProductSKU}}</div>
        <a class="product_title" href="{{ProductPath}}">
            <h3 class="h5tvDesc" ng-cloak>{{product.TVDescription}}</h3>
        </a>


        <p class="price">
            <span class="was" ng-if="product.UsualPrice > product.Price" ng-cloak>{{product.UsualPriceString}}</span>
            <span class="now" ng-cloak>{{product.PriceString}}</span>
        </p>
    </div>

    <button class="quick_look" role="button" data-toggle="modal" data-target="#DynamicModal" ng-click="ShowProductModal(product.ParentProductId)">Quick Look</button>
    @*@Html.IncludeVersionedJs("/Scripts/Internal/ProductQuickLook.js")*@


    <div change-Basket-Values parentproductid="{{product.ParentProductId}}" class="featured_product_btn_wrap" ng-if="!product.IsPickAndMix">

        @Html.Partial("~/Views/Shared/Partials/_add_to_basket.cshtml")

        <input type="hidden" ng-model="product.ParentProductId" name="selectedParentProductId" value="{{product.ParentProductId}}" />
        <input type="hidden" name="selectedVariationId" value="{{CurrentItemDetails.IsAuctionHour ? product.DefaultVariationId : product.ProductVariations != null && (product.ProductVariations.length == 1 || product.ProductVariations.length == 0) ? product.DefaultVariationId : 0 }}" />

    </div>
    <div class="featured_product_btn_wrap ng-hide" ng-show="product.IsPickAndMix" ng-if="product.IsPickAndMix">
        @Html.Partial("~/Views/Shared/Partials/_select_pick_and_mix.cshtml")
    </div>
</article>

<article class="product_card holding ng-hide" ng-show="IsBusy" ng-if="IsBusy">

    <div class="dummy__bg dummy__img">
        <img src="https://hoch.media/web-assets/default/blank.png" alt="dummy" />
    </div>
    <div class="dummy__details">
        <div class="dummy__bg dummy__sku"></div>
        <div class="dummy__bg dummy__title dummy__title_1"></div>
        <div class="dummy__bg dummy__title dummy__title_2"></div>
        <div class="dummy__bg dummy__price"></div>
    </div>
    <div class="dummy__bg dummy__info"></div>
    <div class="dummy__bg dummy__btn"></div>
</article>

@*TODO: create grey box replacement*@

@*<div class="current_item_dummy_wrap" id="dummyCIOADiv">
        <div class="carousel_dummy_item">
            <div class="product_image">
                <div class="carousel_dummy_bg carousel_dummy_img">
                    <img src="https://hoch.media/web-assets/default/blank.png" alt="dummy" />
                </div>
            </div>
            <div class="featured_product">
                <div class="carousel_dummy_bg carousel_dummy_title carousel_dummy_title1"></div>
                <div class="carousel_dummy_bg carousel_dummy_title carousel_dummy_title2"></div>
                <div class="carousel_dummy_bg carousel_dummy_sku"></div>
                <div class="carousel_dummy_bg carousel_dummy_price"></div>
            </div>
            <div class="featured_product_btn_wrap">
                <div class="carousel_dummy_bg carousel_dummy_info"></div>
                <div class="carousel_dummy_bg carousel_dummy_btn"></div>
            </div>
        </div>
    </div>*@