﻿@{
	var isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);
}

<div class="empty_basket_modal">
	<div class="empty_basket">
		<div class="content">

			<div class="icon">
				<img src="https://hoch.media/elements/icons/empty_basket.svg" alt="empty basket" ;">
			</div>

			<h1>Your Basket</h1>
			<div class="divider_line"></div>
			<p>There are currently no items in your basket</p>

			@if (!isExternal)
			{
				<div class="actions">

					<div>
						<a href="/" class="button">Continue Shopping</a>
					</div>
				</div>
			}
		</div>
	</div>

</div>
