﻿@{
	Layout = null;
	@model Hoch.Website.Models.MessageCodeModel
}
<section class="error_page">
	<div class="content">

		@if (Model != null)
		{
			<p class="code">Error code:<strong> @Model.ErrorCode</strong></p>
			<h1>@Model.ErrorTitle</h1>

			<p class="intro">@Model.ErrorDescription </p>
		}
		else
		{
			<p class="code">Error code:<strong>UNKNOWNGEN</strong></p>
			<h1>Error</h1>

			<p class="intro">We have encountered an error.</p>
		}

		<div class="links">

			<a class="button" href="/">Watch Live</a>
			<a class="button invert" href="/contact-us">Contact us</a>

		</div>
	</div>
</section>


