﻿<div class="expiring_basket_modal">

	<section class="expiring_basket">
		<div class="content">

			<div class="icon">
				<img src="https://hoch.media/elements/icons/icon_clock_grey.svg" alt="clock">
			</div>

			<h1>Your basket is about to expire</h1>
			<div class="divider_line"></div>
			<p>You still have items in your basket. Your products are reserved for:</p>

			@Html.Partial("~/Views/Shared/Partials/_countdown_timer.cshtml")

			<div id="moreTime" class="more_time" style="display:none;">
				<h6>Need More Time?</h6>
				<p>Would you like to extend your timer by 5 minutes?</p>
				<button id="extendBasketIdButton" onclick="ExtendBasket();">More Time Please</button>
			</div>

		</div>
	</section>

</div>