﻿@{
	var isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);
}

<div class="expired_basket_modal">
	<div class="expired_basket">
		<div class="content">

			<div class="icon">
				<img src="https://hoch.media/elements/icons/empty_basket.svg" alt="empty basket" ;">
			</div>

			<h1>Your Basket Has Expired</h1>
			<div class="divider_line"></div>
			<p>
				Your timer has run out and your basket is now empty.
				@*But don't worry you can restore all of your items if you wish.*@
			</p>

			@if (!isExternal && !Request.Path.ToLower().Contains("checkout/callcentre"))
			{
				<div class="actions">
					@*TODO: FUTURE - restore expired basket*@
					@*<div class="restore">
							<button>Restore My Basket</button>
						</div>*@
					<div>
						<a href="/" class="button">Continue Shopping</a>
					</div>
				</div>
			}
		</div>
	</div>

</div>
