﻿
<section class="flexi_payments">

    <div class="logo">
        <img src="https://www.hoch.media/web-assets/hoch-logos/flexi-buy-web-main.svg" alt="flexibuy logo" />
    </div>


    <p>Upcoming flexi-instalments</p>

    <section class="flexi_payments__table" ng-controller="RecentOrdersController">
        @* REMOVE CONTROLLER - only here to activate modal *@

        <div class="header">
            <div class="item view">&nbsp;</div>
            <div class="item due">Due Date</div>
            <div class="item status">Status</div>
            <div class="item use_card">Card</div>
            <div class="item amount">Amount</div>
            @*<div class="item pay">Pay</div>*@
        </div>
        <div class="details">
            <div class="item view"><a data-toggle="modal" data-target="#DynamicModal" ng-click="ShowOrderModal(order.OrderId)" class="view">View</a></div> @*Link to the order summary for this order*@
            <div class="item due"><label>Due Date</label><span>17/04/2019</span></div>
            <div class="item status"><label>Status</label><span>Pending</span></div>
            <div class="item use_card"><label>Card</label><span>**** **** **** 0234</span></div>
            <div class="item amount"><label>Amount</label><span>£27.91</span></div>
            @*<div class="item pay">Pay Now</div>*@
        </div>
        <div class="details">
            <div class="item view"><a data-toggle="modal" data-target="#DynamicModal" ng-click="ShowOrderModal(order.OrderId)" class="view">View</a></div>@*Link to the order summary for this order*@
            <div class="item due"><label>Due Date</label><span>28/04/2019</span></div>
            <div class="item status"><label>Status</label><span>Pending</span></div>
            <div class="item use_card"><label>Card</label><span>**** **** **** 1234</span></div>
            <div class="item amount"><label>Amount</label><span>£207.91</span></div>
            @*<div class="item pay">Pay Now</div>*@
        </div>
        <div class="details">
            <div class="item view"><a data-toggle="modal" data-target="#DynamicModal" ng-click="ShowOrderModal(order.OrderId)" class="view">View</a></div>@*Link to the order summary for this order*@
            <div class="item due"><label>Due Date</label><span>17/05/2019</span></div>
            <div class="item status"><label>Status</label><span>Pending</span></div>
            <div class="item use_card"><label>Card</label><span>**** **** **** 1111</span></div>
            <div class="item amount"><label>Amount</label><span>£270.91</span></div>
            @*<div class="item pay">Pay Now</div>*@
        </div>

    </section>


</section>