﻿@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}
<section ng-controller="forgotPasswordCtlr" ng-cloak class="section_background_register_img reset_password_wrap" style="background-image: url(https://www.hoch.media/web-assets/backgrounds/10.jpg)">
    <div class="reset_password">
        <h1>Reset Password</h1>
        <p>Please enter you Email Address to receive a reset password email.</p>
        <input type="email" placeholder="email address" id="emailAddress" ng-model="EmailAddress" ng-keydown="$event.keyCode === 13 && ResetPassword(EmailAddress)"/>

        <div ng-if="Success==true">
         <span class="success">{{MessageToDisplay}}</span>   
             
        </div>

        <div ng-if="Success==false">
          <span class="fail">{{MessageToDisplay}}</span>  

        </div>
        <input type="submit" value="Send Email" ng-click="ResetPassword(EmailAddress)" />

    </div>
   
</section>

@Html.IncludeVersionedJs("/Scripts/Internal/ResetPassword.js")