﻿

<section class="freedom_holiday__activate" ng-controller="FreedomMemberCtrl">


    <h1>Would you like to activate a Freedom holiday?</h1>
    <p>This will delay your payment until the holiday is finished. While the holiday is active you will not be able to access any of the Freedom perks.</p>


    <select name="" id="HolidaySelectedDays">
        <option selected="selected" value="-1" disabled="disabled">Select Holiday Duration</option>
        <option value="7">7 Days</option>
        <option value="14">14 Days</option>
        <option value="21">21 Days</option>
    </select>

    <p class="note">
        <strong>Please note:</strong> You cannot undo this action and it can only be used once in any single billing period.
    </p>

    <button id="" type="button" class="button" ng-click="ActivateHoliday()">
        Activate Holiday
    </button>
    <div ng-cloak>{{DaysValidation}}</div>
</section>
@Html.IncludeVersionedJs("/Scripts/Internal/Account.js")