﻿@* JS *@
<script src="~/Styles/Scripts/ThirdParty/addtohomescreen.min.js"></script>

<script>
	addToHomescreen({
		skipFirstVisit: true,
		maxDisplayCount: 1,
		//debug: true
	});
</script>

<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

@*adds app banner if on mobile Android*@
<link rel="manifest" href="~/Styles/Scripts/Local/manifest.json">

@*adds app banner if on mobile iOS Safari*@
<meta name="apple-itunes-app" content="app-id=1435820185" />


@*GOOGLE ANALYTICS*@
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114429516-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-114429516-1');
</script>

@* TAG MANAGER *@
<script>
	(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
            new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-M53DWBR');
</script>