﻿
<article class="ie_cover_wrap">
    <section class="header_ie">
        <div class="header_ie_wrap">
            <img class="logo" src="https://hoch.media/elements/icons/hochanda-logo-main.svg" />
            <h6>Sorry, Internet explorer is not supported</h6>
        </div>
    </section>

    <section class="hero_ie">
        <h1>Sorry, internet explorer is not supported</h1>
        <p>This means that the website may not function properly. We recommend that you use Google Chrome instead.</p>
        <a class="button " href="/">
            <img class="chrome_icon" src="https://www.hoch.media/web-assets/icons/chrome-logo.svg" />
            <span class="text">Download Chrome</span>
        </a>
    </section>


    <section class="video_ie">
        <div class="inner">
            <div class="video" ng-controller="LiveStreamController" ng-init="init(false,false)" ng-bind-html="LiveStream" ng-class="{video_loading : Loading == true}">

                @* This has been moved to home.js to as there was issues structure is still the same. *@

                @*<div id="ssmp" data-client="hochanda" data-stream="{{defaultStreamingId}}" data-type="live"></div>
                    <script src="https://dbxm993i42r09.cloudfront.net/ss.js"></script>*@
            </div>
            @Html.Partial("~/Views/Shared/Partials/_loader.cshtml")
        </div>
    </section>




    <section class="tv_schedule_ie">

        @Html.Partial("~/Views/Shared/Partials/_now_and_next_shows.cshtml")




    </section>



    <section class="footer_channels_ie">

        <p>Sky <strong>673</strong> (24/7) | Freesat <strong>817</strong> (24/7) | Freeview <strong>85</strong> (4am-7pm)</p>

        <div class="tv_streaming_wrap">

            <a href="https://channelstore.roku.com/en-gb/details/258327/hochanda-crafts" target="_blank">
                <img src="https://www.hoch.media/web-assets/logos-3rd-party/roku-white.svg" alt="Add Hochanda to your Roku streaming player">
            </a>

            <a href="https://itunes.apple.com/gb/app/hochanda/id1435820185" target="_blank">
                <img src="https://www.hoch.media/web-assets/logos-3rd-party/App_Store_Badge_wht.svg" alt="Apple App Store link">
            </a>

            <a href="https://play.google.com/store/apps/details?id=com.Hochanda.Hochanda" target="_blank">
                <img src="https://www.hoch.media/web-assets/logos-3rd-party/google-play-badge.svg" alt="Get it on Google Play">
            </a>

            <a href="https://www.amazon.com/gp/product/B07M82GKX1" target="_blank">
                <img src="https://www.hoch.media/web-assets/logos-3rd-party/amazon_fire_tv.png" alt="Get it on Amazon">
            </a>

        </div>



    </section>


</article>
