﻿@*JS for the footer*@
@*added to header*@
<script src="~/Styles/Scripts/ThirdParty/bootstrap.min.js"></script>
<script src="~/Styles/Scripts/ThirdParty/owl.carousel.min.js"></script>
@Html.IncludeVersionedJs("/Styles/Scripts/Local/frontend.js")
<script type="text/javascript" src="https://api.feefo.com/api/javascript/hochanda" async ></script>

@*footer includes*@
<link href="https://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans:400,700" rel="stylesheet" />

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = { "message": "Like all modern websites, we use cookies to ensure you get the best experience on our website, (Sadly not the kind with chocolate! &#9785;). Carry on browsing if you're happy with this, or", "dismiss": "Close", "learnMore": "Learn More", "link": "/about/cookie-policy/", "theme": "dark-bottom" };

</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>

<script src="~/Styles/Scripts/ThirdParty/photoswipe-ui-default.min.js"></script>
<script src="~/Styles/Scripts/ThirdParty/photoswipe.min.js"></script>
<link href="~/Styles/Css/compiled/photoswipe.css" rel="stylesheet" />
@Html.IncludeVersionedJs("/Scripts/Internal/Product.js")


<!-- End Cookie Consent plugin -->
