﻿
@{
	var versionNumber = System.Configuration.ConfigurationManager.AppSettings["VersionNo"] != null ? System.Configuration.ConfigurationManager.AppSettings["VersionNo"].ToString() : "1";
	bool isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);



    var display = "none";

    if (!string.IsNullOrEmpty(ViewBag.ForNewCustomer))
    {
        display = "block";
    }

}


<div class="welcome_back_login" ng-if="partialCheck != 1">

    <h1>Please Login</h1>
    <div class="new_acc_msg" style="display:@display">
        <span>@ViewBag.ForNewCustomer</span>
    </div>

	<div class="form" ng-controller="recapCtrl" id="loginOnly">

		<div class="persistant_login_msg" ng-cloak ng-if="LoginName != null">
			Hi <span>{{LoginName}}</span>, <a href="#">Not You?</a>
		</div>

		<form name="signupForm" ng-submit="onSubmit()">
			<fieldset>
				<input type="text" placeholder="Email Address" ng-model="email">
				<input type="password" placeholder="Password" ng-model="password">
				@*<div class="emailMarketing4th">
						<input type="checkbox" id="persSignIn" class="styled-checkbox" ng-model="persSignIn">
						<label for="persSignIn">Keep me signed in</label>
					</div>*@
				<div ng-if="siteKey != null && siteKey != ''" vc-recaptcha key="siteKey" size="invisible" on-success="signup()"></div>
				<div class="validationError" id="validationErrorDiv">
					<ul ng-show="isError">
						<li style="list-style: none;" class="ng-hide" ng-show="isEmailError">Email cannot be empty.</li>
						<li style="list-style: none;" class="ng-hide" ng-show="isPasswordError">Password cannot be empty.</li>
						<li style="list-style: none;" class="ng-hide" ng-show="isEmailNotValid">Email address not valid.</li>
						<li style="list-style: none;" class="ng-hide" ng-show="errorFromWiki != null" ng-cloak>{{errorFromWiki}}</li>
					</ul>
				</div>
				<input type="submit" value="login" />
			</fieldset>
		</form>

	</div>

	@if (!isExternal)
	{
		<a href="@Url.Action("ForgotPassword", "Account")">Forgotten Password?</a>
		<div class="no_acc" style="display:none;">
			<h6>New to Hochanda?</h6>
			<a href="/register" class="button">Create Account</a>
		</div>
	}

</div>

@Html.IncludeVersionedJs("/Scripts/Internal/Login.js")




