﻿
<section id="accountPaymentController" ng-controller="AccountPaymentController" ng-cloak>

	<div ng-hide="hid_MyaccountaddcardPartial" ng-cloak>
		@Html.Partial("~/Views/Shared/Partials/_my_account_payment_new_card.cshtml")
	</div>

	<div class="new_card_container" ng-show="PaymentContainer" ng-cloak>
		@* display it only on account page *@
		<div class="payment_box add_new_card_wrap" ng-click="MyAccountPayByCard()" ng-if="page==3">
			<div class="add_new_card_icon_wrap">
				<span class="plus_icon"></span>
				<span class="add_new_card">Add New Card</span>
			</div>
		</div>
		<div class="payment_box" ng-repeat="cards in billingCardResults" ng-if="page==3 && allAddressList != null && allAddressList.length != 0" ng-class="{default_card_wrap:cards.CustomersDefaultCard==true}">

			<a ng-click="deleteCard(cards.iBLookUP,cards.Last4Digits)" class="payment_button_delete" ng-class="{hide:cards.CustomersDefaultCard==true}"></a>

			<div class="payment_method_content">
				<div class="default_card_box">
					<p class="card_last4" ng-cloak><strong>**** **** **** {{cards.Last4Digits}}</strong></p>
					<div class="small_print" ng-repeat="address in allAddressList" ng-if="cards.AddressId == address.AddressId">
						<p ng-bind-html="FormatAddress(address)" ng-cloak>{{address.StreetAddress1}}, {{address.City}}, {{address.Postcode}}</p>
					</div>

					<div class="text_wrap" ng-if="cards.CustomersDefaultCard==true">
						<div class="inner">
							<span class="icon"></span>
							<span class="text">Default card</span>
						</div>
					</div>

					<p><a class="button" ng-if="cards.CustomersDefaultCard==false" ng-click="MyAccoutDefaultCard(cards.iBLookUP,cards.Last4Digits)" data-dismiss="modal">Set as default</a></p>
				</div>
			</div>
		</div>


		@* On Checkout Page *@
		<div class="payment_box" ng-repeat="cards in billingCardResults" ng-if="page != 3" ng-class="{default_card_wrap:cards.CustomersDefaultCard==true}">
			<div class="payment_method_content">
				<div class="default_card_box">
					<p class="card_last4" ng-cloak><strong>**** **** **** {{cards.Last4Digits}}</strong></p>

					<div class="small_print" ng-repeat="address in allAddressList" ng-if="cards.AddressId==address.AddressId">
						<p class="title">Billing Address</p>
						<p ng-cloak> {{address.StreetAddress1}}, {{address.City}}, {{address.Postcode}}</p>
					</div>

					<p>
						<a class="button" ng-click="PopulateSelectedData(cards.AddressId,shippingAddressId,cards.Last4Digits)" data-dismiss="modal">Use This Card</a>
					</p>

				</div>

			</div>
		</div>



	</div>


</section>
