﻿<section id="mySidenav" class="sidenav_wrap">
    <div class="inner">

        <div class="acc_id" ng-controller="MenuSideController">
            <div class="acc_id__name">
                <span>Hello,</span>
                @* login below changes to the users first name if they are logged in *@
                <a ng-if="isLoggedIn==0" href="/login" ng-cloak>Sign in</a>
                <a ng-if="isLoggedIn==1" href="" ng-cloak>{{firstname}}</a>
            </div>
            <div class="acc_id__links">
                <a ng-if="isLoggedIn==0" href="/login">My Account</a>
                <a ng-if="isLoggedIn==1" href="/myaccount">My Account</a>
                @* register changes to logout if logged in *@
                <a ng-if="isLoggedIn==0" href="/register">Register</a>
                <a ng-if="isLoggedIn==1" href="#" onclick="logout()" ng-cloak>Log out</a>
            </div>
        </div>
        @using Hoch.Website.Models;
        @using ModelLayer.Models.Settings;
        @using Newtonsoft.Json;
        @{
            CurrencyCountryLanguageSelectorModel sel = new Selectors().PopulateMenuData();
            var selectors = JsonConvert.SerializeObject(sel);
        }

        <div class="preference_selector" ng-controller="SelectorsController" ng-init="init('@selectors')">

            <a href="#" onclick="return false" class="preference_selector__toggle">
                <span class="preference_selector__selected set__delivery" ng-cloak>{{countryPreference}}</span>
                <span class="preference_selector__selected set__curency" ng-cloak>{{currencyPreference}}</span>
                <span class="preference_selector__selected set__language" ng-cloak>{{languagePreference}}</span>
            </a>

            <div class="preference_selector__box" style="display: none;">
                <div id="" class="ani_bg" style="display: none;">
                    <div class="loading_ani">
                    </div>
                </div>

                <p class="preference_selector__subtitle">Where are you shipping to?</p>

                <div class="form-group">
                    <select ng-model="countrySelected" ng-init="initCountry()" ng-options="c.CountryId as c.CountryName for c in countries"></select>
                </div>

                <p class="preference_selector__subtitle">Preferred Currency</p>

                <div class="form-group">
                    <select ng-model="currencySelected" ng-init="initCurrency()" ng-options="cur.CurrencyId as cur.CurrencyDisplayName for cur in currencies" ng-change="CurrencyChange()"></select>
                </div>

                <p class="preference_selector__subtitle">preferred language</p>

                <div class="form-group">
                    <select ng-model="languageSelected" ng-init="initLanguage()" ng-options="l.LanguageId as l.LanguageName for l in languages" ng-change="LanguageChange()"></select>
                </div>

                <small>
                    If you change these preferences, your basket will be emptied.
                </small>

                <div class="dropdown_btn_wrap">
                    <input type="button" value="Update Preferences" class="button" ng-click="updatePreference()">
                </div>
            </div>

        </div>

        <div class="nav_list">
            <a href="/">Watch Live</a>
            <a href="/tv-schedule">TV Schedule</a>
            <a href="/about/rewind">Rewind - Rewatch shows</a>
            <a href="/about/freedom">Join Freedom - Become a member</a>
            <a href="/refer-a-friend">Refer a Friend</a>
            <a href="https://hochandablog.com/" target="_blank">Blog</a>
            <a href="/about/news">News</a>
        </div>


        <h5>Shopping</h5>
        <div class="nav_list">
            <a href="/brands">Brands</a>
        </div>
        @Html.Partial("~/Views/Shared/Partials/_menu_category.cshtml")



        <h5>Customer Care</h5>

        <div class="nav_list">
            <a href="/about/terms-conditions">T&amp;C's</a>
            <a href="/about/careers">Careers</a>
            <a href="/about/contact-us">Contact Us</a>
        </div>

    </div>
</section>
<div id="myCanvasNav" class="menu_overlay">
</div>
