﻿
<section ng-cloak class="nav_accordion" ng-controller="MenuSideController">
    <ul class="sidenav_nav_cat">


        <li>

            <span class="hello" ng-click="offerClick(1)">Latest Offers</span>
            <ul class="inner_nav">

                <li ng-repeat="offer in offerResults">
                    <a href="{{offer.PageURL}}" class="hello" ng-cloak>{{offer.CampaignName}}</a>
                </li>
            </ul>
        </li>

        <li ng-repeat="menuItem in sideMenuData | filter:{CategoryBelongsTo}">

            <a ng-if="menuItem.SubCatInfoCount==0" href="{{menuItem.CategoryURL}}" class="hello" ng-cloak>{{menuItem.CategoryName}}</a>

            <span ng-if="menuItem.SubCatInfoCount!=0" class="hello" ng-click="nextLevel(menuItem.CategoryId,1)" ng-cloak>{{menuItem.CategoryName}}</span>
            <ul class="inner_nav" ng-if="menuItem.SubCatInfoCount!=0" id="li_{{selectedCatID}}">
                <li><a href="{{viewAllCategoryURL}}" class="view_all_cat" ng-cloak>View All of {{menuItem.CategoryName}}</a></li>
                <li ng-repeat="firstLevelItem in firstLevelMenuData">
                    <a ng-if="firstLevelItem.SubCatInfoCount==0" href="{{firstLevelItem.CategoryURL}}" class="hello" ng-cloak>{{firstLevelItem.CategoryName}}</a>

                    <span ng-if="firstLevelItem.SubCatInfoCount!=0" class="hello" ng-click="nextLevel(firstLevelItem.CategoryId,2)" ng-cloak>{{firstLevelItem.CategoryName}}</span>
                    <ul class="inner_nav" ng-if="firstLevelItem.SubCatInfoCount!=0">
                        <li><a href="{{viewAllCategoryURL}}}" class="view_all_cat" ng-cloak>View All of {{firstLevelItem.CategoryName}}</a></li>
                        <li ng-repeat="secondLevelItem in secondLevelMenuData">
                            <a ng-if="secondLevelItem.SubCatInfoCount==0" href="{{secondLevelItem.CategoryURL}}" class="hello" ng-cloak>{{secondLevelItem.CategoryName}}</a>

                            <span ng-cloak ng-if="secondLevelItem.SubCatInfoCount!=0" class="hello" ng-click="nextLevel(secondLevelItem.CategoryId,3)">{{secondLevelItem.CategoryName}}</span>
                            <ul class="inner_nav" ng-if="secondLevelItem.SubCatInfoCount!=0">
                                <li><a href="{{viewAllCategoryURL}}" class="view_all_cat" ng-cloak>View All of {{secondLevelItem.CategoryName}}</a></li>
                                @* third leve *@
                                <li ng-repeat="thirdLevelItem in thirdLevelMenuData">
                                    <a ng-if="thirdLevelItem.SubCatInfoCount==0" href="{{thirdLevelItem.CategoryURL}}" class="hello" ng-cloak>{{thirdLevelItem.CategoryName}}</a>

                                    <span ng-cloak ng-if="thirdLevelItem.SubCatInfoCount!=0" class="hello" ng-click="nextLevel(thirdLevelItem.CategoryId,4)">{{thirdLevelItem.CategoryName}}</span>
                                    <ul class="inner_nav" ng-if="thirdLevelItem.SubCatInfoCount!=0">
                                        <li><a href="{{viewAllCategoryURL}}" class="view_all_cat" ng-cloak>View All of {{thirdLevelItem.CategoryName}}</a></li>
                                    </ul>
                                </li>

                                @* end of third level *@
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>


        </li>



    </ul>
</section>
@Html.IncludeVersionedJs("/Scripts/Internal/MenuSide.js")