﻿<section class="header__pre">

    <div class="header__pre__item header__pre__intro">Your Arts and Crafts specialists</div>

    <div class="header__pre__item header__pre__contact">
        <a href="tel:+441733602000" class="contact__call"><span>01733&nbsp;60&nbsp;2000</span></a>
        <a href="/about/contact-us" class="contact__link"><span>Contact us: </span><span>01733 60 2000</span></a>
    </div>

    <div class="header__pre__item header__pre__review">
        <a href="/reviews">
            <span class="label">Trusted Reviews</span>
            <span class="logo"><img src="https://hoch.media/elements/icons/header-icons/feefo-invert.svg" alt="Feefo reviews logo"></span>
            <span class="stars"><img src="https://hoch.media/elements/icons/header-icons/feefo-stars.svg" alt="Feefo reviews Stars"></span>
        </a>
    </div>


</section>


<section id="headerMainController" class="header__main" ng-controller="HeaderMainController">
    <a href="/" class="header__main__logo">HOCHANDA TV - Arts and crafts channel home of all crafting essentials</a>

    <div class="header__main__nav">

        <a href="/tv-schedule" class="header__main__tv header__main__item"><span class="text">TV Schedule</span><span class="icon"></span></a>
        <a ng-href="{{path}}" class="header__main__login header__main__item" ng-class="{'header__main__login__signedin': isLoggedIn == true}" ng-cloak>
            <span class="text" ng-cloak>{{isLoggedIn == true ? "My Account" : "Sign in / Register"}}</span>
            <span class="inner">
                <span class="icon"></span>
                <span class="tick"></span>
            </span>

        </a>
        <a href="/basket" class="header__main__basket header__main__item"><span class="text">Basket</span><span class="icon"><span class="basket_number">0</span></span></a>

        <a href="#" onclick="return false;" class="header__main__menu header__main__item">
            <span class="header__main__menu__icon_wrap">
                <span class="icon"></span>
                <span class="text">menu</span>
            </span>
        </a>
    </div>

    <a href="" class="header__main__search_toggle" role="button" aria-pressed="true" onclick="ToggleSearchView(); return false;">
        <span class="text">Search...</span>
        <span class="icon"></span>
    </a>

</section>


<section ng-controller="MenuSideController" class="header__secondary_wrap ng-cloak">
    <section class="header__secondary">

        @*all screens*@
        <a href="#" class="header__secondary__brands_toggle header__secondary__item mn2_toggle_btn" onclick="return false;" ng-click="nextLevel('','','','',1)">
            <span class="inner">
                <span class="text">Brands</span>
                <span class="icon"></span>
            </span>
        </a>

        @*all screens except staff menu*@
        <a href="#" class="header__secondary__category_toggle header__secondary__item" onclick="return false;">
            <span class="inner">
                <span class="text">Categories</span>
                <span class="icon"></span>
            </span>
        </a>

        @*staff menu links*@

        <a href="#" ng-repeat="topmenuItem in topMenuData" data-divcontrolid="catNameDropdownMenu{{topmenuItem.CategoryId}}" class="header__secondary__category_staff header__secondary__item" onclick="return false;" ng-click="nextLevel(topmenuItem.CategoryId,1,topmenuItem.CategoryName,1)">
            <span class="inner">
                <span class="text" ng-cloak> {{topmenuItem.CategoryName}}</span>
                <span class="icon"></span>
            </span>
        </a>

        <a href="#" class="header__secondary__category_staff header__secondary__item" onclick="return false;" ng-click="offerClick(1)">
            <span class="inner">
                <span class="text">Offers</span>
                <span class="icon"></span>
            </span>
        </a>



        @*all screens - HIDDEN UNTIL NEW AREA IS CREATED *@
        <a href="/About/Rewind" class="header__secondary__item header__secondary__rewind">
            <span class="inner">
                <span class="icon"></span>
                <span class="text">Rewind</span>
            </span>
        </a>

        @*all screens except staff menu*@
        <a href="" class="header__secondary__search_toggle header__secondary__item" role="button" aria-pressed="true" onclick="ToggleSearchView(); return false;">
            <span class="text">Search...</span>
            <span class="icon"></span>
        </a>

        @*all screens*@
        @*<a ng-if="isLoggedIn==true" href="/account/favourites" class="header__secondary__favourites_toggle header__secondary__item">*@
        <a href="/account/favourites" class="header__secondary__favourites_toggle header__secondary__item">
            <span class="inner">
                <span class="text">Favourites</span>
                <span class="icon"></span>
            </span>
        </a>



    </section>
    <div id="topmenuStaff" class="nav_wrap__staff">
        <div class="inner">
            <div ng-cloak class="single_cat">
                @* TODO: same as subcat above, but is activated depending on what is selected in the main top menu on large screens (staff, 1900px +) *@
                <ul ng-show="ShowDiv==1">
                    <li>
                        <a href="{{viewAllCategoryURL}}" class="view_all_cat">View All of - {{CatName}}</a>
                    </li>
                    <li ng-repeat="firstLevelItem in firstLevelMenuData">
                        <a href="{{firstLevelItem.CategoryURL}}">{{firstLevelItem.CategoryName}}</a>
                    </li>

                </ul>

                <ul ng-show="ShowOffers==1">

                    <li ng-repeat="offer in offerResults">
                        <a href="{{offer.PageURL}}">{{offer.CampaignName}}</a>

                    </li>

                </ul>



            </div>
        </div>
    </div>




    <section id="brandsDropdownMenu" class="dropdowns_wrap" ng-show="ShowBrands==1">

        <div class="nav_wrap__brands">

            <div class="nav_wrap__brands__az" ng-controller="BrandsController">

                <h4>a-z Brands</h4>

                @Html.Partial("~/Views/Shared/Partials/_brands_letter_nav.cshtml")
                @Html.IncludeVersionedJs("/Scripts/Internal/Brands.js")

            </div>

            <div class="nav_wrap__brands__top" ng-controller="FeaturedBrandsController">


                @* these should pull from hope.tools *@
                @*<div class="nav_wrap__brands__top_list">
                        <a class="brand_pop_menu_table_item" href="/ProductsListing-Brand/446/Craftalong-with-Barbara-February-'19"><span id="lblCategory">Craftalong with Barbara February '19</span></a>
                        <a class="brand_pop_menu_table_item" href="/ProductsListing-Brand/81/Crafters-Companion"><span id="lblCategory">Crafters Companion</span></a>
                        <a class="brand_pop_menu_table_item" href="/ProductsListing-Brand/57/Groovi"><span id="lblCategory">Groovi</span></a>
                        <a class="brand_pop_menu_table_item" href="/ProductsListing-Brand/83/Sara-Signature"><span id="lblCategory">Sara Signature</span></a>
                        <a class="brand_pop_menu_table_item" href="/ProductsListing-Brand/65/Sizzix"><span id="lblCategory">Sizzix</span></a>
                        <a class="brand_pop_menu_table_item" href="/ProductsListing-Brand/14/Claritystamp-LTD"><span id="lblCategory">Claritystamp LTD</span></a>
                        <a class="brand_pop_menu_table_item" href="/ProductsListing-Brand/46/Tonic-Studios"><span id="lblCategory">Tonic Studios</span></a>
                        <a class="brand_pop_menu_table_item" href="/ProductsListing-Brand/46/Quilter's-Trading-Post"><span id="lblCategory">Quilter's Trading Post</span></a>
                        <a class="brand_pop_menu_table_item" href="/ProductsListing-Brand/67/IndigoBlu"><span id="lblCategory">IndigoBlu</span></a>
                    </div>*@


                <h4>Popular Brands</h4>
                <div class="nav_wrap__brands__top_list">
                    <a class="brand_pop_menu_table_item" ng-repeat="brand in featuredBrands" ng-href="{{getBrandUrl(brand.BrandId, brand.BrandName, brand.IsBrandAmbassador)}}"><span id="lblCategory" ng-cloak>{{brand.BrandName}}</span></a>
                </div>
                @Html.IncludeVersionedJs("/Scripts/Internal/Home.js")
            </div>


        </div>

        <div class="nav_wrap__brands__footer">
            <a href="/brands#ALL" class="button dropdown_btn_submit">View All Brands</a>
        </div>

    </section>

</section>


@* --------------- DROPDOWNS ---------------- *@




<section id="categoryDropdownMenu" class="dropdowns_wrap" ng-controller="MenuSideController" style="display: none;">

    <div class="nav_wrap__accordion">
        @* TODO: this is the mobile accordion menu. same as side menu *@
        @Html.Partial("~/Views/Shared/Partials/_menu_category.cshtml")
    </div>

    <div class="nav_wrap__laptop">

        @* TODO: this is the side by side menu (displays on tablet > laptop) *@
        <div class="inner">
            <div class="list">
                @* TODO: replace with level one categories *@
                <ul>

                    <li>
                        <a href="#" class="cat_flexy_box_toggle_single mn2_toggle_btn_laptop" ng-class="open" onclick="return false;" ng-click="offerClick(1)">
                            <span class="mini_nav2_txt">
                                Offers
                            </span><span class="icon"></span>
                        </a>
                    </li>
                    <li ng-repeat="menuItem in sideMenuData">

                        <a href="#" class="cat_flexy_box_toggle_single mn2_toggle_btn_laptop" ng-class="{open: selectedCatID == menuItem.CategoryId}" onclick="return false;" ng-click="nextLevel(menuItem.CategoryId,1,menuItem.CategoryName,1)">
                            <span class="mini_nav2_txt" ng-cloak>
                                {{menuItem.CategoryName}}
                            </span><span class="icon"></span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="subcat">
                @* TODO: this is the lower category levels. these shoule change depending on what is selected in the list menu above *@
                <div class="single_cat_wrap" ng-cloak>
                    <ul ng-show="ShowOffers==1">

                        <li ng-repeat="offer in offerResults">
                            <a href="{{offer.PageURL}}">{{offer.CampaignName}}</a>

                        </li>
                    </ul>
                    <ul ng-show="ShowDiv==1">
                        <li><a href="{{viewAllCategoryURL}}" class="view_all_cat">View All of {{CatName}}</a></li>    @*/category/{{selectedCatID}}/{{CatName}}*@
                        <li ng-repeat="firstLevelItem in firstLevelMenuData">
                            <a href="{{firstLevelItem.CategoryURL}}">{{firstLevelItem.CategoryName}}</a>
                        </li>
                    </ul>

                </div>

                @*<div class="single_cat_wrap" ng-show="showOffers==1">

                        <div class="mw1200 highlight">
                            <ul></ul>
                            <div class="mw1200 highlight"><ul></ul></div>
                        </div>
                    </div>*@
            </div>
        </div>




    </div>


    @Html.IncludeVersionedJs("/Scripts/Internal/MenuSide.js")

</section>

@*--------------- DROPDOWNS ----------------*@
