﻿<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="viewport" content="width=device-width" />
<link rel="shortcut icon" href="/favicon.ico" />

@{
	var pageTitle = "HOCHANDA TV - Arts and crafts channel home of all crafting essentials";

	if (ViewBag.PageTitle != null)
	{
		pageTitle = ViewBag.PageTitle;
	}

	var pageUrl = Request.Url.AbsoluteUri;

	var keyWords = "craft channel, craft tv shows, craft tv, create and craft tv, create craft, online craft store, craft online TV shopping channel, Crafts, Hobbies, craft supplies, craft supplies online, tv shopping, shopping channel, arts and crafts, hobbies";

	if (!string.IsNullOrEmpty(ViewBag.MetaKeywords))
	{
		keyWords = ViewBag.MetaKeywords;
	}

	var description = "Hochanda TV is the UKs leading craft channel dedicated to crafts, arts and hobby essentials, with endless creative options and crafting supplies. ";

	if (!string.IsNullOrEmpty(ViewBag.MetaDescription))
	{
		description = ViewBag.MetaDescription;
	}

	var ogImage = "https://www.hoch.media/web-assets/hoch-logos/Hochanda-Logo-fb.jpg";

	if (!string.IsNullOrEmpty(ViewBag.MetaImage))
	{
		ogImage = ViewBag.MetaImage;
	}

	var ogType = "website";

	if (!string.IsNullOrEmpty(ViewBag.MetaType))
	{
		ogType = ViewBag.MetaType;
	}

}

<title>@pageTitle</title>

<meta name="title" content='@pageTitle' />
<meta name="keywords" content='@keyWords' />
<meta name="description" content='@description' />

<meta name="author" content="Hochanda TV" />

<meta name="ogtitle" property="og:title" content="@pageTitle">
<meta name="ogsitename" property="og:site_name" content="www.hochanda.com">
<meta name="ogurl" property="og:url" content="@pageUrl">
<meta name="ogdesc" property="og:description" content="@description">
<meta name="ogimage" property="og:image" content="@ogImage">
<meta name="ogimagealt" property="og:image:alt" content="@pageTitle">
<meta name="twitter:card" content="summary_large_image">

@*THIS IS FOR NON-PRODUCT PAGES*@
<meta name="ogtype" property="og:type" content="@ogType">

@* TO BE CHANGED TO MARKETING ONE IF APPLICABLE *@
<meta property="fb:app_id" content="644941609311993" />

@*THIS IS JUST FOR PRODUCT PAGES https://developers.facebook.com/docs/payments/product/ *@
@*<meta name="ogtype" property="og:type" content="og:product" />*@

@if (ogType.ToLower() == "product")
{
	<meta property="product:plural_title" content="@pageTitle" />

	<meta name="ogimagewidth" property="og:image:width" content="600px">
	<meta name="ogimageheight" property="og:image:height" content="600px">

}
@* We need all prices for the scraper. Currently we only have the currency they use at the time. And scraping it would be the default value for the facebook which i would guess is USA. Sam 09/04/2019 *@

@*<meta property="product:price:amount" content="0.00" />
<meta property="product:price:currency" content="GBP" />
<meta property="product:price:amount" content="0.20" />
<meta property="product:price:currency" content="USD" />
<meta property="product:price:amount" content="0.20" />
<meta property="product:price:currency" content="EUR" />*@