﻿<div id="DynamicModal" class="modal fade " role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" ng-controller="ModalController">
			<div class="close_btn">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div id="DynamicModalHeader" class="modal-header">
				<h3 id="DynamicModalHeaderTitle"></h3>
			</div>

			<div id="DynamicModalContent" class="modal-body">

				<ng-include src="template"></ng-include>

				@*Product Details*@
				<script type="text/ng-template" id="myproductPreview_template">
					@Html.Partial("~/Views/Shared/Partials/_product_preview.cshtml")
				</script>

				<script type="text/ng-template" id="mydetailsUpdate_template">
					@Html.Partial("~/Views/Shared/partials/_my_details_updater.cshtml")
				</script>

				<script type="text/ng-template" id="mydetailsUpdatePassword_template">
					@Html.Partial("~/Views/Shared/partials/_my_details_password_updater.cshtml")
				</script>


				<script type="text/ng-template" id="raf">
					@Html.Partial("~/Views/Shared/Partials/_refer_and_friend_social_share.cshtml")
				</script>


				<script type="text/ng-template" id="exp_basket">
					@Html.Partial("~/Views/Shared/Partials/_expiring_basket.cshtml")
				</script>

				<script type="text/ng-template" id="add_address_template">
					@Html.Partial("~/Views/Shared/Partials/_postcode_lookup.cshtml")
				</script>

				<script type="text/ng-template" id="select_payment_address">
					<section class="postcode_wrap">
						<h1>Choose Address</h1>
						@Html.Partial("~/Views/Shared/Partials/_my_account_payment_select_address.cshtml")
					</section>
				</script>

				<script type="text/ng-template" id="checkout_address_template">
					<section class="select_address">
						<h1>Choose Address</h1>
						@Html.Partial("~/Views/Shared/Partials/_checkout_address.cshtml")
					</section>
				</script>

				<script type="text/ng-template" id="checkout_address_template">
					<section class="select_address">
						<h1>Choose Address</h1>
						@Html.Partial("~/Views/Shared/Partials/_checkout_address.cshtml")
					</section>
				</script>

				<script type="text/ng-template" id="voucher_template">
					@Html.Partial("~/Views/Shared/Partials/_add_to_basket_add_voucher.cshtml")
				</script>

				<script type="text/ng-template" id="paymentMethod_template">
					@Html.Partial("~/Views/Shared/Partials/_checkout_payment_method.cshtml")
				</script>

				<script type="text/ng-template" id="freedomActivateHoliday_template">
					@Html.Partial("~/Views/Shared/Partials/_freedom_activate_holiday.cshtml")
				</script>

				<script type="text/ng-template" id="rafSharing_template">
					@Html.Partial("~/Views/Shared/Partials/_refer_and_friend_social_share.cshtml")
				</script>

				<script type="text/ng-template" id="login_template">
					<section class="login_only">
						@Html.Partial("~/Views/Shared/Partials/_login_only.cshtml")
					</section>
				</script>

				<script type="text/ng-template" id="login_favourites">
					<section class="login_only login_favourites">
						<h1>Please Login</h1>
						<p>To use the favourites feature, please login.</p>
						@Html.Partial("~/Views/Shared/Partials/_login_only.cshtml")
					</section>
					@Html.IncludeVersionedJs("/Scripts/Internal/Login.js")
				</script>

				<script type="text/ng-template" id="variation_selector">
					@Html.Partial("~/Views/Shared/Partials/_variation_selector.cshtml")
				</script>

                				<script type="text/ng-template" id="expiringBasket">
					@Html.Partial("~/Views/Shared/Partials/_expiring_basket.cshtml")
				</script>

                <script type="text/ng-template" id="expiredBasket">
                    @Html.Partial("~/Views/Shared/Partials/_expired_basket.cshtml")
                </script>

                <script type="text/ng-template" id="orderSummary_template">
                    @Html.Partial("~/Views/Shared/Partials/_order_summary_view.cshtml")
                </script>
			</div>

			<div id="DynamicModalFooter" class="modal-footer">
				<button id="CloseDynamicFooterSingleBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>

		</div>

	</div>
</div>

@* TODO: Scott please style. *@
<div id="LoadingModal" class="modal fp_loading_modal" role="dialog">
	@Html.Partial("~/Views/shared/partials/_loader.cshtml")
</div>

<script>

	function ShowLoadingModal() {
		$('html').addClass("frozen");

		$("#LoadingModal").modal({
			backdrop: 'static',
			keyboard: false
		});
	}

	function HideLoadingModal() {
		setTimeout(function () {
			$("#LoadingModal").modal("hide");
			$('html').removeClass("frozen");
		}, 250);

	}

	function ShowModal() {
		$(':focus').blur();

		$("#DynamicModal").modal({
			backdrop: 'static',
			keyboard: false
		});
		return false;
		//stops a tags apending url and jumping to top of the page

	}

	function MessageBoxModal(title, data) {
		$("#DynamicModalHeaderTitle").html(title);
		$("#DynamicModalContent").html(data);
		ShowModal();
	}

	function CreateModalModalChangeCloseLabel(title, content, closeBtnLabel) {
		$("#DynamicModalHeaderTitle").html(title);
		$("#DynamicModalContent").html(content);

		if (closeBtnLabel != null && closeBtnLabel != "") {
			$("#CloseDynamicFooterSingleBtn").text(closeBtnLabel);
		}

		ShowModal();
	}

	function HideModal() {
		$("#DynamicModal").modal("hide");
	}


</script>
