﻿<section ng-if="billingDiv==true" class="container_wrap billing_options_wrap checkout_large_pane">

	<p>Your BILLING ADDRESS must be the registered address of your payment card.</p>

	<div class="box_wrap">
		<div class="inner_wrap" ng-repeat="billingAddress in selectedBillingAddress">

			<div class="selected_address address_wrap" ng-bind-html="FormatAddress(billingAddress)"></div>

			<div class="btn_wrap">
				<button type="button" ng-if="billingAddressLength!=0" class="inner__change inner__btn modal_btn" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('select_payment_address')">Change Address</button>
				<button type="button" class="inner__add inner__btn modal_btn" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('add_address_template')">Add Address</button>
			</div>
		</div>
	</div>

	<div class="button_container">
		<a href="#" class="button secure_button" onclick="return false;" ng-click="MyAccountAddCardChooseAddress(selectedBillingAddress[0].AddressId)">
			<span class="button_inner_wrap">
				<span class="text">Use this address</span>
			</span>
		</a>
	</div>

</section>

@* Add card area *@
@Html.Partial("~/Views/Shared/Partials/_my_account_add_card.cshtml")
