﻿<div class="form_register_wrap" ng-controller="accDetailsCtrl">
    <h1>Update Password</h1>
    <form>
        <fieldset>
            <h3>Password</h3>
            <label for="currentpassword" class="required">Current Password</label>
            <input type="password" ng-model="currentPassword" ng-class="{{errorClass_currentPassword}}" />

            <label for="newpassword" class="required">New Password</label>
            <input type="password" ng-model="newPassword" ng-class="{{errorClass_newPassword}}" />

            <label for="confirmpassword" class="required">Confirm Password</label>
            <input type="password" ng-model="confirmPassword" ng-class="{{errorClass_confirmPassword}}" />

            <div class="termandconditions">
                <input type="checkbox" id="termsandconditions_pwdupdate" class="styled-checkbox" ng-model="termsAndConditions" ng-true-value="true" ng-false-value="false" ng-class="errorClass_termsAndConditions" />
                <label for="termsandconditions_pwdupdate">I Agree To <a href="/about/terms-conditions" target="_blank"> Terms and Conditions</a></label>
            </div>
            <div class="validationError" id="validationError_pwd">

            </div>
            <input type="submit" value="Update Password" id="updateaccount" ng-click="UpdateCustomerPassword()" />
            
        </fieldset>
    </form>
</div>
<script src="~/Scripts/Internal/Account.js"></script>