﻿<section ng-if="MyAccountpaymentPage != null" class="container_wrap add_card_wrap checkout_large_pane">

	<h6>Selected Billing Address</h6>

	<div class="inner_wrap" ng-repeat="billingAddress in selectedBillingAddress">
		<span ng-cloak>{{billingAddress.BuildingNumber}},</span>
		<span ng-cloak>{{billingAddress.StreetAddress1}},</span>
		<span ng-cloak>{{billingAddress.City}},</span>
		<span ng-cloak>{{billingAddress.Postcode}}.</span>
	</div>


	<div class="iframeWrap" ng-if="ShowiFrame && !IsCardError">

		<iframe ng-src="{{MyAccountpaymentPage}}" height="800" width="320" scrolling="yes" frameborder="0"></iframe>

	</div>

	<div ng-if="!ShowiFrame && IsCardError">
		@Html.Partial("~/views/shared/partials/_card_error.cshtml")
	</div>
</section>
