﻿<div class="address_container">
	<div class="address" ng-repeat="address in allAddressListAccount" ng-cloak>
		<div class="inner">
			<div class="customer_address" ng-cloak ng-bind-html="FormatAddress(address)"></div>
			<div class="address_delete_button">
				<a class="button" ng-click="MyAccountAddCardChooseAddress(address.AddressId)" data-dismiss="modal">Select</a>
			</div>
		</div>
	</div>
</div>