﻿<div class="form_register_wrap" ng-controller="accDetailsCtrl" data-ng-init="init()">
    <h1>Update Details</h1>
    <form>
        <fieldset>
            <label for="customer_title" class="required">Title</label>
            <select ng-model="title" ng-options="item.title as item.title for item in Register.Titles">
                @*<option ng-repeat="item in Register.Titles">{{item.title}}</option>*@
              
            </select>
            
            <label for="firstname" class="required">First Name</label>
            <input type="text" ng-model="firstname" ng-class="{{errorClass_firstName}}" />

            <label for="surname" class="required">Surname</label>
            <input type="text" ng-model="lastname" ng-class="{{errorClass_surName}}" />


            <div class="emailMarketing4th">
                <input type="checkbox" id="Anonymous" class="styled-checkbox" ng-model="anonymous" />
                <label for="Anonymous">Please do not display my first name and location in the ticker tape that occationally scrolls across the bottom of the screen during demonstrations.</label>
            </div>
            <div class="birthday">
                <label for="birthday">
                    Birthday
                </label>
                @*<input type="date" id="birthday" />*@
                <div class="select_wrap">
                    <select ng-model="DayId" ng-options="item.label as item.id for item in Days"></select>
                    <select ng-model="MonthId" ng-options="item.id as item.label for item in Months"></select>
                </div>
            </div>
            <div class="phone">
                <label for="PhoneNumber" class="required">Phone Number</label>
                <div class="wrap">
                    <input type="tel" ng-model="phonenumber1" ng-class="{{errorClass_phoneNumber}}" />
                    <select id="PhoneNumberType" ng-model="phone1type" ng-options="item.pid as item.pdescription for item in Register.Phonetypes"> </select>
                </div>
            </div>
            <div class="phone">
                <label for="AlternativeNumber">Alternative Phone Number</label>
                <div class="wrap">
                    <input type="tel" id="AlternativeNumber" ng-model="phonenumber2" />
                    <select id="AlternativeNumberType" ng-model="phone2type" ng-options="item.pid as item.pdescription for item in Register.Phonetypes"></select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <h3>Email Address</h3>
            <label for="emailaddress" class="required">Email Address</label>
            <input type="email" ng-model="emailaddress" ng-class="{{errorClass_emailAddress}}" />

            <label for="confirmemailaddress" class="required">Confirm Email Address</label>
            <input type="email" ng-model="confirmEmailAddress" ng-class="{{errorClass_confirmEmailAddress}}" />
        </fieldset>

        <fieldset>
            @*<h3>Password</h3>
            <label for="currentpassword" class="required">Current Password</label>
            <input type="password" id="currentPassword" ng-model="Register.currentPassword" ng-class="{{errorClass_currentPassword}}" />

            <label for="newpassword" class="required">New Password</label>
            <input type="password" id="newpassword" ng-model="Register.newPassword" ng-class="{{errorClass_newPassword}}" />

            <label for="confirmpassword" class="required">Confirm Password</label>
            <input type="password" id="confrimpassword" ng-model="Register.confirmPassword" ng-class="{{errorClass_confirmPassword}}" />*@

            <div class="termandconditions">
                <input type="checkbox" class="styled-checkbox" id="termsandconditions_check" ng-model="termsAndConditions" ng-true-value="true" ng-false-value="false" ng-class="errorClass_termsAndConditions" />
                <label for="termsandconditions_check">I Agree To <a href="/about/terms-conditions"> Terms and Conditions</a></label>
            </div>
            <div class="validationError" id="validationError">
                
            </div>
            <input type="submit" value="Update Details" ng-click="UpdateCustomer()" />
            
        </fieldset>
    </form>
</div>
@Html.IncludeVersionedJs("/Scripts/Internal/Account.js")