﻿
<style>
    .no-js-page {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 3000;
        height: 100%;
        width: 100%;
        background-color: #cccccc;
    }

    .js-container {
        background-color: #f1f1f1;
        border: 1px solid #b3b3b3;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        float: none;
        margin-top: 200px;
        padding: 20px;
        border-radius: 10px;
    }

    .js-logo {
        height: 90px;
        width: 350px;
        margin: 0 auto;
        float: none;
        display: block;
        background-image: url(https://hoch.media/elements/icons/hochanda-logo-main.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .message-wrap {
        float: none;
    }

    .js-message {
        float: none;
    }

    .js-link {
        float: none;
        margin: 20px 0 -10px 0;
    }

    .js-message h1 {
        text-align: left;
        margin-top: 20px;
        font-size: 1.4em;
        float: none;
    }

    .js-message p {
        text-align: left;
        margin-top: 30px;
        float: none;
    }
</style>

<div class="no-js-page">

    <div class="js-container">
        <div class="js-logo"></div>
        <div class="message-wrap">

            <div class="js-message">

                <h1>Please Enable Javascript To View This Website</h1>

                <p>
                    Nowadays almost all web pages contain JavaScript,
                    this is a scripting programming language that runs on your web browser.

                    This helps web pages function properly and if disabled for some reason,
                    the website may display incorrectly.
                    
                    There are instructions on how you can do this via the link below.
                </p>
            </div>

            <div class="js-link">
                <a href="https://www.enable-javascript.com/" target="_blank">How To Enable Javascript</a>
            </div>

            <div class="js-message">
                <p>Alternatively you can place your order on via our helpline - <a href="tel:01733516161">01733 51 61 61</a></p>
            </div>
        </div>

    </div>

</div>

