﻿<div class="now_next_container" ng-controller="NowNextShowsController">


	<div class="now_next_item now_wrap">

		<div class="show_time">
			<span id="Nowtime_spn" class="hours" ng-cloak>{{showOnNow.ShowDateTime | date : "HH" }}</span><span class="minutes">:00</span>
		</div>

		<div class="show_info">

			<div id="ShowCurrentCategory" class="category_logo">
				<img class="ng-hide" ng-show="showOnNow.EPGCategoryId == 1" src="https://www.hoch.media/web-assets/hoch-logos/crafts-square.svg">
				<img class="ng-hide" ng-show="showOnNow.EPGCategoryId == 2" src="https://www.hoch.media/web-assets/hoch-logos/hobbies-square.svg">
				<img class="ng-hide" ng-show="showOnNow.EPGCategoryId == 3" src="https://www.hoch.media/web-assets/hoch-logos/arts-square.svg">
			</div>

			<a id="cntPlContent_wcShowSchedule_TvScheduleNow" class="show_title" href="/tv-schedule">
				<span id="NowShow_spn" class="hp_show_title" ng-cloak>{{showOnNow.ShowName}}</span>
			</a>

		</div>

	</div>


	<div class="now_next_item next_wrap">

		<div class="show_time">
			<span id="Nexttime_spn" class="hours" ng-cloak>{{showOnNext.ShowDateTime | date : "HH"}}</span><span class="minutes">:00</span>
		</div>

		<div class="show_info">
			<div id="ShowNextCategory" class="category_logo">
				<img class="ng-hide" ng-show="showOnNext.EPGCategoryId == 1" src="https://www.hoch.media/web-assets/hoch-logos/crafts-square.svg">
				<img class="ng-hide" ng-show="showOnNext.EPGCategoryId == 2" src="https://www.hoch.media/web-assets/hoch-logos/hobbies-square.svg">
				<img class="ng-hide" ng-show="showOnNext.EPGCategoryId == 3" src="https://www.hoch.media/web-assets/hoch-logos/arts-square.svg">
			</div>

			<a id="cntPlContent_wcShowSchedule_TvScheduleNext" class="show_title" href="/tv-schedule">
				<span id="NextShow_spn" class="hp_show_title" ng-cloak>{{showOnNext.ShowName}}</span>
			</a>

		</div>

	</div>


</div>

