﻿
<div class="out_of_stock_msg">
    <p>Today's One Day Special is now out of stock</p>
</div>
<div class="freedom_oos">
    <span class="freedom_offers_logo"><img src="https://hoch.media/elements/freedom-offers-main.svg" alt="Buy todays one day special"></span>

    <div class="offer_txt">
        <p>Get Up to 20% off or more on selected products</p>
    </div>

    <div class="offer_cta">
        <a class="button" href="/sale/freedom-offers">View Offers</a>
    </div>

</div>