﻿<section class="summary_product">

    <div class="summary_product_wrap">
        <div class="img">
            <a ng-href="{{GetProductUrl(item.parentProdId, item.sku, item.title)}}"><img src="{{item.imgFile}}" alt="product title" onerror="if (this.src.indexOf('item.imgFile') == -1) { this.src = 'https://www.hoch.media/product-images/thumb/no-image.jpg' };" /></a>
        </div>

        <div class="name">
            @*<a ng-href="{{GetProductUrl(item.parentProdId, item.sku, item.title)}}">
                    <h4 class="title" ng-cloak>{{item.title}}</h4>
                </a>*@
            <a class="title" ng-href="{{GetProductUrl(item.parentProdId, item.sku, item.title)}}">
                {{item.title}}
            </a>
            <div class="sku" ng-cloak>
                <span class="sku_name">{{item.sku}}</span>
                <span class="variation_name">{{item.variationname != null && item.variationname != undefined ? ' - ' + item.variationname : ''}}</span>
            </div>

            <div ng-if="item.downloadUrl!=null" class="download_btn">
                <a href="{{item.downloadUrl}}">Download</a>
            </div>

        </div>

        <div class="status">
            <span class="status_wrap">
                @*<span class="summary_label">Status:</span>*@
                <span class="status_text_processing" ng-cloak>{{item.itemstatus}}</span>
            </span>
        </div>
        <div class="qty">
            Quantity: <span class="figure" ng-cloak>{{item.qty}}</span>
        </div>

        <div class="price_wrap">
            <p class="price">
                <span class="now" ng-cloak>{{item.actualPriceValue}}</span>
                <span ng-cloak class="was" ng-if="item.actualPriceValue < item.displayPriceValue">Paid {{item.displayPriceValue}}</span>
            </p>
        </div>
    </div>

    @*<div id="useFlexiOrder" class="flexiorder_wrap" ng-if="item.flexiDetails.length > 0">
            <div class="header">
            </div>


            <div id="FlexiTable" class="fob_instalment__wrap">
                <div class="fob_instalment__row">
                    <div class="fob_instalment__title">Number of instalments</div>
                    <div class="fob_instalment__amount" ng-cloak>{{item.flexiDetails.length}}</div>
                </div>

                <div class="fob_instalment__row" ng-repeat="fl in item.flexiDetails track by $index">
                    <div class="fob_instalment__title" ng-if="$index == 0" ng-cloak>Today (including Delivery)</div>
                    <div class="fob_instalment__title" ng-if="$index > 0" ng-cloak>{{fl.scheduledate | date: 'dd/MM/yyyy'}}</div>
                    <div class="fob_instalment__amount" ng-cloak>{{fl.amountdue}}</div>
                </div>
            </div>

        </div>*@

    <div class="flexibuy_info" ng-if="OrderSummary.containsFlexi==1">
        <div ng-repeat="fl in item.flexiDetails">
            <div class="paid_at_order" ng-if="$index==0">
                Paid at time of Order: <span ng-cloak class="date">{{fl.scheduledate | date:'dd/MM/yyyy'}}</span> of <span ng-cloak class="figure">{{fl.amountdue}}</span>
            </div>
            <div class="paid_already" ng-if="$index > 0 && fl.type == 4">
                Paid Already: <span ng-cloak class="date">{{fl.scheduledate | date:'dd/MM/yyyy'}}</span> of <span ng-cloak class="figure"> {{fl.amountdue}}</span>
            </div>
            <div class="paid_already" ng-if="$index > 0 && fl.type == 3">
                failed payment: <span ng-cloak class="date">{{fl.scheduledate | date:'dd/MM/yyyy'}}</span> of <span ng-cloak class="figure"> {{fl.amountdue}}</span>
            </div>
            <div class="paid_already" ng-if="$index > 0 && fl.type == 2">
                future payment: <span ng-cloak class="date">{{fl.scheduledate | date:'dd/MM/yyyy'}}</span> of <span ng-cloak class="figure">{{fl.amountdue}}</span>
            </div>
        </div>

    </div>
</section>
