﻿@{
	Layout = null;
	@model Hoch.Website.Models.NewOrderResponseModel
}

@{
	var isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);
	var isCallCentre = Request.Path.ToLower().Contains("checkout/callcentre");
}

@*<div class="orderstatus_success" ng-controller="OrderStatusController" ng-init="init('@Model.OrderId', '@Model.CreditApplied')">*@
<div class="orderstatus_success" ng-controller="OrderStatusController" ng-init="init('@Model.OrderId')">

	<div class="thank_you_msg">
		<div class="wrap">
			@if (isCallCentre)
			{
				<h1>Order placed successfully</h1>
			}
			else
			{
				<h1>Thank You For Your Order</h1>
			}
			<div class="divider_line"></div>
			<h3>Order Number: @Model.OrderId</h3>
			@if (!isCallCentre)
			{
				<p>
					Your purchase was successful. Please see below a summary of your order. For further enquiries please contact the Service Centre on <a href="tel:01733602000">01733 60 2000</a> or email
					<a href="mailto:customer.service@hochanda.com">customer.service@hochanda.com</a> quoting your order number.
				</p>
			}
			@*<a class="button" href="#">Print Your Receipt</a>*@
		</div>
	</div>

	@if (!isCallCentre)
	{
		<div class="customer_order">
			<div class="wrap">

				<div class="address">

					<div class="box_wrap delivery">
						<h6>Delivery Address</h6>
						<div class="inner_wrap">
							<span ng-if="shippingAddress1 != '' && shippingAddress1 != null" ng-cloak>{{shippingAddress1}}</span>
							<span ng-if="shippingAddress2 != '' && shippingAddress2 != null" ng-cloak>{{shippingAddress2}},</span>
							<span ng-if="shippingCity != '' && shippingCity != null" ng-cloak>{{shippingCity}},</span>
							<span ng-if="shippingCounty != '' && shippingCounty != null" ng-cloak>{{shippingCounty}},</span>
							<span ng-if="shippingPostcode != '' && shippingPostcode != null" ng-cloak>{{shippingPostcode}}.</span>
						</div>
					</div>

					<div class="box_wrap billing">
						<h6>Billing Address</h6>
						<div class="inner_wrap">
							<span ng-if="billingAddress1 != '' && billingAddress1 != null" ng-cloak>{{billingAddress1}}</span>
							<span ng-if="billingAddress2 != '' && billingAddress2 != null" ng-cloak>{{billingAddress2}},</span>
							<span ng-if="billingCity != '' && billingCity != null" ng-cloak>{{billingCity}},</span>
							<span ng-if="billingCounty != '' && billingCounty != null" ng-cloak>{{billingCounty}},</span>
							<span ng-if="billingPostcode != '' && billingPostcode != null" ng-cloak>{{billingPostcode}}.</span>
						</div>
					</div>

				</div>

				<div class="product">

					<div class="product_row" ng-repeat="item in orderItems">

						<div class="img">
							<img ng-src="{{item.DefaultThumbnailFileName}}" alt="{{item.TVDescription}}" onerror="errorImage(this);" />
						</div>

						<div class="name">
							<h4 class="title" ng-cloak>{{item.TVDescription}}</h4>
							<div class="sku" ng-cloak>
								<span class="variation_name">{{item.VariationName!=null&&item.VariationName!=undefined? '(' +item.VariationName+')':''}}</span>
								<span class="sku_name">{{item.ParentProductSKU}}</span>
							</div>
							<div class="download"><a href="#">Download Content</a></div>
						</div>

						<div class="status">
							<span class="status_wrap">
								<span class="summary_label">Status:</span>
								<span class="status_text_processing">Processing</span>
							</span>
						</div>

						<div class="qty">
							Quantity: <span class="figure" ng-cloak>{{item.Quantity}}</span>
						</div>

						<div class="price_wrap">
							<p class="price">
								<span class="now" ng-cloak>{{item.ItemPriceWithCurrency}}</span>
								<span ng-if="item.ItemPrice < item.UsualPrice" class="was" ng-cloak>Was {{item.UsualPriceWithCurrency}}</span>
							</p>
						</div>

						<div class="use_flexibuy" ng-if="isFlexiBuySelected(item.ParentProductId) == 1">
							<label><img src="https://hoch.media/web-assets/hoch-logos/flexi-buy-web-main.svg" alt="flexi-buy" /></label>
						</div>
					</div>

				</div>

				<div class="information">
					<div class="TC_flexi" ng-if="FlexiOrderSelected == 1">
						<a href="#" class="about_flexi">What is flexi-order? Learn More</a>
					</div>

					<div id="useFlexiOrder" class="flexiorder_wrap" ng-if="FlexiOrderSelected == 1">
						<div class="header">
							<div class="logo"><img src="https://www.hoch.media/web-assets/hoch-logos/flexi-order-basket.svg" alt="Flexi-order-basket logo" /></div>
						</div>


						<div id="FlexiTable" class="fob_instalment__wrap">
							<div class="fob_instalment__row">
								<div class="fob_instalment__title">Number of instalments</div>
								<div class="fob_instalment__amount" ng-cloak>{{FlexiOrderInstallments}}</div>
							</div>

							<div class="fob_instalment__row" ng-repeat="inst in InstallmentsWithCurrency track by $index">
								<div class="fob_instalment__title" ng-if="$index == 0" ng-cloak>Today (including Delivery)</div>
								<div class="fob_instalment__title" ng-if="$index > 0" ng-cloak>{{getInstDate($index) | date: 'dd/MM/yyyy'}}</div>
								<div class="fob_instalment__amount" ng-cloak>{{inst}}</div>
							</div>
						</div>

					</div>

					<div class="total">
						<div class="delivery">
							<div class="label_txt">delivery:</div>
							<div class="subtotal"><span ng-cloak>{{deliveryCost}}</span></div>
						</div>
						@*<div class="delivery">
								<div class="label_txt">credit applied:</div>
								<div class="subtotal"><span ng-cloak>{{creditApplied}}</span></div>
							</div>*@
						<div class="total_figure">
							<div class="label_txt">total:</div>
							<div class="fulltotal"><span ng-cloak>{{total}}</span></div>
						</div>
					</div>

				</div>

				@if (!isExternal)
				{
					<div class="links">
						<div class="wrap">
							<div class="shopping">
								<a class="button" href="/">Continue Shopping</a>
							</div>
							<div class="account">
								<a class="button" href="/myaccount">My Account</a>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	}
</div>
<script>
	function errorImage(event) {
		event.src = "https://www.hoch.media/product-images/thumb/no-image.jpg";
		event.onerror = '';
	};
</script>
@Html.IncludeVersionedJs("/Scripts/Internal/OrderStatus.js")
