﻿@{
	Layout = null;
}

@{
	var isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);

	var basketLink = "/basket";

	if (isExternal)
	{
		basketLink += "?isexternal=true";
	}

	string errCode = Request.QueryString["errorcode"];

	var isCallCentre = Request.Path.ToLower().Contains("checkout/callcentre");

	if (isCallCentre)
	{
		var reservationId = Guid.Parse(Session["callCentreReservationId"].ToString());
		var shippingAddressId = int.Parse(Session["callCentreShippingAddressId"].ToString());
		var billingAddressId = int.Parse(Session["callCentreBillingAddressId"].ToString());

		basketLink = $"/checkout/callcentre?reservationId={reservationId}&shippingAddressId={ shippingAddressId}&billingAddressId={billingAddressId}";

		if (Request.QueryString["result"] != null && Request.QueryString["result"].Contains("failure"))
		{
			errCode = Request.QueryString["result"].Split('-')[1];
		}
	}

}


<section class="error_page orderstatus_failed">
	<div class="inner">
		<p class="code">Error Code:<strong> @errCode</strong></p>

		@{
			var title = string.Empty;
			var message = string.Empty;
		}

		@switch (errCode)
		{
			case "04":
				title = "Your Order Has Failed";
				message = "Your Card has been declined please use an different card";
				break;
			case "05":
				title = "Your transaction has been declined";
				message = "We recommend that you call the number on the back of the credit card to speak with the bank about a “declined 05 Do Not Honor error”; and explain that you are trying to make a purchase on our website and ask the bank to allow the transaction. \n" +
							"Otherwise, please provide an alternate method of payment.";
				break;
			case "12":
				title = "The card details you have entered are incorrect";
				message = "The card details you have entered are incorrect. Please check you have entered in the correct card details and try again. Ensure there are no spaces, or special characters (, &, $) in the card number.";
				break;
			case "33":
				title = "Your card has expired";
				message = "Please check card expiry date and try transaction again.";
				break;
			case "41":
			case "43":
				title = "This card has been declined by your bank";
				message = "This card has been reported lost or stolen. Please use an alternative card, or contact your bank.";
				break;
			default:
				title = "Your Order Has Failed";
				message = "Please return to the basket and try again. <br/>";

				if (!isCallCentre)
				{
					message += "For further enquries please contact the Service Centre on <a style=\"color:#000000;\" href=\"mailto:customer.service@hochanda.com?Subject=Order20aFailed\" target=\"_top\">customer.service@hochanda.com</a>";
				}

				break;
		}


		<h1>@title</h1>
		<div class="message">@Html.Raw(message)</div>

		<div class="links">
			<a class="button" href="@basketLink">Go Back to Basket</a>
		</div>
	</div>
</section>
