﻿<section class="my_acc">
    <div class="acc_order_summary_wrap" ng-cloak>
        <div class="content_box">
            <div class="ordersummary">
                <h1>Order Summary</h1>
                <div class="order_title">
                    <!-- DUMMY ORDER INFO REMOVED-->

                    <div class="number" ng-cloak><p>Order Number: {{OrderSummary.orderId}}</p></div>
                    <div class="date" ng-cloak><p>date: {{OrderSummary.orderDate | date:'dd/MM/yyyy'}}</p></div>
                </div>

                <div class="wrap">
                    <div class="address">

                        <div class="box_wrap delivery">
                            <h6>Delivery Address</h6>
                            <div class="inner_wrap">
                                <!-- DUMMY ADDRESS DATA REMOVED-->
                                @*<span>{{OrderSummary.shippingAddress.customername}}</span>*@
                                <span ng-cloak>{{OrderSummary.shippingAddress.street1}}</span>
                                <span ng-cloak>{{OrderSummary.shippingAddress.street2}}</span>
                                <span ng-cloak>{{OrderSummary.shippingAddress.town}}</span>
                                <span ng-cloak>{{OrderSummary.shippingAddress.city}}</span>
                                <span ng-cloak>{{OrderSummary.shippingAddress.postcode}}</span>
                            </div>
                        </div>

                        <div class="box_wrap billing">
                            <h6>Billing Address</h6>
                            <div class="inner_wrap">
                                <!-- DUMMY ADDRESS DATA REMOVED-->
                                @*<span>{{OrderSummary.billingAddress.customername}}</span>*@
                                <span ng-cloak>{{OrderSummary.billingAddress.street1}}</span>
                                <span ng-cloak>{{OrderSummary.billingAddress.street2}}</span>
                                <span ng-cloak>{{OrderSummary.billingAddress.town}}</span>
                                <span ng-cloak>{{OrderSummary.billingAddress.city}}</span>
                                <span ng-cloak>{{OrderSummary.billingAddress.postcode}}</span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="summary">
                    <div class="product" ng-repeat="item in OrderSummary.orderItems" ng-cloak>
                        @Html.Partial("~/Views/Shared/Partials/_order_summary_product.cshtml")
                    </div>
                </div>



                <div class="information">
                    <div class="est_delivery" ng-if="OrderSummary.DeliveryName != null">
                        <p>
                            <strong class="est_delivery__name">{{OrderSummary.DeliveryName}}:</strong> <span class="est_delivery__description">{{OrderSummary.DeliveryDescription}}. </span>
                            Estimated delivery within <strong class="est_delivery__time">{{OrderSummary.DaysFrom}}-{{OrderSummary.DaysTo}}</strong> working days from the date ordered.
                        </p>
                    </div>
                    <div class="total">

                        <div class="delivery">
                            <div class="label_txt"><strong>Delivery:</strong></div>
                            <div class="subtotal"><strong ng-cloak>{{OrderSummary.deliveryCost}}</strong></div>

                        </div>

                        @* TODO: Tax framework *@
                        @*<div class="tax_wrap">
                                <div class="tax_wrap_total">
                                    <div class="label_txt"><strong>Total Tax:</strong></div>
                                    <div class="subtotal"><strong>TBC</strong></div>
                                </div>

                                <div class="tax_wrap_part">
                                    <div class="label_txt">State Tax:</div>
                                    <div class="subtotal"><span>TBC</span></div>
                                </div>
                                <div class="tax_wrap_part">
                                    <div class="label_txt">Country Tax:</div>
                                    <div class="subtotal"><span>TBC</span></div>
                                </div>
                                <div class="tax_wrap_part">
                                    <div class="label_txt">Special Taxing Districts:</div>
                                    <div class="subtotal"><span>TBC</span></div>
                                </div>
                            </div>*@

                        <div class="total_figure">
                            <div class="label_txt">total:</div>
                            <div class="fulltotal"><span ng-cloak>{{OrderSummary.orderTotalCost}}</span></div>
                        </div>

                    </div>

                    <div class="flexibuy_history" ng-if="OrderSummary.containsFlexi==1" ng-cloak>


                        <div class="flexibuy_history__total">
                            <div class="logo">
                                <img src="https://www.hoch.media/web-assets/hoch-logos/flexi-buy-web-main.svg" alt="flexibuy logo">
                            </div>
                            <span class="instalments">Number Of Instalments: {{OrderSummary.FlexiOverView.length}}</span>
                        </div>


                        <div class="flexibuy_history__item" ng-repeat="item in OrderSummary.FlexiOverView">
                            <div class="due">{{item.ScheduledDate}}</div>
                            <div class="amount">{{item.Amount}}</div>
                            <div class="paid" ng-if="item.Status==1"><span class="icon">&nbsp;</span> paid</div>
                            <div class="pending" ng-if="item.Status==2">pending @*<button>Pay <span>Now</span></button>*@</div>@* TODO: Future flexi payments *@
                            <div class="failed" ng-if="item.Status==3">failed @*<button>Pay <span>Now</span></button>*@</div>@* TODO: Future flexi payments *@
                            <div class="paid" ng-if="item.Status==4">paid</div>
                        </div>


                        @*<strong>Payment Instalments:</strong> <strong>{{totalPending}}</strong> in total to pay in instalments. Please see our <a href="/about/terms-conditions">Terms & Conditions.</a>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>
