﻿
<div class="order_summary__voucher">

    @* SHOW this button by default // HIDE when a voucher has been added (can only add one) *@
    <a href="#" class="button voucher_toggle" data-toggle="modal" data-target="#DynamicModal" ng-if="voucherApplied!=1" ng-click="setPartialName(partialName)">
        <span class="button_inner_wrap">
            <span class="icon"></span>
            <span class="text">Add voucher code</span>
        </span>
    </a>

    <div ng-if="voucherApplied==1">
        @* HIDE this button by default // SHOW when a voucher has been added (can not be removed) *@
        <div class="voucher_added">
            <span class="icon"></span>
            <span ng-cloak class="text">Voucher code added: <strong class="code">{{vouchercode}}</strong></span>
        </div>
        @* ONLY SHOW THE --BELOW-- IF THERE IS A DISCOUNT *@
        <div class="order_summary__row discount" ng-if="voucherDiscount > 0">
            <div class="order_summary__label">Discount Applied</div>
            @* Scott said to add minus *@
            <div class="order_summary__value" ng-cloak>{{displayDiscount}}</div>
        </div>

        @* ONLY SHOW THE --ABOVE-- IF THERE IS A DISCOUNT *@
        @Html.IncludeVersionedJs("/Scripts/Internal/AddVoucher.js")
    </div>

    <div ng-if="voucherApplied==-1" class="voucher_code_message_box voucher_fail">Sorry, either the voucher code you applied is not valid or you are trying to use the voucher more than once.</div>

</div>

<div class="order_summary__row sub_total">
    <div class="order_summary__label">Sub Total</div>
    <div class="order_summary__value" ng-cloak>{{subTotalAmount}}</div>
</div>

<div class="order_summary__row delivery">
    <div class="order_summary__label">Delivery</div>
    <div ng-cloak class="order_summary__value">{{deliveryAmount}}*</div>
</div>

@* TODO: Tax framework *@
@*<div class="order_summary__row tax">
    <div class="order_summary__label">Tax</div>
    <div ng-cloak class="order_summary__value">{{deliveryAmount}}**</div>
</div>*@

<div class="order_summary__row">
    <div class="order_summary__label total">
        <strong>Total Today</strong>
        @* TODO: Tax framework *@
        @*<span class="pre_tax">(Pre Tax)</span>*@
    </div>
    <div ng-cloak class="order_summary__value total">{{toPay}}</div>
    @*<div class="message">(Excluding Delivery)</div>*@
</div>
<div class="delivery_msg">
    <p class="small">*Estimate delivery cost. Final delivery cost & options available before completing your order.</p>
    @* TODO: Tax framework *@
    @*<p class="small">**Tax Details displayed on the delivery page in the checkout.</p>*@
</div>
