﻿@*This is the base structure for a product*@

<article class="product_card" ng-repeat="item in pickAndMixVariations">
	<a href="#" class="product_card_link">
		<div href="#" class="prod_img">
			<img src="{{item.ImageFilename}}" onerror="if (this.src.indexOf('item.ImageFilename') == -1) { this.onerror = null; this.src = 'https://www.hoch.media/products/thumb/no-image.jpg'; }" alt="{{item.ImageAltText}}" />
		</div>
	</a>
	<div class="details_wrap">
		<h3 class="variation_name" ng-cloak>{{item.VariationName}}</h3>
		<div class="picker">
			<button class="minus_btn" ng-class="{inactive: item.SelectedCount == 0}" type="button" ng-click="RemoveItemFromPickAndMix(item.ParentProductId, item.VariationId)" ></button>
			<span class="number" ng-cloak>{{item.SelectedCount}}</span>
			<button class="plus_btn" ng-class="{inactive: item.SelectedCount == $scope.productInformation.PickAndMixQuantity || item.OutOfStock}" type="button" ng-click="AddItemToPickAndMix(item.ParentProductId, item.VariationId)"></button>
		</div>
	</div>
</article>