﻿<div ng-controller="PostcodeController" class="postcode_wrap">
    <h1>Add Address</h1>
    <div class="suggestions" ng-show="baseCountry == 1" ng-cloak>
        <h2>Please enter your post code</h2>
        <input type="text" placeholder="Post code" ng-model="text" ng-model-options="{debounce: 1000}">

        <ul ng-show="locations.length > 0">
            <li ng-repeat="location in locations" ng-click="onCLick(location)">
                <a href="/" onclick="return false">{{location.Description != "" ? location.Description : location.Text}}</a>
            </li>
        </ul>

        <ul ng-show="addresses.length > 0">
            <li ng-repeat="address in addresses" ng-click="onClickAddress(address)">
                <a href="/" onclick="return false"> {{address.Text}}</a>
            </li>
        </ul>
    </div>

    <div ng-show="showFields == true || baseCountry != 1" class="address_inputs">
        <h6>Please check your details are correct</h6>
         <label>Company Name</label>
         <input type="text" ng-model="companyName">

        <label>House Name</label>
        <input type="text" ng-model="houseName">

        <label>House Number</label>
        <input type="text" ng-model="houseNo" ng-class="{{errorClass_buildingNo}}">

        <label class="required">Address Line 1</label>
        <input type="text" ng-model="address1" ng-class="{{errorClass_streetaddress1}}" ng-readonly="baseCountry == 1">

        <label>Address Line 2</label>
        <input type="text" ng-model="address2" ng-readonly="baseCountry == 1">

        @*<label>Address Line 3</label>
        <input type="text" ng-model="address3" ng-readonly="baseCountry == 1">*@

        @*<label>Address Line 4</label>
        <input type="text" ng-model="address4" ng-readonly="baseCountry == 1">*@

        <label class="required">City / Town</label>
        <input type="text" ng-model="town" ng-class="{{errorClass_town}}" ng-readonly="baseCountry == 1">

        <label>State / County</label>
        <input type="text" ng-model="county" ng-readonly="baseCountry == 1">

        <label class="required">Country</label>
        <auth-input can-edit="admin" obj="input" model="country" obj-class="red" type="text"></auth-input>
        @*<input type="text" ng-show="baseCountry != 1" ng-model="country" ng-class="{{errorClass_country}}">*@

        <label class="required">Zip / Post Code</label>
        <input type="text" ng-model="postcode" ng-class="{{errorClass_postcode}}" ng-readonly="baseCountry == 1">

        <input type="button" onclick="return false;" value="add address" id="addaddress"  ng-click="saveAddress()" />


        @*TODO: fix partial entry - when there are sub entries it doesnt desplay them after selection (eg: try PE8)*@

        <div class="validationError" id="validationErrorDiv" ng-bind-html="validationMessages">
        </div>

    </div>
</div>


