﻿
<div class="reviews_feed" id="dvfeefowrap">
	<div id="page">
		<div class="comments">
			<div>
				<div class="review_ov_wrap">
					<div class="supplier_wrap">
						<p class="supplier"></p><div itemtype="http://schema.org/AggregateRating" itemscope="itemscope" itemprop="aggregateRating">
							<span itemprop="ratingValue" content="100%"></span>
							<span itemprop="bestRating" content="100"></span>
							<span itemprop="worstRating" content="0"></span> Feedback for Hochanda has been compiled from <strong>
								<span itemprop="reviewCount">1</span>
							</strong> customer reviews
						</div>
						<p>
						</p>
					</div><div class="review_ov_graph_wrap">
						<div class="review_ov_star_row_wrap">
							<div class="review_ov_stat">
								<span class="ov_rating_number">5</span>
								<span class="ov_star_img"></span>
							</div>
							<div class="review_ov_barchart_outer">
								<div class="review_ov_barchart_inner" style="width:0%;">&nbsp;</div>
							</div>
							<div class="review_ov_number">0</div>
						</div>
						<div class="review_ov_star_row_wrap">
							<div class="review_ov_stat">
								<span class="ov_rating_number">4</span>
								<span class="ov_star_img"></span>
							</div>
							<div class="review_ov_barchart_outer">
								<div class="review_ov_barchart_inner" style="width:100%;">&nbsp;</div>
							</div><div class="review_ov_number">1</div>
						</div>
						<div class="review_ov_star_row_wrap">
							<div class="review_ov_stat">
								<span class="ov_rating_number">3</span>
								<span class="ov_star_img"></span>
							</div>
							<div class="review_ov_barchart_outer">
								<div class="review_ov_barchart_inner" style="width:0%;">&nbsp;</div>
							</div>
							<div class="review_ov_number">0</div>
						</div>
						<div class="review_ov_star_row_wrap">
							<div class="review_ov_stat">
								<span class="ov_rating_number">2</span>
								<span class="ov_star_img"></span>
							</div>
							<div class="review_ov_barchart_outer">
								<div class="review_ov_barchart_inner" style="width:0%;">&nbsp;</div>
							</div>
							<div class="review_ov_number">0</div>
						</div>
						<div class="review_ov_star_row_wrap">
							<div class="review_ov_stat">
								<span class="ov_rating_number">1</span>
								<span class="ov_star_img"></span>
							</div>
							<div class="review_ov_barchart_outer">
								<div class="review_ov_barchart_inner" style="width:0%;">&nbsp;</div>
							</div>
							<div class="review_ov_number">0</div>
						</div>
					</div>
				</div>
			</div><div id="reviews_anchortop" class="reviews_pagination_container">
				<p></p>
				<ul class="pagination bootpag">
					<li data-lp="1" class="prev disabled">
						<a href="javascript:void(0);">«</a>
					</li>
					<li data-lp="1" class="active">
						<a href="javascript:void(0);">1</a>
					</li>
					<li data-lp="1" class="next disabled">
						<a href="javascript:void(0);">»</a>
					</li>
				</ul>
			</div>
			<div class="comm-table">
				<div class="review_item_wrap" itemtype="http://schema.org/Review" itemscope="itemscope" itemprop="review">
					<div class="review_date_time_wrap" href="https://www.feefo.com/reviews/hochanda/5bbc0d39e4b08b3f1133a3b6/customer-review-good">
						<time itemprop="datePublished" datetime="2018-10-10T01:10:44">10-Oct-2018</time>
					</div>
					<div class="comm_rating_container">
						<div class="comm-rating">
							<img src="https://www.hoch.media/elements/star-ratings/4.png" alt="+">
							<div itemtype="http://schema.org/Rating" itemscope="itemscope" itemprop="reviewRating">
								<meta content="1" itemprop="worstRating">
								<span itemprop="ratingValue" content="4">
								</span>
								<span content="5" itemprop="bestRating">
								</span>
							</div>
						</div>
					</div>
					<div class="review_description">
						<p itemprop="description">these are really lovely. As with all lazer cuts you need to be careful when getting them out because thin swirls and curls can break. Well worth it though.</p>
						<meta content="verfified customer" itemprop="author">
					</div>
				</div>
			</div>
			<div id="reviews_anchorbottom" class="reviews_pagination_container">
				<p>
				</p>
				<ul class="pagination bootpag">
					<li data-lp="1" class="prev disabled">
						<a href="javascript:void(0);">«</a>
					</li>
					<li data-lp="1" class="active">
						<a href="javascript:void(0);">1</a>
					</li>
					<li data-lp="1" class="next disabled">
						<a href="javascript:void(0);">»</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>