﻿@*This is the base structure for a product*@

@{
    Layout = null;
}

@*

    The structure needs to be product = item.
    This is because it is used in ng-repeat. So we have to do it.
*@

<article class="product_card ng-hide" ng-show="item != null" ng-if="IsBusy == null || !IsBusy">
    <div class="prod_img_wrap">
        <a get-product-link parentproductid="{{item.ParentProductId}}" class="product_card_link">
            <div class="prod_img">

                <img src="https://hoch.media/web-assets/sashes/sash_freedom-b.svg" class="freedom_sash ng-hide" ng-show="item.IsFreedom" alt="Product has a Freedom discount">
                <img src="https://hoch.media/web-assets/sashes/sash_flexibuy-b.svg" class="flexi_sash ng-hide" ng-show="item.IsFlexibuy" alt="Product is available for Flexibuy">
                <img src="{{item.DefaultThumbnailFilename != undefined ? item.DefaultThumbnailFilename : item.DefaultThumbnailFileName}}" alt="{{item.DefaultImageAltText}}" onerror="if (this.src.indexOf('item.DefaultThumbnailFilename') == -1) {this.src = 'https://www.hoch.media/product-images/thumb/no-image.jpg' };" />

                <div class="ratings_wrap small_stars ng-hide" ng-show="item.FeefoAverageRating != null">
                    <div class="grey_stars">
                        <div class="gold_stars" style="width:{{item.FeefoAveragePercentage}}%;">&nbsp;</div>
                    </div>
                </div>
            </div>
        </a>
        <div ng-if="IsLoggedIn==1">
            <div class="notfavourite" ng-if="item.IsFav==0" onclick="AddToFav(this.parentElement.parentElement.firstElementChild.pathname,this)"></div>
            <div class="favourite" ng-if="item.IsFav==1" onclick="RemoveFromFav(this.parentElement.parentElement.firstElementChild.pathname,this)"></div>
        </div>
        @*<div ng-if="IsLoggedIn!=1">
            <div class="notfavourite" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('login_favourites')"></div>
        </div>*@
        <div ng-if="IsLoggedIn==0">
            <div class="notfavourite" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('login_favourites',null,null,1)"></div>
        </div>


    </div>

    <div change-Basket-Values parentproductid="{{item.ParentProductId}}" class="details_wrap">
        <div class="sku" ng-cloak>{{item.ParentProductSKU}}</div>

        <h3 ng-cloak>{{item.TVDescription}}</h3>

        <button ng-if="(item.AuctionHour == undefined || item.AuctionHour == 0)" class="quick_look" ng-click="ShowProductModal(item.ParentProductId)" role="button" data-toggle="modal" data-target="#DynamicModal">Quick Look</button>


        @* Had to add divs as it needs the ng-if*@
        <div ng-if="(item.AuctionHour == undefined || item.AuctionHour == 0)">

            <p class="price">
                <span class="was" ng-cloak ng-if="item.UsualPrice > item.Price">{{item.UsualPriceString}}</span>
                <span class="now" ng-cloak>{{item.PriceString}}</span>
            </p>
            <div ng-if="!CheckPickAndMix(item)">

                @Html.Partial("~/Views/Shared/Partials/_add_to_basket.cshtml")

                <input type="hidden" ng-model="item.ParentProductId" name="selectedParentProductId" value="{{item.ParentProductId}}" />
                <input type="hidden" name="selectedVariationId" value="{{item.ProductVariations == null || item.ProductVariations.length <= 1 ? item.DefaultVariationId : 0 }}" />

            </div>
            <div ng-if="CheckPickAndMix(item)">
                @Html.Partial("~/Views/Shared/Partials/_select_pick_and_mix.cshtml")
            </div>
        </div>
    </div>

</article>


<article class="product_card holding ng-hide" ng-show="IsBusy" ng-if="IsBusy">

    <div class="dummy__bg dummy__img">
        <img src="https://hoch.media/web-assets/default/blank.png" alt="dummy" />
    </div>
    <div class="dummy__bg dummy__sku"></div>
    <div class="dummy__bg dummy__title dummy__title_1"></div>
    <div class="dummy__bg dummy__title dummy__title_2"></div>
    <div class="dummy__bg dummy__info"></div>
    <div class="dummy__bg dummy__price"></div>
    <div class="dummy__bg dummy__btn"></div>
</article>