﻿@{
	bool isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);
}

<section class="quick_look_container" ng-cloak ng-if="quickLookproductsLength != 0 && quicklookProductID != null && quicklookProductID != undefined">
	<div class="product_info white_background">
		<div class="image_wrap ng-hide" ng-show="ShowImages">
			<div id="productImagesQuicklook">

			</div>
		</div>
		<div class="information">

			<p class="sku" ng-cloak>{{quickLookproducts.ParentProductSKU}}</p>
			<h3 class="name" ng-cloak>{{quickLookproducts.TVDescription}}</h3>

			<div class="quick_look_ratings" ng-if="quickLookproducts.FeefoAveragePercentage != null && qUpsellCheckout == 0">
				<div class="ratings_wrap">
					<a href="{{quickLookproducts.ProductUrl}}#ReviewsTab">
						<span class="grey_stars" id="spngreystarspopup">
							<span class="gold_stars" id="spngoldstarspopup" style="width:{{quickLookproducts.FeefoAveragePercentage}}%;">&nbsp;</span>
						</span><span class="review_text">
							<span id="spnnumberReviewspopup" ng-cloak>{{quickLookproducts.FeefoTotalReviews}}</span> reviews
						</span>
					</a>
				</div>
			</div>

			<div class="quick_look_ratings" ng-if="quickLookproducts.FeefoAveragePercentage != null && qUpsellCheckout == 1">
				<div class="ratings_wrap">
					<span class="grey_stars" id="spngreystarspopup">
						<span class="gold_stars" id="spngoldstarspopup" style="width:{{quickLookproducts.FeefoAveragePercentage}}%;">&nbsp;</span>
					</span><span class="review_text">
						<span id="spnnumberReviewspopup" ng-cloak>{{quickLookproducts.FeefoTotalReviews}}</span> reviews
					</span>
				</div>
			</div>

			<div class="price">
				<span class="original_price" ng-if="quickLookproducts.UsualPrice > quickLookproducts.Price" ng-cloak>{{quickLookproducts.UsualPriceString}}</span>
				<span class="new_price" ng-cloak>{{quickLookproducts.PriceString}}</span>
			</div>

			<div class="freedom_info" ng-if="quickLookproducts.IsFreedom==true">
				<p ng-cloak>
					Freedom price: <strong>{{quickLookproducts.FreedomPriceString}}</strong>
				</p>
			</div>

			<div class="flexibuy_info" ng-if="quickLookproducts.IsFlexibuy==true">
				<p ng-cloak>
					Use flexi-buy to spread the cost over <strong>{{quickLookproducts.FlexibuyInstallments}}</strong> instalments of <strong>{{quickLookproducts.FlexibuyPriceString}}</strong>
				</p>
			</div>

			<div class="variations" ng-if="!quickLookproducts.IsPickAndMix">

				<select name="variationSelector" class="ng-hide"
						ng-options="item.VariationId as item.VariationName for item in quickLookproducts.ProductVariations"
						ng-model="ProductImageVariationId"
						ng-change="VariationSelectorImagesQuickLook(ProductImageVariationId);"
						onchange="VariationSelectorChanged($(this).parent(), false);"
						ng-show="quickLookproducts.ProductVariations != null && quickLookproducts.ProductVariations.length > 1"></select>

			</div>

			<div ng-cloak ng-if="!quickLookproducts.IsPickAndMix && qUpsellCheckout == 0" change-Basket-Values parentproductid="{{quickLookproducts.ParentProductId}}" upsellCheckout="{{qUpsellCheckout}}" class="basket_cta">

				@Html.Partial("~/Views/Shared/Partials/_add_to_basket.cshtml")

				<input type="hidden" name="selectedParentProductId" value="{{quickLookproducts.ParentProductId}}" />
				<input type="hidden" name="selectedVariationId" value="{{ProductImageVariationId}}" />
			</div>

			@if (!isExternal)
			{
				<div ng-cloak ng-if="quickLookproducts.IsPickAndMix">
					@Html.Partial("~/Views/Shared/Partials/_select_pick_and_mix.cshtml")
				</div>

				<div ng-if="!quickLookproducts.IsPickAndMix && qUpsellCheckout == 0" class="full_page"><a href="{{quickLookproducts.ProductUrl}}">See Product Details</a></div>
			}

		</div>

	</div>

</section>
