﻿<section class="pagination__container ng-hide" ng-show="ProductListing != null">
    <div class="pagination__wrap">
        <button class="previous" ng-click="ChangePageNumber(currentPageNumber - 1)" ng-class="{disabled: currentPageNumber == 1}">Previous</button>
        <button class="next" ng-click="ChangePageNumber(currentPageNumber + 1)" ng-class="{disabled: currentPageNumber >= ProductListing.Filter.PageCount}">Next</button>
    </div>
</section>
