﻿
    <h4>PRODUCTS IN THIS SHOW</h4>

	@{
		ViewDataDictionary viewBagData = new ViewDataDictionary()
		{
			new KeyValuePair<string, object>("ProductScopeName", "products"),
			new KeyValuePair<string, object>("Autorun","false")
		};
	}

	@Html.Partial("~/Views/Shared/Partials/_carousel.cshtml", viewBagData)

	@*<data-owl-carousel id="inshowproducts" class="owl-carousel owl-theme" data-options="{navigation: true, pagination: false, rewindNav : false}">
        @Html.Partial("~/Views/Shared/Partials/_product_snippet.cshtml")
    </data-owl-carousel>*@

@*<script src="~/Scripts/Internal/Home.js"></script>*@
