﻿
<section class="product_filter">

    <button class="filter__toggle" role="button" onclick="return false;">Filter</button>


    <div class="filter__container ng-hide" ng-show="ProductListing != null">

        <div class="toggles">
            <div class="inner">
                <div class="toggle freedom" ng-class="{active_toggle : isFreedomOnly}">
                    <div class="toggle__label">Freedom</div>
                    <div class="toggle__switch" ng-click="ChangeIsFreedomOnly()"></div>
                </div>

                <div class="toggle flexi" ng-class="{active_toggle : isFlexibuyOnly}">
                    <div class="toggle__label">Flexi-buy</div>
                    <div class="toggle__switch" ng-click="ChangeIsFlexibuyOnly()"></div>
                </div>

                <div class="toggle downloads" ng-class="{active_toggle : isDownloadsOnly}">
                    <div class="toggle__label">Downloads</div>
                    <div class="toggle__switch" ng-click="ChangeIsDownloadsOnly()"></div>
                </div>

                <div class="toggle pnm" ng-class="{active_toggle : isPickAndMixOnly}">
                    <div class="toggle__label">Pick &amp; Mix</div>
                    <div class="toggle__switch" ng-click="ChangeIsPickAndMixOnly()"></div>
                </div>
            </div>
        </div>


        <div class="filters">

            <div class="filter__item" ng-cloak>
                <button id="sortByFilterButton" class="filter__btn" role="button" onclick="ShowHideSortBy();"><span>Sort: </span>{{GetSortName()}}</button>

                <div id="sortByFilter" class="filter__list" style="display: none;">
                    <ul>
                        <li ng-repeat="sortByToUse in ProductListing.Filter.SortByValuesToDisplay track by $index">
                            <label ng-click="ChangeSortBy(sortByToUse.ValueToUse)">{{sortByToUse.ValueToShow}}</label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter__item" ng-cloak>
                <button id="categoryFilterButton" class="filter__btn" role="button" onclick="ShowHideCategoryFilter();">Categories</button>
                <div id="categoryFilter" class="filter__list" style="display: none;">
                    <ul class="checkbox_wrap">
                        <li ng-class="{disabled : IsBusy}" ng-if="category.Active" ng-repeat="category in ProductListing.Filter.FilteredCategories track by $index">
                            <input ng-disabled="IsBusy" id="category_{{category.Id}}" ng-model="category.IsFiltered" type="checkbox" name="checkbox" class="css-checkbox checkbox-custom">
                            <label for="category_{{category.Id}}" ng-click="CheckCategory(category.Id, !category.IsFiltered)" class="css-label checkbox-custom-label">
                                <span class="name">{{category.Name}}</span>
                                <span class="name__parent" ng-if="category.ParentName != ''">({{category.ParentName}})</span>
                            </label>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter__item" ng-cloak>
                <button id="brandFilterButton" class="filter__btn" role="button" onclick="ShowHideBrandFilter();">Brands</button>
                <div id="brandFilter" class="filter__list" style="display: none;">
                    <ul class="checkbox_wrap">
                        <li ng-class="{disabled : IsBusy}" ng-if="brand.Active" ng-repeat="brand in ProductListing.Filter.FilteredBrands track by $index">
                            <input ng-disabled="IsBusy" id="category_{{brand.Id}}" ng-model="brand.IsFiltered" type="checkbox" name="checkbox" class="css-checkbox checkbox-custom">
                            <label for="category_{{brand.Id}}" ng-click="CheckBrand(brand.Id, !brand.IsFiltered)" class="css-label checkbox-custom-label">{{brand.Name}}</label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter__item" ng-cloak>
                <button id="pageNumberFilterButton" class="filter__btn" role="button" onclick="ShowHidePageNumbers();"><span>Page: </span>{{currentPageNumber}}/{{ProductListing.Filter.PageCount != 0 ? ProductListing.Filter.PageCount : 1}}</button>

                <div id="pageNumberFilter" class="filter__list" style="display: none;">
                    <ul>
                        <li ng-repeat="pageNumber in PageNumbers track by $index" ng-if="ProductListing.Filter.PageCount != 0">
                            <label ng-cloak ng-click="ChangePageNumber(pageNumber)">{{pageNumber}}/{{ProductListing.Filter.PageCount}}</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



    </div>

</section>

<section class="product_filter_sub" ng-cloak ng-if="ProductListing != null">
    <span class="filter__clear" ng-click="ClearFilter()">Clear Filter</span>
    <span class="filter__per_page" ng-cloak ng-click="ChangePerPage()">View {{PageSizeDisplay}} per page</span>
</section>

<div class="filter__empty" ng-cloak ng-if="ProductListing.Filter.PageCount == 0">
    <h6>Sorry, there are no products available for this selection.</h6>
</div>
