﻿
<article class="product_card holding">

    <div class="dummy__bg dummy__img">
        <img src="https://hoch.media/web-assets/default/blank.png" alt="dummy" />
    </div>

    <div class="dummy__bg dummy__sku"></div>
    <div class="dummy__bg dummy__title dummy__title_1"></div>
    <div class="dummy__bg dummy__title dummy__title_2"></div>
    <div class="dummy__bg dummy__info"></div>
    <div class="dummy__bg dummy__price"></div>
    <div class="dummy__bg dummy__btn"></div>

</article>
