﻿@*base GRID EG: products etc *@
@{
    Layout = null;

    if (ViewBag.AngularProducts == null)
    {
        ViewBag.AngularProducts = false;
    }
}




<section class="grid productGrid">
    @if (ViewBag.AngularProducts)
    {
        <div ng-show="IsBusy != null && IsBusy" class="spinner ng-hide">
            @Html.Partial("~/Views/shared/partials/_loader.cshtml")
        </div>
    }

    @if (ViewBag.AngularProducts)
    {
        <div class="ie_prod_list" ng-repeat="item in @ViewBag.AngularProductScopeVariable track by $index">
            @Html.Partial("~/Views/Shared/Partials/_product_snippet.cshtml")
        </div>
    }

</section>
