﻿@{
    string CurrentUrl = Request.Path;
}
<div ng-controller="prodListHeaderCtlr">

    @* If Category do this *@

    @if (CurrentUrl.Contains("category") || CurrentUrl.Contains("Category"))
    {
        <section ng-cloak class="section_header header_image" @*Changable background image*@ style="background-image:url({{CategoryHeader.CategoryImage != null && CategoryHeader.CategoryImage != '' ? CategoryHeader.CategoryImage : 'https://hoch.media/header-images/default/header-default-image.jpg'}}),url('https://hoch.media/header-images/default/header-default-image.jpg');">
            <div class="background_header_color">
                <div class="header_titles">
                    @*Title*@ <h1 style="color:#ffffff;" @* NEED INLINE COLOUR STYLES FROM HOPE.TOOLS *@>{{CategoryHeader.CategoryName}}</h1>
                    @*Content Text*@ @*NEED INLINE COLOUR STYLES FROM HOPE.TOOLS *@

                    @*Add to favourites*@
                    <div ng-if="IsLoggedIn==1" class="fav_btns">
                        <a onclick="AddToFav('@CurrentUrl',this)" ng-if="catIsFav==0" class="notfavourite">Add To Favourites</a>
                        <a onclick="RemoveFromFav('@CurrentUrl',this)" ng-if="catIsFav==1" class="favourite">Remove From Favourites</a>
                    </div>

                    <div ng-if="IsLoggedIn==0">
                        <a class="notfavourite" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('login_favourites',null,null,1)">Add To Favourites</a>
                    </div>
                    <h2>
                        {{CategoryHeader.CategoryDescription}}
                        @*<a class="read_more_text">Read More...</a>*@
                    </h2>

                    <div class="link_catergories">
                        <a href="{{item.CategoryURL}}" ng-repeat="item in CategoryHeader.subCatInfo" ng-if="$index<5">{{item.CategoryNameAndLanguage[1]}}</a>
                    </div>

                </div>
            </div>
        </section>
    }
	
	@* If brand do this *@
    @if (CurrentUrl.Contains("brand") || CurrentUrl.Contains("Brand"))
    {
        <section ng-cloak class="section_header section_header_brands {{BrandHeader.BrandHeaderTheme}} {{BrandHeader.BrandLogoSize}}" style="background-image:url({{BrandHeader.BrandBackgroundImage != null && BrandHeader.BrandBackgroundImage != '' ? BrandHeader.BrandBackgroundImage : 'https://hoch.media/web-assets/default/blank.png'}}),url('https://hoch.media/web-assets/default/blank.png');">
            <div class="header_titles">
                @*<h1 ng-class="{no_logo: BrandHeader.BrandImgURL == null}">*@
                <h1>
                    <span ng-hide="BrandHeader.BrandImgURL != null">{{BrandHeader.BrandName}}</span>
                    <img ng-hide="BrandHeader.BrandImgURL == null" id="img_brand_logo" ng-src="{{BrandHeader.BrandImgURL}}" alt="{{BrandHeader.BrandName}}" />
                </h1>

                <h2>
                    {{BrandHeader.BrandDescription}}
                    @*<a class="read_more_text">Read More...</a>*@
                </h2>
                <div ng-if="IsLoggedIn==1" class="fav_btns">
                    <a onclick="AddToFav('@CurrentUrl',this)" ng-if="brandIsFav==0" class="notfavourite">Add To Favourites</a>
                    <a onclick="RemoveFromFav('@CurrentUrl',this)" ng-if="brandIsFav==1" class="favourite">Remove From Favourites</a>
                </div>
                <div ng-if="IsLoggedIn==0">
                    <a class="notfavourite" data-toggle="modal" data-target="#DynamicModal" ng-click="setPartialName('login_favourites',null,null,1)">Add To Favourites</a>
                </div>

                @*<div class="link_catergories">*@
                @* ALL LINKS NEED INLINE COLOUR STYLES FROM HOPE.TOOLS *@
                @*<a href="#" ng-repeat="item in BrandHeader.productsInfo" ng-if="$index<5">{{item.AllTVDescriptionsWithLanguages[1]}}</a>*@
                @*</div>*@

            </div>
        </section>
    }



    @* If favourites do this *@
    @if (CurrentUrl.Contains("favourite") || CurrentUrl.Contains("Favourite"))
    {
        <section class="section_header section_header_favourites" style="background-image:url(https://hoch.media/header-images/default/header-default-image.jpg);">
            <div class="background_header_color">
                <div class="logo_favourite_wrap">
                    <img id="img_favourite_logo"
                         src="https://www.hoch.media/header-images/brand/brand-page-logo/favourite_icon.png" />
                </div>
                <div class="header_titles">
                    <h1>My favourites</h1>
                    <h2>Products saved in my favourites are not reserved and can go out of stock </h2>
                </div>

            </div>

        </section>
    }
    @* If freedom do this *@
    @if (CurrentUrl.Contains("freedom") || CurrentUrl.Contains("Freedom"))
    {
        <section class="section_header section_header_freedom">
            <div class="background_header_color">
                <div class="logo_favourite_wrap">
                    <img id="img_favourite_logo"
                         src="https://www.hoch.media/header-images/brand/brand-page-logo/freedom-nobackground-C.png" />
                </div>
                <div class="header_titles">
                    <h1>Member Discounts @*Title*@ </h1>


                    <h2>@*Content Text*@Join today to take advantage of our great freedom member discounts and offers on all your crafts, hobbies and arts favourites!</h2>
                </div>

            </div>

        </section>
    }
    @* If Search do this *@
    @if (CurrentUrl.Contains("search") || CurrentUrl.Contains("Search"))
    {
        <section class="section_header section_header_search">
            <div class="background_header_color">
                <div class="logo_favourite_wrap">

                </div>
                <div class="header_titles">
                    <h1>YOUR SEARCH RESULTS @*Title*@ </h1>


                    <h2>@*Content Text*@<strong>200</strong> Results for <strong>paper</strong> </h2>
                </div>

            </div>

        </section>
    }
</div>
@Html.IncludeVersionedJs("/Scripts/Internal/ProductListing.js")

@* Testing Brand LOGOs DO NOT USE!!! *@

