﻿@*This is the base structure for a product*@

@* THIS IS JUST A FLAT DEMO FOR LAYOUT TESTING *@
@* THIS IS JUST A FLAT DEMO FOR LAYOUT TESTING *@
@* THIS IS JUST A FLAT DEMO FOR LAYOUT TESTING *@
@* THIS IS JUST A FLAT DEMO FOR LAYOUT TESTING *@
@* THIS IS JUST A FLAT DEMO FOR LAYOUT TESTING *@
@* THIS IS JUST A FLAT DEMO FOR LAYOUT TESTING *@

<article class="product_card">

    <a href="#" class="product_card_link">
        <div href="#" class="prod_img">
            @*<img src="https://hoch.media/web-assets/sashes/sash_freedom-b.svg" class="freedom_sash" alt="Product has a Freedom discount">
                <img src="https://hoch.media/web-assets/sashes/sash_flexibuy-b.svg" class="flexi_sash" alt="Product is available for Flexibuy">*@
            <img src="https://www.hoch.media/products/master/091641_1.jpg" alt="[alt text from hope.tools]" />
            @*BACKUP IMAGE <img src="https://www.hoch.media/products/main/no-image.jpg" alt="[alt text from hope.tools]" />*@
            <div class="ratings_wrap small_stars" id="">
                <div class="grey_stars" id="">
                    <div class="gold_stars" id="" style="width:75%;">&nbsp;</div>
                </div>
            </div>
            <div class="favourite"></div>
        </div>
    </a>

    <div class="details_wrap">
        <div class="sku">023456</div>
        <h3>Koh-I-Noor® Brilliant Water Colours Palette Set </h3>
        <button class="quick_look" role="button" data-toggle="modal" data-target="#DynamicModal">Quick Look</button>

        @*<p class="price"><span class="now ">&pound;88.88</span></p>*@
        <p class="price">
            <span class="was">&pound;88.88</span>
            <span class="now ">&pound;88.88</span>
        </p>
        @*<p class="price"><span class="was">&pound;88.88</span><span class="now freedom">&pound;88.88</span></p>*@

        @Html.Partial("~/Views/Shared/Partials/_add_to_basket.cshtml")
    </div>

</article>
