﻿@* Testing Brand LOGOs DO NOT USE!!! *@

<section class="section_header section_header_brands wide_brand" style="background:#E05600;">
    <div class="header_titles">
        @*Title*@ <h1>
            Tonic Studios
            <img id="img_brand_logo" src="https://www.hoch.media/header-images/brand/brand-page-logo/TonicR_Logo_Black%28SEPT-15%29white.png" />
        </h1>

        @*Add to favourites*@
        <a href="#" class="addtofavouritesbutton">Add To Favourites</a>


        @*Content Text*@ <h2>
            At Tonic Studios we recognise that for the crafter, one of the most important aspects of paper crafting is to have a product that provides a clean cut and beautiful finish, this means it is the most important feature for us when designing our products. Tonic ever expanding range of dies has helped bring us to the forefront of paper crafting with some of the most detailed versatile dies available on the market.
            <a class="read_more_text">Read More...</a>
        </h2>

        <div class="link_catergories">
            @* ALL LINKS NEED INLINE COLOUR STYLES FROM HOPE.TOOLS *@
            <a href="#">Patterened Paper</a>
            <a href="#">White Paper and Card</a>
            <a href="#">Black Paper and Card</a>
            <a href="#">Kraft Brown</a>
            <a href="#">Glitter Paper</a>
        </div>

    </div>
</section>