﻿<div class="social_share"  ng-controller="RAFController">

    <h1>Start Sharing</h1>
    <p>Share your unique code <strong>({{RAFGetDetails.voucherCode}})</strong>, this link <a href="https://www.hochanda.com/refer-a-friend-welcome?voucher={{RAFGetDetails.voucherCode}}">https://www.hochanda.com/refer-a-friend-welcome?voucher={{RAFGetDetails.voucherCode}}</a> or share via by one of the methods below.</p>
    <div class="share_container">
        <div class="icon_tabs_social">
            <h4>Share by Social</h4>
            @*<a href="#" class="button  social_placer_box twitter"></a>*@
            <a class="button  social_placer_box twitter" target="_blank" ng-href="https://twitter.com/home?status=https%3A//www.hochanda.com/refer-a-friend-welcome?voucher={{RAFGetDetails.voucherCode}}"></a>

            @*<a href="#" class="button  social_placer_box facebook"></a>*@
            <a class="button  social_placer_box facebook" target="_blank" ng-href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hochanda.com%2Frefer-a-friend-welcome%3Fvoucher%3D{{RAFGetDetails.voucherCode}}&amp;src=sdkpreparse" ></a>

        
        </div>

        <div class="share_box_wrap">

            <div class="share_box">
                <h4>Share by Email</h4>
                <p>Know your friend’s email? Send them your unique lifetime discount code via email!</p>

                <div class="email">
                    <label for="email" class="required"></label>
                    <input type="text" id="email" ng-model="rafEmailAddress" placeholder="Email Address" />
                    <a ng-click="SendEmail()" class="button">Send</a>
                    <div ng-cloak>{{Validation}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.IncludeVersionedJs("/Scripts/Internal/ReferAFriend.js")