﻿<div class="form_register_wrap" ng-controller="registerCtlr" ng-hide="RegisterPageHide" ng-cloak>
    @{
        string valuePassedIn = this.ViewData.ContainsKey("pagename") ? this.ViewData["pagename"].ToString() : string.Empty;
    }
    <h1>Create an Account</h1>
    <form ng-submit="onSubmit()">
        <fieldset>
            <label for="customer_title" class="required">Title</label>
            <select id="customer_title" ng-model="Register.TitleId" ng-options="item.title as item.title for item in Register.Titles"></select>

            <label for="firstname" class="required">First Name</label>
            <input type="text" id="firstname" ng-model="Register.firstName" ng-class="{{errorClass_firstName}}" />

            <label for="surname" class="required">Surname</label>
            <input type="text" id="surname" ng-model="Register.surName" ng-class="{{errorClass_surName}}" />


            <div class="emailMarketing4th">
                <input type="checkbox" id="Anonymous" class="styled-checkbox" ng-model="Register.anonymousDisplay" />
                <label for="Anonymous">Anonymous do not display ticker tape</label>
            </div>
            <div class="birthday">
                <label for="birthday">
                    Birthday
                </label>
                <div class="select_wrap">
                    <select id="day" ng-model="Register.DayId" ng-options="item.id as item.label for item in Register.Days"></select>
                    <select id="month" ng-model="Register.MonthId" ng-options="item.id as item.label for item in Register.Months"></select>
                </div>
            </div>
            <div class="phone">
                <label for="PhoneNumber" class="required">Phone Number</label>
                <div class="wrap">
                    <input type="tel" id="PhoneNumber" ng-pattern="phoneNumbr" ng-model="Register.phoneNumber" ng-class="{{errorClass_phoneNumber}}" />
                    <select id="PhoneNumberType" ng-model="Register.phoneType" ng-options="item.pid as item.pdescription for item in Register.Phonetypes">
                        @*<option value="mobile">Mobile</option>
                            <option value="home">Home</option>*@
                    </select>
                </div>
            </div>
            <div class="phone">
                <label for="AlternativeNumber">Alternative Phone Number</label>
                <div class="wrap">
                    <input type="tel" id="AlternativeNumber" ng-model="Register.altPhoneNumber" />
                    <select id="AlternativeNumberType" ng-model="Register.altPhoneType" ng-options="item.pid as item.pdescription for item in Register.Phonetypes">
                        @*<option value="1">Home</option>
                            <option value="2">Mobile</option>*@
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>

            <label for="emailaddress" class="required">Email Address</label>
            <input type="email" id="emailaddress" ng-model="Register.emailAddress" ng-class="{{errorClass_emailAddress}}" />

            <label for="confirmemailaddress" class="required">Confirm Email Address</label>
            <input type="email" id="confirmemailaddress" ng-model="Register.confirmEmailAddress" ng-class="{{errorClass_confirmEmailAddress}}" />
            <div class="marketingoptin">
                <input type="checkbox" id="emailMarketingUs" class="styled-checkbox" ng-model="Register.emailMarketing" ng-true-value="true" ng-false-value="false" />
                <label for="emailMarketingUs">Yes, I want to be the first to hear about new shows, special offers, promotions and news from Hochanda right to my email inbox. (You can unsubscribe at any time)</label>

                <input type="checkbox" id="emailMarketing3rd" class="styled-checkbox" ng-model="Register.emailMarketing3rdParties" ng-true-value="true" ng-false-value="false" />
                <label for="emailMarketing3rd">Yes, I would like to receive emails of special offers, promotions and news from Hochanda’s appropriate and carefully selected partners. (You can unsubscribe in any email)</label>

                <input type="checkbox" id="postMarketing" class="styled-checkbox" ng-model="Register.postMarketing" />
                <label for="postMarketing">Yes, I want to be the first to hear about new shows, special offers, promotions and news from Hochanda. (Via Postal)</label>

                <input type="checkbox" id="smsMarketing" class="styled-checkbox" ng-model="Register.smsMarketing" />
                <label for="smsMarketing">Yes, I want to be the first to hear about new shows, special offers, promotions and news from Hochanda. (Via Sms)</label>
            </div>

        </fieldset>

        <fieldset>
            <div class="password_requirements">
                <h5>Password requirements:</h5>
                <ul>
                    <li>Contain at least 8 characters</li>
                    <li>Contain at least one number (0-9)</li>
                    <li>Contain at least one uppercase letter (A-Z)</li>
                    <li>Contain at least one lowercase letter (a-z)</li>
                </ul>
            </div>
            <label for="newpassword" class="required">New Password</label>
            <input type="password" id="newpassword" ng-model="Register.newPassword" ng-class="{{errorClass_newPassword}}" />

            <label for="confirmpassword" class="required">Confirm Password</label>
            <input type="password" id="confrimpassword" ng-model="Register.confirmPassword" ng-class="{{errorClass_confirmPassword}}" />

            <div class="termandconditions">
                <input type="checkbox" id="termsandconditions" class="styled-checkbox" ng-model="Register.termsAndConditions" ng-true-value="true" ng-false-value="false" ng-class="errorClass_termsAndConditions" />
                <label for="termsandconditions">I Agree To <a href="/about/terms-conditions" target="_blank">Terms and Conditions</a></label>
            </div>

            <div ng-if="siteKey != null" tabindex="3" theme="clean" vc-recaptcha key="siteKey" size="invisible" on-success="RegisterCustomer()"></div>
            <div class="validationError" id="validationErrorDiv">

            </div>

            <input hidden id="pagename" value="@valuePassedIn" />
            <input type="submit" value="create account" id="createaccount" />

        </fieldset>
    </form>
</div>
@Html.IncludeVersionedJs("/Scripts/Internal/Register.js")