﻿<!--<div ng-controller="SearchController">-->

<section class="inner">
    <a href="" class="fullscreen_search__close" role="button" aria-pressed="true" onclick="ToggleSearchView(); return false;">
        Close
    </a>

    <div id="search-selection-container" class="fullscreen_search__find">
        <select ng-model="inputSelected" ng-init="inputSelected=inputSelect[0]" ng-options="o as o for o in inputSelect" ng-change="InputChange()"></select>
        <form ng-submit="submit()" class="fullscreen_search__form">
            <input type="text" id="searchText" class="fullscreen_search__input" ng-model="searchText" ng-model-options="{debounce: 1000}" placeholder="Search...">
            <input type="submit" class="fullscreen_search__button" role="button" aria-pressed="true" value="Full Search" />
        </form>
    </div>


    <div id="search-result-container" class="fullscreen_search__result">

        <div id="search-history-container" ng-mouseleave="isTextEmpty = 0" ng-show="isTextEmpty == 1">
            <div ng-show="history">
                <div class="search-list-item" ng-repeat='item in history track by $index' ng-cloak>{{item.Text}}</div>
            </div>
        </div>

        <div id="search-view-container" class="fullscreen_search__autocomplete" ng-show="isTextEmpty == 2">
            <h3>Autocomplete Recommendations</h3>
            <div id="search-tab-header" class="fullscreen_search__autocomplete__head">
                <ul>
                    <li ng-class="{ active: isSet(3) }" class="tab" ng-hide="inputSelected != 'All'" ng-click="setTab(3)">Products</li>
                    <li ng-class="{ active: isSet(1) }" class="tab" ng-hide="inputSelected != 'All'" ng-click="setTab(1)">Brands</li>
                    <li ng-class="{ active: isSet(2) }" class="tab" ng-hide="inputSelected != 'All'" ng-click="setTab(2)">Categories</li>
                </ul>
            </div>

            <div id="search-tab-body" class="fullscreen_search__autocomplete__body" ng-cloak>

                <ul ng-show="isSet(1) && (inputSelected == 'All' || inputSelected == 'Brands')">
                    <li ng-show="searchText.length > 3" class="search-list-item" ng-repeat='brand in brands | limitTo : displayLimit'>
                        @*<a ng-click="Search(brand.BrandName, 2, 0)">{{brand.BrandName}}</a>*@
                        <a ng-href="{{getUrl(brand.BrandName, 'brand')}}">{{brand.BrandName}}</a>
                    </li>
                </ul>
                <ul ng-show="isSet(2)  && (inputSelected == 'All' || inputSelected == 'Categories')">
                    <li ng-show="searchText.length > 3" class="search-list-item" ng-repeat='category in categories | limitTo : displayLimit'>
                        @*<a href="" ng-click="Search(category.CategoryName, 3, 0)">{{category.CategoryName}}</a>*@
                        <a ng-href="{{getUrl(category.CategoryName, 'category')}}">{{category.CategoryName}}</a>
                    </li>
                </ul>
                <ul ng-show="isSet(3) && (inputSelected == 'All' || inputSelected == 'Products')">
                    <li ng-show="searchText.length > 3" class="search-list-item" ng-repeat='product in products | limitTo : displayLimit'>
                        @*<a ng-click="Search(product.TVDescription, 4, product.ParentProductId)"><span class="sku">{{product.ParentProductSKU}}</span> {{product.TVDescription}}</a>*@
                        <a ng-href="{{getUrl(product.ParentProductId, 'product')}}"><span class="sku">{{product.ParentProductSKU}}</span> {{product.TVDescription}}</a>
                    </li>
                </ul>

            </div>

        </div>
    </div>


    <div id="search-default-view" class="fullscreen_search__res_col_wrap" ng-cloak>

        <div id="search-default-history" class="fullscreen_search__res_col fullscreen_search__history">
            <h3>Recent Searches</h3>
            <div ng-show="history">
                <ul>
                    <li ng-repeat='item in history track by $index'>
                        <a ng-show="item.Type == 4" ng-click="Search(item.Text, item.Type, item.ProductId)">{{item.Text}} - {{ item.Type == 1 ? 'Keyword' : item.Type == 2 ? 'Brand' : item.Type == 3 ? 'Category' : item.type == 4 ? 'Product' : ''  }}</a>
                        <a ng-show="item.Type != 4" ng-click="Search(item.Text, item.Type, 0)">{{item.Text}} - {{ item.Type == 1 ? 'Keyword' : item.Type == 2 ? 'Brand' : item.Type == 3 ? 'Category' : item.type == 4 ? 'Product' : ''  }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="search-default-favourites" class="fullscreen_search__res_col fullscreen_search__favourites right" ng-cloak>
            <h3>Your Favourites</h3>
            @*TODO: for Scott decide what to display when user isn't logged in *@
            <a href="/login"ng-if="loginDetails == null || loginDetails.CustomerLookupId == null">You will be able to see your favourites once logged in.</a>
            <ul ng-if="loginDetails != null && loginDetails.CustomerLookupId != null">
                <li ng-repeat="fav in favouritesPages"><a ng-href="{{fav.pageurl}}">{{fav.pagename}}</a></li>
            </ul>
        </div>

    </div>

</section>
