﻿
<section class="grid brands__grid">
	<a ng-href="{{getBrandUrl(brand.BrandId, brand.BrandName, brand.IsBrandAmbassador)}}" class="brand_card" ng-repeat="brand in ProductListing.Filter.Brands">
		<img src="{{brand.BrandImgURL}}" alt="{{brand.BrandName}}">
		<span ng-cloak>{{brand.BrandName}}</span>
	</a>
</section>