﻿@{
	var parentProductId = ViewBag.ParentProductId != null ? ViewBag.ParentProductId : 0;
	var variationId = ViewBag.VariationId != null ? ViewBag.VariationId : 0;
}

<div class="add_to_basket_wrap">
	<a class="add_to_basket button" ng-href="{{GetProductLink(item != null ? item : product != null ? product : quickLookproducts != null ? quickLookproducts : null)}}">
		<span>&nbsp;</span><span class="text">Select Pick N Mix</span>
	</a>
</div>
