﻿<div id="variationControllerDiv" ng-controller="VariationController" class="variation_selector">
	<span>Choose a selection</span>

	@* TODO: Go angular? *@
	<select onchange="VariationSelectorChanged(this, true);">
		<option ng-repeat="option in Variations" value="{{option.VariationId}}">{{option.VariationName}}</option>
	</select>

	<input type="hidden" name="selectorParentProductId" value="{{ParentProductId}}" />

	@* Puts parentProductId and VariationId in ViewBag for new Partial *@
	@Html.Partial("~/views/shared/partials/_add_to_basket.cshtml", new ViewDataDictionary() { new KeyValuePair<string, object>("ParentProductId", ViewBag.ParentProductId), new KeyValuePair<string, object>("VariationId", ViewBag.VariationId) })

</div>