﻿@import '../mixins/mixins_compiler.scss';

header.checkout_page {
    .header__main {
        &__nav {
            padding-right: 10px;

            .icon {
                border: 1px solid $c_head;
                color: $c_white;
                text-indent: -9999px;
                background-image: url(https://www.hoch.media/web-assets/icons/Lock_grey.svg);
                background-size: 20px;
                @include corner-round();
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
        }
    }
}



footer {
    .small_print {
        text-align: center;
        font-size: 0.8em;
    }

    .payment_types {
        max-width: 430px;
        margin: 30px auto;
        padding: 0 10px;
        float: none;
        @include clear();

        p {
            text-align: center;
            color: $c_white;
            margin: 0;
        }

        .payment_icons {
            text-align: center;
            background: $c_white;
            padding: 10px;
            max-width: 430px;
            float: none;
            clear: both;
        }
    }

    .checkout_footer_links {
        ul {
            text-align: center;
            padding: 0;

            li {
                display: inline-block;
                width: auto;
                float: none;

                a {
                    color: $c_white;
                    padding: 0 10px;
                }
            }
        }
    }
}
