﻿@import '../mixins/mixins_compiler.scss';

/*FOOTER*/

footer {
    .recently_viewed {
        float: left;
        width: 100%;
        padding: 0 10px 10px 10px;
        background-color: $c_white;
        background-color: $c_base;
        border-top: 1px solid $c_grey_light;
        border-bottom: 1px solid $c_grey_light;
        margin-bottom: 10px;

        h4 {
            color: $c_white;
            font-weight: $fw_heading_bold;
            /*text-align: center;*/
            font-size: 1em;
            margin: 6px 0px;
        }
    }

    .email_subscribe {
        float: left;
        width: 100%;
        background-image: url(https://hoch.media/header-images/default/header-default-image.jpg);
        background-position: center;
        background-size: cover;

        .email_subscribe_wrap {
            background-color: rgba(43, 0, 21, 0.5);
            padding: 50px;
            text-align: center;

            h3 {
                font-weight: $fw_heading_bold;
                text-transform: uppercase;
                border: none;
                color: $c_white;
                text-align: center;
            }

            .divider_line {
                height: 0;
                border-top: 1px solid $c_white;
                width: 50px;
                margin: 10px auto 20px auto;
                display: block;
                clear: both;
                float: none;
            }

            p {
                color: $c_white;
                text-align: center;
            }

            a.button {
                line-height: 50px;
                border-color: $c_white;
                float: none;
                margin: auto;
                @include mw_small();
            }
        }
    }

    .feefo_api_wrap {
        float: left;
        width: 100%;
        background-color: $c_white;

        .feefowidget-global-container-body-content-list {
            width: auto;
        }

        .button {
          @include mw_small();
            @include clear ();
            margin-bottom:30px;
        }

        .feefowidget-window-modal-content {
            float: none;
            @include clear();
        }

        feefowidget-global .feefowidget-global-container.feefowidget-mode-service .feefowidget-global-container-body-sidebar + .feefowidget-global-container-body-content {
            padding: 0;
        }

        .feefowidget-carousel-snapshot-body .feefowidget-sliders.feefowidget-sliders-average-customer-rating {
            padding-top: 30px;
            display: block;
            float: none;
            padding-top: 36px;
            margin: 0 auto;
        }

        feefowidget-container-carousel .feefowidget-standard, .feefowidget-mobile-wrapper {
            float: none;
            margin: auto;
            display: block;
            @include clear();
        }

        .feefowidget-mobile-wrapper {
            max-width: 300px;
        }

        .feefowidget-left-button,
        .feefowidget-right-button,
        a.feefowidget-read-all-reviews {
            display: none;
        }

        a.feefowidget-read-all-reviews {
            color: $c_base;
            margin: 5px auto;
        }
    }

    .social_wrap {
        background-color: $c_white;
        width: 100%;
        margin: auto;
        text-align: center;


        .social_icons_wrap {
            width: auto;
            float: none;
            display: inline-block;
            /* background: aqua; */
            margin: 0;
            background: $c_white;


            a {
                height: 40px;
                width: 40px;
                float: left;
                display: inline-block;
                margin: 10px 10px 4px 10px;
            }
        }

        .footer_icons {
            display: inline-block;
            margin: 0px 14px 7px 0;
            padding: 0;
            height: 100px;
        }
    }

    .footer_info_wrap {
        background-color: $c_footer;
        padding: 30px;

        .inner {
            @include mw_normal();
        }

        .footer_block {
            margin-bottom: 40px;

            @include tablet {
                width: 25%;
            }

            &.footer_stay_tuned {
                width: 100%;

                .tv_streaming_wrap {
                    a {
                        padding: 10px;
                        max-width: 100%;
                        width: 200px;
                        float: left;
                        height: 80px;

                        @include tablet {
                            width: 25%;
                            max-width: 200px;
                        }
                    }
                }
            }
        }

        h4 {
            color: $c_white;
            display: block;
            font-weight: $fw_heading_bold;
            margin-bottom: 10px;
            border-bottom: 2px solid $c_grey_light;
            padding-bottom: 20px;
            font-size: 1em;
        }

        .line {
            border-top: 2px solid $c_grey_light;
        }


        p {
            color: $c_white;
            padding: 5px;
            display: block;
            margin: 0px;
        }


        a {
            color: $c_white;
            list-style: none;
        }

        ul {
            padding: 0px;
            margin: 0px;

            li {
                list-style: none;
                margin: 0px;
                padding: 5px;
            }
        }

        .footer_feefo_award {
            width: 50%;
            margin-left: 10px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .footer_award {
            ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 5px;
            }
        }
    }

    .bank_icon_container {
        background: $c_white;
        float: left;
        width: 100%;
        padding: 15px 0px 15px 0px;
        margin: auto;

        .bank_icon_footer_wrap {
            max-width: 300px;
            margin: 0 auto;
            float: none;
        }

        .stitch_box {
            padding: 6px 10px 8px 10px;
            border-top: 1px dashed #ccc;
            border-bottom: 1px dashed #ccc;
        }
    }


    .copyright p {
        font-size: 10px;
        margin: 0;
        text-align: center;
        width: 100%;
        display: block;
        background-color: $c_white;
        color: $c_base;
    }
}

/*Internet explorer fallbacks*/
@include ms {


    .footer_info_wrap {

        .footer_award {
            ul {

                li {
                    float: left;
                    width: 33.3%;
                }
            }
        }
    }
}

/*END FOOTER*/
