﻿@import '../mixins/mixins_compiler.scss';

/*HEADER*/

header {
    background-color: $c_white;
    float: left;
    width: 100%;

    .header {
        &__pre {
            background-color: $c_head;
            color: $c_white;
            font-size: 10px;
            text-transform: uppercase;

            &__item {
                width: auto;
                padding: 0 5px;

                &:nth-child(n+2) {
                    float: right;
                }

                & a {
                    color: $c_white;
                }
            }

            &__contact {

                & a.contact {
                    &__call {
                        @include tablet {
                            display: none;
                        }
                    }

                    &__link {
                        display: none;

                        @include tablet {
                            display: inline-block;
                        }
                    }
                }
            }

            &__review {
                & img {
                    height: 23px;
                    width: auto;
                    padding: 0px 0 3px 0px;
                }

                .label, .stars {
                    display: none;

                    @include tablet-small {
                        display: inline-block;
                        margin: 0 5px;
                    }
                }
            }
        }

        &__main {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid $c_grey;

            @include tablet {
                height: 70px;
                line-height: 70px;
            }

            &__logo {
                background-image: url(https://hoch.media/elements/icons/hochanda-logo-main.svg);
                background-position: center;
                background-repeat: no-repeat;
                text-indent: -9999px;
                height: 50px;
                width: 40%;
                float: left;
                margin-left: 4px;
                max-width: 150px;

                @include tablet {
                    height: 70px;
                    max-width: 190px;
                    margin-left: 10px;
                }
            }

            &__nav {
                height: 50px;
                width: 55%;
                float: right;
                display: flex;
                display: -ms-flexbox;
                display: -moz-flex;
                display: -webkit-flex;

                @include tablet {
                    height: 70px;
                    line-height: 70px;
                    width: 550px;
                }

                a {
                    &:hover {
                        background-color: $c_grey_pale;
                        border-bottom: 1px solid $c_grey;
                    }
                }
            }

            &__item {
                /*background-color: #aad4aa;*/
                /*border-left: 1px solid $c_grey;*/
                flex-grow: 1;
                width: auto;

                @include tablet {
                    padding: 0 10px;
                }
            }

            .icon {
                /*background-color: #a7efa7;*/
                height: 50px;
                width: 40px;
                margin: auto;
                display: block;
                background-position: center;
                background-repeat: no-repeat;

                @include tablet {
                    height: 70px;
                    display: inline-block;
                    float: right;
                }
            }

            .text {
                /*background-color: #e1efa7;*/
                display: none;
                float: left;
                font-size: 14px;
                line-height: 70px;
                text-transform: uppercase;
                color: $c_base;

                @include tablet {
                    display: inline-block;
                }
            }

            &__tv .icon {
                background-image: url(https://hoch.media/elements/icons/header-icons/tv-schedule.svg);
            }

            &__login {
                .inner {
                    display: inline-block;
                    position: relative;
                }

                .icon {
                    background-image: url(https://hoch.media/elements/icons/header-icons/account-2.svg);
                }

                .tick {
                    display: none;
                }

                &__signedin {
                    .tick {
                        position: absolute;
                        display: block;
                        height: 18px;
                        width: 18px;
                        right: -2px;
                        top: calc(50% - 18px);
                        border: 2px solid $c_white;
                        @include corner-round();
                        background: $c_good;
                        background-image: url(https://hoch.media/elements/icons/icons_tick-white.svg);
                    }
                }
            }

            &__basket .icon {
                background-image: url(https://hoch.media/elements/icons/header-icons/basket.svg);
                position: relative;

                .basket_number {
                    position: absolute;
                    display: block;
                    padding: 0 2px;
                    border: 2px solid #FFFFFF;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    background: #ed137d;
                    color: #FFFFFF;
                    font-size: 10px;
                    top: calc(50% - 18px);
                    line-height: 13px;
                    height: 18px;
                    right: -1px;
                    min-width: 18px;
                    text-align: center;
                    font-family: Arial, Geneva, sans-serif;
                    font-family: Century Gothic, sans-serif;
                }
            }

            &__menu {
                background-color: $c_head;

                @include tablet {
                    padding: 0 3px 0 10px;
                }

                &__icon_wrap {
                    float: left;
                    width: 100%;
                    padding: 3px 0 0 0;

                    @include tablet {
                        padding: 0;
                    }

                    .text {
                        font-size: 10px;
                        text-transform: uppercase;
                        display: block;
                        line-height: 1em;
                        text-align: center;
                        color: $c_white;
                        float: none;

                        @include tablet {
                            font-size: 14px;
                            line-height: 70px;
                            float: left;
                        }
                    }
                }

                .icon {
                    background-image: url(https://hoch.media/elements/icons/header-icons/menu.svg);
                    background-size: 24px;
                    margin: 0 auto;
                    float: none;
                    height: 30px;

                    @include tablet {
                        height: 70px;
                        float: right;
                    }
                }
            }

            &__search_toggle {
                display: none;

                @include desktop-staff {
                    display: block;
                    width: 500px;
                    float: right;
                    height: 37px;
                    margin: 17px 50px 0 0;
                    height: 37px;
                    line-height: 37px;
                    border: 1px solid #e6e4e4;
                }

                .text {
                    height: 37px;
                    line-height: 37px;
                    text-transform: initial;
                    padding-left: 10px;
                }

                .icon {
                    height: 35px;
                    width: 37px;
                    background-color: $c_main;
                    float: right;
                    background-image: url(https://hoch.media/elements/icons/header-icons/search.svg);
                }
            }
        }

        &__secondary {
            border-bottom: 1px solid $c_grey;
            display: flex;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;


            &__brands_toggle, &__category_toggle, &__category_staff {
                flex-grow: 1;
                display: inline-block;

                .text {
                    display: inline-block;
                    float: left;
                }

                .icon {
                    background-image: url(https://hoch.media/elements/icons/icons_arrow-down-black.svg);
                    display: none;
                    background-size: 12px;
                    width: 12px;
                    height: 50px;
                    margin-left: 5px;
                    float: right;

                    @include phablet {
                        display: inline-block;
                    }


                    &:hover {
                        background-color: $c_grey_pale;
                    }
                }
            }

            &_wrap {
                a.open {
                    .icon {
                        background-image: url(https://hoch.media/elements/icons/icons_arrow-down-white.svg);

                        &:hover {
                            background-color: $c_head_dark;
                        }
                    }
                }
            }

            &__category_toggle {
                @include desktop-staff {
                    display: none;
                }
            }

            &__category_staff {
                display: none;

                @include desktop-staff {
                    display: inline-block;
                }
            }

            a {
                height: 50px;
                line-height: 50px;
                float: left;
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                color: $c_base;

                &.open {
                    background-color: $c_head;
                    color: $c_white;

                    &:hover {
                        background-color: $c_head_dark;
                    }
                }

                &:hover {
                    background-color: $c_grey_pale;
                }

                &:nth-child(n+2) {
                    border-left: 1px solid $c_grey;
                }
            }

            &__item {

                .icon {
                    background-position: center;
                    background-repeat: no-repeat;
                    text-align: center;
                    display: block;
                }

                .inner {
                    width: auto;
                    float: none;
                    display: inline-block;
                    height: 50px;
                }
            }

            &__rewind, &__search_toggle, &__favourites_toggle {
                display: inline-block;
                background-size: contain;
                width: 13.75%;

                @include tablet {
                    width: auto;
                    flex-grow: 1;
                }

                .text {
                    display: none;

                    @include tablet {
                        display: inline-block;
                        float: left;
                    }
                }

                .inner {
                    width: 100%;

                    @include tablet {
                        width: auto;
                    }
                }

                .icon {
                    height: 50px;
                    width: 100%;

                    @include tablet {
                        width: 50px;
                        background-position: right;
                        float: right;
                    }
                }
            }



                &__rewind .icon {
                    background-image: url(https://hoch.media/elements/icons/header-icons/rewind.svg);

                    @include tablet {
                        float: left;
                    }
                }

            &__search_toggle {
                background: none;
                padding: 0;

                @include tablet {
                    flex-grow: 4;
                    padding-left: 10px;
                }

                @include desktop-staff {
                    display: none;
                }

                .icon {
                    background-image: url(https://hoch.media/elements/icons/header-icons/search.svg);
                    background-color: $c_main;
                    background-position: center;

                    @include tablet {
                        float: right;
                        width: 50px;
                    }
                }
            }

            &__favourites_toggle .icon {
                background-image: url(https://hoch.media/elements/icons/header-icons/favourite.svg);
            }
        }
    }

    a.header__main__menu:hover {
        background-color: $c_head;
    }
}



.frozen {
    overflow: hidden;
}

.sidenav_wrap {
    width: 0%;
    position: absolute;
    z-index: 700;
    background-color: $c_head;
    overflow-x: hidden; /* Disable horizontal scroll */
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    right: 0;

    &.open {
        right: 0;
        width: 100%;

        @include tablet {
            width: 520px;
        }
    }

    .inner {
        width: 100vw;
        height: 100vh;

        @include tablet {
            width: 500px;
        }

        .acc_id {
            color: $c_white;
            padding: 30px 25px 15px 20px;

            a {
                color: $c_white;
            }

            &__name {
                font-size: 1.2em;
            }

            &__links {
                float: left;

                a {
                    padding: 18px 18px 18px 0px;
                    float: left;
                }
            }
        }

        .preference_selector {

            .preference_selector__box {
                padding: 18px 20px;
                background-color: $c_white;

                p {
                    font-weight: $fw_body_bold;
                    text-transform: uppercase;
                }
            }

            &__toggle {
                display: block;
                color: $c_white;
                padding: 20px 40px 20px 20px;
                background-color: $c_head_light;
                background-image: url(https://hoch.media/elements/icons/icons_arrow-down-white.svg);
                background-position: right 10px center;
                background-size: 25px;
                background-repeat: no-repeat;
                transition: .4s;

                &.open {
                    background-image: url(https://hoch.media/elements/icons/icons_cross-white.svg);
                    background-color: $c_main_dark;
                }

                &:hover {
                    background-color: $c_head_dark;
                    text-decoration: none;
                }
            }

            &__selected:nth-child(n+2) {
                border-left: 1px solid $c_white;
                margin-left: 10px;
                padding-left: 10px;
            }
        }

        h5 {
            color: $c_white;
            padding: 20px;
            background-color: $c_head_light;
            margin: 0;
            letter-spacing: 1px;
            border: none;
            font-weight: $fw_heading_bold;
        }

        .nav_list {

            & a {
                padding: 18px 20px;
                text-decoration: none;
                color: $c_white;
                display: block;
                line-height: 1.2em;
                height: auto;
                text-align: left;
                border-bottom: 1px solid $c_head_light;
                cursor: pointer;
                text-transform: initial;

                &:hover {
                    background-color: $c_head_dark;
                }
            }
        }
    }
}

.menu_overlay {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 600;
    right: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;

    &.active {
        width: 100%;
        opacity: 0.9;
    }

    &.out {
        width: 100%;
        opacity: 0;
    }
}

.sidenav_wrap, .menu_overlay {
    margin-top: 73px;
    padding-bottom: 49px;
    height: calc(100vh - 73px);

    @include tablet {
        margin-top: 93px;
        padding-bottom: 69px;
        height: calc(100vh - 93px);
    }
}

/*nav top*/
.dropdowns_wrap {
    z-index: 500;
    top: 125px;
    position: absolute;
    background-color: $c_white;
    border-bottom: 1px solid $c_grey;
    @include shadow-custom (0, 10px, 10px, 0px,rgba(0, 0, 0, 0.2));

    @include tablet {
        top: 145px;
    }

    @include desktop {
        top: 146px;
    }
}

.nav_wrap {
    &__accordion {
        display: block;

        .nav_accordion a,
        .nav_accordion ul li .hello {
            color: $c_base;

            &:hover {
                background-color: $c_grey_light;
            }
        }

        .nav_accordion ul li .hello {
            &:hover {
                /*background-image: url(https://hoch.media/elements/icons/icons_plus-white.svg);*/
            }
        }


        .nav_accordion span.hello {
            background-image: url(https://hoch.media/elements/icons/icons_plus-black.svg);
        }

        @include tablet {
            display: none;
        }
    }

    &__laptop {
        display: none;

        .inner {
            /*background: aqua;*/
            width: 100%;
            border-left: 1px solid $c_grey;
            border-right: 1px solid $c_grey;
            display: grid;
            grid-template-columns: 230px auto;
            @include mw_normal();
            @include clear;
        }

        .list {
            border-right: 1px solid $c_grey;

            ul {
                padding: 0;

                li {
                    list-style-type: none;
                    margin: 0;


                    a {
                        border-bottom: 1px solid $c_grey_light;
                        color: $c_base;
                        width: 100%;
                        padding: 10px 20px 10px 10px;
                        display: block;
                        background-repeat: no-repeat;
                        background-position: center right 4px;
                        background-size: 20px;
                        background-image: url(https://hoch.media/elements/icons/icons_arrow-right-grey.svg);

                        &.open {
                            color: $c_white;
                            background-color: $c_head;
                            background-image: url(https://hoch.media/elements/icons/icons_arrow-right-white.svg);

                            &:hover {
                                background-color: $c_head_dark;
                                text-decoration: none;
                            }
                        }

                        &:hover {
                            background-color: $c_grey_pale;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .subcat {

            ul {
                padding: 0;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );

                li {
                    list-style-type: none;
                    margin: 0;

                    a {
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        display: block;
                        color: $c_base;

                        &:hover {
                            background-color: $c_grey_pale;
                            text-decoration: none;
                        }

                        &.view_all_cat {
                            font-weight: $fw_body_bold;
                        }
                    }
                }
            }
        }

        @include tablet {
            display: block;
        }

        @include desktop-staff {
            display: none;
        }
    }

    &__staff {
        display: none;
        position: absolute;
        top: 146px;
        z-index: 500;
        background: $c_white;
        border-bottom: 1px solid $c_grey;
        @include shadow-custom (0, 10px, 10px, 0px,rgba(0, 0, 0, 0.2));

        .inner {
            width: 100%;
            border-left: 1px solid $c_grey;
            border-right: 1px solid $c_grey;
            @include mw_normal();
            @include clear;


            ul {
                padding: 0;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );

                li {
                    list-style-type: none;
                    margin: 0;

                    a {
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        display: block;
                        color: $c_base;

                        &:hover {
                            background-color: $c_grey_pale;
                            text-decoration: none;
                        }

                        &.view_all_cat {
                            font-weight: $fw_body_bold;
                        }
                    }
                }
            }
        }

        @include desktop-staff {
            display: block;
            border-bottom: none;
        }
    }

    &__brands {
        @include mw_normal();

        h4 {
            border-bottom: 1px solid $c_grey;
            font-weight: $fw_heading_bold;
            text-align: center;
            width: calc(100% + 20px);
            margin-left: -10px;
            padding: 0;
            line-height: 50px;
        }

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &__az,
        &__top,
        &__footer {
            padding: 0px 10px 10px 10px;
            border-bottom: 1px solid $c_grey;

            @include tablet {
                border-bottom: none;
            }
        }

        &__az {
            .brands__nav .inner {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(5, 1fr);
                grid-gap: 4px;

                a {
                    height: 100%;
                    width: 100%;
                    background-color: $c_grey_pale;
                    border: 1px solid $c_grey_light;
                    color: $c_base;

                    &:not(:nth-last-child(1)) {
                        border: 1px solid $c_grey_light;
                    }

                    &.disabled {
                        background-color: $c_white;
                        color: $c_grey_light;
                        cursor: default;

                        &:hover {
                            transform: scale(1);
                            @include shadow-none();
                        }
                    }
                }
            }

            @include desktop {
                border-left: 1px solid $c_grey;
            }
        }

        &__top {

            @include tablet {
                border-left: 1px solid $c_grey;
            }

            @include desktop {
                border-right: 1px solid $c_grey;
            }
        }

        &__top_list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            a {
                color: $c_base;
                display: block;
                padding: 10px 5px 10px 10px;
                line-height: 1.1em;

                @include tablet {
                    padding: 15px 5px 15px 10px;
                }
            }
        }

        &__footer {
            padding: 10px;

            @include tablet {
                border-top: 1px solid $c_grey;
            }

            a {
                margin: 0;
                line-height: 50px;
                background-color: $c_head;
                @include mw_small();
            }
        }
    }
}



/*fix the stars in feefo in header */
@include ms {
    .header__pre__review {

        .label, .logo {
            float: left;
        }

        .stars {
            float: right;
            margin: 0;
        }
    }
}

@include nogrid-ms {
    .nav_wrap {
        &__laptop {
            .list {
                width: 30%;
            }

            .subcat {
                width: 70%;

                ul {
                    li {
                        width: 200px;
                        background-size: 50px 50px;
                    }
                }
            }
        }

        &__staff {
            .single_cat {
                ul {
                    li {
                        width: 230px;
                    }
                }
            }
        }

        &__brands__az {
            .brands__nav .inner {
                a {
                    width: 44px;
                    margin: 1px;
                }
            }
        }

        &__brands__az, &__brands__top {
            @include tablet {
                width: 50%;
            }
        }
    }
}
/*END HEADER*/
