﻿@import '../mixins/mixins_compiler.scss';


.add_to_basket_wrap {
    position: relative;

    .adding_text,
    .added_text {
        display: none;
    }
}

a.add_to_basket.button,
.pick_mix_header .instruction a.add_to_basket.button {
    &.adding {
        background-color: $c_good;

        .icon {
            position: absolute;
            display: inline-block;
            left: -50px;
            right: 0;
            top: 6px;
            width: 28px;
            height: 28px;
            @include corner-round();
            border: 5px solid rgba(0, 0, 0, 0.2);
            border-top-color: $c_white;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            margin: 0 auto;
            float: none;
        }

        .text {
            display: none;
        }

        .adding_text {
            display: inline-block;
            margin-left: 40px;
        }
    }

    &.added {
        background-color: $c_good_dark;

        .icon {
            display: inline-block;
            left: 5px;
            width: 28px;
            background-image: url('https://www.hoch.media/web-assets/icons/icons_tick-white.svg');
            background-position: center;
            background-repeat: no-repeat;
        }

        .text {
            display: none;
        }

        .added_text {
            display: inline-block;
        }
    }
}

.pick_mix_header .instruction a.add_to_basket {
    .icon {
        left: 15px;
        top: 5px;
    }
}

.pop {
    position: absolute;
    z-index: 1200;
    width: 100%;

    .message {
        position: relative;
        padding: 10px;
        @include shadow-large;
        @include corner;
        background-color: $c_white;

        p, h6 {
            text-align: center;
        }

        .tick {
            width: 30px;
            height: 30px;
            margin: 0 auto 10px auto;
            display: block;
            background-image: url(https://www.hoch.media/web-assets/icons/icons_tick-white.svg);
            background-color: $c_good;
            border-radius: 50%;
            border: 1px solid $c_good;
        }

        .timer {
            font-weight: $fw_body_bold;
        }

        a.button {
            &.checkout_btn {
                background-color: $c_highlight;
                /*color: $c_base;*/
                /*border-color: darken($c_highlight, 10%);*/
                border-color: transparent;
                line-height: 1.3em;
                padding: 1em 1em;
                @include shadow();

                &:hover {
                    background-color: darken($c_highlight, 20%);
                    /*border-color: darken($c_highlight, 20%);*/
                    border-color: transparent;
                    @include shadow-none();
                }
            }
        }

        &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: $c_white;
            border-width: 10px;
            margin-left: -10px;
        }

        &:before {
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: lighten($c_base, 80%);
            border-width: 11px;
            margin-left: -11px;
        }
    }

    .out_of_stock {
        color: $c_bad;
    }

    .error_message {
        color: $c_bad;
    }
}
