﻿@import '../mixins/mixins_compiler.scss';


.address_container {

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        grid-gap: 10px;
    }

    @include desktop {
        grid-gap: 20px;
    }

    .address {
        margin-bottom: 20px;
        border: 1px solid $c_grey;
        background-color: $c_white;
        padding: 30px;
        text-align: left;
        position: relative;

        a {
            &.address_delete_button {
                position: absolute;
                top: 0;
                right: 0;
                height: 40px;
                width: 40px;
                text-indent: -9999px;
                background-color: transparent;
                background-image: url(https://www.hoch.media/web-assets/icons/icons_cross-grey.svg);
                background-size: 30px;
                background-position: center;
                background-repeat: no-repeat;
                border: none;
            }
        }

        .inner {
            @include tablet {
                margin: 0;
                display: grid;
                grid-template-rows: auto 43px;
                align-items: start;
                height: 100%;
            }

            .address_title {
                padding-right: 20px;
            }

            .customer_address {
                padding: 0 20px 10px 0;

                strong, span {
                    float: left;
                    width: 100%;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 0;
                        list-style: none;
                    }
                }
            }

            .make_default {
                .text_wrap {
                    display: block;
                    clear: both;
                    text-align: center;
                    color: $c_good;
                    text-decoration: none;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    border: 1px solid $c_good;
                    height: 42px;
                    @include corner();

                    .inner {
                        display: inline-block;
                        float: none;
                        width: auto;
                        height: 42px;
                        line-height: 42px;
                        @include clear();
                    }

                    .text {
                        display: inline-block;
                        height: 42px;
                        line-height: 42px;
                        float: left;
                    }

                    .icon {
                        float: left;
                        display: inline-block;
                        height: 30px;
                        width: 30px;
                        line-height: 42px;
                        margin: 5px;
                        border: 2px solid $c_white;
                        @include corner-round();
                        background: $c_good;
                        background-image: url(https://hoch.media/elements/icons/icons_tick-white.svg);
                    }
                }

                a:not([href]):not([tabindex]) {
                    margin: 0;
                    max-width: 100%;
                }
            }
        }
    }

    .add_address {
        display: grid;
        align-content: center;
        @include shadow();
        background-color: $c_grey_pale;
        color: $c_main;

        .plus_icon {
            width: 40px;
            height: 40px;
            background-image: url(https://www.hoch.media/web-assets/icons/icons_plus-grey.svg);
            background-repeat: no-repeat;
            display: block;
            margin: auto;
            background-size: 60px;
            background-position: center;
            margin-bottom: 10px;
        }

        .add_new_address {
            text-align: center;
            width: 100%;
            float: left;
        }

        &:hover {
            @include shadow-large();
            transform: scale(1.01);
            cursor: pointer;
        }

        &:focus {
            cursor: pointer;
            outline: none;
        }
    }
}

.address_wrap {

    ul {
        padding: 0;

        li {
            margin: 0;
            list-style: none;
        }
    }
}
