﻿@import '../mixins/mixins_compiler.scss';

.add_address_modal {
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    @include mw_medium();
    @include clear();

    h1 {
        margin-bottom: 10px;
    }

    input[type=submit] {
        margin-top: 20px;
    }
}

input[type=submit] {
    margin-top: 20px;
}


.add_address_form {
    label {
        &.required::after {
            color: $c_bad;
            content: '*';
        }
    }
}

.cant_find_address {
    margin-bottom: 20px;

    .plus_icon {
        width: 60px;
        height: 60px;
        background-image: url(https://www.hoch.media/web-assets/icons/icons_plus-grey.svg);
        background-repeat: no-repeat;
        display: block;
        margin: auto;
    }

    .add_new_card {
        text-align: center;
        width: 100%;
        float: left;
    }
}

.address_inputs {
    input[type]:not([type=button]):not([type=submit]) {
        &[readonly] {
            background-color: transparent;
            border: 1px dashed $c_good_light;

            &:hover, &:focus {
                border: 1px dashed $c_good_light;
                border-color: $c_good_light;
                cursor: default;
                outline: none;
            }
        }
    }
}
