﻿@import '../mixins/mixins_compiler.scss';

.has_timer_wrap {
    line-height: 1.5em;
    font-size: 1em;
    text-align: center;
    color: $c_white;
    background-color: $c_highlight;
    display: block;
    padding: 10px 10px 6px 10px;
    width: 100%;
    max-width: 100%;
    text-transform: uppercase;
    text-align: center;

    a {
        width: auto;
        margin: auto;
        float: none;
        display: inline-block;
        color: $c_white;

        .has_timer {
            display: inline-block;
            float: left;
            width: auto;

            .timer_text {
                margin: 0;

                .timer {
                    font-weight: $fw_body_bold;
                    animation-name: timer_animation;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    display: inline-block;
                }
            }
        }

        .timer_checkout_btn {
            display: inline-block;
            margin-left: 5px;
        }
    }
}

.timer_checkout_btn {
    display: none;
}

.timer_text {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 1em;
    float: left;
}


@keyframes timer_animation {
    0% {
        text-decoration: none;
    }


    50% {
        text-decoration: underline;
    }

    100% {
        text-decoration: none;
    }
}
