﻿@import '../mixins/mixins_compiler.scss';

/*CAROUSELS*/

.row_container {
    width: 100%;
    background-color: $c_white;
    border: 1px solid $c_grey_light;
    padding: 10px;
    @include shadow();
}

.owl-carousel {
    .owl-dots {
        text-align: center;

        .owl-dot {
            display: inline-block;
            zoom: 1;
            width: auto;
            margin: 0 auto;
            float: none;
            margin-top: 10px;
            text-align: center;
            border: none;

            &:hover, &:focus {
                background-color: transparent;
                border: none;
                outline: none;

                span {
                    background-color: $c_main_dark;
                }
            }

            span {
                width: 10px;
                height: 10px;
                margin: 5px 7px;
                background-color: $c_grey_light;
                display: block;
                -webkit-backface-visibility: visible;
                transition: opacity .2s ease;
                border-radius: 30px;
            }

            &.active {
                span {
                    background-color: $c_main_dark;
                }
            }
        }
    }

    .owl-nav {
        margin: 0 auto;
        clear: both;
        margin-top: 20px;
        @include clear();
        text-align: center;

        button.owl-prev, button.owl-next {
            width: 40px;
            height: 40px;
            display: inline-block;
            cursor: pointer;
            background-image: url(https://www.hoch.media/web-assets/icons/icons_arrow-left-white.svg);
            background-color: $c_main;
            text-indent: -9999px;
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            margin: 5px;

            &:hover {
                background-color: $c_main_dark;
            }

            &:active {
                transform: scale(0.9);
            }

            &.disabled {
                background-color: $c_grey_light;
            }

            &:focus {
                outline: none;
            }
        }

        button.owl-next {
            background-image: url(https://www.hoch.media/web-assets/icons/icons_arrow-right-white.svg);
        }
    }


    &.text_carousel {
        position: relative;
        width: 100%;
        display: inline-block;

        .owl-stage-outer {

            .owl-item:nth-child(1) a {

                @include tablet-small {
                    margin-left: 50px;
                }
            }
        }

        a {
            background-color: $c_white;
            border: 1px solid $c_grey;
            color: $c_base;
            padding: 10px;
            margin: 20px 5px;
            display: block;
            line-height: 40px;
            padding: 0 10px;
            @include corner-large();
            @include shadow();

            &:hover {
                @include shadow-none();
                text-decoration: none;
            }
        }


        .owl-nav {
            position: absolute;

            button {


                &.owl-prev, &.owl-next {
                    position: absolute;
                    background-color: $c_white;
                    border: 1px solid $c_grey;

                    @include shadow();
                    margin-top: -19px;
                    height: 80px;
                    width: 40px;

                    &:hover {
                        transform: scale(1);
                    }

                    &.disabled {
                        opacity: 0.5;
                        @include shadow-none();

                        &:active {
                            background-position: center;
                        }
                    }
                }

                &.owl-prev {
                    left: -33px;
                    left: 0;
                    margin-left: 0px;
                    background-image: url(https://www.hoch.media/web-assets/icons/icons_arrow-left-grey.svg);
                    @include corner-custom(0,80px,0,80px);

                    &:active {
                        background-position: -4px center;
                    }
                }

                &.owl-next {
                    right: -33px;
                    right: 0;
                    margin-right: 0px;
                    background-image: url(https://www.hoch.media/web-assets/icons/icons_arrow-right-grey.svg);
                    @include corner-custom(80px,0,80px,0);

                    &:active {
                        background-position: 10px center;
                    }
                }
            }
        }
    }

    &.rewind_show_carousel {
        @include desktop-small {
            width: calc(100% - 120px);
            margin-left: 60px;
            position: relative;
        }

        @include desktop {
            width: calc(100% - 160px);
            margin-left: 80px;
        }

        .owl-nav {
            margin: 0;

            button {
                margin: 0;
                position: absolute;
                top: 0;
                display: block;
                height: 100%;
                @include corner-none;

                @include desktop-small {
                    width: 60px;
                }

                @include desktop {
                    width: 70px;
                }

                &.owl-prev, &.owl-next {
                    background-color: $c_white;
                    opacity: 0.9;

                    &.disabled {
                        background-color: $c_rewind_light;

                        &:hover {
                            transform: scale(1);
                        }
                    }
                }

                &.owl-prev {
                    background-image: url(https://www.hoch.media/web-assets/icons/icons_arrow-left-grey.svg);

                    @include desktop-small {
                        left: -70px;
                    }

                    @include desktop {
                        left: -90px;
                    }
                }

                &.owl-next {
                    background-image: url(https://www.hoch.media/web-assets/icons/icons_arrow-right-grey.svg);

                    @include desktop-small {
                        right: -70px;
                    }

                    @include desktop {
                        right: -90px;
                    }
                }
            }
        }
    }
}
