﻿@import '../mixins/mixins_compiler.scss';


.checkout {
    .checkout_wrap {
        .checkout_summary {
            .container_wrap {
                grid-area: summary;
                padding: 10px 0;
                margin-bottom: 0;
                -webkit-border-radius: 20px;
                -webkit-border-bottom-right-radius: 0px;
                -webkit-border-bottom-left-radius: 0px;
                -moz-border-radius: 20px;
                -moz-border-radius-bottomright: 0px;
                -moz-border-radius-bottomleft: 0px;
                border-radius: 20px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;

                @include tablet-small {
                    padding: 10px 0;
                }

                @include tablet {
                    padding: 10px 0;
                }

                @include desktop-small {
                    padding: 10px;
                }

                h5 {
                    text-align: center;
                    font-weight: $fw_heading_bold;
                }

                .basket_product_wrap {
                    background-color: $c_white;
                    border-bottom: 1px solid $c_grey_light;

                    @include desktop-small {
                        border-left: 1px solid $c_grey_light;
                        border-right: 1px solid $c_grey_light;
                    }

                    &:nth-of-type(odd) {
                        background-color: $c_grey_pale;
                    }

                    &:nth-of-type(1) {
                        border-top: 1px solid $c_grey_light;
                    }
                }

                .basket_product {
                    background-color: transparent;
                    padding-bottom: 0;
                    width: 100%;
                    margin: 0;
                    grid-column-gap: 10px;
                    grid-template-columns: 75px auto;
                    grid-template-areas: "image title" "image sku" "image price_wrap";
                    border: none;

                    @include tablet-small {
                        grid-column-gap: 10px;
                        grid-template-columns: 75px auto;
                        grid-template-areas: "image title" "image sku" "image price_wrap";
                        border: none;
                        padding: 10px;
                    }

                    @include tablet {
                        grid-column-gap: 10px;
                        grid-template-columns: 75px auto;
                        grid-template-areas: "image title" "image sku" "image price_wrap";
                        border: none;
                        padding: 10px;
                    }

                    @include desktop-small {
                        grid-column-gap: 10px;
                        grid-template-columns: 75px auto;
                        grid-template-areas: "image title" "image sku" "image price_wrap";
                        border: none;
                        padding: 10px;
                    }

                    &:nth-of-type(odd) {
                        background-color: transparent;
                    }

                    &:nth-of-type(1) {
                        border: none;
                    }

                    .price_wrap {
                        grid-area: price_wrap;

                        .price {
                            font-size: 1em;

                            .was {
                                font-size: 0.8em;
                            }

                            @include tablet-small {
                                span {
                                    float: left;
                                    clear: none;
                                }
                            }

                            @include desktop {
                                .now {
                                    font-size: 1.1em;
                                }
                            }
                        }
                    }
                }

                .has_flexibuy {
                    background-color: $c_flexibuy;
                    color: $c_white;
                    padding: 10px 0 3px 10px;

                    .image img {
                        float: left;
                        width: 100px;
                    }

                    .text {
                        float: left;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}
