﻿@import "../mixins/mixins_compiler";

.homepage .hp_hero,
.cpd_container {
    .hp_hero_prod.hp_hero_cpd {
        background-color: $c_auction;
        text-align: center;

        h4 {
            background-color: $c_auction;
            padding-left: 10px;
            padding-right: 10px;
        }

        h3, .sku {
            color: $c_white;
        }

        .auction {
            &__logo {
                margin: 9px 0 16px 0;
            }

            &__price_container {
                background-color: $c_auction_dark;
                width: 90%;
                float: right;
                color: $c_white;
                @include corner();
                text-transform: uppercase;
                margin: auto;
                float: none;
                @include clear();
                clear: both;
            }


            &__price_wrap,
            &__qty_wrap {
                font-family: $f_heading;
                font-size: 0.9em;

                @include desktop-large {
                    padding: 7px 0;
                }

                &.now {
                    background-color: $c_white;
                    color: $c_main;
                    font-size: 1.2em;
                    width: 110%;
                    margin: 0px 0 0px -5%;
                    padding: 6px 0 7px 0;
                    border: 2px solid $c_base;
                    line-height: 1.5em;
                    @include shadow();
                    @include corner-large();

                    .auction__price__label {
                        font-weight: $fw_heading_bold;
                        color: $c_base;
                    }

                    .auction__price {
                        font-size: 1.5em;
                    }
                }
            }

            &__price {
                font-weight: $fw_heading_bold;
            }

            &__price__label,
            &__qty_wrap {
            }

            &__qty {
                font-weight: $fw_heading_bold;
            }
        }

        .wrap {
            position: relative;
            height: 100%;
            overflow: hidden;
        }
    }


    .auction__end {
        @include gradient($c_auction,0%,$c_auction_dark,100%,180deg);
        padding: 34px 10px 34px 10px;
        float: left;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @include desktop-large {
            padding: 58px 10px 58px 10px;
        }

        .logo {
            padding: 9px 0 19px 0;
            margin: 0 auto;
            background: transparent;
            width: 80%;
            float: none;
            height: auto;
            max-width: 280px;
        }

        .cheverons {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            padding-bottom: 77%;
            -webkit-animation: slide 10s linear infinite;
            animation: slide 10s linear infinite;
        }

        &__price {
            color: $c_white;
            width: 100%;
            float: left;
            text-align: center;
            font-size: 1em;
            line-height: 1.3em;

            strong {
                width: 100%;
                display: block;
                font-size: 2em;
                line-height: 1em;
                font-family: $f_heading;
            }
        }
    }

    .auction__wait {
        display: grid;
        align-items: center;
        height: 100%;

        .inner {
            align-self: center;
            padding: 46px 0;

            @include desktop {
                padding: 53px 0;
            }

            @include desktop-large {
                padding: 68px 0;
            }
        }

        .logo {
            padding: 9px 0 19px 0;
            margin: 0 auto;
            background: transparent;
            width: 80%;
            float: none;
            height: auto;
            max-width: 280px;
        }

        .message {
            color: $c_white;
            width: 100%;
            float: left;
            text-align: center;
            font-size: 1em;
            line-height: 1.3em;
        }
    }
}

@-webkit-keyframes slide {
    from {
        -webkit-transform: translateY(-100%);
    }

    to {
        -webkit-transform: translateY(0%);
    }
}
