﻿@import '../mixins/mixins_compiler.scss';

.expiring_basket_modal,
.expired_basket_modal,
.empty_basket_modal {
    background-color: $c_white;
    padding: 20px;
    @include mw_medium();
    @include corner-large();
    @include clear();

    .more_time {
        h6 {
            text-align:center;
            margin:0;
            padding:0;
        }
        p{
            margin-top:10px;
            margin-bottom:10px;
        }
    }
}

.expiring_basket_modal {
    h1 {
        margin: 0;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .divider_line {
        border-top: 2px solid $c_main;
        width: 50px;
        display: block;
        margin: 0 auto;
        float: none;
        display: table;
    }

    .icon {
        width: 100%;
        max-width: 100px;
        margin: 0 auto;
        float: none;
        @include clear();
    }

    p {
        text-align: center;
        margin: 30px 0 0 0;
    }

    button {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
    }
}

.expired_basket,
.empty_basket {
    .content {
        h1 {
            margin-top: 15px;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            margin-bottom: 0px;
            margin-top: 30px;
        }

        .divider_line {
            border-top: 2px solid $c_main;
            width: 50px;
            display: block;
            margin: 0 auto;
            float: none;
            display: table;
        }

        .icon {
            width: 100%;
            max-width: 100px;
            margin: 0 auto;
            float: none;
            @include clear();
        }

        .actions {
            margin-top: 30px;

            .restore {
                button {
                    max-width: 300px;
                    width: 100%;
                    margin: 0 auto;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
            }

            .shopping {
                text-align: center;
            }
        }

        .button {
            @include mw_small();
        }
    }
}
