﻿@import '../mixins/mixins_compiler.scss';


.flexi_payments {
    margin-bottom: 20px;
    background-color: $c_flexibuy;
    padding: 10px 4px 4px;

    .logo {
        width: 60%;
        max-width: 150px;
        margin: 0 auto 10px auto;
        float: none;

        @include tablet-small {
            margin: 0 0 0 3px;
            float: left;
        }
    }

    p {
        text-align: center;
        color: $c_white;

        @include tablet-small {
            float: right;
            width: auto;
            margin: 0 3px 0 0;
            line-height: 40px;
        }
    }

    &__table {
        padding: 1px;

        @include tablet-small {
            width: 100%;
            margin: 10px 0 0 0px;
            padding: 0 1px 1px 1px;
            background-color: $c_flexibuy;
        }

        .header,
        .details {
            background-color: $c_flexibuy;
            border: 1px solid $c_flexibuy;
            margin-bottom: 4px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1px;
            grid-template-areas: "due status amount" "card card view";

            @include tablet-small {
                padding: 1px 0 0 0;
                margin: 0;
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: " due card card amount status view";
            }

            .item {
                text-align: center;
                background-color: $c_white;
                padding: 4px 0;

                &.view {
                    grid-area: view;

                    a {
                        font-family: $f_heading;
                        font-weight: $fw_heading_bold;
                        text-transform: uppercase;
                        font-size: 1em;
                        float: none;
                        margin: auto;
                        width: 100%;
                        height: 100%;
                        line-height: 38px;
                        background-color: transparent;
                        border: none;
                        color: $c_base;

                        @include tablet-small {
                            height: 3rem;
                            line-height: 3rem;
                        }

                        &:hover {
                            color: $c_flexibuy;
                        }
                    }
                }

                &.due {
                    grid-area: due;

                    span {
                        font-weight: $fw_body_bold;
                    }
                }

                &.status {
                    grid-area: status;
                    font-style: italic;
                }

                &.use_card {
                    grid-area: card;
                }

                &.amount {
                    grid-area: amount;

                    span {
                        font-weight: $fw_body_bold;
                    }
                }
                /*&.pay {
                    grid-area: pay;
                    display: none;
                }*/
                label, span {
                    width: 100%;
                    margin: 0;
                    display: block;
                }

                label {
                    text-transform: uppercase;
                    line-height: 1.2em;

                    @include tablet-small {
                        display: none;
                    }
                }

                span {
                    /*background-color: $c_grey_light;*/
                    font-weight: $fw_body_bold;

                    @include tablet-small {
                        font-weight: $fw_body_light;
                        line-height: 3rem;
                    }
                }
            }
        }

        .header {
            display: none;

            @include tablet-small {
                display: grid;

                .item {
                    /*font-weight: $fw_body_bold;*/
                    text-transform: uppercase;
                    background-color: $c_flexibuy_dark;
                    color: $c_white;
                }
            }
        }
    }
}
