﻿@import '../mixins/mixins_compiler.scss';

.header_sales_strip_wrap {
    line-height: 1.5em;
    font-size: 0.7em;
    text-align: center;
    color: #ffffff;
    background-color: #000;
    float: left;
    display: block;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    text-transform: uppercase;

    @include tablet {
        font-size: 1em;
    }

    .header_sales_strip {
        max-width: 1200px;
        margin: 0 auto;
        float: none;

        a {
            color: #ffffff;

            &:hover {
                border: none;
                text-decoration: none;
            }
        }
    }
}

/*Browser Not Supported - Internet explorer fallbacks*/

@include ms {
    .unsupported_browser {
        display: block !important;

        .browser_message_wrap {
            padding: 10px;

            .browser_links {
                float: none;
                width: 650px;
                margin: 0 auto;
                margin-top: 20px;
                @include clear ();

                a.button {
                    clear: none;
                    max-width: 150px;
                    width: 22%;
                    float: none;
                    display: inline-block;
                    color: $c_base;
                    border: none;
                    background-color: $c_white;

                    &:hover {
                        background-color: $c_grey_light;
                        /*color: $c_white;*/
                    }
                }
            }
        }
    }
}
