﻿@import '../mixins/mixins_compiler.scss';

.spinner {
    position: absolute;
    display: block;
    height: 100%;
    float: left;
    width: 100%;
    z-index: 1000;
    left: 0;
    right: 0;
}

.modal {
    .spinner {
        z-index: 1100;
    }
}

.loading_container {
    height: 300px;
}

.loader {
    border: 12px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top-color: $c_head_dark;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    float: none;

    &__wrap {
        height: 100%;
        width: 100%;
        top: 100px;
        position: absolute;
    }
}

.fp_loading_modal {
    .loader {
        margin: 0 auto;
        border: 12px solid rgba(0, 0, 0, 0.4);
        border-top-color: $c_white;

        &__wrap {
            height: 100vh;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
/*inverted*/
.show_details {
    .loader {
        margin: 0 auto;
        border: 12px solid rgba(255, 255, 255, 0.2);
        border-top-color: $c_white;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
