﻿@import '../mixins/mixins_compiler.scss';

/*LOGIN*/


.recapture_placeholder {
    width: 100%;
    height: 86px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.section_background_img {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @include desktop-small {
        /*padding-top: 100px;*/
    }
}

.login_box {
    max-width: 400px;
    margin: auto;
    float: none;
    padding: 30px 10px;

    @include desktop-small {
        padding-top: 100px;
    }


    @include desktop-small {
        max-width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
    }

    input {
        margin: 0 0 10px 0;

        &[type=checkbox] {
            width: auto;
        }

        &[type=submit] {
            margin: 10px 0;
        }
    }

    .emailMarketing4th {
        margin: 10px 0;
    }

    h2 {
        font-size: 2em;
        text-align: center;
        font-family: $f_heading;
        font-weight: $fw_heading_bold;
        /*font-weight: $fw_body_bold;*/
        color: $c_head;
        line-height: 1.4em;
        margin-bottom: 0;
    }

    a {
        color: $c_main;
        /*padding: 10px 0;*/
    }

    .welcome_back_login {
        background-color: $c_white;
        padding: 10px 20px;
        text-align: center;
        @include corner-large();
        @include clear;
        @include shadow-large();
        z-index: 1;

        @include tablet {
            padding: 20px 40px 30px 40px;
        }

        a {
            @include tablet {
                margin-top: 10px;
                width: 100%;
                float: left;
            }
        }
    }

    .validationError {
        ul {
            padding: 0;
            margin: 0;
        }

        li {
            color: $c_bad;
            border: 1px solid $c_bad;
            padding: 5px;
            margin-bottom: -1px;
        }
    }

    .new_to_hochanda {
        text-align: center;
        margin: auto;
        float: none;
        max-width: calc(100% - 40px);
        background-color: $c_head;
        -webkit-border-bottom-right-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-bottomright: 20px;
        -moz-border-radius-bottomleft: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 10px 20px;
        clear: both;
        @include clear();

        @include shadow-large();
        z-index: 0;

        @include desktop-small {
            clear: none;
            float: right;
            max-width: 100%;
            -webkit-border-top-right-radius: 20px;
            -webkit-border-bottom-right-radius: 20px;
            -webkit-border-bottom-left-radius: 0px;
            -moz-border-radius-topright: 20px;
            -moz-border-radius-bottomright: 20px;
            -moz-border-radius-bottomleft: 0px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 0px;
            padding: 20px 40px 30px 40px;
        }




        h2 {
            color: $c_white;
            margin: 0 0 10px 0;
            padding: 0;
            font-size: 1.4em;
            line-height: 1.4em;

            @include tablet {
                margin: 0;
                font-size: 2em;
            }
        }

        p {
            color: $c_white;
            text-align: center;
            font-size: 13px;
            display: none;
            padding: 0 20px;

            @include tablet {
                display: block;
            }
        }

        .login_icon {
            float: none;
            width: 90px;
            display: none;

            @include tablet {
                display: inline-block;
            }
        }

        a {
            color: $c_white;
        }

        .button {
            background-color: transparent;
            border-color: $c_white;
        }
    }
}

/*was for google captcha - removed for invisible captcha*/
/*.ng-isolate-scope {
    position: relative;
    max-width: 304px;
    height: 78px;
    margin: auto;
    float: none;
    clear: both;
    display: block;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform-origin: left;
    -webkit-transform-origin: left;

    @include phablet {
        transform-origin: center;
        -webkit-transform-origin: center;
    }


    & > div {
        position: absolute;
    }
}*/
