﻿@import '../mixins/mixins_compiler.scss';

.acc_content_my_payments {

    h1 {
        margin-bottom: 20px;
    }

    .billing_options_wrap {
        p {
            text-align: center;
        }

        ul.selected_address {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin: 0;
            }
        }

        .btn_wrap {
        }
    }

    .my_details & .inner_wrap {
        padding: 0;
    }

    .box_container {
        margin-bottom: 40px;
        display: grid;
        grid-row-gap: 20px;

        @include tablet-small {
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 0px;
            grid-column-gap: 20px;
        }
    }

    .box_wrap {
        border: 1px solid $c_grey_light;

        .inner_wrap {
            padding: 20px;

            span {
                float: left;
                clear: both;
            }

            button {
                background: transparent;
                border: none;
                color: $c_main;
                text-transform: none;
                font-size: 1em;
                padding: 0;
                text-decoration: underline;
                margin: 0;
                line-height: 2em;
                margin-top: 10px;
                float: left;

                &.inner {
                    &__add {
                        clear: none;
                        padding-left: 10px;
                        margin-left: 10px;
                        border-left: 1px solid $c_grey_light;
                        @include corner-none();
                    }
                }
            }
        }
    }

    .button {
        margin: 20px 0;
    }
}

.new_card_container {
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }


    .payment_box {
        border: 1px solid $c_grey;
        background-color: $c_white;
        margin-bottom: 30px;
        padding: 30px;
        position: relative;

        ul {
            padding-left: 0;

            li {
                list-style: none;
                margin:0;
            }
        }

        .hide {
            display: none;
        }

        @include tablet {
            margin-bottom: 0;
        }

        .payment_button_delete {
            position: absolute;
            top: 5px;
            right: 5px;
            background-image: url(https://www.hoch.media/web-assets/icons/icons_cross-grey.svg);
            background-repeat: no-repeat;
            display: block;
            height: 28px;
            width: 28px;
        }

        .default_card_wrap {
            color: $c_bad;
        }

        .button {
            margin: 20px 0 0 0;
        }

         
        .card_brand {
            margin: 0;

            @include desktop {
                width: 50%;
            }
        }

        .expiry_date {
            @include desktop {
                float: left;
                width: 50%;
            }
        }

        .title {
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight:$fw_body_bold;

        }

        .card_last4 {
            margin: 0;

            @include desktop {
                width: 50%;
            }
        }

        .small_print {
            border-top: 1px solid $c_grey_light;
            padding-top: 10px;
            margin: 20px 0;

            p {
                font-size: 0.8em;
                line-height: 1.6em;
            }
        }

        .make_default {
            color: $c_bad;
            text-align: left;
            text-transform: uppercase;
        }


        .text_wrap {
            display: block;
            clear: both;
            text-align: center;
            color: $c_good;
            text-decoration: none;
            font-size: 12px;
            text-transform: uppercase;
            padding: 0 10px;
            border: 1px solid $c_good;
            height: 42px;
            @include corner();

            .inner {
                display: inline-block;
                float: none;
                width: auto;
                height: 42px;
                line-height: 42px;
                @include clear();
            }

            .text {
                display: inline-block;
                height: 42px;
                line-height: 42px;
                float: left;
            }

            .icon {
                float: left;
                display: inline-block;
                height: 30px;
                width: 30px;
                line-height: 42px;
                margin: 5px;
                border: 2px solid $c_white;
                @include corner-round();
                background: $c_good;
                background-image: url(https://hoch.media/elements/icons/icons_tick-white.svg);
            }
        }

        a:not([href]):not([tabindex]) {
            margin: 0;
            max-width: 100%;
        }


        .is_default {
            color: $c_white;
            text-align: left;
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 0;
            line-height: 30px;
            background: $c_good;
            width: 100%;

            .icon {
                background-image: url(https://www.hoch.media/web-assets/icons/icons_tick-white.svg);
                background-repeat: no-repeat;
                display: inline-block;
                height: 30px;
                width: 30px;
            }
        }
    }

    .payment_box_other {
        background-color: $c_white;
    }


    .add_new_card_wrap {
        text-align: center;
        align-items: center;
        align-content: center;
        display: grid;
        @include shadow();
        background-color: $c_grey_pale;
        color: $c_main;

        .plus_icon {
            width: 40px;
            height: 40px;
            background-image: url(https://www.hoch.media/web-assets/icons/icons_plus-grey.svg);
            background-repeat: no-repeat;
            display: block;
            margin: auto;
            background-size: 60px;
            background-position: center;
            margin-bottom: 10px;
        }

        &:hover {
            @include shadow-large();
            transform: scale(1.01);
            cursor: pointer;
        }

        &:focus {
            cursor: pointer;
            outline: none;
        }
    }

    .add_new_card_modal {
        padding: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        @include mw_medium();
        @include clear();
    }

    .add_new_address {
        text-align: center;
    }

    .default_tick_icon {
        background-image: url(https://www.hoch.media/web-assets/icons/tick-green.svg);
        background-repeat: no-repeat;
        display: block;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 5px;
    }
}
