﻿
@import '../mixins/mixins_compiler.scss';


.nav_accordion {
    ul {
        padding: 0;

        li {
            list-style-type: none;

            .hello {
                transition: background .3s ease;
                text-transform: none;
            }

                .hello.is_it_me_youre_looking_for {
                    background-color: $c_head_dark;
                    color: $c_white;
                }
        }

        &.sidenav_nav_cat,
        &.sidenav_nav_cat li {
            margin: 0;
            padding: 0;
        }

        .inner_nav {
            overflow: hidden;
            display: none;
        }
    }


        ul li ul li .voices {
            border-bottom: 2px solid $c_head;
        }

        ul.inner_nav.voices a,
        ul li ul li .hello {
            color: $c_base;
            text-transform: none;
        }

        ul li .voices li a,
        ul li .voices li span {
            padding: 12px 20px;
        }

            ul li .voices li a.view_all_cat {
                font-weight: $fw_body_bold;
                text-transform: uppercase;
            }



        ul ul li .hello.is_it_me_youre_looking_for {
            background-color: $c_white;
            color: $c_head;
            border-left: 10px solid $c_head;
        }

        ul ul a,
        ul ul li .hello {
            border-bottom: 1px solid $c_grey_light;
        }


            ul ul a:hover,
            ul ul span:hover {
                background-color: rgba(0, 0, 0, .08);
            }

        ul ul span.hello {
            background-image: url(https://hoch.media/elements/icons/icons_plus-grey.svg);

            &.is_it_me_youre_looking_for {
                background-image: url(https://hoch.media/elements/icons/icons_minus-grey.svg);
            }
        }


        ul ul ul.inner_nav.voices {
            background-color: rgba(0,0,0,0.04);
        }

    a,
    span {
        &:hover {
            background-color: $c_head_dark;
        }
    }

    a, ul li .hello {
        padding: 18px 20px;
        text-decoration: none;
        color: $c_white;
        display: block;
        line-height: 1.2em;
        height: auto;
        text-align: left;
        border-bottom: 1px solid $c_head_light;
        cursor: pointer;
        text-transform: initial;
    }

    &.open {
        width: 100%;
        right: 0;
    }




    .voices {
        background: $c_white;
        color: $c_base;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }

    span.hello {
        background-image: url(https://hoch.media/elements/icons/icons_plus-white.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: right 10px center;

        &.is_it_me_youre_looking_for {
            background-image: url(https://hoch.media/elements/icons/icons_minus-white.svg);
        }
    }
}
