﻿@import '../mixins/mixins_compiler.scss';

/*MODALS*/

.fade {
    opacity: 0.99;
    background-color: rgba(8, 2, 85, 0.95);
}


.modal_btn {
    margin: 0 auto;
    background-color: $c_craft;
}


.modal {
    /*padding: 10px;*/
    .modal-dialog {
        max-width: 100%;
        float: none;
        display: block;
        padding: 5px;
        margin: 40px 0 0px 0px;
        width: 100%;
        height: calc(100vh - 50px);
        @include clear();

        @include tablet {
            padding: 50px;
        }

        @include desktop {
            margin: 0 auto;
            margin-top: 20px;
            float: none;
            /*width: max-content;*/
        }

        .modal-content {
            background-color: transparent;

            .close {
                opacity: 0.99;
                margin: 0px 0 20px 0;
                margin: -50px 0px 0 0;
                background-repeat: no-repeat;
                height: 40px;
                width: 40px;
                background-position: center right;
                background-image: url(https://hoch.media/web-assets/icons/icons_cross-white.svg);
                background-size: 30px;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                text-indent: -9999px;
                z-index: 100;

                &:hover {
                    background-color: transparent;
                    border: none;
                }
            }

            .modal-header {
                opacity: 0.99;
                background-color: rgba(8, 2, 85, 0.95);
                display: none;
            }

            .modal-body {
                padding: 0;
                background-color: transparent;
                width: auto;

                .white_background {
                    background-color: $c_white;
                }
            }
        }

        .modal-footer {
            opacity: 0.99;
            background-color: transparent;
            border: none;

            button {
                margin: 0 auto;
                background-color: transparent;
                pointer-events: auto;
                border: 1px solid $c_white;

                &:hover {
                    background-color: $c_white;
                    color: $c_head;
                }
            }
        }
    }

    .quick_look_container {
        @include mw_normal();
        @include clear();

        .product_info {


            .image_wrap {
                border-right: 1px solid $c_grey_light;

                @include tablet {
                    float: left;
                    width: 60%;
                }

                .image {
                    height: auto;
                    border: 1px solid $c_white;

                    img {
                        width: 100%;
                    }

                    .flexi_sash,
                    .freedom_sash {
                        width: 30%;
                        position: absolute;
                        max-width: 90px;
                        z-index: 1;
                        top: 0px;
                    }

                    .flexi_sash {
                        right: 0px;
                    }

                    .freedom_sash {
                        left: 0px;
                    }
                }

                .owl-nav {
                    margin: 0;

                    .owl-prev,
                    .owl-next {
                        margin-top: 50%;
                        margin-left: 2px;
                        margin-right: 2px;
                        height: 80px;
                        width: 40px;
                        background-color: $c_grey;
                        top: calc(50% - 40px);
                        display: block;
                        background-repeat: no-repeat;
                        background-position: center;
                        position: absolute;
                        border: none;
                        opacity: 0.8;

                        span {
                            display: none;
                        }

                        &:hover {
                            background-color: $c_white;
                        }

                        &:active {
                            transform: scale(1);
                        }

                        &:focus {
                            outline: none;
                        }

                        &.disabled {
                            background-color: $c_grey_light;
                        }
                    }

                    .owl-prev {
                        left: -1px;
                        background-image: url(https://hoch.media/web-assets/icons/icons_arrow-left-black.svg);
                        -webkit-border-top-right-radius: 80px;
                        -webkit-border-bottom-right-radius: 80px;
                        -moz-border-radius-topright: 80px;
                        -moz-border-radius-bottomright: 80px;
                        border-top-right-radius: 80px;
                        border-bottom-right-radius: 80px;

                        &.disabled {
                            background-image: url(https://hoch.media/web-assets/icons/icons_arrow-left-white.svg);
                        }
                    }

                    .owl-next {
                        right: -1px;
                        background-image: url(https://hoch.media/web-assets/icons/icons_arrow-right-black.svg);
                        -webkit-border-top-left-radius: 80px;
                        -webkit-border-bottom-left-radius: 80px;
                        -moz-border-radius-topleft: 80px;
                        -moz-border-radius-bottomleft: 80px;
                        border-top-left-radius: 80px;
                        border-bottom-left-radius: 80px;

                        &.disabled {
                            background-image: url(https://hoch.media/web-assets/icons/icons_arrow-right-white.svg);
                        }
                    }
                }
            }

            .information {
                height: auto;
                text-align: center;
                display: block;
                padding: 5px;
                background-color: $c_white;

                @include tablet {
                    float: right;
                    width: 40%;
                    padding: 15px;
                }

                @include desktop {
                    margin-top: 40px;
                }

                h3.name {
                    font-size: 1.2em;
                    margin-bottom: 0px;
                }

                .ratings_wrap {
                    background-color: $c_white;
                    width: 100%;
                    max-width: 160px;
                    margin: 0 auto;
                    border-top-left-radius: 0px;
                    position: static;
                    float: none;
                    padding: 10px 0 10px 0;

                    .grey_stars {
                        margin-top: 3px;
                    }


                    @include tablet {
                        float: left;
                    }
                }



                .flexibuy_info {
                    p {
                        text-align: center;
                        color: $c_flexibuy;

                        @include tablet {
                            text-align: left;
                        }
                    }
                }

                .freedom_info {
                    p {
                        text-align: center;
                        color: $c_freedom;

                        @include tablet {
                            text-align: left;
                        }
                    }
                }

                .variations {
                    select.ng-hide.ng-pristine.ng-valid.ng-not-empty.ng-touched {
                        display: block;
                    }
                }



                .sku {
                    width: 100%;
                    text-align: center;
                    margin: 0px 0 0em 0;

                    @include tablet {
                        text-align: left;
                    }
                }

                .name {
                    width: 100%;
                    text-align: center;
                    text-transform: capitalize;
                    line-height: 1.5em;
                    font-size: 1em;
                    border-bottom: none;

                    @include tablet {
                        text-align: left;
                    }
                }

                .price {
                    display: block;
                    font-size: 2em;
                    font-weight: $fw_body_bold;
                    margin: 25px 0 30px 0;
                    padding: 28px 0 25px 0px;
                    border-top: 1px solid $c_grey_light;
                    border-bottom: 1px solid $c_grey_light;

                    @include tablet {
                        text-align: left;
                    }

                    .original_price {
                        font-size: 1.3rem;
                        font-weight: $fw_body_light;
                        color: $c_base;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }

    .modal_login {
        .modal-dialog {
            max-width: 600px;

            .modal-content {

                .modal-body {
                    background: transparent;
                    width: 100%;
                    margin: 0 auto;

                    @include desktop {
                        width: 100%;
                    }

                    .modal_login {
                        @include clear ();

                        .login_box {
                            display: block;
                        }

                        .welcome_back_login {
                            width: 100%;

                            @include desktop {
                                margin-bottom: 0px;
                            }
                        }

                        .new_to_hochanda {
                            width: 90%;
                            margin: 0 auto;
                            float: none;
                            background-color: red;
                            -webkit-border-bottom-right-radius: 20px;
                            -webkit-border-bottom-left-radius: 20px;
                            -moz-border-radius-bottomright: 20px;
                            -moz-border-radius-bottomleft: 20px;
                            border-bottom-right-radius: 20px;
                            border-bottom-left-radius: 20px;

                            .text_wrap {
                                color: $c_white;
                            }
                        }
                    }
                }
            }

            .modal-footer {
                border: none;
            }
        }
    }

    .add_voucher {
        background-color: $c_white;
        padding: 20px;
        @include mw_medium();
        @include corner-large();
        @include clear();
    }

    .social_share {
        background: $c_white;
        @include corner-large();
        padding: 20px;
        @include mw_medium();
        @include clear();

        h4 {
            margin: 0;
            text-align: center;
            padding: 20px;
        }

        .button {
            width: 100px;
            /*margin: auto;*/
            float: right;
            clear: none;
        }

        .email {
            input {
                width: calc(100% - 110px);
                float: left;
                display: inline-block;
            }
        }



        .icon_tabs_social {
            float: none;
            @include clear;
            margin: auto;
            border-top: 2px solid $c_grey;
            border-bottom: 2px solid $c_grey;
            text-align: center;

            .social_placer_box {
                background-color: red;
                width: 50px;
                height: 50px;
                background-image: url(https://hoch.media/elements/icons/icons_cross-white.svg);
                background-repeat: no-repeat;
                background-position: center;
                border: 1px solid $c_white;
                margin: 0 5px;
                background-size: contain;
                float: none;
                display: inline-block;

                &.active {
                    transform: scale(1.2);
                }

                &.twitter {
                    margin-bottom: 20px;
                    background-image: url(https://www.hoch.media/web-assets/dummy-test-images/Twitter_Social_Icon_Square_Color.png);
                }

                &.facebook {
                    margin-bottom: 20px;
                    background-image: url(https://www.hoch.media/web-assets/dummy-test-images/flogo_RGB_HEX-114.png);
                }
            }
        }


        .share_box {

            &.twitter {
                border-color: $c_freedom;
            }

            &.facebook {
                border-color: $c_head;
            }
        }

        p {
            text-align: center;
        }

        h1 {
            margin: 0;
        }
    }

    .postcode_wrap {
        background-color: $c_white;
        padding: 20px;
        @include mw_normal();
        @include corner-large();
        @include clear();

        .button {
            margin: 20px 0 0 0;
        }

        .address_container {
            grid-auto-rows: auto;
        }
    }

    .select_address {
        background-color: $c_white;
        padding: 20px;
        @include mw_normal();
        @include corner-large();
        @include clear();
    }

    .new_card_container {
        background-color: $c_white;
        padding: 20px;
        @include mw_normal();
        @include corner-large();
        @include clear();

        h1 {
            grid-column: 1/3;
        }
    }

    .freedom_holiday__activate {
        background: $c_white;
        @include corner-large();
        padding: 20px;
        @include mw_medium();
        @include clear();

        .button {
            @include mw_small();
            width: 100%;
        }

        .note {
            font-size: 0.8em;
            font-style: italic;
        }
    }

    .login_only {
        background-color: $c_white;
        @include corner-large();
        @include clear();
        @include mw_medium();
        padding: 20px;
    }

    .welcome_back_login {
        /*max-width: 400px;*/
        margin: 0 auto;
        float: none;

        .no_acc {
            display: block;
            border-top: 1px solid $c_grey_light;
            padding-top: 20px;
            margin-top: 20px;

            h6 {
                text-align: center;
            }

            a.button {
                color: $c_base;
                background-color: transparent;
                width: auto;

                &:hover {
                    background-color: $c_grey_pale;
                }
            }
        }
    }

    .login_favourites {
        h1 {
            margin: 0;
        }

        p {
            text-align: center;
        }

        .welcome_back_login {
            h1 {
                display: none;
            }
        }
    }

    .variation_selector {
        background-color: $c_white;
        padding: 20px;
        @include mw_medium();
        @include corner-large();
        @include clear();
    }
}




/*Internet explorer fallbacks*/

@include ms {

    .login_box {
        .welcome_back_login {
            .form {
                input {
                    padding: 5px 0px 25px 5px;
                    border-radius: 4px;
                }

                    input[type=submit] {
                        margin: 0px 0;
                        padding-bottom: 0px;
                    }
            }
        }
    }

    .variations {
        select {
            padding: 10px;
        }
    }
}

/*END MODALS*/
