﻿@import '../mixins/mixins_compiler.scss';

.order_summary {
    @include mw_medium();
    float: right;
    padding: 20px 0;

    &__row {
        float: left;
        padding: 20px;

        &.sub_total,
        &.delivery,
        &.tax,
        &.discount {
            border-bottom: 1px solid $c_grey_light;
        }

        .pre_tax {
            font-size: 1rem;
        }
    }

    &__label, &__value {
        width: auto;

        &.total {
            font-size: 1.4em;
        }
    }

    &__value {
        float: right;
        font-weight: $fw_body_bold;
        text-transform: uppercase;
        font-weight: $fw_body_bold;
    }

    .message {
        color: $c_grey;
        font-style: italic;
    }

    a.voucher_toggle {
        width: 100%;
        margin: 0;
        background: transparent;
        color: $c_base;
        border-color: $c_grey_light;
        text-align: center;
        height: 40px;
        @include corner-none();
        @include clear;

        .icon, .text {
            display: inline-block;
            float: left;
        }

        .icon {
            height: 40px;
            width: 40px;
            background-image: url(https://www.hoch.media/web-assets/icons/icons_plus-grey.svg);
            background-size: 24px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .agree_tc {
        text-align: right;
    }

    .about_flexi {
        float: right;
        color: $c_base;
        font-size: 0.8em;
    }

    .flexiorder_tc {
        font-size: 0.8em;
        line-height: 1.6em;
    }

    .flexiorder_wrap {
        background-color: $c_flexibuy;
        padding: 10px 10px 4px 10px;
        margin-bottom: 20px;

        .header {
            .logo {
                width: 211.16px;
                margin: 0 auto 5px auto;
                float: none;

                @include tablet {
                    float: left;
                }
            }

            .check {
                margin: auto;
                line-height: 28px;
                text-align: center;
                display: inline-block;
                float: none;

                @include tablet {
                    float: right;
                    width: auto;
                    line-height: 40px;
                }
            }

            .styled-checkbox {
                & + label {
                    margin: 0 40px 6px 0;
                    color: $c_white;
                    float: none;
                    width: auto;
                }

                    & + label:before {
                        background-color: #ffffff;
                        right: -50px;

                        @include tablet {
                            margin-top: 6px;
                        }
                    }

                &:checked + label:before {
                    background-color: $c_flexibuy_dark;
                }
            }
        }

        .fob_instalment {
            &__wrap {
                margin: 0 0 6px 0;
            }

            &__row {
                display: grid;
                grid-template-columns: auto 90px;
                grid-gap: 3px;
                margin-bottom: 3px;

                &:nth-last-child(1) {
                    margin: 0;
                }
            }

            &__title {
                background-color: $c_white;
                padding: 10px;
            }

            &__amount {
                padding: 10px;
                background-color: $c_white;
            }
        }
    }

    .button_container {
        .button {
            margin: auto;
            float: right;
            min-width: 50%;

            &:focus {
                outline: none;
            }
        }

        .error_msg {
            width: 100%;
            text-align: center;
            display: block;
            margin-top: 20px;
            background-color: $c_bad_light;
            color: $c_bad;
            border: 1px solid $c_bad;
            padding: 5px;
            float: right;
        }
    }
}

.basket_checkout {
    .summary_totals {
        -webkit-border-radius: 0px;
        -webkit-border-bottom-right-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius: 0px;
        -moz-border-radius-bottomright: 20px;
        -moz-border-radius-bottomleft: 20px;
        border-radius: 0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: $c_head;
        color: $c_white;
        margin-bottom: 30px;

        .voucher_added {
            border: none;
            border-bottom: 1px solid $c_grey_light;


            .text {
                color: $c_white;
            }
        }

        a.voucher_toggle {
            display: none;
        }

        .order_summary {
            &__row {
                &.sub_total {
                    border-bottom: 1px solid $c_grey_light;
                }
            }
        }

        .message {
            color: #b3b3b3;
            font-style: italic;
        }
    }
}

.voucher_fail {
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid $c_bad;
    color: $c_bad;
}


@include nogrid-ms {
    .flexiorder_wrap {
        .fob_instalment__title {
            width: calc(100% - 96px);
        }

        .fob_instalment__amount {
            width: 90px;
            float: right;
        }
    }
}
