﻿@import "../mixins/mixins_compiler";

.postcode_wrap {
    h1 {
        margin: 0;
    }

    .suggestions {
        input[type] {
            margin: 0;

            &:focus {
                outline: none;
            }
        }

        h2 {
            text-align: center;
        }

        ul {
            padding: 0;
            max-height: calc(100vh - 360px);
            overflow: auto;
            box-shadow: inset 1px -4px 9px -6px;

            @include tablet {
                max-height: calc(100vh - 460px);
            }

            li {
                list-style-type: none;
                margin: 0;

                a {
                    display: block;
                    padding: 10px 9px;
                    border: 1px solid $c_grey_light;
                    border-top: none;

                    &:hover {
                        text-decoration: none;
                        background: $c_grey_pale;
                        @include shadow();
                    }
                }
            }
        }
    }

    .address_inputs {
        padding-top: 50px;

            label {
                &.required::after {
                    color: $c_bad;
                    content: '*';
                }
            }
        

        h6 {
            text-align: center;
        }

        input[type=button] {
            margin-top: 20px;
        }

        .validationError label {
        color: $c_bad;
        border: 1px solid $c_bad;
        padding: 5px;
        }
    }
}
