﻿@import '../mixins/mixins_compiler.scss';

/* PRODUCT SNIPPIT */



.product_card {
    height: 100%;

    .prod_img {
        position: relative;
        border: 1px solid $c_grey_light;

        img {
            width: 100%;
        }

        .freedom_sash, .flexi_sash {
            position: absolute;
            top: 0;
            width: 35%;
            max-width: 140px;
        }

        .freedom_sash {
            left: 0;
        }

        .flexi_sash {
            right: 0;
        }
    }

    .prod_img_wrap {
        position: relative;
        margin-bottom: 0.3rem;

        .favourite, .notfavourite {
            position: absolute;
            bottom: 0;
            left: 0;
            text-indent: -9999px;
            cursor: pointer;
            border: 1px solid $c_grey_light;
            background-image: url(https://www.hoch.media/web-assets/icons/favourites-pink.svg);
            background-repeat: no-repeat;
            background-color: $c_white;
            @include corner-custom(0, 40px, 0, 0);
            background-position: 4px 8px;
            background-size: 20px;
            height: 34px;
            width: 34px;

            @include phablet {
                background-position: 7px 13px;
                background-size: 20px;
                height: 40px;
                width: 40px;
            }

            .hp_hero & {
                @include corner-custom(0, 40px, 0, 0);
                background-position: 3px 7px;
                background-size: 15px;
                height: 27px;
                width: 27px;
                padding: 0;

                @include phablet {
                    @include corner-custom(0, 40px, 0, 0);
                    background-position: 4px 8px;
                    background-position: 3px 7px;
                    background-size: 15px;
                    height: 27px;
                    width: 27px;
                    padding: 0;
                }
            }
        }

        .notfavourite {
            background-image: url(https://www.hoch.media/web-assets/icons/favourites-lined-grey.svg);

            &:hover {
                background-image: url(https://www.hoch.media/web-assets/icons/favourites-grey.svg);
            }
        }
    }

    h3 {
        font-size: 1em;
        line-height: 1.5em;
        height: 3em;
        overflow-y: hidden;
        border: none;
        margin-bottom: 0.8rem;
        padding: 0;
        text-transform: initial;
        color: $c_base;
        text-align: center;
        word-wrap: break-word;
        /*text-overflow: ellipsis;*/
    }

    p {
        margin: 0;
    }
}

button.quick_look, button.info_button {
    font-family: $f_heading;
    font-weight: $fw_heading_bold;
    color: $c_base;
    font-size: 0.7em;
    border: 1px solid $c_grey;
    background-color: $c_grey_pale;
    float: none;
    margin: 0 auto 0.8rem auto;
    line-height: 2em;
    min-height: 1em;
    padding-left: 2.1em;
    background-image: url(https://www.hoch.media/web-assets/icons/zoom_grey.svg);
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: -3px center;

    &:hover,
    &:focus {
        background-color: $c_grey_light;
        border: 1px solid $c_grey;
        color: $c_base;
        cursor: pointer;
    }
}

.ratings_wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $c_white;
    width: 82px;
    @include corner-custom(11px,0,0,0);
    z-index: 10;
    padding: 2px 4px;

    .grey_stars,
    .gold_stars {
        display: block;
        float: left;
        height: 16px;
        background-size: 75px;
        background-repeat: no-repeat;
    }

    .grey_stars {
        width: 75px;
        display: inline-block;
        margin-right: 10px;
        background-image: url(https://www.hoch.media/web-assets/icons/stars-5-grey.png);
    }

    .gold_stars {
        background-image: url(https://www.hoch.media/web-assets/icons/stars-5-gold.png);
    }

    .hp_hero & {
        width: 60px;
        height: 14px;

        .grey_stars,
        .gold_stars {
            width: 54px;
            height: 12px;
            background-size: 53px;
        }
    }
}


.price {
    color: $c_main;
    text-align: center;
    font-family: $f_heading;
    font-weight: $fw_heading_bold;
    font-size: 1.3rem;
    padding: 0px 0 10px 0;
    margin-bottom: 0.8rem;
    line-height: 1.5rem;

    .was {
        text-decoration: line-through;
        margin-right: 3px;
        color: $c_base;
        font-weight: $fw_heading_light;
        line-height: 1rem;
        padding-top: 0.3rem;
        font-size: 1rem;
    }

    .now {
        /*margin-bottom: 1px;*/
    }

    .freedom {
        color: $c_freedom;
    }
}

.sku {
    text-align: center;
    color: #808080;
    font-weight: bold;
    font-size: 0.8em;
}


.fav_wrap {
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-top: 5px;

    .notfavourite, .favourite {
        background-image: url(https://www.hoch.media/web-assets/icons/favourites-lined-grey.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 20px;
        color: $c_base;
        padding: 0 0 0 30px;
        text-align: center;
        display: inline-block;
        width: auto;
        float: none;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
            color: $c_main_dark;
            background-image: url(https://www.hoch.media/web-assets/icons/favourites-grey.svg);
        }
    }

    .favourite {
        background-image: url(https://www.hoch.media/web-assets/icons/favourites-pink.svg);
        /*background-image: url(https://www.hoch.media/web-assets/icons/favourites-white.svg);*/
        background-repeat: no-repeat;
        background-position: left;
        background-size: 20px;
        display: inline-block;
        padding: 0 0 0 30px;
    }
}



.dummy {
    &__bg {
        background-color: #f1f1f1;
        float: left;
        width: 100%;
        min-height: 1em;
        margin: 0 auto;
        margin-bottom: 5px;
        clear: both;
        float: none;
    }

    &__img {
        margin-bottom: 7px;
        /*border: 1px solid $c_grey_light;*/
        img {
            width: 100%;
        }
    }

    &__title {
        width: 96%;

        &_2 {
            width: 100%;
            margin-left: 0%;
        }
    }


    &__sku {
        margin: 5px auto 10px auto;
        width: 30%;
    }

    &__price {
        min-height: 1.5em;
        margin-bottom: 10px;
        width: 30%;
    }

    &__info {
        min-height: 1.5em;
        width: 50%;
        margin: 10px auto;
        @include corner();

        .hp_hero & {
            min-height: 40px;
            width: 100%;
            margin: 0 0 5px 0;
        }
    }

    &__btn {
        min-height: 40px;
        @include corner();
    }
}


@include ms {
    button.quick_look,
    button.info_button,
    .homepage .hp_hero .hp_hero_prod .product_card .quick_look {
        background-image: none;
        text-indent: 0px !important;
        padding: 0 10px;
    }
}

/* END PRODUCT SNIPPIT */
