﻿@import '../mixins/mixins_compiler.scss';

/*PRODUCT GRID*/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid $c_grey_light;
    border-left: 1px solid $c_grey_light;
    position: relative;
    min-height: 300px;

    @include tablet-small {
        grid-template-columns: repeat(3, 1fr);
    }

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr) );
    }

    @include desktop-small {
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }

    @include desktop {
        grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    }

    @include desktop-large {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }


    .product_card {
        padding: 10px;
        border-right: 1px solid $c_grey_light;
        border-bottom: 1px solid $c_grey_light;



        @include tablet-small {
            padding: 15px;
        }

        @include tablet {
            padding: 20px;
        }

        @include desktop-small {
            padding: 20px;
        }

        @include desktop-large {
            padding: 30px;
        }

        .add_to_basket {
            margin: 0;
        }

        .quick_look {
            background-color: $c_white;

            &:hover,
            &:focus {
                background-color: $c_grey_light;
            }
        }
    }
}




@include nogrid-ms {
    .grid {
        .ie_prod_list {
            width: 50%;
            float: left;

            @include tablet-small {
                width: 33.33%;
            }

            @include desktop-small {
                width: 250px;
            }
        }
    }

    .pick_mix {
        .productGrid {
            .product_card {
                width: 50%;

                @include tablet {
                    width: 33.33%;
                }

                @include desktop-small {
                    width: 240px;
                }

                .picker * {
                    width: 33.33%;
                    height: 40px;
                    line-height: 40px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
