﻿@import '../mixins/mixins_compiler.scss';

/*PRODUCT LIST HEADER - BASE    */
.section_header {
    /*background-image: url(https://hoch.media/header-images/default/header-default-image.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .background_header_color {
        background-color: rgba(43, 0, 21, 0.6);
        padding: 30px 10px;
    }

    .header_titles {
        text-align: center;
        @include mw_normal();

        h1 {
            color: $c_white;
            line-height: 1em;
            margin: 0px auto 0px auto;
        }

        a {
            &.notfavourite, &.favourite {
                background-image: url(https://www.hoch.media/web-assets/icons/favourites-lined-grey.svg);
                background-repeat: no-repeat;
                background-position: left 10px center;
                background-size: 20px;
                text-align: center;
                display: inline-block;
                background-color: $c_white;
                color: $c_base;
                border: 1px solid $c_favourites_dark;
                padding: 0 20px 0 40px;
                line-height: 40px;
                /*@include corner-custom(21px,21px,21px,21px);*/
                &:hover {
                    color: $c_base;
                    background-image: url(https://www.hoch.media/web-assets/icons/favourites-grey.svg);
                    opacity: 0.9;
                }
            }

            &.favourite {
                background-image: url(https://www.hoch.media/web-assets/icons/favourites-pink.svg);
            }
        }

        h2 {
            text-align: center;
            font-family: $f_body;
            font-size: 1em;
            line-height: 1.7em;
            color: $c_white;
            margin: 20px 0 20px 0;
        }

        .read_more_text {
            text-align: center;
            font-weight: $fw_heading_bold;
            color: $c_white;
            display: inline-block;
            font-weight: normal;
        }

        .link_catergories {
            text-align: center;

            a {
                text-align: center;
                font-weight: $fw_heading_bold;
                font-size: 0.9em;
                color: $c_white;
                padding: 0 10px 10px 10px;
                padding-bottom: 1px;
                display: inline-block;
                border-bottom: solid 2px;
                margin: 6px;

                &:hover {
                    text-decoration: none;
                    border-bottom-style: dashed;
                }
            }
        }
    }

    &.light_theme {
        .header_titles {
            h1, h2, .read_more_text, .link_catergories a {
                color: $c_base;
            }
        }
    }
}


/*PRODUCT LIST HEADER - BASE*/

/*BRANDS LIST HEADER*/
.section_header_brands {
    /*background-color: #73308a;*/
    background-color: $c_white;
    padding: 50px 10px;

    .header_titles {
        h1 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            float: none;
            width: 100%;
            text-align: center;
            margin: 0px auto 20px auto;
        }

        h2 {
            margin: 0 0 20px 0;
        }

        .img_favourite_logo_white {
            display: block;
            margin-left: auto;
            margin-right: auto;
            float: none;
            width: 300px;
            text-align: center;
            margin: 0px auto 10px auto;
        }
    }

    &.tall_brand {
        .header_titles {
            h1 {
                max-width: 100px;
            }
        }
    }

    &.wide_brand {
        .header_titles {
            h1 {
                max-width: 400px;
            }
        }
    }

    &.square_brand {
        .header_titles {
            h1 {
                max-width: 200px;
            }
        }
    }
}
/*BRANDS LIST HEADER*/

/*FAVROUITES LIST HEADER*/
.section_header.section_header_favourites {

    .background_header_color {
        background-color: $c_white;
        padding: 30px 0px;
    }

    .header_titles {
        h1 {
            color: $c_base;
        }

        h2 {
            color: $c_base;
        }
    }

    .logo_favourite_wrap {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 50px;
        text-align: center;
        margin: 0px auto 10px auto;
    }
}

/*FAVROUITES LIST HEADER*/


/*FREEDOM LIST HEADER*/
.section_header.section_header_freedom {

    .background_header_color {
        background-color: $c_freedom;
        padding: 30px 10px;
    }

    .header_titles {
        h1 {
            color: $c_white;
        }

        h2 {
            color: $c_white;
        }
    }

    .logo_favourite_wrap {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 300px;
        text-align: center;
    }
}

/*FREEDOM LIST HEADER*/


/*SEARCH LIST HEADER*/
.section_header.section_header_search {

    .background_header_color {
        background-color: $c_white;
        padding: 30px 10px;
    }

    .header_titles {
        h1 {
            color: $c_base;
        }

        h2 {
            color: $c_base;
        }
    }
}

/*SEARCH LIST HEADER*/

