﻿@import "../mixins/mixins_compiler";

.filter__container {
    display: none;

    &.filter_min {
        display: block;
    }

    @include tablet {
        display: block;
    }
}

.filter__toggle {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    background: transparent;
    color: #000;

    @include tablet {
        display: none;
    }
}

.product_filter {
    background-color: $c_white;
    @include shadow();
}

.toggles {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    line-height: 36px;
    font-size: 0.8em;
    border-bottom: 1px solid $c_grey_light;

    @include tablet {
        padding: 10px;
        height: 56px;
    }

    .inner {
        float: none;
        width: auto;
        margin: auto;
        display: inline-block;

        @include tablet {
            height: 36px;
        }
    }

    .toggle {
        cursor: pointer;
        display: inline-block;
        width: auto;
        width: 24%;
        text-align: center;

        @include tablet {
            width: auto;
        }
    }
}

.toggle__switch {
    background: $c_grey_light;
    width: 68px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    float: none;
    @include corner();
    @include shadow-inner();

    &:after {
        content: "off";
        display: block;
        width: 36px;
        height: 36px;
        margin: -1px;
        background-color: $c_white;
        border-top: 0;
        border-bottom: 0;
        transition: all 0.1s ease-in-out;
        @include corner();
        @include shadow();
    }

    .active_toggle & {
        &:after {
            content: "on";
            margin-left: 34px;
            color: $c_white;
        }
    }

    .freedom.active_toggle & {
        background: $c_freedom;

        &:after {
            background-color: $c_freedom_dark;
        }
    }

    .flexi.active_toggle & {
        background-color: $c_flexibuy;

        &:after {
            background-color: $c_flexibuy_dark;
        }
    }

    .downloads.active_toggle & {
        background-color: $c_grey;

        &:after {
            background-color: $c_base;
        }
    }

    .pnm.active_toggle & {
        background-color: $c_highlight;

        &:after {
            background-color: $c_highlight_dark;
        }
    }
}

.toggle__label {
    display: inline-block;
    float: left;
    text-transform: uppercase;

    @include tablet {
        width: auto;
    }
}


.filter {
    &__item {
        position: relative;
        /*width: 50%;*/
        width: 100%;
        border-bottom: 1px solid $c_grey_light;
        float: left;

        &:not(:last-child) {
            border-right: 1px solid $c_grey_light;
        }

        @include tablet {
            width: 25%;
        }

        button, select {
            height: 36px;
            cursor: pointer;
            width: 100%;
            background-color: transparent;
            color: $c_base;
            border: none;
            text-align: left;
            text-transform: inherit;
            font-size: 1em;
            background-image: url(https://hoch.media/elements/icons/icons_arrow-down-grey.svg);
            background-position: right 10px center;
            background-size: 20px;
            background-repeat: no-repeat;
            padding-right: 50px;
            margin: 0;

            @include tablet {
                height: 40px;
            }

            &:hover, &:focus {
                color: $c_base;
                border: none;
                background-color: transparent;
            }
        }
    }

    &__list {
        z-index: 100;
        background-color: $c_white;
        @include shadow();

        @include tablet {
            position: absolute;
        }

        .checkbox-custom {
            height: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            border: 1px solid $c_grey_light;
            max-height: 50vh;
            overflow: auto;

            li {
                margin: 0;
                list-style: none;
                line-height: 1em;

                &:not(:first-child) {
                    border-top: 1px dashed $c_grey;
                }

                label {
                    padding: 10px;
                    margin: 0;
                    line-height: 1.4em;

                    &:hover {
                        cursor: pointer;
                        background-color: $c_grey_pale;
                    }

                    .name {
                        &__parent {
                            float: left;
                            text-transform: uppercase;
                            font-size: 0.8em;
                            color: $c_grey;
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .apply {
            &__wrap {
            }

            &__btn {
                width: calc(100% - 20px);
                border: 1px solid $c_main_dark;
                background-color: $c_main;
                background-image: none;
                color: $c_white;
                font-size: 12px;
                margin: 10px;
                text-transform: uppercase;
                line-height: 40px;
                padding: 0 10px;
                -webkit-transition: .4s;
                -o-transition: .4s;
                transition: .4s;
                display: block;
                clear: both;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                @include corner;

                &:focus, &:hover, &:active {
                    background-color: $c_main_dark;
                    border: 1px solid $c_main_dark;
                    color: $c_white;
                }
            }
        }

        .checkbox-custom {
            opacity: 0;
            position: absolute;
        }

        .checkbox-custom, .checkbox-custom-label {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        .checkbox-custom-label {
            padding-left: 38px;
            position: relative;
        }

        .checkbox-custom + .checkbox-custom-label:before {
            content: '';
            position: absolute;
            background: #fff;
            border: 2px solid #ddd;
            border: 1px solid #b3b3b3;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            padding: 2px;
            margin-right: 10px;
            text-align: center;
            line-height: 20px;
            left: 7px;
            top: 8px;
        }


        .checkbox-custom:checked + .checkbox-custom-label:before {
            /* content: "\f00c"; */
            /* font-family: 'FontAwesome'; */
            background: #ed137d;
            color: #fff;
            border: none;
            background-image: url(https://hoch.media/elements/icons/icons_tick-white.svg) !important;
            background-repeat: no-repeat;
        }

        .refine_top_controls .checkbox-custom + .checkbox-custom-label:before {
            margin-left: 0px;
        }
    }

    &__clear {
        float: left;
        padding: 10px;
        text-transform: uppercase;
        font-size: 0.8em;

        &:hover {
            cursor: pointer;
        }
    }

    &__per_page {
        float: right;
        padding: 10px;
        text-transform: uppercase;
        font-size: 0.8em;

        &:hover {
            cursor: pointer;
        }
    }

    &__empty {
        h6 {
            text-align: center;
            padding: 50px;
            text-transform: inherit;
            font-weight: $fw_body_light;
            line-height: 2em;
        }
    }
}


.pagination {
    &__container {
        margin: 30px 0;
    }

    &__wrap {
        @include mw_small();

        .previous, .next {
            width: 48%;
            margin: 0 1%;
            float: left;
            clear: none;

            &:focus {
                background-color: $c_main;
                outline: none;

                &:hover {
                    background-color: $c_main_dark;
                }
            }

            &.disabled {
                background-color: $c_grey_light;
                border-color: $c_grey;
                color: $c_base;
                cursor: default;

                &:hover {
                    background-color: $c_grey_light;
                    border-color: $c_grey;
                    color: $c_base;
                    cursor: default;
                }
            }
        }
    }
}
