﻿@import '../mixins/mixins_compiler.scss';

.section_background_register_img {
    padding: 30px 10px;
    background-size: cover;
}

.form_register_wrap {
    background-color: $c_white;
    padding: 20px 20px 10px 20px;
    @include corner-large;
    @include mw_medium;
    @include clear;
    @include shadow-large;
    /*input[type]:not([type=button]):not([type=submit]), textarea, select {
        background-color: $c_grey_light;

    }*/
    fieldset {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid $c_grey;

        &:nth-last-child(1) {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        label {
            &.required::after {
                color: $c_bad;
                content: '*';
            }
        }

        .password_requirements {
            font-size: 0.8em;

            ul {
                padding: 0;

                li {
                    margin: 0 0 0 20px;
                    width: calc(100% - 20px);

                    @include tablet {
                        width: calc(50% - 20px);
                    }
                }
            }
        }
    }


    .birthday {
        .select_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }
    }

    .phone {
        .wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;

            @include tablet-small {
                grid-template-columns: auto 120px;
            }
        }
    }

    .marketingoptin {
        font-size: 0.8em;
        line-height: 1.5em;

        .styled-checkbox + label:before {
            margin-top: 3px;
        }
    }


    .recapture_placeholder {
        width: 100%;
        height: 86px;
        background-color: #ccc;
        margin-bottom: 10px;
    }


    input[type=submit] {
        margin: 30px 0 30px 0;
    }



    .marketingoptin {
        margin-top: 20px;
    }

    .termandconditions {
        margin: 20px 0 20px 0;
    }

    .emailMarketing4th {
        margin: 20px 0 20px 0;
    }
}

input[type]:not([type=button]):not([type=submit]) {
    &.ng-invalid {
        border-color: $c_bad;
        background-color: $c_bad_light;
    }
}

.reset_password_wrap {
    min-height: calc(100vh - 300px);
    display: grid;
    align-items: center;

    .reset_password {
        background-color: $c_white;
        @include corner-large();
        @include mw_medium();
        @include shadow-large();
        @include clear();
        padding: 20px;

        h1 {
            margin: 0;
        }

        p {
            text-align: center;
        }

        .fail {
            text-align: center;
            color: $c_bad;
            width: 100%;
            display: block;
        }

        .success {
            text-align: center;
            color: $c_good;
            width: 100%;
            display: block;
        }
    }
}

    .validationError label {
        color: $c_bad;
        border: 1px solid $c_bad;
        padding: 5px;
    }