﻿@import "../mixins/mixins_compiler";


/* Component Needs */

.pc-tab > input,
.pc-tab section > div {
    display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3 {
    display: block;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.pc-tab {
    margin: 0 auto;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            width: auto;
            text-transform: uppercase;
            margin: 0;

            label {
                margin: 0;
                padding: 15px 10px;
                border: 1px solid #ddd;
                border-bottom: 0;
                background: $c_white;
                color: #444;

                &:hover {
                    background: $c_grey_light;
                }

                &:active {
                    background: $c_grey_light;
                }
            }

            &:not(:last-child) label {
                border-right-width: 0;
            }
        }
    }

    .content {
        border-top: 5px solid #080255;
        clear: both;

        div {
            width: 100%;
            line-height: 1.5em;
            letter-spacing: 0.3px;
            color: #444;
        }
    }
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3 {
    label {
        background: $c_head;
        color: $c_white;
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: $c_head;
            left: 0;
            bottom: -1px;
        }
    }
}
