﻿/*#region COLOR VARABLES */
/*$c_grey_pale: lighten(#000000, 97%);*/
/*#endregion */
/*#region FONT VARABLES */
/*open 400,700*/
/*lato 300,400,900*/
/*#endregion */
/*CHANGE PLACEHOLDER text*/
/* EG */
/*textarea {  
    @include input-placeholder {
        color: $grey;
    }
}*/
/*MAX WIDTH ELEMENTS*/
/*CLEARFIX*/
/*Internet explorer fallbacks*/
html {
  overflow: hidden;
  overflow-y: auto;
  background-color: #f7f7f7; }

html, body {
  color: #000;
  font-size: 14px;
  line-height: 1.7em;
  text-align: left;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  z-index: 0;
  height: auto; }
  @media (min-width: 768px) {
    html, body {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    html, body {
      font-size: 15px; } }

body {
  background-color: #f7f7f7; }

section, div, article, ul, li, p, h1, h2, h3, h4, h5, h6, input, label, textarea, select, form {
  float: left;
  width: 100%; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: left;
  margin: 0 0 1em 0;
  line-height: 1.7em; }

b {
  font-weight: normal; }

i {
  font-style: normal; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  padding: 0.3em 0;
  line-height: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase; }

h1 {
  margin: 0px auto 30px auto;
  font-size: 1.6em;
  font-weight: 900;
  text-align: center; }
  @media (min-width: 768px) {
    h1 {
      font-size: 3em; } }

h2 {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  line-height: 1.9em;
  /*@include tablet {
        font-size: 1.2em;
    }*/ }

h3 {
  font-size: 1.3em;
  border-bottom: 1px dashed #aaa; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.7em; } }

h4 {
  font-size: 1.3em; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.6em; } }

h5 {
  font-size: 1.2em;
  color: #000;
  border-bottom: 1px dashed #aaa; }

h6 {
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

ul {
  margin-bottom: 1em; }
  ul li {
    list-style-type: square;
    margin-bottom: 1em; }

label {
  font-size: 0.9em;
  font-weight: 400; }

article:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0; }

a {
  color: #ed137d; }
  a:hover {
    color: #8f0b4b;
    cursor: pointer; }

input[type], textarea, select, button, a.button, input[type=button], input[type=submit] {
  line-height: 40px;
  /*min-height: 50px;*/
  padding: 0 10px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  margin-bottom: 10px; }

button, a.button, input[type=button], input[type=submit], a:not([href]):not([tabindex]) {
  /*height: 50px;*/
  display: block;
  clear: both;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  button:active, a.button:active, input[type=button]:active, input[type=submit]:active, a:not([href]):not([tabindex]):active {
    transform: scale(0.98); }

input[type]:not([type=button]):not([type=submit]), textarea, select {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-color: #bfbfbf; }
  input[type]:not([type=button]):not([type=submit]):focus, input[type]:not([type=button]):not([type=submit]):hover, input[type]:not([type=button]):not([type=submit]):active, textarea:focus, textarea:hover, textarea:active, select:focus, select:hover, select:active {
    border: 1px solid #57538a;
    border-left-width: 10px; }

button:disabled {
  cursor: default; }

textarea {
  line-height: 1.7em;
  padding-top: 10px;
  padding-bottom: 10px; }

select {
  background-image: url(https://hoch.media/elements/icons/icons_arrow-down-grey.svg);
  background-position: right 10px center;
  background-size: 35px;
  background-repeat: no-repeat;
  padding-right: 50px; }

button, input:not([type=checkbox]), select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button, a.button, input[type=button], input[type=submit] {
  border: 1px solid #8f0b4b;
  background-color: #ed137d;
  color: #ffffff;
  text-transform: uppercase; }
  button:focus, button:hover, button:active, button:not([tabindex]):hover, button:not([tabindex]):focus, a.button:focus, a.button:hover, a.button:active, a.button:not([tabindex]):hover, a.button:not([tabindex]):focus, input[type=button]:focus, input[type=button]:hover, input[type=button]:active, input[type=button]:not([tabindex]):hover, input[type=button]:not([tabindex]):focus, input[type=submit]:focus, input[type=submit]:hover, input[type=submit]:active, input[type=submit]:not([tabindex]):hover, input[type=submit]:not([tabindex]):focus {
    background-color: #8f0b4b;
    border: 1px solid #8f0b4b;
    color: #ffffff; }

/*DEFAULT STYLED CHECKBOX*/
.styled-checkbox {
  position: absolute;
  opacity: 0;
  width: auto;
  /*&:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
    }*/ }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    width: calc(100% - 40px);
    margin-left: 40px; }
  .styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 28px;
    height: 28px;
    border: 1px solid;
    border-color: #bfbfbf;
    background-color: #d9d9d9;
    margin-left: -40px;
    position: absolute; }
  .styled-checkbox:hover + label:before {
    background-color: #d9d9d9;
    color: #ffffff;
    border-color: #57538a;
    /*background-image: url(https://hoch.media/elements/icons/icons_tick-white.svg) !important;*/
    background-repeat: no-repeat; }
  .styled-checkbox:checked + label:before {
    background: #ed137d;
    color: #ffffff;
    border-color: #8f0b4b;
    background-image: url(https://hoch.media/elements/icons/icons_tick-white.svg) !important;
    background-repeat: no-repeat; }
  .styled-checkbox:disabled + label {
    color: #b3b3b3;
    cursor: auto; }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #b3b3b3; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.iframeWrap {
  position: relative;
  padding-bottom: 800px;
  height: 0;
  margin-top: 30px; }
  .iframeWrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

iframe {
  border: none; }

.divider_line {
  border-top: 1px solid #000000;
  margin: 20px auto 20px auto;
  display: block;
  clear: both; }
  .divider_line.small {
    width: 50px; }

footer {
  width: 100%;
  float: left; }

::selection {
  background: #ed137d;
  color: #ffffff; }

/*fix the input fields*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  input[type]:not([type=button]):not([type=submit]), textarea, select {
    line-height: 42px;
    height: 42px;
    padding: 0;
    text-indent: 10px; }
  /*hiding add to basket and basket buttons*/
  .add_to_basket, .add_freedom, .header__main__basket, .feefo_api_wrap a.button {
    display: none !important; } }
