﻿/*#region COLOR VARABLES */
/*$c_grey_pale: lighten(#000000, 97%);*/
/*#endregion */
/*#region FONT VARABLES */
/*open 400,700*/
/*lato 300,400,900*/
/*#endregion */
/*CHANGE PLACEHOLDER text*/
/* EG */
/*textarea {  
    @include input-placeholder {
        color: $grey;
    }
}*/
/*MAX WIDTH ELEMENTS*/
/*CLEARFIX*/
/*Internet explorer fallbacks*/
.call_centre {
  padding-top: 50px;
  /*.summary {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-bottom: 50px;
        background-color: $c_white;
        border: 1px solid $c_grey_light;
        padding: 10px;

        .order_summary {
            &__row {
                text-align: center;

                &.sub_total {
                }

                &.delivery {
                }

                &.tax_wrap_part {
                    color: $c_grey;
                }

                &.tax_wrap_total {
                }

                &.total {
                }
            }
        }
    }*/ }
  .call_centre .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: auto;
    float: none;
    grid-gap: 20px; }
  .call_centre .success_wrap {
    margin-bottom: 30px; }
    .call_centre .success_wrap .success {
      text-align: center;
      float: left;
      padding: 10px;
      font-weight: 400;
      background-color: #2a8e2a;
      border: 2px solid #2a8e2a;
      color: white;
      text-transform: uppercase;
      max-width: 1200px;
      margin: auto;
      float: none;
      display: grid;
      grid-template-columns: repeat(1, 1fr); }
  .call_centre .card_wrap {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    padding: 30px; }
    .call_centre .card_wrap .card_wrap .inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px; }
    .call_centre .card_wrap select, .call_centre .card_wrap .subtitle, .call_centre .card_wrap p, .call_centre .card_wrap .intro {
      grid-column: 1/ -1;
      margin: 0; }
    .call_centre .card_wrap .subtitle, .call_centre .card_wrap p {
      text-align: center;
      padding: 0; }
    .call_centre .card_wrap .subtitle {
      padding: 0 0 2px 0;
      text-transform: none; }
    .call_centre .card_wrap select, .call_centre .card_wrap .button {
      height: 60px;
      line-height: 60px; }
    .call_centre .card_wrap .button {
      margin: 0;
      display: grid;
      align-content: center; }
      .call_centre .card_wrap .button.pay {
        background-color: #2a8e2a;
        border-color: #094e09; }
        .call_centre .card_wrap .button.pay:hover {
          background-color: #094e09; }
  .call_centre .summary {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    padding: 10px 30px; }
    .call_centre .summary .order_summary__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      border-bottom: 1px solid #d9d9d9;
      line-height: 2.4em; }
      .call_centre .summary .order_summary__row.tax_wrap_part {
        color: #b3b3b3;
        background-color: #f7f7f7;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        padding: 0 5px; }
      .call_centre .summary .order_summary__row.total {
        border: none;
        font-size: 1.5em; }
    .call_centre .summary .order_summary__value {
      text-align: right; }

.call_centre_expired_basket {
  padding-top: 30vh; }
  .call_centre_expired_basket h1 {
    margin: 0; }
  .call_centre_expired_basket p {
    text-align: center; }

.payment_wrap {
  background-color: #ffffff; }
  .payment_wrap .iframeWrap {
    position: relative;
    margin-left: 250px;
    max-width: 50%; }

.error_page {
  padding: 30px 10px; }
  .error_page .content {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    padding: 8vh 20px 10vh;
    max-width: 600px;
    margin: auto;
    float: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
    @media (min-width: 768px) {
      .error_page .content {
        padding: 8vh 40px 10vh; } }
    .error_page .content .code {
      font-weight: 400;
      margin-bottom: 30px;
      /*text-align: left;*/ }
    .error_page .content p {
      text-align: center;
      margin-bottom: 40px; }
    .error_page .content h1 {
      margin-bottom: 5px; }
    .error_page .content .message {
      text-align: center;
      margin: -20px 0 40px 0; }
    .error_page .content .links {
      max-width: 300px;
      margin: auto;
      float: none;
      clear: both;
      text-align: center;
      height: 50px; }
      .error_page .content .links a.button {
        background-color: #ffffff;
        color: #000000;
        border-color: #000000; }
        .error_page .content .links a.button.invert {
          width: auto;
          display: inline-block;
          margin: 0 auto;
          border: none;
          border-bottom: 1px solid #000000;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px; }
        .error_page .content .links a.button:hover {
          border-color: #ed137d;
          color: #ed137d; }

.expired_basket_modal {
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: auto;
  float: none;
  margin-top: 30px; }
  .expired_basket_modal:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0; }
  .expired_basket_modal .divider_line {
    border-top: 2px solid #ed137d;
    width: 50px;
    margin: 0 auto;
    float: none;
    display: table; }
  .expired_basket_modal .icon {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    float: none;
    margin-top: 20px; }
  .expired_basket_modal h1 {
    margin-top: 15px;
    margin-bottom: 20px; }
  .expired_basket_modal p {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px; }

.error_wrap {
  background-color: #ff0033;
  width: 100%;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  max-width: 600px;
  float: none;
  margin-top: 30px;
  margin-bottom: 0; }
  .error_wrap:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0; }
  .error_wrap p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0; }

.loader__wrap {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(179, 179, 179, 0.5); }
  .loader__wrap .loader {
    border-width: 12px;
    width: 80px;
    height: 80px;
    border: 12px solid white;
    border-radius: 50%;
    border-top-color: #030123;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    float: none;
    margin-top: 250px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.error_page {
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 30px;
  margin-left: 600px; }
  .error_page .message {
    text-align: center;
    margin-bottom: 20px; }

.thank_you_msg {
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 30px;
  margin-left: 600px; }
  .thank_you_msg .divider_line {
    border-top: 2px solid #ed137d;
    width: 50px;
    margin: 0 auto;
    float: none;
    display: table; }
  .thank_you_msg h3 {
    text-align: center;
    margin-top: 30px; }
  .thank_you_msg p {
    text-align: center;
    margin-bottom: 30px; }
