﻿/*#region COLOR VARABLES */
/*$c_grey_pale: lighten(#000000, 97%);*/
/*#endregion */
/*#region FONT VARABLES */
/*open 400,700*/
/*lato 300,400,900*/
/*#endregion */
/*CHANGE PLACEHOLDER text*/
/* EG */
/*textarea {  
    @include input-placeholder {
        color: $grey;
    }
}*/
/*MAX WIDTH ELEMENTS*/
/*CLEARFIX*/
/*Internet explorer fallbacks*/
header.checkout_page .header__main__nav {
  padding-right: 10px; }
  header.checkout_page .header__main__nav .icon {
    border: 1px solid #080255;
    color: #ffffff;
    text-indent: -9999px;
    background-image: url(https://www.hoch.media/web-assets/icons/Lock_grey.svg);
    background-size: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px; }

footer .small_print {
  text-align: center;
  font-size: 0.8em; }

footer .payment_types {
  max-width: 430px;
  margin: 30px auto;
  padding: 0 10px;
  float: none; }
  footer .payment_types:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0; }
  footer .payment_types p {
    text-align: center;
    color: #ffffff;
    margin: 0; }
  footer .payment_types .payment_icons {
    text-align: center;
    background: #ffffff;
    padding: 10px;
    max-width: 430px;
    float: none;
    clear: both; }

footer .checkout_footer_links ul {
  text-align: center;
  padding: 0; }
  footer .checkout_footer_links ul li {
    display: inline-block;
    width: auto;
    float: none; }
    footer .checkout_footer_links ul li a {
      color: #ffffff;
      padding: 0 10px; }
