﻿/*#region COLOR VARABLES */
/*$c_grey_pale: lighten(#000000, 97%);*/
/*#endregion */
/*#region FONT VARABLES */
/*open 400,700*/
/*lato 300,400,900*/
/*#endregion */
/*CHANGE PLACEHOLDER text*/
/* EG */
/*textarea {  
    @include input-placeholder {
        color: $grey;
    }
}*/
/*MAX WIDTH ELEMENTS*/
/*CLEARFIX*/
/*Internet explorer fallbacks*/
/*HEADER*/
header {
  background-color: #ffffff;
  float: left;
  width: 100%; }
  header .header__pre {
    background-color: #080255;
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase; }
    header .header__pre__item {
      width: auto;
      padding: 0 5px; }
      header .header__pre__item:nth-child(n+2) {
        float: right; }
      header .header__pre__item a {
        color: #ffffff; }
    @media (min-width: 768px) {
      header .header__pre__contact a.contact__call {
        display: none; } }
    header .header__pre__contact a.contact__link {
      display: none; }
      @media (min-width: 768px) {
        header .header__pre__contact a.contact__link {
          display: inline-block; } }
    header .header__pre__review img {
      height: 23px;
      width: auto;
      padding: 0px 0 3px 0px; }
    header .header__pre__review .label, header .header__pre__review .stars {
      display: none; }
      @media (min-width: 600px) {
        header .header__pre__review .label, header .header__pre__review .stars {
          display: inline-block;
          margin: 0 5px; } }
  header .header__main {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #b3b3b3; }
    @media (min-width: 768px) {
      header .header__main {
        height: 70px;
        line-height: 70px; } }
    header .header__main__logo {
      background-image: url(https://hoch.media/elements/icons/hochanda-logo-main.svg);
      background-position: center;
      background-repeat: no-repeat;
      text-indent: -9999px;
      height: 50px;
      width: 40%;
      float: left;
      margin-left: 4px;
      max-width: 150px; }
      @media (min-width: 768px) {
        header .header__main__logo {
          height: 70px;
          max-width: 190px;
          margin-left: 10px; } }
    header .header__main__nav {
      height: 50px;
      width: 55%;
      float: right;
      display: flex;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex; }
      @media (min-width: 768px) {
        header .header__main__nav {
          height: 70px;
          line-height: 70px;
          width: 550px; } }
      header .header__main__nav a:hover {
        background-color: #f7f7f7;
        border-bottom: 1px solid #b3b3b3; }
    header .header__main__item {
      /*background-color: #aad4aa;*/
      /*border-left: 1px solid $c_grey;*/
      flex-grow: 1;
      width: auto; }
      @media (min-width: 768px) {
        header .header__main__item {
          padding: 0 10px; } }
    header .header__main .icon {
      /*background-color: #a7efa7;*/
      height: 50px;
      width: 40px;
      margin: auto;
      display: block;
      background-position: center;
      background-repeat: no-repeat; }
      @media (min-width: 768px) {
        header .header__main .icon {
          height: 70px;
          display: inline-block;
          float: right; } }
    header .header__main .text {
      /*background-color: #e1efa7;*/
      display: none;
      float: left;
      font-size: 14px;
      line-height: 70px;
      text-transform: uppercase;
      color: #000000; }
      @media (min-width: 768px) {
        header .header__main .text {
          display: inline-block; } }
    header .header__main__tv .icon {
      background-image: url(https://hoch.media/elements/icons/header-icons/tv-schedule.svg); }
    header .header__main__login .inner {
      display: inline-block;
      position: relative; }
    header .header__main__login .icon {
      background-image: url(https://hoch.media/elements/icons/header-icons/account-2.svg); }
    header .header__main__login .tick {
      display: none; }
    header .header__main__login__signedin .tick {
      position: absolute;
      display: block;
      height: 18px;
      width: 18px;
      right: -2px;
      top: calc(50% - 18px);
      border: 2px solid #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #2a8e2a;
      background-image: url(https://hoch.media/elements/icons/icons_tick-white.svg); }
    header .header__main__basket .icon {
      background-image: url(https://hoch.media/elements/icons/header-icons/basket.svg);
      position: relative; }
      header .header__main__basket .icon .basket_number {
        position: absolute;
        display: block;
        padding: 0 2px;
        border: 2px solid #FFFFFF;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background: #ed137d;
        color: #FFFFFF;
        font-size: 10px;
        top: calc(50% - 18px);
        line-height: 13px;
        height: 18px;
        right: -1px;
        min-width: 18px;
        text-align: center;
        font-family: Arial, Geneva, sans-serif;
        font-family: Century Gothic, sans-serif; }
    header .header__main__menu {
      background-color: #080255; }
      @media (min-width: 768px) {
        header .header__main__menu {
          padding: 0 3px 0 10px; } }
      header .header__main__menu__icon_wrap {
        float: left;
        width: 100%;
        padding: 3px 0 0 0; }
        @media (min-width: 768px) {
          header .header__main__menu__icon_wrap {
            padding: 0; } }
        header .header__main__menu__icon_wrap .text {
          font-size: 10px;
          text-transform: uppercase;
          display: block;
          line-height: 1em;
          text-align: center;
          color: #ffffff;
          float: none; }
          @media (min-width: 768px) {
            header .header__main__menu__icon_wrap .text {
              font-size: 14px;
              line-height: 70px;
              float: left; } }
      header .header__main__menu .icon {
        background-image: url(https://hoch.media/elements/icons/header-icons/menu.svg);
        background-size: 24px;
        margin: 0 auto;
        float: none;
        height: 30px; }
        @media (min-width: 768px) {
          header .header__main__menu .icon {
            height: 70px;
            float: right; } }
    header .header__main__search_toggle {
      display: none; }
      @media (min-width: 1900px) {
        header .header__main__search_toggle {
          display: block;
          width: 500px;
          float: right;
          height: 37px;
          margin: 17px 50px 0 0;
          height: 37px;
          line-height: 37px;
          border: 1px solid #e6e4e4; } }
      header .header__main__search_toggle .text {
        height: 37px;
        line-height: 37px;
        text-transform: initial;
        padding-left: 10px; }
      header .header__main__search_toggle .icon {
        height: 35px;
        width: 37px;
        background-color: #ed137d;
        float: right;
        background-image: url(https://hoch.media/elements/icons/header-icons/search.svg); }
  header .header__secondary {
    border-bottom: 1px solid #b3b3b3;
    display: flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex; }
    header .header__secondary__brands_toggle, header .header__secondary__category_toggle, header .header__secondary__category_staff {
      flex-grow: 1;
      display: inline-block; }
      header .header__secondary__brands_toggle .text, header .header__secondary__category_toggle .text, header .header__secondary__category_staff .text {
        display: inline-block;
        float: left; }
      header .header__secondary__brands_toggle .icon, header .header__secondary__category_toggle .icon, header .header__secondary__category_staff .icon {
        background-image: url(https://hoch.media/elements/icons/icons_arrow-down-black.svg);
        display: none;
        background-size: 12px;
        width: 12px;
        height: 50px;
        margin-left: 5px;
        float: right; }
        @media (min-width: 375px) {
          header .header__secondary__brands_toggle .icon, header .header__secondary__category_toggle .icon, header .header__secondary__category_staff .icon {
            display: inline-block; } }
        header .header__secondary__brands_toggle .icon:hover, header .header__secondary__category_toggle .icon:hover, header .header__secondary__category_staff .icon:hover {
          background-color: #f7f7f7; }
    header .header__secondary_wrap a.open .icon {
      background-image: url(https://hoch.media/elements/icons/icons_arrow-down-white.svg); }
      header .header__secondary_wrap a.open .icon:hover {
        background-color: #030123; }
    @media (min-width: 1900px) {
      header .header__secondary__category_toggle {
        display: none; } }
    header .header__secondary__category_staff {
      display: none; }
      @media (min-width: 1900px) {
        header .header__secondary__category_staff {
          display: inline-block; } }
    header .header__secondary a {
      height: 50px;
      line-height: 50px;
      float: left;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      color: #000000; }
      header .header__secondary a.open {
        background-color: #080255;
        color: #ffffff; }
        header .header__secondary a.open:hover {
          background-color: #030123; }
      header .header__secondary a:hover {
        background-color: #f7f7f7; }
      header .header__secondary a:nth-child(n+2) {
        border-left: 1px solid #b3b3b3; }
    header .header__secondary__item .icon {
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      display: block; }
    header .header__secondary__item .inner {
      width: auto;
      float: none;
      display: inline-block;
      height: 50px; }
    header .header__secondary__rewind, header .header__secondary__search_toggle, header .header__secondary__favourites_toggle {
      display: inline-block;
      background-size: contain;
      width: 13.75%; }
      @media (min-width: 768px) {
        header .header__secondary__rewind, header .header__secondary__search_toggle, header .header__secondary__favourites_toggle {
          width: auto;
          flex-grow: 1; } }
      header .header__secondary__rewind .text, header .header__secondary__search_toggle .text, header .header__secondary__favourites_toggle .text {
        display: none; }
        @media (min-width: 768px) {
          header .header__secondary__rewind .text, header .header__secondary__search_toggle .text, header .header__secondary__favourites_toggle .text {
            display: inline-block;
            float: left; } }
      header .header__secondary__rewind .inner, header .header__secondary__search_toggle .inner, header .header__secondary__favourites_toggle .inner {
        width: 100%; }
        @media (min-width: 768px) {
          header .header__secondary__rewind .inner, header .header__secondary__search_toggle .inner, header .header__secondary__favourites_toggle .inner {
            width: auto; } }
      header .header__secondary__rewind .icon, header .header__secondary__search_toggle .icon, header .header__secondary__favourites_toggle .icon {
        height: 50px;
        width: 100%; }
        @media (min-width: 768px) {
          header .header__secondary__rewind .icon, header .header__secondary__search_toggle .icon, header .header__secondary__favourites_toggle .icon {
            width: 50px;
            background-position: right;
            float: right; } }
    header .header__secondary__rewind .icon {
      background-image: url(https://hoch.media/elements/icons/header-icons/rewind.svg); }
      @media (min-width: 768px) {
        header .header__secondary__rewind .icon {
          float: left; } }
    header .header__secondary__search_toggle {
      background: none;
      padding: 0; }
      @media (min-width: 768px) {
        header .header__secondary__search_toggle {
          flex-grow: 4;
          padding-left: 10px; } }
      @media (min-width: 1900px) {
        header .header__secondary__search_toggle {
          display: none; } }
      header .header__secondary__search_toggle .icon {
        background-image: url(https://hoch.media/elements/icons/header-icons/search.svg);
        background-color: #ed137d;
        background-position: center; }
        @media (min-width: 768px) {
          header .header__secondary__search_toggle .icon {
            float: right;
            width: 50px; } }
    header .header__secondary__favourites_toggle .icon {
      background-image: url(https://hoch.media/elements/icons/header-icons/favourite.svg); }
  header a.header__main__menu:hover {
    background-color: #080255; }

.frozen {
  overflow: hidden; }

.sidenav_wrap {
  width: 0%;
  position: absolute;
  z-index: 700;
  background-color: #080255;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  right: 0; }
  .sidenav_wrap.open {
    right: 0;
    width: 100%; }
    @media (min-width: 768px) {
      .sidenav_wrap.open {
        width: 520px; } }
  .sidenav_wrap .inner {
    width: 100vw;
    height: 100vh; }
    @media (min-width: 768px) {
      .sidenav_wrap .inner {
        width: 500px; } }
    .sidenav_wrap .inner .acc_id {
      color: #ffffff;
      padding: 30px 25px 15px 20px; }
      .sidenav_wrap .inner .acc_id a {
        color: #ffffff; }
      .sidenav_wrap .inner .acc_id__name {
        font-size: 1.2em; }
      .sidenav_wrap .inner .acc_id__links {
        float: left; }
        .sidenav_wrap .inner .acc_id__links a {
          padding: 18px 18px 18px 0px;
          float: left; }
    .sidenav_wrap .inner .preference_selector .preference_selector__box {
      padding: 18px 20px;
      background-color: #ffffff; }
      .sidenav_wrap .inner .preference_selector .preference_selector__box p {
        font-weight: 700;
        text-transform: uppercase; }
    .sidenav_wrap .inner .preference_selector__toggle {
      display: block;
      color: #ffffff;
      padding: 20px 40px 20px 20px;
      background-color: #57538a;
      background-image: url(https://hoch.media/elements/icons/icons_arrow-down-white.svg);
      background-position: right 10px center;
      background-size: 25px;
      background-repeat: no-repeat;
      transition: .4s; }
      .sidenav_wrap .inner .preference_selector__toggle.open {
        background-image: url(https://hoch.media/elements/icons/icons_cross-white.svg);
        background-color: #8f0b4b; }
      .sidenav_wrap .inner .preference_selector__toggle:hover {
        background-color: #030123;
        text-decoration: none; }
    .sidenav_wrap .inner .preference_selector__selected:nth-child(n+2) {
      border-left: 1px solid #ffffff;
      margin-left: 10px;
      padding-left: 10px; }
    .sidenav_wrap .inner h5 {
      color: #ffffff;
      padding: 20px;
      background-color: #57538a;
      margin: 0;
      letter-spacing: 1px;
      border: none;
      font-weight: 900; }
    .sidenav_wrap .inner .nav_list a {
      padding: 18px 20px;
      text-decoration: none;
      color: #ffffff;
      display: block;
      line-height: 1.2em;
      height: auto;
      text-align: left;
      border-bottom: 1px solid #57538a;
      cursor: pointer;
      text-transform: initial; }
      .sidenav_wrap .inner .nav_list a:hover {
        background-color: #030123; }

.menu_overlay {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 600;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .menu_overlay.active {
    width: 100%;
    opacity: 0.9; }
  .menu_overlay.out {
    width: 100%;
    opacity: 0; }

.sidenav_wrap, .menu_overlay {
  margin-top: 73px;
  padding-bottom: 49px;
  height: calc(100vh - 73px); }
  @media (min-width: 768px) {
    .sidenav_wrap, .menu_overlay {
      margin-top: 93px;
      padding-bottom: 69px;
      height: calc(100vh - 93px); } }

/*nav top*/
.dropdowns_wrap {
  z-index: 500;
  top: 125px;
  position: absolute;
  background-color: #ffffff;
  border-bottom: 1px solid #b3b3b3;
  -webkit-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .dropdowns_wrap {
      top: 145px; } }
  @media (min-width: 1200px) {
    .dropdowns_wrap {
      top: 146px; } }

.nav_wrap__accordion {
  display: block; }
  .nav_wrap__accordion .nav_accordion a,
  .nav_wrap__accordion .nav_accordion ul li .hello {
    color: #000000; }
    .nav_wrap__accordion .nav_accordion a:hover,
    .nav_wrap__accordion .nav_accordion ul li .hello:hover {
      background-color: #d9d9d9; }
  .nav_wrap__accordion .nav_accordion ul li .hello:hover {
    /*background-image: url(https://hoch.media/elements/icons/icons_plus-white.svg);*/ }
  .nav_wrap__accordion .nav_accordion span.hello {
    background-image: url(https://hoch.media/elements/icons/icons_plus-black.svg); }
  @media (min-width: 768px) {
    .nav_wrap__accordion {
      display: none; } }

.nav_wrap__laptop {
  display: none; }
  .nav_wrap__laptop .inner {
    /*background: aqua;*/
    width: 100%;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    display: grid;
    grid-template-columns: 230px auto;
    max-width: 1200px;
    margin: auto;
    float: none; }
    .nav_wrap__laptop .inner:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ".";
      clear: both;
      height: 0; }
  .nav_wrap__laptop .list {
    border-right: 1px solid #b3b3b3; }
    .nav_wrap__laptop .list ul {
      padding: 0; }
      .nav_wrap__laptop .list ul li {
        list-style-type: none;
        margin: 0; }
        .nav_wrap__laptop .list ul li a {
          border-bottom: 1px solid #d9d9d9;
          color: #000000;
          width: 100%;
          padding: 10px 20px 10px 10px;
          display: block;
          background-repeat: no-repeat;
          background-position: center right 4px;
          background-size: 20px;
          background-image: url(https://hoch.media/elements/icons/icons_arrow-right-grey.svg); }
          .nav_wrap__laptop .list ul li a.open {
            color: #ffffff;
            background-color: #080255;
            background-image: url(https://hoch.media/elements/icons/icons_arrow-right-white.svg); }
            .nav_wrap__laptop .list ul li a.open:hover {
              background-color: #030123;
              text-decoration: none; }
          .nav_wrap__laptop .list ul li a:hover {
            background-color: #f7f7f7;
            text-decoration: none; }
  .nav_wrap__laptop .subcat ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
    .nav_wrap__laptop .subcat ul li {
      list-style-type: none;
      margin: 0; }
      .nav_wrap__laptop .subcat ul li a {
        width: 100%;
        height: 100%;
        padding: 10px;
        display: block;
        color: #000000; }
        .nav_wrap__laptop .subcat ul li a:hover {
          background-color: #f7f7f7;
          text-decoration: none; }
        .nav_wrap__laptop .subcat ul li a.view_all_cat {
          font-weight: 700; }
  @media (min-width: 768px) {
    .nav_wrap__laptop {
      display: block; } }
  @media (min-width: 1900px) {
    .nav_wrap__laptop {
      display: none; } }

.nav_wrap__staff {
  display: none;
  position: absolute;
  top: 146px;
  z-index: 500;
  background: #ffffff;
  border-bottom: 1px solid #b3b3b3;
  -webkit-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2); }
  .nav_wrap__staff .inner {
    width: 100%;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    max-width: 1200px;
    margin: auto;
    float: none; }
    .nav_wrap__staff .inner:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ".";
      clear: both;
      height: 0; }
    .nav_wrap__staff .inner ul {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
      .nav_wrap__staff .inner ul li {
        list-style-type: none;
        margin: 0; }
        .nav_wrap__staff .inner ul li a {
          width: 100%;
          height: 100%;
          padding: 10px;
          display: block;
          color: #000000; }
          .nav_wrap__staff .inner ul li a:hover {
            background-color: #f7f7f7;
            text-decoration: none; }
          .nav_wrap__staff .inner ul li a.view_all_cat {
            font-weight: 700; }
  @media (min-width: 1900px) {
    .nav_wrap__staff {
      display: block;
      border-bottom: none; } }

.nav_wrap__brands {
  max-width: 1200px;
  margin: auto;
  float: none; }
  .nav_wrap__brands h4 {
    border-bottom: 1px solid #b3b3b3;
    font-weight: 900;
    text-align: center;
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 0;
    line-height: 50px; }
  @media (min-width: 768px) {
    .nav_wrap__brands {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  .nav_wrap__brands__az, .nav_wrap__brands__top, .nav_wrap__brands__footer {
    padding: 0px 10px 10px 10px;
    border-bottom: 1px solid #b3b3b3; }
    @media (min-width: 768px) {
      .nav_wrap__brands__az, .nav_wrap__brands__top, .nav_wrap__brands__footer {
        border-bottom: none; } }
  .nav_wrap__brands__az .brands__nav .inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 4px; }
    .nav_wrap__brands__az .brands__nav .inner a {
      height: 100%;
      width: 100%;
      background-color: #f7f7f7;
      border: 1px solid #d9d9d9;
      color: #000000; }
      .nav_wrap__brands__az .brands__nav .inner a:not(:nth-last-child(1)) {
        border: 1px solid #d9d9d9; }
      .nav_wrap__brands__az .brands__nav .inner a.disabled {
        background-color: #ffffff;
        color: #d9d9d9;
        cursor: default; }
        .nav_wrap__brands__az .brands__nav .inner a.disabled:hover {
          transform: scale(1);
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none; }
  @media (min-width: 1200px) {
    .nav_wrap__brands__az {
      border-left: 1px solid #b3b3b3; } }
  @media (min-width: 768px) {
    .nav_wrap__brands__top {
      border-left: 1px solid #b3b3b3; } }
  @media (min-width: 1200px) {
    .nav_wrap__brands__top {
      border-right: 1px solid #b3b3b3; } }
  .nav_wrap__brands__top_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .nav_wrap__brands__top_list a {
      color: #000000;
      display: block;
      padding: 10px 5px 10px 10px;
      line-height: 1.1em; }
      @media (min-width: 768px) {
        .nav_wrap__brands__top_list a {
          padding: 15px 5px 15px 10px; } }
  .nav_wrap__brands__footer {
    padding: 10px; }
    @media (min-width: 768px) {
      .nav_wrap__brands__footer {
        border-top: 1px solid #b3b3b3; } }
    .nav_wrap__brands__footer a {
      margin: 0;
      line-height: 50px;
      background-color: #080255;
      max-width: 300px;
      margin: auto;
      float: none; }

/*fix the stars in feefo in header */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header__pre__review .label, .header__pre__review .logo {
    float: left; }
  .header__pre__review .stars {
    float: right;
    margin: 0; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .nav_wrap__laptop .list {
    width: 30%; }
  .nav_wrap__laptop .subcat {
    width: 70%; }
    .nav_wrap__laptop .subcat ul li {
      width: 200px;
      background-size: 50px 50px; }
  .nav_wrap__staff .single_cat ul li {
    width: 230px; }
  .nav_wrap__brands__az .brands__nav .inner a {
    width: 44px;
    margin: 1px; } }

@media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
  .nav_wrap__brands__az, .nav_wrap__brands__top {
    width: 50%; } }

@supports not (display: grid) {
  .nav_wrap__laptop .list {
    width: 30%; }
  .nav_wrap__laptop .subcat {
    width: 70%; }
    .nav_wrap__laptop .subcat ul li {
      width: 200px;
      background-size: 50px 50px; }
  .nav_wrap__staff .single_cat ul li {
    width: 230px; }
  .nav_wrap__brands__az .brands__nav .inner a {
    width: 44px;
    margin: 1px; }
  @media (min-width: 768px) {
    .nav_wrap__brands__az, .nav_wrap__brands__top {
      width: 50%; } } }

/*END HEADER*/
/*#region COLOR VARABLES */
/*$c_grey_pale: lighten(#000000, 97%);*/
/*#endregion */
/*#region FONT VARABLES */
/*open 400,700*/
/*lato 300,400,900*/
/*#endregion */
/*CHANGE PLACEHOLDER text*/
/* EG */
/*textarea {  
    @include input-placeholder {
        color: $grey;
    }
}*/
/*MAX WIDTH ELEMENTS*/
/*CLEARFIX*/
/*Internet explorer fallbacks*/
/*FOOTER*/
footer .recently_viewed {
  float: left;
  width: 100%;
  padding: 0 10px 10px 10px;
  background-color: #ffffff;
  background-color: #000000;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px; }
  footer .recently_viewed h4 {
    color: #ffffff;
    font-weight: 900;
    /*text-align: center;*/
    font-size: 1em;
    margin: 6px 0px; }

footer .email_subscribe {
  float: left;
  width: 100%;
  background-image: url(https://hoch.media/header-images/default/header-default-image.jpg);
  background-position: center;
  background-size: cover; }
  footer .email_subscribe .email_subscribe_wrap {
    background-color: rgba(43, 0, 21, 0.5);
    padding: 50px;
    text-align: center; }
    footer .email_subscribe .email_subscribe_wrap h3 {
      font-weight: 900;
      text-transform: uppercase;
      border: none;
      color: #ffffff;
      text-align: center; }
    footer .email_subscribe .email_subscribe_wrap .divider_line {
      height: 0;
      border-top: 1px solid #ffffff;
      width: 50px;
      margin: 10px auto 20px auto;
      display: block;
      clear: both;
      float: none; }
    footer .email_subscribe .email_subscribe_wrap p {
      color: #ffffff;
      text-align: center; }
    footer .email_subscribe .email_subscribe_wrap a.button {
      line-height: 50px;
      border-color: #ffffff;
      float: none;
      margin: auto;
      max-width: 300px;
      margin: auto;
      float: none; }

footer .feefo_api_wrap {
  float: left;
  width: 100%;
  background-color: #ffffff; }
  footer .feefo_api_wrap .feefowidget-global-container-body-content-list {
    width: auto; }
  footer .feefo_api_wrap .button {
    max-width: 300px;
    margin: auto;
    float: none;
    margin-bottom: 30px; }
    footer .feefo_api_wrap .button:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ".";
      clear: both;
      height: 0; }
  footer .feefo_api_wrap .feefowidget-window-modal-content {
    float: none; }
    footer .feefo_api_wrap .feefowidget-window-modal-content:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ".";
      clear: both;
      height: 0; }
  footer .feefo_api_wrap feefowidget-global .feefowidget-global-container.feefowidget-mode-service .feefowidget-global-container-body-sidebar + .feefowidget-global-container-body-content {
    padding: 0; }
  footer .feefo_api_wrap .feefowidget-carousel-snapshot-body .feefowidget-sliders.feefowidget-sliders-average-customer-rating {
    padding-top: 30px;
    display: block;
    float: none;
    padding-top: 36px;
    margin: 0 auto; }
  footer .feefo_api_wrap feefowidget-container-carousel .feefowidget-standard, footer .feefo_api_wrap .feefowidget-mobile-wrapper {
    float: none;
    margin: auto;
    display: block; }
    footer .feefo_api_wrap feefowidget-container-carousel .feefowidget-standard:after, footer .feefo_api_wrap .feefowidget-mobile-wrapper:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ".";
      clear: both;
      height: 0; }
  footer .feefo_api_wrap .feefowidget-mobile-wrapper {
    max-width: 300px; }
  footer .feefo_api_wrap .feefowidget-left-button,
  footer .feefo_api_wrap .feefowidget-right-button,
  footer .feefo_api_wrap a.feefowidget-read-all-reviews {
    display: none; }
  footer .feefo_api_wrap a.feefowidget-read-all-reviews {
    color: #000000;
    margin: 5px auto; }

footer .social_wrap {
  background-color: #ffffff;
  width: 100%;
  margin: auto;
  text-align: center; }
  footer .social_wrap .social_icons_wrap {
    width: auto;
    float: none;
    display: inline-block;
    /* background: aqua; */
    margin: 0;
    background: #ffffff; }
    footer .social_wrap .social_icons_wrap a {
      height: 40px;
      width: 40px;
      float: left;
      display: inline-block;
      margin: 10px 10px 4px 10px; }
  footer .social_wrap .footer_icons {
    display: inline-block;
    margin: 0px 14px 7px 0;
    padding: 0;
    height: 100px; }

footer .footer_info_wrap {
  background-color: #1D1D1D;
  padding: 30px; }
  footer .footer_info_wrap .inner {
    max-width: 1200px;
    margin: auto;
    float: none; }
  footer .footer_info_wrap .footer_block {
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      footer .footer_info_wrap .footer_block {
        width: 25%; } }
    footer .footer_info_wrap .footer_block.footer_stay_tuned {
      width: 100%; }
      footer .footer_info_wrap .footer_block.footer_stay_tuned .tv_streaming_wrap a {
        padding: 10px;
        max-width: 100%;
        width: 200px;
        float: left;
        height: 80px; }
        @media (min-width: 768px) {
          footer .footer_info_wrap .footer_block.footer_stay_tuned .tv_streaming_wrap a {
            width: 25%;
            max-width: 200px; } }
  footer .footer_info_wrap h4 {
    color: #ffffff;
    display: block;
    font-weight: 900;
    margin-bottom: 10px;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 20px;
    font-size: 1em; }
  footer .footer_info_wrap .line {
    border-top: 2px solid #d9d9d9; }
  footer .footer_info_wrap p {
    color: #ffffff;
    padding: 5px;
    display: block;
    margin: 0px; }
  footer .footer_info_wrap a {
    color: #ffffff;
    list-style: none; }
  footer .footer_info_wrap ul {
    padding: 0px;
    margin: 0px; }
    footer .footer_info_wrap ul li {
      list-style: none;
      margin: 0px;
      padding: 5px; }
  footer .footer_info_wrap .footer_feefo_award {
    width: 50%;
    margin-left: 10px; }
  footer .footer_info_wrap img {
    width: 100%;
    height: auto;
    display: block; }
  footer .footer_info_wrap .footer_award ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px; }

footer .bank_icon_container {
  background: #ffffff;
  float: left;
  width: 100%;
  padding: 15px 0px 15px 0px;
  margin: auto; }
  footer .bank_icon_container .bank_icon_footer_wrap {
    max-width: 300px;
    margin: 0 auto;
    float: none; }
  footer .bank_icon_container .stitch_box {
    padding: 6px 10px 8px 10px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc; }

footer .copyright p {
  font-size: 10px;
  margin: 0;
  text-align: center;
  width: 100%;
  display: block;
  background-color: #ffffff;
  color: #000000; }

/*Internet explorer fallbacks*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .footer_info_wrap .footer_award ul li {
    float: left;
    width: 33.3%; } }

/*END FOOTER*/
