﻿
@{
    ViewBag.Title = "Cinema";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<article ng-controller="CinemaCtrl">
    you are watching "@Request["showname"]"
    <div class="cinema_video_strip">
        <div class="video_wrap">
            <div id="WatchVideo" data-client="hochanda" data-type="vod" data-stream="578" data-date=@Request["date"] data-start=@Request["hour"]>
                <script src="https://dbxm993i42r09.cloudfront.net/ss.js"></script>
            </div>
            <div class="clear"></div>
            
            <div class="cinema_prices_tagline">
                <p>Prices and stock availability featured in the recording were correct at time of filming but may have changed especially on promotional lines such as the One Day Special.</p>
            </div>
        </div>
    </div>
    <input type="hidden" value="@Request["tvid"]" id="tvid" />
    AIRED : @Convert.ToDateTime(Request["date"]).ToString("dddd, dd MMMM yyyy")
    <button ng-click="showDiv = !showDiv">Products In The Show</button>

    <section id="featured_products" ng-show="showDiv">

    </section>
</article>
<script src="~/Scripts/Internal/TvSchedule.js?v1"></script>

