﻿
@{
    ViewBag.Title = "TV Schedule";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<div id="tvSchedulePage" class="tv_schedule_page" ng-controller="tvScheduleCtlr">

    <section class="section_header header_image">
        <div class="background_header_color">
            <div class="header_titles">
                <h1>TV Schedule</h1>
                <h2>Plan your week, re-watch your favorite shows, and find the products that you loved!</h2>
            </div>
        </div>
    </section>

    <section class="show_wrap ng-hide" ng-show="ShowTVSchedule">

        <section class="day_selector">
            <div class="day_selector_controls_wrap">
                <div class="left arrow" ng-click="ShowTvSchedulesFortheDay(-1)" ng-show="prevDate"></div>
                <div class="right arrow" ng-click="ShowTvSchedulesFortheDay(1)" ng-show="nextDate"></div>
                <div class="day_selector_controls">
                    <input type="hidden" minimum-date="MinimumDate" enddate="MaximumDate" jqdatepicker />
                    <div class="date_picker_wrap">
                        <div class="inner">
                            <div class="text">
                                <span class="label">Pick Date</span>
                                <span class="datey" ng-cloak>{{date | date:'dd/MM/yyyy'}}</span>
                            </div>
                            <img src="https://hoch.media/elements/icons/header-icons/tv-schedule.svg" alt="icon" />
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <article class="shows">

			<div ng-if="IsBusy" class="load_wrap">
				@Html.Partial("~/views/Shared/Partials/_loader.cshtml")
			</div>

            <section ng-class="{updating : IsBusy}" class="tv_row" ng-repeat="item in TvScheduleSingleDayList track by $index">

                <div class="row_content">
                    <div class="show_time_wrap">{{GetTVScheduleHour($index)}}:00</div>
                    <div class="details">
                        <div class="show_name">
                            <div class="show_type">
                                <img src="https://www.hoch.media/web-assets/hoch-logos/crafts-square.svg" ng-src="{{item.EPGSrc}}" alt="Craft Show" ;">
                            </div>
                            <div class="show_title">
                                <h5 ng-cloak>{{item.ShowName}}</h5>
                                <p ng-cloak>{{item.FirstName}} {{item.LastName}}</p>
                            </div>
                        </div>

					</div>
                    <div class="btn_wrap" ng-cloak>
                            <button ng-show="item.ShowProducts" class="products_in_show ng-hide" ng-click="GetProductCarousel(item.TVScheduleId,$index)">In This Show</button>
                            <a ng-show="item.ShowWatch" href="/cinema?tvscheduleid={{item.TVScheduleId}}" class="button watch_now ng-hide">Watch Now</a>

                        </div>
                    </div>
                <div id="prodcarousel_{{item.TVScheduleId}}_{{$index}}" class="show_details ng-hide" ng-show="item.ProductsShown" ng-cloak>
                    <div class="show_description">{{item.DefaultEPGText}}</div>
                    <div id="{{item.TVScheduleId}}">
                        @* Products go here or loader will spin till products load. *@
                        @Html.Partial("~/Views/shared/partials/_loader.cshtml")
                    </div>
                </div>

            </section>
        </article>

    </section>

</div>

@Html.IncludeVersionedJs("/Scripts/Internal/TvSchedule.js")