﻿
@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";

}

<h1>Brands</h1>
<section ng-controller="BrandsController">


    @Html.Partial("~/Views/Shared/Partials/_brands_letter_nav.cshtml")

    @Html.Partial("~/Views/Shared/Partials/_brands_grid.cshtml")

    @Html.IncludeVersionedJs("/Scripts/Internal/Brands.js")

</section>

