﻿<!DOCTYPE html>

<html>

<head>
    <title>Page Title</title>
    <link href="~/Styles/Css/compiled/base.css" rel="stylesheet" />
    <link href="~/Styles/Css/compiled/call_centre.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

</head>

<body>

    @RenderBody()

</body>

</html>