﻿@using System.Configuration;

@{
    bool isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);
}

<!DOCTYPE html>

<html ng-app="HochWebsite">
@*added ng-app for angular - Maria 07/11/18*@
<head>
    @* Angular *@
    @*<base href="/">*@

    @*META*@
    @Html.Partial("~/Views/Shared/Partials/_metaData.cshtml")

    @* CSS *@
    @Html.Partial("~/Views/Shared/Partials/_css.cshtml")

    @* Jquery needs to be in head. (Needs to load first) *@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jq-ui.js"></script>

    @*Header includes*@
    @Html.Partial("~/Views/Shared/Partials/_head_includes.cshtml")

    @*Angular and Internal Scripts*@
    @Html.Partial("~/Views/Shared/Partials/_angular_and_internal_scripts.cshtml")

    @*Hochanda google schema - copied across the current live site *@
    @Html.Partial("~/Views/Shared/Partials/_hochanda_google_schema.cshtml")

    @Html.Partial("~/Views/Shared/Partials/_facebook_pixel_view.cshtml")

</head>
<body>
    <script>
        fbq('track', 'ViewContent');
        try {
            // try to use localStorage
            localStorage.test = 2;
        } catch (e) {
            // there was an error so...
            alert('You are in Privacy Mode\nPlease deactivate Privacy Mode and then reload the page.');
        }
    </script>
    <noscript>
        @Html.Partial("~/Views/Shared/partials/_no_javascript.cshtml")
    </noscript>

    @*the following JSs need to be included after JQuery*@
    @{
        var versionNumber = System.Configuration.ConfigurationManager.AppSettings["VersionNo"] != null ? System.Configuration.ConfigurationManager.AppSettings["VersionNo"].ToString() : "1";
    }
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js?v=@versionNumber"></script>
    <script src="~/Scripts/angular-daterangepicker.js?v=@versionNumber"></script>


    <header>



        @* If we are external basket then we do not want to display stuff. *@
        @if (!isExternal)
        {
            @Html.Partial("~/Views/Shared/Partials/_menu_top.cshtml")

            @* --------------- TEMP MESSAGE ---------------- *@

            @*<div class="header_sales_strip_wrap" style="background-color: #ffcc2e;text-transform: inherit;padding: 4px 10px;">
                    <div class="header_sales_strip">
                        <span style="color: #000000;">You have been selected to preview our new website.</span>
                    </div>
                </div>*@

            @* --------------- TEMP MESSAGE ---------------- *@



            @* --------------- UNSUPPORTED BROWSER MESSAGE ---------------- *@

            @*<div class="unsupported_browser" style="display:none; background-color: #1d1d1d; text-transform: inherit; text-align:center;">
                    <div class="browser_message_wrap">
                        <h2 style="color: #ffffff; font-size:2em; text-align:center; margin-bottom: 0px; margin: 0; margin-top: -20px;">Sorry, Internet Explorer is not supported</h2>
                        <span style="color: #ffffff;">This means that the website may not function properly.<br /></span>
                        <span style="color: #ffffff; margin-bottom:10px;">We recommend that you use one of the following applications instead.<br /></span>
                        <div class="browser_links">
                            <a class="button" href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>
                            <a class="button" href="https://www.mozilla.org/en-GB/firefox/new/" target="_blank">Firefox</a>
                            <a class="button" href="https://www.microsoft.com/en-gb/windows/microsoft-edge" target="_blank">Microsoft Edge</a>

                        </div>
                    </div>
                </div>*@

            @* --------------- UNSUPPORTED BROWSER MESSAGE ---------------- *@



            @* --------------- BANNER PROMOTION ---------------- *@


            <section ng-controller="HeaderBannerHero">
                @* Sorry has to be in its own div. *@
                <div ng-if="Hero != null" ng-bind-html="GetHeroHtml()">

                </div>
            </section>


            @* --------------- BANNER PROMOTION ---------------- *@


            @* --------------- COUNTDOWN BANNER ---------------- *@


            <div class="has_timer_wrap" style="display:none;">
                <a href="/basket" class="inner">
                    @Html.Partial("~/views/shared/partials/_countdown_timer.cshtml")
                </a>
            </div>}


        @* --------------- COUNTDOWN BANNER ---------------- *@

    </header>

    <main>

        @* If we are external basket then we do not want to display stuff. *@
        @if (!isExternal)
        {
            @Html.Partial("~/Views/Shared/Partials/_menu_side.cshtml")


            <div ng-controller="SearchController" id="search-container" style="display: none;" class="fullscreen_search__container">
                @Html.Partial("~/Views/Shared/Partials/_search.cshtml")
            </div>
        }

        @RenderBody()

    </main>


    @* Pop under for all pages in case they have a add to basket button THIS SHOULD ONLY BE USED ONCE*@
    @Html.Partial("~/Views/Shared/Partials/_add_to_basket_pop_under.cshtml")

    @Html.Partial("~/Views/Shared/Partials/_Modal.cshtml")

    @Html.Partial("~/Views/Shared/Partials/_photoswipe.cshtml")

    @Html.Partial("~/Views/Shared/Partials/_Modal.cshtml")

    @Html.Partial("~/Views/Shared/Partials/_ie_cover_page.cshtml")

    @* If we are external basket then we do not want to display stuff. *@




    <footer ng-controller="FooterController">
        @*JS *@
        @Html.Partial("~/Views/Shared/Partials/_js.cshtml")

        @if (!isExternal)
        {

            <section ng-cloak class="ng-hide recently_viewed" ng-show="products != null && products.length != 0">
                <h4>Recently Viewed</h4>
                <data-owl-carousel id="first" class="owl-carousel carousel-tiny" data-options="{
								autoplayTimeout: 5000, autoplaySpeed: 5000, speed: 3000, margin: 10, responsiveClass: true, loop: false, autoplay: false, nav: true,
							   responsive: { 0: { items: 4 }, 500: {items: 6}, 740: { items: 8 }, 960: { items: 10}, 1200: { items: 12 }, 1500: { items: 15 }}
							   }">
                    @Html.Partial("~/Views/Shared/Partials/_carousel_tiny.cshtml")
                </data-owl-carousel>
            </section>

            <section class="footer_wrap">

                <div class="feefo_api_wrap">
                    <div id="feefo-service-review-carousel-widgetId" class="feefo-review-carousel-widget-service">

                    </div>
                    <a href="/reviews" class="button"> Read More Reviews</a>
                </div>
                <div class="email_subscribe">
                    <div class="email_subscribe_wrap">
                        <h3>Join the family</h3>

                        <p>Stay tuned in and be the first to hear about the latest products, special offers, promotions and news, right to your email inbox! Never miss out!</p>
                        <a href="http://mail.hochanda.com/public/webform/render_form/g4cuc76580ebs4k0795ni06vq8q5l/6d8e0701d986a992ac7f921e720deb3c/addcontact" target="_blank" class="button">Subscribe</a>
                    </div>
                </div>

                <div class="social_wrap">
                    <div class="social_icons_wrap">
                        <a href="https://facebook.com/hochanda">
                            <img src="https://www.hoch.media/web-assets/dummy-test-images/f-ogo_RGB_HEX-100.png" alt="facebook social link" />
                        </a>
                        <a href="https://twitter.com/hochanda_tv">
                            <img src="https://www.hoch.media/web-assets/dummy-test-images/Twitter_Logo_WhiteOnBlue.png" alt="twitter social link" />
                        </a>
                        <a href="http://instagram.com/hochandatv">
                            <img src="https://www.hoch.media/web-assets/dummy-test-images/glyph-logo_May2016.png" alt="instagram social link" />
                        </a>
                        <a href="https://www.pinterest.co.uk/hochanda">
                            <img src="https://www.hoch.media/web-assets/dummy-test-images/pinterest-244px.png" alt="pinterest social link" />
                        </a>
                        <a href="https://www.youtube.com/channel/UCU9OrfaS2Dn7UeW7YCxmBNA">
                            <img src="https://www.hoch.media/web-assets/dummy-test-images/youtube_social_square_red.png" alt="youtube link" />
                        </a>

                    </div>
                </div>

                <div class="footer_info_wrap">
                    <div class="inner">
                        <div class="footer_stay_tuned footer_block">

                            <h4>Watch and Shop on</h4>
                            <div class="tv_streaming_wrap">


                                <a href="https://channelstore.roku.com/en-gb/details/258327/hochanda-crafts" target="_blank">
                                    <img src="https://www.hoch.media/web-assets/logos-3rd-party/roku-white.svg" alt="Add Hochanda to your Roku streaming player">
                                </a>
                                <a href="https://itunes.apple.com/gb/app/hochanda/id1435820185" target="_blank">
                                    <img src="https://www.hoch.media/web-assets/logos-3rd-party/App_Store_Badge_wht.svg" alt="Apple App Store link">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.Hochanda.Hochanda" target="_blank">
                                    <img src="https://www.hoch.media/web-assets/logos-3rd-party/google-play-badge.svg" alt="Get it on Google Play">
                                </a>
                                <a href="https://www.amazon.com/gp/product/B07M82GKX1" target="_blank">
                                    <img src="https://www.hoch.media/web-assets/logos-3rd-party/amazon_fire_tv.png" alt="Get it on Amazon">
                                </a>
                            </div>
                        </div>
                        <div class="watch_wrap footer_block">
                            <h4>UK TV Channels</h4>

                            <p>Sky <strong>673</strong> (24/7) </p>
                            <p>Freesat <strong>817</strong> (24/7)</p>
                            <p> Freeview <strong>85</strong> (4am-7pm)</p>
                        </div>

                        <div class="footer_customer_support footer_block">
                            <h4>Customer Support</h4>

                            <ul>
                                <li><a href="/about/contact-us">Contact us</a></li>
                                <li><a href="/about/terms-conditions">Terms and Conditions</a></li>
                                <li><a href="/about/privacy-policy">Privacy Policy</a></li>
                                <li><a href="/about/cookie-policy">Cookie Policy</a></li>
                                <li><a href="/about/delivery-and-returns">Delivery and Returns</a></li>
                            </ul>


                        </div>
                        <div class="footer_about_hochanda footer_block">
                            <h4>About Hochanda</h4>

                            <ul>
                                <li><a href="/about/us">About us</a></li>
                                <li><a href="/about/careers">Careers</a></li>
                                <li><a href="/refer-a-friend">Refer Your Friends</a></li>
                                <li><a href="/about/getting-started">Getting Started</a></li>
                                <li><a href="/about/how-to-watch">How To Watch</a></li>
                                <li><a href="/sitemap">Site Map</a></li>
                            </ul>
                        </div>
                        <div class="footer_award footer_block">
                            <h4>Awards</h4>
                            <ul>
                                <li>
                                    <a class="footer_feefo" href="/reviews"><img src="https://hoch.media/elements/feefo_gold_trusted_service_RGB.png" alt="Feefo Gold Trusted Service" class="feefo-badge_image" /></a>
                                </li>
                                <li>
                                    <a class="footer_sunday_times" href="/about/sunday-times-fast-track-top-100-ones-to-watch-award"> <img src="https://www.hoch.media/web-assets/logos-3rd-party/2018-Fast-Track-OTW-10-shortlisted-logo-ST-only.png" alt="Feefo fast track 100 ones to watch" class="feefo-badge__award" /></a>
                                </li>
                                <li>
                                    <a class="" href="/about/international-craft-awards-2018"><img src="https://www.hoch.media/web-assets/logos-3rd-party/international-craft-awards-2018-highly-commended.jpg" alt="Hochanda nominated for four awards in the International Craft Awards 2018." /></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>

                <div class="bank_icon_container">
                    <div class="stitch_box">
                        <div class="bank_icon_footer_wrap">
                            <img alt="bank payment logos - we accept: PayPal, MasterCard, Maestro, Visa, American Express. Geo Trust Logo" src="https://www.hoch.media/web-assets/icons/payment-logos-paypal-mastercard-maestro-visa-americanexpress-geotrust_v2.png">
                        </div>
                    </div>
                </div>

                <div class="copyright">
                    <p>
                        <span id="spncopyright">© 2015-@DateTime.Now.Year Hochanda. All rights reserved.</span> (@ConfigurationManager.AppSettings["ServerName"])<br>
                        <span>Company Registration: 09534899 VAT: GB 213 531 450</span>
                    </p>
                </div>

            </section>
        }
    </footer>


</body>



</html>