﻿<!DOCTYPE html>

@{
    bool isExternal = (Request.QueryString["isexternal"] != null && Request.QueryString["isexternal"].ToLower() == "true") || (ViewBag.IsExternal != null && ViewBag.IsExternal == true);
}

<html ng-app="HochWebsiteCheckout">
@*added ng-app for angular - Maria 07/11/18*@
<head>
    @using Hoch.Website.Models
    @using System.Configuration;
    @{
        string currencyName = string.Empty;
        int currencyId = ViewContext.BaseController().BaseCurrencyID;
        if (currencyId == 1) //gbp
        {
            currencyName = "GBP";
        }
        else if (currencyId == 2)
        {
            currencyName = "EUR";
        }
        else if (currencyId == 3)
        {
            currencyName = "USD";
        }

        string isDev = ConfigurationManager.AppSettings.Get("IsDev");
        string clientId = string.Empty;
        if (isDev == "1")
        {
            clientId = ConfigurationManager.AppSettings.Get("PaypalSandboxClientId");

        }
        else
        {
            clientId = ConfigurationManager.AppSettings.Get("PaypalLiveClientId");
        }
    }

    <script src="https://www.paypal.com/sdk/js?client-id=@clientId&disable-funding=credit,card&currency=@currencyName"></script>

    @*META*@
    @Html.Partial("~/Views/Shared/Partials/_metaData.cshtml")



    @* CSS *@
    @Html.Partial("~/Views/Shared/Partials/_css.cshtml")

    @* Jquery needs to be in head. (Needs to load first) *@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    @*Header includes*@
    @Html.Partial("~/Views/Shared/Partials/_head_includes.cshtml")

    @*Angular and Internal Scripts*@
    @Html.Partial("~/Views/Shared/Partials/_angular_and_internal_scripts.cshtml")

</head>
<body>
	<noscript>
		@Html.Partial("~/Views/Shared/partials/_no_javascript.cshtml")
	</noscript>
	<header class="checkout_page">

		@if (!isExternal)
		{
			<section class="header__pre">

				<div class="header__pre__item header__pre__intro">Your Arts and Crafts specialists</div>

				<div class="header__pre__item header__pre__contact">
					<a href="tel:+441733602000" class="contact__call"><span>01733&nbsp;60&nbsp;2000</span></a>
					<a href="/contact-us" class="contact__link"><span>Contact us: </span><span>01733 60 2000</span></a>
				</div>

				<div class="header__pre__item header__pre__review">
					<a href="/reviews">
						<span class="label">Trusted Reviews</span>
						<span class="logo"><img src="https://hoch.media/elements/icons/header-icons/feefo-invert.svg" alt="Feefo reviews logo"></span>
						<span class="stars"><img src="https://hoch.media/elements/icons/header-icons/feefo-stars.svg" alt="Feefo reviews Stars"></span>
					</a>
				</div>


			</section>


			<section class="header__main">
				<a href="/" class="header__main__logo">HOCHANDA TV - Arts and crafts channel home of all crafting essentials</a>
				<div class="header__main__nav">
					<span class="icon"></span>
					<span>Secure Checkout</span>
				</div>
			</section>


			@* --------------- COUNTDOWN BANNER ---------------- *@


			<div class="has_timer_wrap" style="display:none;">
				<a href="/basket" class="inner">
					@Html.Partial("~/views/shared/partials/_countdown_timer.cshtml")
				</a>
			</div>


			@* --------------- COUNTDOWN BANNER ---------------- *@

			}
	</header>



	@RenderBody()

	@* Pop under for all pages in case they have a add to basket button THIS SHOULD ONLY BE USED ONCE*@
	@Html.Partial("~/Views/Shared/Partials/_add_to_basket_pop_under.cshtml")


	@*<section>
			Recently viewed products
				- title
				- product carousel (_carousel_tiny)
				- remove items
		</section>*@
	@Html.Partial("~/Views/Shared/Partials/_photoswipe.cshtml")


	<footer>
		@if (!isExternal)
		{
			<div class="footer_info_wrap">
				<p class="small_print">Your order is with: Hochanda LTD, Nene House, Nene Valley Business Park, Oundle, Peterborough, PE8 4HN, UK</p>

				<div class="payment_types">
					<p>Pay Securely with</p>
					<div class="payment_icons">
						<img src="https://www.hoch.media/web-assets/icons/payment-logos-paypal-mastercard-maestro-visa-americanexpress-geotrust_v2.png" />
					</div>
				</div>
				<div class="checkout_footer_links">
					<ul>
						<li><a href="/about/contact-us">Contact us</a></li>
						<li><a href="/about/terms-conditions">Terms and Conditions</a></li>
						<li><a href="/about/delivery-and-returns">Delivery and Returns</a></li>
					</ul>
				</div>
			</div>
			<div class="copyright">
				<p>
					<span id="spncopyright">© 2015-@DateTime.Now.Year Hochanda. All rights reserved.</span> @*(@ConfigurationManager.AppSettings["ServerName"])*@<br />
					<span>Company Registration: 09534899 VAT: GB 213 531 450</span>
				</p>
			</div>
		}
	</footer>

	@Html.Partial("~/Views/Shared/Partials/_Modal.cshtml")


	@*JS*@
	@Html.Partial("~/Views/Shared/Partials/_js.cshtml")

</body>
</html>
