﻿@model Hoch.Website.Models.ViewSiteMapModel

@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/Master/_Layout.cshtml";
}

<div class="sitemap">

    @foreach (var item in Model.siteMapData)
    {

        <a href='@( item.catUrl)'>@(item.translation)</a>

        @*<ul>
            <li id="level1" style="display:@Html.Raw(item.catLevel == 1 ? "block" : "none")">
                <a href='@( item.catUrl)'>@(item.translation)</a>
            </li>
            <li>
                <ul>
                    <li id="level2" style="display:@Html.Raw(item.catLevel == 2 ? "block" : "none")">
                        <a href='@( item.catUrl)'>@(item.translation)</a>
                    </li>
                    <li>
                        <ul>
                            <li id="level3" style="display:@Html.Raw(item.catLevel == 3 ? "block" : "none")">
                                <a href='@( item.catUrl)'>@(item.translation)</a>
                            </li>
                            <li>
                                <ul>
                                    <li id="level4" style="display:@Html.Raw(item.catLevel == 4 ? "block" : "none")">
                                        <a href='@( item.catUrl)'>@(item.translation)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


        </ul>*@

    }


</div>