﻿/*#region COLOR VARABLES */

$c_craft: #ed137d;
$c_hobby: #314C9F;
$c_art: #872A8F;

$c_base: #000000;
$c_white: #ffffff;

$c_grey: lighten(#000000, 70%);
$c_grey_opacity: rgba(179,179,179, 0.5); //Created by Sam...(Come at me bro!!!)
$c_grey_light: lighten(#000000, 85%);
/*$c_grey_pale: lighten(#000000, 97%);*/
$c_grey_pale: #f7f7f7;
$c_footer: #1D1D1D;

$c_main: #ed137d;
$c_main_light: lighten($c_main, 60%);
$c_main_dark: darken($c_main, 20%);

$c_head: #080255;
$c_head_dark: darken($c_head, 10%);
$c_head_light: #57538a;

$c_freedom: #25aae2;
$c_freedom_dark: darken($c_freedom,30%);

$c_flexibuy: #ce3234;
$c_flexibuy_dark: darken($c_flexibuy,20%);

$c_rewind: #0A1844;
$c_rewind_light: #364266;
$c_rewind_dark: darken($c_rewind,20%);

$c_highlight: #ff862e;
$c_highlight_dark: #c1580b;
$c_gold: #FFCC2D;

$c_good: #2a8e2a;
$c_good_light: #d9ead9;
$c_good_dark: #094e09;
$c_bad: #ff0033;
$c_bad_light: #ffdcdc;
$c_bad_dark: #cc0000;

$c_purple: #881cf6;
$c_light_blue: #29aff6;


$c_auction: #9b3972;
$c_auction_dark: #56103d;


$c_favourites: #ED177D;
$c_favourites_dark: #af0556;

/*#endregion */
