﻿/*#region FONT VARABLES */

$f_heading: 'Lato', sans-serif;
$fw_heading_light: 400;
$fw_heading_bold: 900;

$f_body: 'Open Sans', sans-serif;
$fw_body_light: 400;
$fw_body_bold: 700;


/*open 400,700*/
/*lato 300,400,900*/

/*#endregion */
