﻿/*CHANGE PLACEHOLDER text*/

@mixin input-placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

/* EG */
/*textarea {  
    @include input-placeholder {
        color: $grey;
    }
}*/

/*MAX WIDTH ELEMENTS*/

@mixin mw_small {
    max-width: 300px;
    margin: auto;
    float: none;
}

@mixin mw_medium {
    max-width: 600px;
    margin: auto;
    float: none;
}

@mixin mw_normal {
    max-width: 1200px;
    margin: auto;
    float: none;
}

@mixin mw_large {
    max-width: 1500px;
    margin: auto;
    float: none;
}


/*CLEARFIX*/

@mixin clear {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ".";
        clear: both;
        height: 0;
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
}

@mixin shadow-none {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@mixin shadow {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

@mixin shadow-large {
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.42);
}

@mixin shadow-inner {
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
}

@mixin shadow-custom ($Horizontal, $Vertical, $Blur, $Spread, $color) {
    -webkit-box-shadow: $Horizontal $Vertical $Blur $Spread $color;
    -moz-box-shadow: $Horizontal $Vertical $Blur $Spread $color;
    box-shadow: $Horizontal $Vertical $Blur $Spread $color;
}

@mixin corner-none {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

@mixin corner {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

@mixin corner-large {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@mixin corner-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

@mixin corner-custom ($TopLeft, $TopRight, $BottomLeft, $BottomRight) {
    -webkit-border-top-left-radius: $TopLeft;
    -webkit-border-top-right-radius: $TopRight;
    -webkit-border-bottom-right-radius: $BottomRight;
    -webkit-border-bottom-left-radius: $BottomLeft;
    -moz-border-radius-topleft: $TopLeft;
    -moz-border-radius-topright: $TopRight;
    -moz-border-radius-bottomright: $BottomRight;
    -moz-border-radius-bottomleft: $BottomLeft;
    border-top-left-radius: $TopLeft;
    border-top-right-radius: $TopRight;
    border-bottom-right-radius: $BottomRight;
    border-bottom-left-radius: $BottomLeft;
}

@mixin gradient ($color1, $position1, $color2, $position2, $angle) {
    background: $color1;
    background: -moz-linear-gradient($angle, $color1 $position1, $color2 $position2);
    background: -webkit-linear-gradient($angle, $color1 $position1, $color2 $position2);
    background: linear-gradient($angle, $color1 $position1, $color2 $position2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$color1",endColorstr="$color2",GradientType=1);
}

@mixin nogrid {
    @supports not (display: grid) {
        @content;
    }
}

/*Internet explorer fallbacks*/
@mixin ms {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin nogrid-ms {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }

    @supports not (display: grid) {
        @content;
    }
}
