﻿@mixin phablet {
    @media (min-width: 375px) {
        @content;
    }
}

@mixin tablet-small {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop-small {
    @media (min-width: 1000px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin desktop-large {
    @media (min-width: 1500px) {
        @content;
    }
}

@mixin desktop-staff {
    @media (min-width: 1900px) {
        @content;
    }
}
